openapi: 3.2.0
info:
  title: Mews Booking Engine API (Distributor) Account notes Exports API
  version: v1
  description: The Mews Booking Engine API (historically the Distributor API, served from /api/distributor/v1) lets developers build guest-facing booking engines that create reservations directly in Mews. It exposes enterprise configuration, availability, pricing, products, vouchers, payment cards, and reservation group creation for front-end client consumption.
  x-generated-from: documentation
  x-source-url: https://api.mews.com/Swagger/distributor/swagger.json
  x-last-validated: '2026-06-02'
servers:
- url: https://api.mews.com
  description: Production
- url: https://api.mews-demo.com
  description: Demo / sandbox
security:
- MewsClientToken: []
  MewsAccessToken: []
tags:
- name: Exports
paths:
  /api/connector/v1/exports/add:
    post:
      tags:
      - Exports
      summary: Mews Add Export
      description: Creates a new pending export for all entities of the specified `EntityType`. If an export with status Pending or Processing already exists for the same entity type, the request will be rejected. Successfully created exports remain available for download until the expiration date specified in ExpiresUtc. This operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property/).
      operationId: exports_add
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportAddParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              EntityType: Reservation
              Scope:
                EnterpriseIds:
                - 3fa85f64-5717-4562-b3fc-2c963f66afa6
              Filters:
                UpdatedUtc:
                  StartUtc: '2020-11-04T00:00:00Z'
                  EndUtc: '2020-11-05T00:00:00Z'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportAddResult'
              example:
                Export:
                  Id: 09708665-0e31-4b23-b337-b0a000be0df0
                  Status: Pending
                  EntityType: Reservation
                  Scope:
                    EnterpriseIds:
                    - 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    ChainIds: null
                  Files: []
                  ExpiresUtc: null
                  Filters:
                    UpdatedUtc:
                      StartUtc: '2020-11-04T00:00:00Z'
                      EndUtc: '2020-11-05T00:00:00Z'
                    LedgerEntryFilters: null
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ExportsAdd400Example:
                  summary: Default exports_add 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ExportsAdd401Example:
                  summary: Default exports_add 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ExportsAdd403Example:
                  summary: Default exports_add 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ExportsAdd408Example:
                  summary: Default exports_add 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ExportsAdd204Example:
                  summary: Default exports_add 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ExportsAdd429Example:
                  summary: Default exports_add 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ExportsAdd500Example:
                  summary: Default exports_add 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-restricted: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/exports/getAll:
    post:
      tags:
      - Exports
      summary: Mews Get All Exports
      description: Returns exports for the given `ExportIds`. This operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property/).
      operationId: exports_getAll
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportFilterParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              ExportIds:
              - 3fa85f64-5717-4562-b3fd-2c963f66afa6
              - 5f51c9ef-fc1d-4438-90ad-6b925ab7d7a9
              - 706dc6d5-9511-4751-825e-538ce99da2ce
              - f776f20a-6f1a-4ddf-93f4-9dae95261415
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportResult'
              example:
                Exports:
                - Id: 3fa85f64-5717-4562-b3fd-2c963f66afa6
                  Status: Success
                  EntityType: OrderItem
                  Scope:
                    EnterpriseIds:
                    - 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    - 4d0201db-36f5-428b-8d11-4f0a65e960cc
                    ChainIds: null
                  Files:
                  - Url: https://example.com/exports/3fa85f64-5717-4562-b3fd-2c963f66afa6-1.jsonl?example=signature
                    SizeInBytes: 1215279
                  - Url: https://example.com/exports/3fa85f64-5717-4562-b3fd-2c963f66afa6-2.jsonl?example=signature
                    SizeInBytes: 1398362
                  ExpiresUtc: '2023-10-26T11:42:28Z'
                  Filters:
                    UpdatedUtc:
                      StartUtc: '2020-11-04T00:00:00Z'
                      EndUtc: '2020-11-05T00:00:00Z'
                    LedgerEntryFilters: null
                - Id: 5f51c9ef-fc1d-4438-90ad-6b925ab7d7a9
                  Status: Pending
                  EntityType: LedgerEntry
                  Scope:
                    EnterpriseIds:
                    - 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    ChainIds: null
                  Files: []
                  ExpiresUtc: null
                  Filters:
                    UpdatedUtc: null
                    LedgerEntryFilters:
                      Posting:
                        Start: '2024-01-01'
                        End: '2024-01-31'
                - Id: 706dc6d5-9511-4751-825e-538ce99da2ce
                  Status: Processing
                  EntityType: Company
                  Scope:
                    EnterpriseIds: null
                    ChainIds:
                    - 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  Files: []
                  ExpiresUtc: null
                  Filters: null
                - Id: f776f20a-6f1a-4ddf-93f4-9dae95261415
                  Status: Expired
                  EntityType: OrderItem
                  Scope:
                    EnterpriseIds:
                    - 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    ChainIds: null
                  Files: []
                  ExpiresUtc: '2023-10-24T14:12:30Z'
                  Filters: null
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ExportsGetAll400Example:
                  summary: Default exports_getAll 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ExportsGetAll401Example:
                  summary: Default exports_getAll 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ExportsGetAll403Example:
                  summary: Default exports_getAll 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ExportsGetAll408Example:
                  summary: Default exports_getAll 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ExportsGetAll204Example:
                  summary: Default exports_getAll 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ExportsGetAll429Example:
                  summary: Default exports_getAll 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ExportsGetAll500Example:
                  summary: Default exports_getAll 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-restricted: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Export:
      title: Export
      required:
      - EntityType
      - Files
      - Id
      - Scope
      - Status
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the export.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Status:
          title: Export status
          allOf:
          - $ref: '#/components/schemas/ExportStatusEnum'
          description: 'Export status.


            Pending


            Processing


            Success


            Failed


            Expired'
          x-enumNames:
          - Pending
          - Processing
          - Success
          - Failed
          - Expired
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
          - ''
          example: string
        EntityType:
          title: Exported entity type
          allOf:
          - $ref: '#/components/schemas/ExportEntityTypeEnum'
          description: 'Exported entity type.


            OrderItem


            Payment


            Reservation


            Customer


            Company


            Bill


            AvailabilityAdjustment


            AvailabilityBlock


            ResourceBlock


            LedgerEntry (**Beta testing - subject to change.** See [Ledger entry type](https://docs.mews.com/connector-api/operations/_export-types#ledger-entry).)'
          x-enumNames:
          - OrderItem
          - Payment
          - Reservation
          - Customer
          - Company
          - Bill
          - AvailabilityAdjustment
          - AvailabilityBlock
          - ResourceBlock
          - LedgerEntry
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - ''
          - '**Beta testing - subject to change.** See [Ledger entry type](https://docs.mews.com/connector-api/operations/_export-types#ledger-entry).'
          example: string
        Scope:
          title: Export scope
          allOf:
          - $ref: '#/components/schemas/ExportScope'
          description: The scope of the export, i.e. which enterprises or chains the data is exported for.
          example: string
        Files:
          type: array
          items:
            $ref: '#/components/schemas/ExportFileEntry'
          description: Files with exported data. Empty if no files are available or the export is expired.
        ExpiresUtc:
          type:
          - string
          - 'null'
          description: Expiration date and time of the export in UTC timezone in ISO 8601 format. After this time the Exported files may no longer be available for download.
          format: date-time
          example: '2026-06-02T14:30:00Z'
        Filters:
          title: Export data filters
          allOf:
          - $ref: '#/components/schemas/ExportDataFilters'
          description: Filters applied to the exported data set. If omitted, all available data is included in the export.
          example: string
      additionalProperties: false
      x-schema-id: Export
    ExportLedgerEntryDataFilters:
      title: Export ledger entry data filters
      required:
      - Posting
      type: object
      properties:
        Posting:
          title: Date filter interval
          allOf:
          - $ref: '#/components/schemas/DateFilterInterval'
          description: Filters ledger entries by their posting date within the specified date interval, inclusive of both the start and end dates.
          example: string
      additionalProperties: false
      x-schema-id: ExportLedgerEntryDataFilters
    ExportResult:
      title: ExportResult
      required:
      - Exports
      type: object
      properties:
        Exports:
          type: array
          items:
            $ref: '#/components/schemas/Export'
          description: Requested exports.
      additionalProperties: false
      x-schema-id: ExportResult
    ExportDataFilters:
      title: Export data filters
      type: object
      properties:
        UpdatedUtc:
          title: Time interval
          allOf:
          - $ref: '#/components/schemas/TimeFilterInterval'
          description: Filters entities by the specified UTC update interval. The end of the interval must be no later than 5 minutes in the past. The maximum interval is 180 days.
          example: string
        LedgerEntryFilters:
          title: Export ledger entry data filters
          allOf:
          - $ref: '#/components/schemas/ExportLedgerEntryDataFilters'
          description: Filters specific to the `LedgerEntry` entity type. Required when `EntityType` is `LedgerEntry`.
          example: string
      additionalProperties: false
      x-schema-id: ExportDataFilters
    ExportEntityTypeEnum:
      title: Exported entity type
      enum:
      - OrderItem
      - Payment
      - Reservation
      - Customer
      - Company
      - Bill
      - AvailabilityAdjustment
      - AvailabilityBlock
      - ResourceBlock
      - LedgerEntry
      type: string
      description: 'Type of exported entities


        OrderItem


        Payment


        Reservation


        Customer


        Company


        Bill


        AvailabilityAdjustment


        AvailabilityBlock


        ResourceBlock


        LedgerEntry (**Beta testing - subject to change.** See [Ledger entry type](https://docs.mews.com/connector-api/operations/_export-types#ledger-entry).)'
      x-enumNames:
      - OrderItem
      - Payment
      - Reservation
      - Customer
      - Company
      - Bill
      - AvailabilityAdjustment
      - AvailabilityBlock
      - ResourceBlock
      - LedgerEntry
      x-enumDescriptions:
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - '**Beta testing - subject to change.** See [Ledger entry type](https://docs.mews.com/connector-api/operations/_export-types#ledger-entry).'
    ExportFilterParameters:
      title: Export filter parameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - ExportIds
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        ExportIds:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            type: string
            format: uuid
          description: Unique identifiers of the [Exports](https://mews-systems.gitbook.io/connector-api/operations/#export).
      additionalProperties: false
      x-schema-id: ExportFilterParameters
    ExportAddResult:
      title: ExportAddResult
      required:
      - Export
      type: object
      properties:
        Export:
          allOf:
          - $ref: '#/components/schemas/Export'
          description: Added export.
          example: string
      additionalProperties: false
      x-schema-id: ExportAddResult
    ExportScope:
      title: Export scope
      type: object
      properties:
        EnterpriseIds:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of enterprises for which the data is exported.
        ChainIds:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of chains for which the data is exported.
      additionalProperties: false
      x-schema-id: ExportScope
    TimeFilterInterval:
      title: Time interval
      type: object
      properties:
        StartUtc:
          type:
          - string
          - 'null'
          format: date-time
          example: '2026-06-02T14:30:00Z'
        EndUtc:
          type:
          - string
          - 'null'
          format: date-time
          example: '2026-06-02T14:30:00Z'
      additionalProperties: false
      description: "When a time interval is used for **filtering** (for example in parameters such as `CreatedUtc.StartUtc` / `CreatedUtc.EndUtc`), the following rules apply:\n\n- **Start equals End (equality mode)**  \n  If `StartUtc` and `EndUtc` are exactly the same timestamp, the filter is treated as an equality check for that precise moment in time:\n  \n  ```\n  CreatedUtc == StartUtc\n  ```\n  \n  This does not represent an interval; only records with `CreatedUtc` equal to that exact instant are returned.\n\n- **Start differs from End (interval mode)**  \n  If `StartUtc` and `EndUtc` are different, the filter is evaluated as a half-open interval:\n  \n  ```\n  StartUtc <= CreatedUtc < EndUtc\n  ```\n  \n  In other words, the start is inclusive and the end is exclusive.\n\nMake sure your integration takes inclusive Start / exclusive End behavior of time intervals into account so that no records at the boundaries are omitted."
      x-schema-id: TimeFilterInterval
    ExportAddParameters:
      title: ExportAddParameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - EntityType
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        EntityType:
          allOf:
          - $ref: '#/components/schemas/ExportEntityTypeEnum'
          description: 'Specifies the type of entity which should be exported.


            OrderItem


            Payment


            Reservation


            Customer


            Company


            Bill


            AvailabilityAdjustment


            AvailabilityBlock


            ResourceBlock


            LedgerEntry (**Beta testing - subject to change.** See [Ledger entry type](https://docs.mews.com/connector-api/operations/_export-types#ledger-entry).)'
          example: string
        Scope:
          title: Export scope parameters
          allOf:
          - $ref: '#/components/schemas/ExportScopeParameters'
          description: Selects enterprises or chains for which the data should be exported. Which one is used depends on `EntityType`. If not specified, the export will include all enterprises or chains the client has access to.
          example: string
        Filters:
          title: Export data filters
          allOf:
          - $ref: '#/components/schemas/ExportDataFilters'
          description: Specifies filters to apply on the exported data set. If omitted, the export will include all available data.
          example: string
      additionalProperties: false
      x-schema-id: ExportAddParameters
    ConnectorApiExceptionResult:
      title: ConnectorApiExceptionResult
      type: object
      properties:
        Message:
          type:
          - string
          - 'null'
          example: string
        RequestId:
          type:
          - string
          - 'null'
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Details:
          example: string
      additionalProperties: false
      x-schema-id: ConnectorApiExceptionResult
    ExportScopeParameters:
      title: Export scope parameters
      type: object
      properties:
        EnterpriseIds:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of the enterprises to export data for. If not specified, data for all enterprises within the access token's scope will be returned.
        ChainIds:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of the chains to export data for. If not specified, data for all chains within the access token's scope will be returned.
      additionalProperties: false
      x-schema-id: ExportScopeParameters
    DateFilterInterval:
      title: Date filter interval
      required:
      - End
      - Start
      type: object
      properties:
        Start:
          minLength: 1
          type: string
          description: Starting date of the interval in ISO 8601 format.
          format: date
          example: '2026-06-02'
        End:
          minLength: 1
          type: string
          description: Ending date of the interval in ISO 8601 format.
          format: date
          example: '2026-06-02'
      additionalProperties: false
      x-schema-id: DateFilterInterval
    ExportFileEntry:
      title: Export file entry
      required:
      - SizeInBytes
      - Url
      type: object
      properties:
        Url:
          minLength: 1
          type: string
          description: Download URL for the exported file in JSON Lines format. The link remains valid for 10 minutes after it is returned.
          format: uri
          example: https://api.mews.com/api/connector/v1
        SizeInBytes:
          type: integer
          description: Total size of the exported file in bytes.
          format: int64
          example: 1
      additionalProperties: false
      x-schema-id: ExportFileEntry
    ExportStatusEnum:
      title: Export status
      enum:
      - Pending
      - Processing
      - Success
      - Failed
      - Expired
      type: string
      description: 'Current status of the export.


        Pending


        Processing


        Success


        Failed


        Expired'
      x-enumNames:
      - Pending
      - Processing
      - Success
      - Failed
      - Expired
      x-enumDescriptions:
      - ''
      - ''
      - ''
      - ''
      - ''
  securitySchemes:
    MewsClientToken:
      type: apiKey
      in: header
      name: ClientToken
      description: Mews authentication is performed by supplying ClientToken, AccessToken and Client as fields in the JSON request body (not as HTTP headers). This securityScheme is a tooling-compatible representation of the ClientToken credential. ClientToken is unique to your application and identifies the API client.
    MewsAccessToken:
      type: apiKey
      in: header
      name: AccessToken
      description: Tooling-compatible representation of the AccessToken credential, which is supplied in the JSON request body. AccessToken is unique to the connection with a property (enterprise) and identifies the property or properties whose data and services you can access. Portfolio Access Tokens enable multi-property access with a single token.
