openapi: 3.2.0
info:
  title: Mews Booking Engine API (Distributor) Account notes Rates API
  version: v1
  description: The Mews Booking Engine API (historically the Distributor API, served from /api/distributor/v1) lets developers build guest-facing booking engines that create reservations directly in Mews. It exposes enterprise configuration, availability, pricing, products, vouchers, payment cards, and reservation group creation for front-end client consumption.
  x-generated-from: documentation
  x-source-url: https://api.mews.com/Swagger/distributor/swagger.json
  x-last-validated: '2026-06-02'
servers:
- url: https://api.mews.com
  description: Production
- url: https://api.mews-demo.com
  description: Demo / sandbox
security:
- MewsClientToken: []
  MewsAccessToken: []
tags:
- name: Rates
paths:
  /api/connector/v1/rates/updateCapacityOffset:
    post:
      tags:
      - Rates
      summary: Mews Update Rate Capacity Offset Pricing
      description: Updates capacity offset based pricing for specified rates. This operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property/).
      operationId: rates_updateCapacityOffset
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultipleRateCapacityOffsetUpdateParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              CapacityOffsetUpdates:
              - RateId: ed4b660b-19d0-434b-9360-a4de2ea42eda
                NegativeOccupancyAdjustment:
                  Value: 10.0
                ExtraOccupancyAdjustment:
                  Value: 20.0
              - RateId: b7e6a1c2-4f3a-4e2b-9c1d-2a5e7b8c9d0f
                ExtraOccupancyAdjustment:
                  Value: 15.0
              EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
              examples:
                RatesUpdateCapacityOffset200Example:
                  summary: Default rates_updateCapacityOffset 200 response
                  x-microcks-default: true
                  value: {}
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesUpdateCapacityOffset400Example:
                  summary: Default rates_updateCapacityOffset 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesUpdateCapacityOffset401Example:
                  summary: Default rates_updateCapacityOffset 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesUpdateCapacityOffset403Example:
                  summary: Default rates_updateCapacityOffset 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesUpdateCapacityOffset408Example:
                  summary: Default rates_updateCapacityOffset 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesUpdateCapacityOffset204Example:
                  summary: Default rates_updateCapacityOffset 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesUpdateCapacityOffset429Example:
                  summary: Default rates_updateCapacityOffset 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesUpdateCapacityOffset500Example:
                  summary: Default rates_updateCapacityOffset 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/rates/getAll:
    post:
      tags:
      - Rates
      summary: Mews Get All Rates
      description: Returns all rates (pricing setups) of the default service provided by the enterprise. Note this operation uses [Pagination](https://mews-systems.gitbook.io/connector-api/guidelines/pagination/) and supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property/).
      operationId: rates_getAll
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RateFilterParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              EnterpriseIds:
              - 3fa85f64-5717-4562-b3fc-2c963f66afa6
              - 4d0201db-36f5-428b-8d11-4f0a65e960cc
              ServiceIds:
              - bd26d8db-86da-4f96-9efc-e5a4654a4a94
              RateIds:
              - ed4b660b-19d0-434b-9360-a4de2ea42eda
              UpdatedUtc:
                StartUtc: '2022-10-15T00:00:00Z'
                EndUtc: '2022-10-20T00:00:00Z'
              ExternalIdentifiers:
              - Rate-001
              - Rate-002
              ActivityStates:
              - Active
              Extent:
                Rates: true
                RateGroups: true
                AvailabilityBlockAssignments: true
              Limitation:
                Count: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateResult'
              example:
                Rates:
                - BaseRateId: null
                  BusinessSegmentId: null
                  GroupId: c8b866b3-be2e-4a47-9486-034318e9f393
                  Id: ed4b660b-19d0-434b-9360-a4de2ea42eda
                  ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                  IsActive: true
                  IsEnabled: true
                  IsPublic: true
                  Name: Fully Flexible
                  ShortName: FF
                  ExternalNames:
                    en-US: Long Stay Flexible Rate
                  ExternalIdentifier: D001
                RateGroups:
                - Id: c8b866b3-be2e-4a47-9486-034318e9f393
                  ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                  IsActive: true
                  Name: Default
                  ExternalIdentifier: RG001
                AvailabilityBlockAssignments:
                - RateId: ed4b660b-19d0-434b-9360-a4de2ea42eda
                  AvailabilityBlockId: 12806ae8-9c15-44c7-9a44-afae01289928
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesGetAll400Example:
                  summary: Default rates_getAll 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesGetAll401Example:
                  summary: Default rates_getAll 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesGetAll403Example:
                  summary: Default rates_getAll 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesGetAll408Example:
                  summary: Default rates_getAll 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesGetAll204Example:
                  summary: Default rates_getAll 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesGetAll429Example:
                  summary: Default rates_getAll 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesGetAll500Example:
                  summary: Default rates_getAll 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/rates/add:
    post:
      tags:
      - Rates
      summary: Mews Add Rates
      description: Adds rates to the enterprise. Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property). Rate type of `AvailabilityBlock` cannot be created via this operation.
      operationId: rates_add
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RateAddParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              Rates:
              - ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                RateGroupId: b9f25a45-9b9a-4b33-99bd-b06f008eb6f5
                IsEnabled: true
                Type: Public
                AccountingCategoryId: 3620c660-a4ec-4e0f-a0bc-b06f008eb8bf
                Names:
                  EN: My rate
                ExternalIdentifier: D001
                PricingType: DependentRatePricing
                Pricing:
                  DependentRatePricing:
                    BaseRateId: 1a1ddd3b-e106-4a70-aef1-54a75b483943
                    RelativeAdjustment: 0.15
                    AbsoluteAdjustment: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateAddResult'
              example:
                Rates:
                - Id: ed4b660b-19d0-434b-9360-a4de2ea42eda
                  GroupId: b9f25a45-9b9a-4b33-99bd-b06f008eb6f5
                  BaseRateId: 1a1ddd3b-e106-4a70-aef1-54a75b483943
                  BusinessSegmentId: null
                  ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                  IsActive: true
                  IsEnabled: true
                  IsPublic: true
                  Type: Public
                  Name: My rate
                  ShortName: FF
                  ExternalNames:
                    en-US: Long Stay Flexible Rate
                  ExternalIdentifier: D001
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesAdd400Example:
                  summary: Default rates_add 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesAdd401Example:
                  summary: Default rates_add 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesAdd403Example:
                  summary: Default rates_add 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesAdd408Example:
                  summary: Default rates_add 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesAdd204Example:
                  summary: Default rates_add 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesAdd429Example:
                  summary: Default rates_add 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesAdd500Example:
                  summary: Default rates_add 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/rates/set:
    post:
      tags:
      - Rates
      summary: Mews Set Rates
      description: Adds new Rates or updates existing ones if they are matched by `Id` or `ExternalIdentifier` property. This operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property/).
      operationId: rates_set
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RateSetParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              Rates:
              - Id: e1b0bf46-32a3-4f7c-99c1-1ff78447d55d
                ServiceId: 956176af-e10b-4f3c-beb7-274801bce328
                RateGroupId: d7adfddc-c2dc-4798-ace2-28de7b25408f
                IsEnabled: true
                Type: Public
                Names:
                  en-US: Base rate
                Descriptions:
                  en-US: Base rate with all fields specified using GUID identifiers.
                PricingType: BaseRatePricing
                Pricing:
                  BaseRatePricing:
                    Amount:
                      Currency: EUR
                      NetValue: 100.0
              - ExternalIdentifier: '55698'
                ServiceId: eid:Stay
                RateGroupId: eid:RG10
                IsEnabled: false
                Type: Private
                Names:
                  en-US: Dependent rate
                Descriptions:
                  en-US: Dependent rate with all field specified using eid identifiers.
                PricingType: DependentRatePricing
                Pricing:
                  DependentRatePricing:
                    BaseRateId: 00392166-3869-4174-b491-cf0162524a38
                    RelativeAdjustment: 0.0
                    AbsoluteAdjustment: 0.0
              EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateSetResult'
              example:
                Rates:
                - Id: e1b0bf46-32a3-4f7c-99c1-1ff78447d55d
                  GroupId: d7adfddc-c2dc-4798-ace2-28de7b25408f
                  ServiceId: 956176af-e10b-4f3c-beb7-274801bce328
                  BaseRateId: null
                  IsBaseRate: true
                  BusinessSegmentId: dc9188f6-fb61-412c-b3fd-af32dab082ed
                  IsActive: true
                  IsEnabled: true
                  IsPublic: true
                  IsDefault: false
                  Type: Public
                  Name: null
                  Names:
                    en-US: Base rate
                  ShortName: BR
                  UpdatedUtc: '2024-11-20T00:00:00Z'
                  ExternalNames:
                    en-US: External base rate
                  Description:
                    en-US: Base rate description.
                  ExternalIdentifier: null
                  TaxExemptionReason: null
                  TaxExemptionLegalReference: null
                - Id: 8eb1f163-bce7-49ca-a62c-c9261951c85f
                  GroupId: d7adfddc-c2dc-4798-ace2-28de7b25408f
                  ServiceId: 956176af-e10b-4f3c-beb7-274801bce328
                  BaseRateId: 00392166-3869-4174-b491-cf0162524a38
                  IsBaseRate: false
                  BusinessSegmentId: dc9188f6-fb61-412c-b3fd-af32dab082ed
                  IsActive: true
                  IsEnabled: false
                  IsPublic: false
                  IsDefault: false
                  Type: Private
                  Name: null
                  Names:
                    en-US: Dependent rate
                  ShortName: DR
                  UpdatedUtc: '2024-11-20T00:00:00Z'
                  ExternalNames:
                    en-US: External dependent rate
                  Description:
                    en-US: Dependent rate description.
                  ExternalIdentifier: '55698'
                  TaxExemptionReason: null
                  TaxExemptionLegalReference: null
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesSet400Example:
                  summary: Default rates_set 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesSet401Example:
                  summary: Default rates_set 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesSet403Example:
                  summary: Default rates_set 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesSet408Example:
                  summary: Default rates_set 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesSet204Example:
                  summary: Default rates_set 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesSet429Example:
                  summary: Default rates_set 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesSet500Example:
                  summary: Default rates_set 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-restricted: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/rates/delete:
    post:
      tags:
      - Rates
      summary: Mews Delete Rates
      description: Deletes specified rates. This operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property/).
      operationId: rates_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RateDeleteParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              RateIds:
              - 7e89ee8e-11a0-4d9d-8880-f8d8494824b5
              - eid:BasicRate
              EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
              examples:
                RatesDelete200Example:
                  summary: Default rates_delete 200 response
                  x-microcks-default: true
                  value: {}
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesDelete400Example:
                  summary: Default rates_delete 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesDelete401Example:
                  summary: Default rates_delete 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesDelete403Example:
                  summary: Default rates_delete 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesDelete408Example:
                  summary: Default rates_delete 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesDelete204Example:
                  summary: Default rates_delete 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesDelete429Example:
                  summary: Default rates_delete 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesDelete500Example:
                  summary: Default rates_delete 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/rates/getPricing:
    post:
      tags:
      - Rates
      summary: Mews Get Rate Pricing
      description: 'Returns prices for a given rate for a specified time interval. Prices will be returned for all service time units that the specified time interval intersects. So, for example, an interval `1st Jan 23:00 UTC - 1st Jan 23:00 UTC` will result in one price for `2nd Jan`, while Interval `1st Jan 23:00 UTC - 2nd Jan 23:00 UTC` will result in two prices for `2nd Jan` and `3rd Jan` (assuming a time unit period of "Day"). UTC timestamps must correspond to the start boundary of a time unit, e.g. 00:00 converted to UTC for a time unit of "Day". Other timestamps are not permitted. The __maximum size of time interval__ depends on the service''s time unit: 367 hours if hours, 367 days if days, or 60 months if months. For more information about time units, see [Time units](https://mews-systems.gitbook.io/connector-api/concepts/time-units).'
      operationId: rates_getPricing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RatePricingFilterParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              RateId: ed4b660b-19d0-434b-9360-a4de2ea42eda
              FirstTimeUnitStartUtc: '2022-01-01T23:00:00.000Z'
              LastTimeUnitStartUtc: '2022-01-03T23:00:00.000Z'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatePricing'
              example:
                Currency: EUR
                BaseAmountPrices:
                - Currency: EUR
                  NetValue: 93.46
                  GrossValue: 100
                  TaxValues:
                  - Code: DE-2020-1-L
                    Value: 6.54
                  Breakdown:
                    Items:
                    - TaxRateCode: DE-2020-1-L
                      NetValue: 93.46
                      TaxValue: 6.54
                - Currency: EUR
                  NetValue: 93.46
                  GrossValue: 100
                  TaxValues:
                  - Code: DE-2020-1-L
                    Value: 6.54
                  Breakdown:
                    Items:
                    - TaxRateCode: DE-2020-1-L
                      NetValue: 93.46
                      TaxValue: 6.54
                CategoryAdjustments:
                - AbsoluteValue: 0
                  CategoryId: 34c29e73-c8db-4e93-b51b-981e42655e03
                  ParentCategoryId: null
                  RelativeValue: 0.2
                - AbsoluteValue: 50
                  CategoryId: a0a7a5c5-c4ef-494a-8b34-6cca97629076
                  ParentCategoryId: 34c29e73-c8db-4e93-b51b-981e42655e03
                  RelativeValue: 0
                CategoryPrices:
                - CategoryId: e3aa3117-dff0-46b7-b49a-2c0391e70ff9
                  AmountPrices:
                  - Currency: EUR
                    NetValue: 93.46
                    GrossValue: 100
                    TaxValues:
                    - Code: DE-2020-1-L
                      Value: 6.54
                    Breakdown:
                      Items:
                      - TaxRateCode: DE-2020-1-L
                        NetValue: 93.46
                        TaxValue: 6.54
                  - Currency: EUR
                    NetValue: 93.46
                    GrossValue: 100
                    TaxValues:
                    - Code: DE-2020-1-L
                      Value: 6.54
                    Breakdown:
                      Items:
                      - TaxRateCode: DE-2020-1-L
                        NetValue: 93.46
                        TaxValue: 6.54
                TimeUnitStartsUtc:
                - '2022-01-01T23:00:00Z'
                - '2022-01-02T23:00:00Z'
                - '2022-01-03T23:00:00Z'
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesGetPricing400Example:
                  summary: Default rates_getPricing 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesGetPricing401Example:
                  summary: Default rates_getPricing 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesGetPricing403Example:
                  summary: Default rates_getPricing 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesGetPricing408Example:
                  summary: Default rates_getPricing 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesGetPricing204Example:
                  summary: Default rates_getPricing 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesGetPricing429Example:
                  summary: Default rates_getPricing 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesGetPricing500Example:
                  summary: Default rates_getPricing 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/rates/updatePrice:
    post:
      tags:
      - Rates
      summary: Mews Update Rate Price
      description: 'Updates the prices for a given rate. You can make multiple price updates with one API call, and for each one specify the time interval for which the update applies, the price value and the applicable [resource category](https://mews-systems.gitbook.io/connector-api/operations/resources/#resource-category). The price will be updated for all service [time units](https://mews-systems.gitbook.io/connector-api/operations/services/#time-unit) that the specified time interval intersects. The price is per time unit, e.g. per day or per month. If the resource category `CategoryId` is not specified, the updated price will apply to the base price for all resource categories.

        Note that prices are defined daily, so when the server receives the UTC interval, it first converts it to the enterprise timezone and updates the price on all dates that the interval intersects. Only root rates can be updated (the rates that have no base rate, that have `BaseRateId` set to `null`). It is not permitted to update historical prices older than specified by `EditableHistoryInterval`. Future prices may be updated up to 5 years in the future. The __maximum size of time interval__ is 100 time units or 2 years, whichever is the shorter amount of time.'
      operationId: rates_updatePrice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RatePriceUpdateParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              RateId: ed4b660b-19d0-434b-9360-a4de2ea42eda
              PriceUpdates:
              - FirstTimeUnitStartUtc: '2022-01-01T23:00:00.000Z'
                LastTimeUnitStartUtc: '2022-01-03T23:00:00.000Z'
                Value: 111
              - CategoryId: e3aa3117-dff0-46b7-b49a-2c0391e70ff9
                FirstTimeUnitStartUtc: '2022-01-04T23:00:00.000Z'
                LastTimeUnitStartUtc: '2022-01-05T23:00:00.000Z'
                Value: 222
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
              examples:
                RatesUpdatePrice200Example:
                  summary: Default rates_updatePrice 200 response
                  x-microcks-default: true
                  value: {}
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesUpdatePrice400Example:
                  summary: Default rates_updatePrice 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesUpdatePrice401Example:
                  summary: Default rates_updatePrice 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesUpdatePrice403Example:
                  summary: Default rates_updatePrice 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesUpdatePrice408Example:
                  summary: Default rates_updatePrice 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesUpdatePrice204Example:
                  summary: Default rates_updatePrice 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesUpdatePrice429Example:
                  summary: Default rates_updatePrice 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RatesUpdatePrice500Example:
                  summary: Default rates_updatePrice 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    RateGroupOld:
      title: Rate group (ver 2017-04-12)
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the rate group.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ServiceId:
          type: string
          description: Unique identifier of the Service that the rate group belongs to.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        IsActive:
          type: boolean
          description: Whether the rate group is still active.
          example: true
        Name:
          type:
          - string
          - 'null'
          description: Name of the rate group.
          example: Example Name
        ExternalIdentifier:
          maxLength: 255
          type:
          - string
          - 'null'
          description: External identifier of the rate group.
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: RateGroupOld
    Amount:
      title: Amount
      required:
      - Breakdown
      - Currency
      - GrossValue
      - NetValue
      - TaxValues
      type: object
      properties:
        Currency:
          minLength: 1
          type: string
          description: ISO-4217 code of the [Currency](https://mews-systems.gitbook.io/connector-api/operations/currencies/#currency).
          format: currency
          example: EUR
        NetValue:
          type: number
          description: Net value without taxes.
          format: double
          example: 100.0
        GrossValue:
          type: number
          description: Gross value including all taxes.
          format: double
          example: 100.0
        TaxValues:
          type: array
          items:
            $ref: '#/components/schemas/TaxValue'
          description: The tax values applied.
        Breakdown:
          title: Tax breakdown
          allOf:
          - $ref: '#/components/schemas/TaxBreakdown'
          description: Information about individual tax amounts.
          example: string
      additionalProperties: false
      description: ''
      x-schema-id: Amount
    RateFilterParameters:
      title: Rate filter parameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - Limitation
      - ServiceIds
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        Limitation:
          allOf:
          - $ref: '#/components/schemas/Limitation'
          description: Limitation on the quantity of data returned and optional Cursor for the starting point of data.
          example: string
        EnterpriseIds:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of the Enterprises. If not specified, the operation returns data for all enterprises within scope of the Access Token.
        Extent:
          title: Rate extent
          allOf:
          - $ref: '#/components/schemas/RateExtent'
          description: Extent of data to be returned. If not specified, both `Rates` and `RateGroups` will be included.
          example: string
        RateIds:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of the requested [Rates](https://mews-systems.gitbook.io/connector-api/operations/rates/#rate).
        UpdatedUtc:
          title: Time interval
          allOf:
          - $ref: '#/components/schemas/TimeFilterInterval'
          description: Interval in which `Rate` was updated.
          x-max-interval-in-months: 3
          example: string
        ServiceIds:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            type: string
            format: uuid
          description: Unique identifiers of the [Services](https://mews-systems.gitbook.io/connector-api/operations/services/#service) from which the rates are requested.
        ExternalIdentifiers:
          maxItems: 1000
          type:
          - array
          - 'null'
          items:
            type: string
          description: Identifiers of [Rate](https://mews-systems.gitbook.io/connector-api/operations/#rate) from external systems.
        ActivityStates:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ActivityStates'
          description: Whether to return only active, only deleted, or both types of record. If not specified, both active and deleted will be returned.
      additionalProperties: false
      x-schema-id: RateFilterParameters
    DependentRatePricingParameters:
      title: Dependent rate pricing parameters
      required:
      - BaseRateId
      type: object
      properties:
        BaseRateId:
          minLength: 1
          type: string
          description: Unique identifier of the base rate.
          x-schema-id: HybridIdentifier
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        RelativeAdjustment:
          type: number
          description: Relative amount which shows the difference between this rate and the base rate.
          format: double
          example: 100.0
        AbsoluteAdjustment:
          type: number
          description: Specific amount which shows the difference between this rate and the base rate.
          format: double
          example: 100.0
      additionalProperties: false
      x-schema-id: DependentRatePricingParameters
    TimeFilterInterval:
      title: Time interval
      type: object
      properties:
        StartUtc:
          type:
          - string
          - 'null'
          format: date-time
          example: '2026-06-02T14:30:00Z'
        EndUtc:
          type:
          - string
          - 'null'
          format: date-time
          example: '2026-06-02T14:30:00Z'
      additionalProperties: false
      description: "When a time interval is used for **filtering** (for example in parameters such as `CreatedUtc.StartUtc` / `CreatedUtc.EndUtc`), the following rules apply:\n\n- **Start equals End (equality mode)**  \n  If `StartUtc` and `EndUtc` are exactly the same timestamp, the filter is treated as an equality check for that precise moment in time:\n  \n  ```\n  CreatedUtc == StartUtc\n  ```\n  \n  This does not represent an interval; only records with `CreatedUtc` equal to that exact instant are returned.\n\n- **Start differs from End (interval mode)**  \n  If `StartUtc` and `EndUtc` are different, the filter is evaluated as a half-open interval:\n  \n  ```\n  StartUtc <= CreatedUtc < EndUtc\n  ```\n  \n  In other words, the start is inclusive and the end is exclusive.\n\nMake sure your integration takes inclusive Start / exclusive End behavior of time intervals into account so that no records at the boundaries are omitted."
      x-schema-id: TimeFilterInterval
    TaxExemptionReasonTypeEnum:
      title: Tax exemption reason type
      enum:
      - Unknown
      - IT_N1
      - IT_N2_2
      - IT_N3_5
      - IT_N4
      - IT_N5
      - PL_ZW
      - PL_NP
      - DE_NATO
      type: string
      description: '


        Unknown (Unknown tax exemption reason)


        IT_N1 (N1 - Escluse ex art.15)


        IT_N2_2 (N2.2 - Non soggette – altri casi)


        IT_N3_5 (N3.5 - Non imponibili – a seguito di dichiarazioni d’intento)


        IT_N4 (N4 - Esenti)


        IT_N5 (N5 - Regime del margine / IVA non esposta in fattura)


        PL_ZW (ZW - Zwolniony)


        PL_NP (NP - Nie podlega)


        DE_NATO (NATO-ZAbk - Umsatzsteuerbefreiung gemäß Artikel 67(3) NATO-Zusatzabkommen)'
      x-enumNames:
      - Unknown
      - IT_N1
      - IT_N2_2
      - IT_N3_5
      - IT_N4
      - IT_N5
      - PL_ZW
      - PL_NP
      - DE_NATO
      x-enumDescriptions:
      - Unknown tax exemption reason
      - N1 - Escluse ex art.15
      - N2.2 - Non soggette – altri casi
      - N3.5 - Non imponibili – a seguito di dichiarazioni d’intento
      - N4 - Esenti
      - N5 - Regime del margine / IVA non esposta in fattura
      - ZW - Zwolniony
      - NP - Nie podlega
      - NATO-ZAbk - Umsatzsteuerbefreiung gemäß Artikel 67(3) NATO-Zusatzabkommen
    RateExtent:
      title: Rate extent
      type: object
      properties:
        Rates:
          type:
          - boolean
          - 'null'
          description: Whether the response should contain rates.
          example: true
        RateGroups:
          type:
          - boolean
          - 'null'
          description: Whether the response should contain rate groups.
          deprecated: true
          x-deprecatedMessage: Use `rateGroups/getAll`
          example: true
        AvailabilityBlockAssignments:
          type: boolean
          description: Whether the response should contain availability block assignments.
          example: true
      additionalProperties: false
      description: Extent of data to be returned.
      x-schema-id: RateExtent
    AmountParameters:
      title: Amount parameters
      required:
      - Currency
      - TaxCodes
      type: object
      properties:
        Currency:
          minLength: 1
          type: string
          format: currency
          example: EUR
        TaxCodes:
          type: array
          items:
            type: string
        NetValue:
          type:
          - number
          - 'null'
          format: double
          example: 100.0
        GrossValue:
          type:
          - number
          - 'null'
          format: double
          example: 100.0
      additionalProperties: false
      description: Price of the product that overrides the price defined in Mews.
      x-schema-id: AmountParameters
    CategoryAdjustment:
      title: Resource category adjustment
      required:
      - AbsoluteValue
      - CategoryId
      - RelativeValue
      type: object
      properties:
        CategoryId:
          type: string
          description: Unique identifier of the adjustment category.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ParentCategoryId:
          type:
          - string
          - 'null'
          description: Unique identifier of the parent category that serves as a base price for the current category.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AbsoluteValue:
          type: number
          description: Absolute value of the adjustment (e.g. `50` represents 50 EUR in case the rate currency is `EUR`).
          format: double
          example: 100.0
        RelativeValue:
          type: number
          description: Relative value of the adjustment (e.g. `0.5` represents 50% increase).
          format: double
          example: 100.0
      additionalProperties: false
      x-schema-id: CategoryAdjustment
    TaxBreakdownItem:
      title: Tax breakdown item
      required:
      - NetValue
      - TaxValue
      type: object
      properties:
        TaxRateCode:
          type:
          - string
          - 'null'
          description: Tax rate code for the item. `null` for untaxed amounts.
          example: string
        NetValue:
          type: number
          description: The net value that the tax is calculated from.
          format: double
          example: 100.0
        TaxValue:
          type: number
          description: The value of the tax.
          format: double
          example: 100.0
      additionalProperties: false
      x-schema-id: TaxBreakdownItem
    RatePricing:
      title: Rate pricing
      required:
      - AgeCategoryAdjustments
      - BaseAmountPrices
      - BasePrices
      - CategoryAdjustments
      - CategoryPrices
      - Currency
      - TimeUnitStartsUtc
      type: object
      properties:
        Currency:
          minLength: 1
          type: string
          description: ISO-4217 code of the [Currency](https://mews-systems.gitbook.io/connector-api/operations/currencies/#currency).
          example: EUR
        DatesUtc:
          type:
          - array
          - 'null'
          items:
            type: string
          deprecated: true
          x-deprecatedMessage: Use `TimeUnitStartsUtc` instead.
        TimeUnitStartsUtc:
          type: array
          items:
            type: string
          description: Set of all time units covered by the time interval; expressed in UTC timezone ISO 8601 format.
        BasePrices:
          type: array
          items:
            type: number
            format: double
          deprecated: true
          x-deprecatedMessage: Use `BaseAmountPrices` instead.
        BaseAmountPrices:
          type: array
          items:
            $ref: '#/components/schemas/Amount'
          description: Base prices of the rates for each time unit covered by the time interval.
        CategoryPrices:
          type: array
          items:
            $ref: '#/components/schemas/CategoryPricing'
          description: Resource category prices.
        CategoryAdjustments:
          type: array
          items:
            $ref: '#/components/schemas/CategoryAdjustment'
          description: Resource category adjustments.
        AgeCategoryAdjustments:
          type: array
          items:
            $ref: '#/components/schemas/AgeCategoryAdjustment'
          description: Assigns different pricing or occupancy based on the guest's age.
        RelativeAdjustment:
          type: number
          description: Specific amount which shows the difference between this rate and the base rate.
          format: double
          example: 100.0
        AbsoluteAdjustment:
          type: number
          description: Relative amount which shows the difference between this rate and the base rate.
          format: double
          example: 100.0
        EmptyUnitAdjustment:
          type: number
          description: Price adjustment for when the resource booked with this rate is not full to capacity.
          format: double
          example: 100.0
        ExtraUnitAdjustment:
          type: number
          description: Price adjustment for when the resource booked with this rate exceeds capacity.
          format: double
          example: 100.0
      additionalProperties: false
      x-schema-id: RatePricing
    DateRestriction:
      title: Date restriction
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the rate restriction.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        RateId:
          type: string
          description: Unique identifier of the rate.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        IsInherited:
          type: boolean
          description: Whether the rate restriction is inherited from the parent rate.
          example: true
        StartUtc:
          type:
          - string
          - 'null'
          description: Start of the rate restriction in UTC timezone in ISO 8601 format.
          example: string
        EndUtc:
          type:
          - string
          - 'null'
          description: End of the rate restriction in UTC timezone in ISO 8601 format.
          example: string
        Days:
          type:
          - array
          - 'null'
          items:
            type: string
          description: The restricted days of week.
        ExternalIdentifier:
          type:
          - string
          - 'null'
          description: Identifiers of from external systems.
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: DateRestriction
    RateSetParameters:
      title: Set rates parameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - Rates
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        EnterpriseId:
          type:
          - string
          - 'null'
          description: Unique identifier of the enterprise. Required when using [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property), ignored otherwise.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Rates:
          maxItems: 100
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/RateSetData'
          description: Rates to be added or updated.
      additionalProperties: false
      x-schema-id: RateSetParameters
    BaseRatePricingWithoutAdjustmentsParameters:
      title: Base rate pricing parameters (without occupancy adjustments)
      required:
      - Amount
      type: object
      properties:
        Amount:
          title: Amount parameters
          allOf:
          - $ref: '#/components/schemas/AmountParameters'
          description: Price of the product that overrides the price defined in Mews.
          example: string
      additionalProperties: false
      x-schema-id: BaseRatePricingWithoutAdjustmentsParameters
    RateAddParameters:
      title: Rate add parameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - Rates
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        EnterpriseId:
          type:
          - string
          - 'null'
          description: Unique identifier of the enterprise. Required when using [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property), ignored otherwise.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Rates:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/RateAddData'
          description: Information about rates to be created.
      additionalProperties: false
      x-schema-id: RateAddParameters
    LengthRestriction:
      title: Length restriction
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the rate restriction.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        RateId:
          type: string
          description: Unique identifier of the rate.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        IsInherited:
          type: boolean
          description: Whether the rate restriction is inherited from the parent rate.
          example: true
        StartUtc:
          type:
          - string
          - 'null'
          description: Start of the rate restriction in UTC timezone in ISO 8601 format.
          example: string
        EndUtc:
          type:
          - string
          - 'null'
          description: End of the rate restriction in UTC timezone in ISO 8601 format.
          example: string
        Days:
          type:
          - array
          - 'null'
          items:
            type: string
          description: The restricted days of week.
        ExternalIdentifier:
          type:
          - string
          - 'null'
          description: Identifiers of from external systems.
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        MinLength:
          type:
          - string
          - 'null'
          description: Minimal reservation length in ISO 8601 duration format.
          example: string
        MaxLength:
          type:
          - string
          - 'null'
          description: Maximal reservation length in ISO 8601 duration format.
          example: string
      additionalProperties: false
      x-schema-id: LengthRestriction
    TaxBreakdown:
      title: Tax breakdown
      required:
      - Items
      type: object
      properties:
        Items:
          type: array
          items:
            $ref: '#/components/schemas/TaxBreakdownItem'
          description: Tax breakdown items per each tax rate applied.
      additionalProperties: false
      x-schema-id: TaxBreakdown
    RateAddResult:
      title: Rate add result
      type: object
      properties:
        Rates:
          maxItems: 1000
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Rate'
          description: Rates that have been added.
      additionalProperties: false
      x-schema-id: RateAddResult
    RateSetPricingDataParameters:
      title: Rate set pricing data parameters
      type: object
      properties:
        BaseRatePricing:
          title: Base rate pricing parameters (without occupancy adjustments)
          allOf:
          - $ref: '#/components/schemas/BaseRatePricingWithoutAdjustmentsParameters'
          description: 'Additional data for rates with base rate pricing. Used when `PricingType` is `BaseRatePricing`. Defaults are applied if not specified: amount is set to 10000 in default Enterprise''s currency and with its default accommodation tax rate code.'
          example: string
        DependentRatePricing:
          title: Dependent rate pricing parameters
          allOf:
          - $ref: '#/components/schemas/DependentRatePricingParameters'
          description: Additional data for rate with dependent rate pricing. Required when `PricingType` is `DependentRatePricing`.
          example: string
      additionalProperties: false
      x-schema-id: RateSetPricingDataParameters
    AgeCategoryAdjustment:
      title: Age category adjustment
      required:
      - AbsoluteValue
      - AgeCategoryId
      - Type
      type: object
      properties:
        AgeCategoryId:
          type: string
          description: Unique identifier of the age category.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AbsoluteValue:
          type: number
          description: Absolute value of the adjustment (e.g. `50` represents 50 EUR in case the rate currency is `EUR`).
          format: double
          example: 100.0
        Type:
          title: Age category adjustment type
          allOf:
          - $ref: '#/components/schemas/AgeCategoryAdjustmentTypeEnum'
          description: 'Age category adjustment type


            ExtraOccupancyAdjustment


            NegativeOccupancyAdjustment


            StandardOccupancyAdjustment'
          x-enumNames:
          - ExtraOccupancyAdjustment
          - NegativeOccupancyAdjustment
          - StandardOccupancyAdjustment
          x-enumDescriptions:
          - ''
          - ''
          - ''
          example: string
      additionalProperties: false
      x-schema-id: AgeCategoryAdjustment
    RateSetResult:
      title: Rate set result
      type: object
      properties:
        Rates:
          maxItems: 1000
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Rate'
          description: Rates that were added or updated.
      additionalProperties: false
      x-schema-id: RateSetResult
    RateAddData:
      title: Rate parameters
      required:
      - Names
      - PricingType
      - RateGroupId
      - ServiceId
      type: object
      properties:
        ServiceId:
          minLength: 1
          type: string
          description: Unique identifier of the service.
          x-schema-id: HybridIdentifier
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        RateGroupId:
          minLength: 1
          type: string
          description: Unique identifier of the rate group under which rate is assigned.
          x-schema-id: HybridIdentifier
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        IsEnabled:
          type:
          - boolean
          - 'null'
          description: Whether the rate is available to customers. `false` will be used as a default when not provided.
          example: true
        Type:
          title: Rate Add Type
          allOf:
          - $ref: '#/components/schemas/RateAddTypeEnum'
          description: 'Type of the rate.


            Public


            Private'
          x-enumNames:
          - Public
          - Private
          x-enumDescriptions:
          - ''
          - ''
          example: string
        AccountingCategoryId:
          type:
          - string
          - 'null'
          description: Unique identifier of the accounting category the rate belongs to.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        BusinessSegmentId:
          type:
          - string
          - 'null'
          description: Unique identifier of the business segment.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Names:
          title: Localized text
          type: object
          additionalProperties:
            type: string
          description: All translations of the name of the rate.
          x-schema-id: LocalizedStrings
        ShortNames:
          title: Localized text
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
          description: All translations of the short name of the rate.
          x-schema-id: LocalizedStrings
        ExternalNames:
          title: Localized text
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
          description: All translations of the external name of the rate.
          x-schema-id: LocalizedStrings
        Descriptions:
          title: Localized text
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
          description: All translations of the description.
          x-schema-id: LocalizedStrings
        PricingType:
          title: Rate pricing discriminator
          allOf:
          - $ref: '#/components/schemas/RatePricingDiscriminatorEnum'
          description: 'Discriminator in which field inside `Pricing` contains additional data.


            BaseRatePricing


            DependentRatePricing'
          x-enumNames:
          - BaseRatePricing
          - DependentRatePricing
          x-enumDescriptions:
          - ''
          - ''
          example: string
        ExternalIdentifier:
          maxLength: 255
          type:
          - string
          - 'null'
          description: Identifier of the rate from external system.
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Pricing:
          title: Rate add pricing data parameters
          allOf:
          - $ref: '#/components/schemas/RateAddPricingDataParameters'
          description: Contains additional data about pricing of the rate.
          example: string
      additionalProperties: false
      x-schema-id: RateAddData
    BaseRatePricingParametersWithOccupancyAdjustments:
      title: Base rate pricing parameters (with occupancy adjustments)
      required:
      - Amount
      type: object
      properties:
        Amount:
          title: Amount parameters
          allOf:
          - $ref: '#/components/schemas/AmountParameters'
          description: Price of the product that overrides the price defined in Mews.
          example: string
        NegativeOccupancyAdjustment:
          type: number
          description: This is the amount added to the price when occupancy of the space is less than the Space Category Capacity. To provide a discount price for under-occupancy, simply use a negative value.
          format: double
          example: 100.0
        ExtraOccupancyAdjustment:
          type: number
          description: This is the amount added to the price when the Space Category Capacity is exceeded.
          format: double
          example: 100.0
      additionalProperties: false
      x-schema-id: BaseRatePricingParametersWithOccupancyAdjustments
    RateDeleteParameters:
      title: RateDeleteParameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - RateIds
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        EnterpriseId:
          type:
          - string
          - 'null'
          description: Unique identifier of the enterprise. Required when using [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property), ignored otherwise.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        RateIds:
          maxItems: 10
          minItems: 1
          type: array
          items:
            type: string
          description: Unique identifiers of the rates to be deleted.
          x-schema-id: HybridIdentifier
      additionalProperties: false
      x-schema-id: RateDeleteParameters
    Limitation:
      title: Limitation
      required:
      - Count
      type: object
      properties:
        Count:
          type: integer
          format: int32
          example: 1
        Cursor:
          type:
          - string
          - 'null'
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      description: Limitation on the quantity of data returned.
      x-schema-id: Limitation
    EarlinessRestriction:
      title: Earliness restriction
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the rate restriction.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        RateId:
          type: string
          description: Unique identifier of the rate.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        IsInherited:
          type: boolean
          description: Whether the rate restriction is inherited from the parent rate.
          example: true
        StartUtc:
          type:
          - string
          - 'null'
          description: Start of the rate restriction in UTC timezone in ISO 8601 format.
          example: string
        EndUtc:
          type:
          - string
          - 'null'
          description: End of the rate restriction in UTC timezone in ISO 8601 format.
          example: string
        Days:
          type:
          - array
          - 'null'
          items:
            type: string
          description: The restricted days of week.
        ExternalIdentifier:
          type:
          - string
          - 'null'
          description: Identifiers of from external systems.
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        MinAdvance:
          type:
          - string
          - 'null'
          description: The minimum time before the reservation starts, you can reserve in ISO 8601 duration format.
          example: string
        MaxAdvance:
          type:
          - string
          - 'null'
          description: The maximum time before the reservation starts, you can reserve in ISO 8601 duration format.
          example: string
      additionalProperties: false
      x-schema-id: EarlinessRestriction
    RateAddPricingDataParameters:
      title: Rate add pricing data parameters
      type: object
      properties:
        BaseRatePricing:
          title: Base rate pricing parameters (with occupancy adjustments)
          allOf:
          - $ref: '#/components/schemas/BaseRatePricingParametersWithOccupancyAdjustments'
          description: 'Additional data for rates with base rate pricing. Used when `PricingType` is `BaseRatePricing`. Defaults are applied if not specified: amount is set to 10000 in default Enterprise''s currency and with its default accommodation tax rate code.'
          example: string
        DependentRatePricing:
          title: Dependent rate pricing parameters
          allOf:
          - $ref: '#/components/schemas/DependentRatePricingParameters'
          description: Additional data for rate with dependent rate pricing. Required when `PricingType` is `DependentRatePricing`.
          example: string
      additionalProperties: false
      x-schema-id: RateAddPricingDataParameters
    Rate:
      title: Rate
      required:
      - GroupId
      - Id
      - IsActive
      - IsBaseRate
      - IsDefault
      - IsEnabled
      - IsPublic
      - Names
      - ServiceId
      - Type
      - UpdatedUtc
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the rate.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        GroupId:
          type: string
          description: Unique identifier of `Rate Group` where the rate belongs.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ServiceId:
          type: string
          description: Unique identifier of the `Service`.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        BaseRateId:
          type:
          - string
          - 'null'
          description: Unique identifier of the base `Rate`.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        IsBaseRate:
          type: boolean
          description: Indicates if this is a base rate.
          example: true
        BusinessSegmentId:
          type:
          - string
          - 'null'
          description: Unique identifier of the `Business Segment`.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        IsActive:
          type: boolean
          description: Indicates if this rate is active.
          example: true
        IsEnabled:
          type: boolean
          description: Indicates if this rate is currently available to customers.
          example: true
        IsPublic:
          type: boolean
          description: Indicates if this rate is publicly available.
          example: true
        IsDefault:
          type: boolean
          description: Indicates if this rate is the default rate for the service. Assigned automatically to the first rate of a service.
          example: true
        Type:
          title: Rate type
          allOf:
          - $ref: '#/components/schemas/RateTypeEnum'
          description: 'Type of the rate.


            Public


            Private


            AvailabilityBlock'
          x-enumNames:
          - Public
          - Private
          - AvailabilityBlock
          x-enumDescriptions:
          - ''
          - ''
          - ''
          example: string
        Name:
          type:
          - string
          - 'null'
          description: Name of the rate (in the default language).
          deprecated: true
          x-deprecatedMessage: Use `Names` instead
          example: Example Name
        Names:
          title: Localized text
          type: object
          additionalProperties:
            type: string
          description: All translations of the name.
          x-schema-id: LocalizedStrings
        ShortName:
          type:
          - string
          - 'null'
          description: Short name of the rate (in the default language).
          example: Example Name
        UpdatedUtc:
          minLength: 1
          type: string
          description: Interval in which the rates were updated.
          format: date-time
          example: '2026-06-02T14:30:00Z'
        ExternalNames:
          title: Localized text
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
          description: All translations of the external name of the rate.
          x-schema-id: LocalizedStrings
        Description:
          title: Localized text
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
          description: All translations of the description of the rate.
          x-schema-id: LocalizedStrings
        ExternalIdentifier:
          maxLength: 255
          type:
          - string
          - 'null'
          description: Identifier of the rate from external system.
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        TaxExemptionReason:
          allOf:
          - $ref: '#/components/schemas/TaxExemptionReasonTypeEnum'
          description: 'Specifies the reason a rate is exempt from tax.


            Unknown (Unknown tax exemption reason)


            IT_N1 (N1 - Escluse ex art.15)


            IT_N2_2 (N2.2 - Non soggette – altri casi)


            IT_N3_5 (N3.5 - Non imponibili – a seguito di dichiarazioni d’intento)


            IT_N4 (N4 - Esenti)


            IT_N5 (N5 - Regime del margine / IVA non esposta in fattura)


            PL_ZW (ZW - Zwolniony)


            PL_NP (NP - Nie podlega)


            DE_NATO (NATO-ZAbk - Umsatzsteuerbefreiung gemäß Artikel 67(3) NATO-Zusatzabkommen)'
          example: string
        TaxExemptionLegalReference:
          type:
          - string
          - 'null'
          description: Legal reference that states why this rate is exempt from tax.
          example: string
      additionalProperties: false
      x-schema-id: Rate
    RatePriceUpdateParameters:
      title: Rate price update parameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - PriceUpdates
      - RateId
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        RateId:
          minLength: 1
          type: string
          description: Unique identifier of the `Rate`.
          x-schema-id: HybridIdentifier
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ProductId:
          type:
          - string
          - 'null'
          description: Unique identifier of the `Product`.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        PriceUpdates:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/RatePriceUpdate'
          description: Price adjustments for specific time intervals.
      additionalProperties: false
      x-schema-id: RatePriceUpdateParameters
    RatePricingFilterParameters:
      title: Rate pricing filter parameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - FirstTimeUnitStartUtc
      - LastTimeUnitStartUtc
      - RateId
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        RateId:
          type: string
          description: Unique identifier of the `Rate`.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ProductId:
          type:
          - string
          - 'null'
          description: Unique identifier of the `Product`.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        FirstTimeUnitStartUtc:
          minLength: 1
          type: string
          description: Start of the time interval, expressed as the timestamp for the start of the first [time unit](https://mews-systems.gitbook.io/connector-api/concepts/time-units), in UTC timezone ISO 8601 format.
          format: date-time
          example: '2026-06-02T14:30:00Z'
        LastTimeUnitStartUtc:
          minLength: 1
          type: string
          description: 'End of the time interval, expressed as the timestamp for the start of the last [time unit](https://mews-systems.gitbook.io/connector-api/concepts/time-units), in UTC timezone ISO 8601 format. The maximum size of time interval depends on the service''s time unit: 367 hours if hours, 367 days if days, or 24 months if months.'
          format: date-time
          example: '2026-06-02T14:30:00Z'
      additionalProperties: false
      x-schema-id: RatePricingFilterParameters
    DecimalUpdateValue:
      title: Decimal update value
      type: object
      properties:
        Value:
          type: number
          description: Value which is to be updated.
          format: double
          example: 100.0
      additionalProperties: false
      x-schema-id: DecimalUpdateValue
    RateResult:
      title: Rate result
      required:
      - RateGroups
      - RateRestrictions
      - Rates
      type: object
      properties:
        Rates:
          maxItems: 1000
          type: array
          items:
            $ref: '#/components/schemas/Rate'
          description: Rates of the default service.
        RateGroups:
          maxItems: 1000
          type: array
          items:
            $ref: '#/components/schemas/RateGroupOld'
          description: Rate groups of the default service.
          deprecated: true
          x-deprecatedMessage: Use [rateGroups/getAll](https://mews-systems.gitbook.io/connector-api/operations/rategroups#request).
        RateRestrictions:
          title: Rate restriction result
          allOf:
          - $ref: '#/components/schemas/RateRestrictionResult'
[...]
