openapi: 3.2.0
info:
  title: Mews Booking Engine API (Distributor) Account notes Commands API
  version: v1
  description: The Mews Booking Engine API (historically the Distributor API, served from /api/distributor/v1) lets developers build guest-facing booking engines that create reservations directly in Mews. It exposes enterprise configuration, availability, pricing, products, vouchers, payment cards, and reservation group creation for front-end client consumption.
  x-generated-from: documentation
  x-source-url: https://api.mews.com/Swagger/distributor/swagger.json
  x-last-validated: '2026-06-02'
servers:
- url: https://api.mews.com
  description: Production
- url: https://api.mews-demo.com
  description: Demo / sandbox
security:
- MewsClientToken: []
  MewsAccessToken: []
tags:
- name: Commands
paths:
  /api/connector/v1/commands/getAllByIds:
    post:
      tags:
      - Commands
      summary: Mews Get All Commands by Ids
      description: Returns all commands by their identifiers.
      operationId: commands_getAllByIds
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceCommandFilterParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              CommandIds:
              - aa20961f-6d9e-4b35-ad25-071213530aec
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceCommandResult'
              example:
                Commands:
                - Id: aa20961f-6d9e-4b35-ad25-071213530aec
                  State: Pending
                  CreatedUtc: '2015-09-02T19:25:44Z'
                  Creator:
                    FirstName: Sample
                    LastName: User
                    ImageUrl: '...'
                  Device:
                    Id: 63efb573-fc58-4065-b687-9bdd51568529
                    Name: Test Printer
                    Type: Printer
                  Data:
                    CopyCount: 1
                    FileType: application/pdf
                    FileData: '...'
                    PrinterName: Printer
                    PrinterDriverName: ''
                    PrinterPortName: ''
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsGetAllByIds400Example:
                  summary: Default commands_getAllByIds 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsGetAllByIds401Example:
                  summary: Default commands_getAllByIds 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsGetAllByIds403Example:
                  summary: Default commands_getAllByIds 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsGetAllByIds408Example:
                  summary: Default commands_getAllByIds 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsGetAllByIds204Example:
                  summary: Default commands_getAllByIds 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsGetAllByIds429Example:
                  summary: Default commands_getAllByIds 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsGetAllByIds500Example:
                  summary: Default commands_getAllByIds 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/commands/getAllActive:
    post:
      tags:
      - Commands
      summary: Mews Get All Commands
      description: Returns all commands the are still active from the client application point of view. That means commands that are in either `Pending` or `Received` state.
      operationId: commands_getAllActive
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAllActiveCommandsParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceCommandResult'
              example:
                Commands:
                - Id: aa20961f-6d9e-4b35-ad25-071213530aec
                  State: Pending
                  CreatedUtc: '2015-09-02T19:25:44Z'
                  Creator:
                    FirstName: Sample
                    LastName: User
                    ImageUrl: '...'
                  Device:
                    Id: 63efb573-fc58-4065-b687-9bdd51568529
                    Name: Test Printer
                    Type: Printer
                  Data:
                    CopyCount: 1
                    FileType: application/pdf
                    FileData: '...'
                    PrinterName: Printer
                    PrinterDriverName: ''
                    PrinterPortName: ''
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsGetAllActive400Example:
                  summary: Default commands_getAllActive 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsGetAllActive401Example:
                  summary: Default commands_getAllActive 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsGetAllActive403Example:
                  summary: Default commands_getAllActive 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsGetAllActive408Example:
                  summary: Default commands_getAllActive 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsGetAllActive204Example:
                  summary: Default commands_getAllActive 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsGetAllActive429Example:
                  summary: Default commands_getAllActive 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsGetAllActive500Example:
                  summary: Default commands_getAllActive 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/commands/addPrinter:
    post:
      tags:
      - Commands
      summary: Mews Add Printer Command
      description: Adds a new printer command representing printing of the specified document on a printer. Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).
      operationId: commands_addPrinter
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrinterCommandParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              PrinterId: d117866d-78de-4459-9077-42d7ea0120e3
              EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              CopyCount: 1
              Data: JVBERi0xLjcKCjEgMCBvYmogICUgZW50cnkgcG9pbnQKPDwKICAvVHlwZSAvQ2F0YWxvZwogIC9QYWdlcyAyIDAgUgo+PgplbmRvYmoKCjIgMCBvYmoKPDwKICAvVHlwZSAvUGFnZXMKICAvTWVkaWFCb3ggWyAwIDAgMjAwIDIwMCBdCiAgL0NvdW50IDEKICAvS2lkcyBbIDMgMCBSIF0KPj4KZW5kb2JqCgozIDAgb2JqCjw8CiAgL1R5cGUgL1BhZ2UKICAvUGFyZW50IDIgMCBSCiAgL1Jlc291cmNlcyA8PAogICAgL0ZvbnQgPDwKICAgICAgL0YxIDQgMCBSIAogICAgPj4KICA+PgogIC9Db250ZW50cyA1IDAgUgo+PgplbmRvYmoKCjQgMCBvYmoKPDwKICAvVHlwZSAvRm9udAogIC9TdWJ0eXBlIC9UeXBlMQogIC9CYXNlRm9udCAvVGltZXMtUm9tYW4KPj4KZW5kb2JqCgo1IDAgb2JqICAlIHBhZ2UgY29udGVudAo8PAogIC9MZW5ndGggNDQKPj4Kc3RyZWFtCkJUCjcwIDUwIFRECi9GMSAxMiBUZgooSGVsbG8sIHdvcmxkISkgVGoKRVQKZW5kc3RyZWFtCmVuZG9iagoKeHJlZgowIDYKMDAwMDAwMDAwMCA2NTUzNSBmIAowMDAwMDAwMDEwIDAwMDAwIG4gCjAwMDAwMDAwNzkgMDAwMDAgbiAKMDAwMDAwMDE3MyAwMDAwMCBuIAowMDAwMDAwMzAxIDAwMDAwIG4gCjAwMDAwMDAzODAgMDAwMDAgbiAKdHJhaWxlcgo8PAogIC9TaXplIDYKICAvUm9vdCAxIDAgUgo+PgpzdGFydHhyZWYKNDkyCiUlRU9G
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceCommandAddResult'
              example:
                CommandId: 2391a3df-1c61-4131-b6f8-c85b4234adcb
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsAddPrinter400Example:
                  summary: Default commands_addPrinter 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsAddPrinter401Example:
                  summary: Default commands_addPrinter 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsAddPrinter403Example:
                  summary: Default commands_addPrinter 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsAddPrinter408Example:
                  summary: Default commands_addPrinter 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsAddPrinter204Example:
                  summary: Default commands_addPrinter 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsAddPrinter429Example:
                  summary: Default commands_addPrinter 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsAddPrinter500Example:
                  summary: Default commands_addPrinter 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/commands/addKeyCutter:
    post:
      tags:
      - Commands
      summary: Mews Add Key Cutter Command
      description: Adds a new key cutter command representing cutting of a key for the specified reservation. Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).
      operationId: commands_addKeyCutter
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyCutterCommandParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              KeyCutterId: 7dafffff-a727-4917-a203-bd53995f21bf
              ReservationId: be35b39e-ad7e-460a-8de9-4c7581e016a2
              KeyCount: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceCommandAddResult'
              example:
                CommandId: 2391a3df-1c61-4131-b6f8-c85b4234adcb
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsAddKeyCutter400Example:
                  summary: Default commands_addKeyCutter 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsAddKeyCutter401Example:
                  summary: Default commands_addKeyCutter 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsAddKeyCutter403Example:
                  summary: Default commands_addKeyCutter 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsAddKeyCutter408Example:
                  summary: Default commands_addKeyCutter 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsAddKeyCutter204Example:
                  summary: Default commands_addKeyCutter 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsAddKeyCutter429Example:
                  summary: Default commands_addKeyCutter 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsAddKeyCutter500Example:
                  summary: Default commands_addKeyCutter 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/commands/addPaymentTerminal:
    post:
      tags:
      - Commands
      summary: Mews Add Payment Command
      description: '> ### Restricted!

        > This operation is part of a custom workflow for Mews partners such as POS systems to access Mews Payment Terminals.

        > See [Mews Payment Terminals](https://mews-systems.gitbook.io/connector-api/use-cases/mews-terminals).


        Adds a new Mews Payment Terminal command for taking a customer payment.

        The operation instructs a specified terminal device to take a payment from a specified customer for a specified amount.'
      operationId: commands_addPaymentTerminal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentTerminalCommandParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: 7059D2C25BF64EA681ACAB3A00B859CC-D91BFF2B1E3047A3E0DEC1D57BE1382
              Client: MyPOS 1.0
              Type: Payment
              TerminalId: be35b39e-ad7e-460a-8de9-4c7581e016a2
              CustomerId: 35d4b117-4e60-44a3-9580-c582117eff98
              BillId: null
              Amount:
                Currency: EUR
                Value: 230
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceCommandAddResult'
              example:
                CommandId: 2391a3df-1c61-4131-b6f8-c85b4234adcb
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsAddPaymentTerminal400Example:
                  summary: Default commands_addPaymentTerminal 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsAddPaymentTerminal401Example:
                  summary: Default commands_addPaymentTerminal 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsAddPaymentTerminal403Example:
                  summary: Default commands_addPaymentTerminal 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsAddPaymentTerminal408Example:
                  summary: Default commands_addPaymentTerminal 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsAddPaymentTerminal204Example:
                  summary: Default commands_addPaymentTerminal 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsAddPaymentTerminal429Example:
                  summary: Default commands_addPaymentTerminal 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsAddPaymentTerminal500Example:
                  summary: Default commands_addPaymentTerminal 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/commands/update:
    post:
      tags:
      - Commands
      summary: Mews Update Command
      description: Updates state of a command.
      operationId: commands_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceCommandUpdateParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              CommandId: aa20961f-6d9e-4b35-ad25-071213530aec
              State: Processed
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
              examples:
                CommandsUpdate200Example:
                  summary: Default commands_update 200 response
                  x-microcks-default: true
                  value: {}
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsUpdate400Example:
                  summary: Default commands_update 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsUpdate401Example:
                  summary: Default commands_update 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsUpdate403Example:
                  summary: Default commands_update 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsUpdate408Example:
                  summary: Default commands_update 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsUpdate204Example:
                  summary: Default commands_update 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsUpdate429Example:
                  summary: Default commands_update 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CommandsUpdate500Example:
                  summary: Default commands_update 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/fiscalMachineCommands/getAll:
    post:
      tags:
      - Commands
      summary: Mews Get All Fiscal Machine Commands
      description: Returns fiscal machine commands. The commands can be filtered either by unique command identifiers or by `Device` unique identifiers and command states. Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property/).
      operationId: fiscalMachineCommands_getAll
      requestBody:
        content:
          application/json:
            schema:
              title: Get all commands filter parameters
              oneOf:
              - $ref: '#/components/schemas/CommandsGetAllFilterByCommandIdParameters'
              - $ref: '#/components/schemas/CommandsGetAllFilterByStatesParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              DeviceIds:
              - d117866d-78de-4459-9077-42d7ea0120e3
              - 7dafffff-a727-4917-a203-bd53995f21bf
              States:
              - Processed
              - Processing
              UpdatedUtc:
                StartUtc: '2025-01-10T00:00:00Z'
                EndUtc: '2025-01-17T00:00:00Z'
              EnterpriseIds:
              - 3fa85f64-5717-4562-b3fc-2c963f66afa6
              - 4d0201db-36f5-428b-8d11-4f0a65e960cc
              Limitation:
                Count: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiscalMachineCommandDataV20250623Result'
              example:
                Commands:
                - Id: aa20961f-6d9e-4b35-ad25-071213530aec
                  State: Processing
                  CreatedUtc: '2025-01-15T14:30:00Z'
                  Creator:
                    Discriminator: Enterprise
                    EnterpriseProfile:
                      ProfileId: 3cd637ef-4728-47f9-8fb1-afb900c9cdcf
                  FiscalMachineId: FM-001
                  ApiUrl: https://fiscal-machine.example.com/api
                  FiscalMachineData: '{"printerPort": "COM1", "baudRate": 9600}'
                  TaxIdentifier: '12345678901'
                  Device:
                    Id: d117866d-78de-4459-9077-42d7ea0120e3
                    Type: FiscalMachine
                    Name: Fiscal Printer FP-001
                    Identifier: null
                  Bill:
                    Id: ea087d64-3901-4eee-b0b7-9fce4c58a005
                    Name: 'Hotel Invoice #1001'
                    EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    AccountId: fadd5bb6-b428-45d5-94f8-fd0d89fece6d
                    AccountType: Customer
                    AssociatedAccountIds: null
                    CounterId: null
                    State: Closed
                    Type: Invoice
                    Number: '1001'
                    VariableSymbol: VS001
                    CreatedUtc: '2025-01-15T10:00:00Z'
                    UpdatedUtc: '2025-01-15T14:25:00Z'
                    IssuedUtc: '2025-01-15T14:25:00Z'
                    TaxedUtc: '2025-01-15T14:25:00Z'
                    PaidUtc: null
                    DueUtc: '2025-01-29T23:59:59Z'
                    LastReminderDateUtc: null
                    PurchaseOrderNumber: PO-2025-001
                    Notes: Hotel accommodation services
                    Options: null
                    Owner: null
                    AssociatedAccountsData: null
                    EnterpriseData: null
                    CorrectionState: Bill
                    CorrectionType: null
                    CorrectedBillId: null
                  CommandData:
                    Discriminator: ItalianFiscalMachineData
                    ItalianFiscalMachineData:
                      IsRefund: false
                      RebatedReceiptNumber: null
                      RebatedReceiptSequence: null
                      RebatedReceiptDateTimeUtc: null
                      PrinterSerialNumber: FP001-123456
                    ItalianFiscalMachinePayload: null
                - Id: f2e8c456-1234-4567-89ab-cdef01234567
                  State: Processed
                  CreatedUtc: '2025-01-15T13:15:00Z'
                  Creator:
                    Discriminator: Enterprise
                    EnterpriseProfile:
                      ProfileId: 3cd637ef-4728-47f9-8fb1-afb900c9cdcf
                  FiscalMachineId: FM-002
                  ApiUrl: https://fiscal-machine-2.example.com/api
                  FiscalMachineData: '{"printerPort": "USB001", "certificatePath": "/etc/fiscal/cert.p12"}'
                  TaxIdentifier: '98765432109'
                  Device:
                    Id: 7dafffff-a727-4917-a203-bd53995f21bf
                    Type: FiscalMachine
                    Name: Fiscal Printer FP-002
                    Identifier: null
                  Bill:
                    Id: 12345678-1234-1234-1234-123456789012
                    Name: 'Restaurant Bill #2001'
                    EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    AccountId: fadd5bb6-b428-45d5-94f8-fd0d89fece6d
                    AccountType: Customer
                    AssociatedAccountIds: null
                    CounterId: null
                    State: Closed
                    Type: Receipt
                    Number: '2001'
                    VariableSymbol: VS002
                    CreatedUtc: '2025-01-15T12:30:00Z'
                    UpdatedUtc: '2025-01-15T13:10:00Z'
                    IssuedUtc: '2025-01-15T13:10:00Z'
                    TaxedUtc: '2025-01-15T13:10:00Z'
                    PaidUtc: '2025-01-15T13:10:00Z'
                    DueUtc: null
                    LastReminderDateUtc: null
                    PurchaseOrderNumber: null
                    Notes: Restaurant services - Table 15
                    Options: null
                    Owner: null
                    AssociatedAccountsData: null
                    EnterpriseData: null
                    CorrectionState: Bill
                    CorrectionType: null
                    CorrectedBillId: null
                  CommandData:
                    Discriminator: ItalianFiscalMachinePayload
                    ItalianFiscalMachineData: null
                    ItalianFiscalMachinePayload:
                      Payload: PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPGZ2cF9kb2M+CiAgPGhlYWRlcj4KICAgIDx0aW1lc3RhbXA+MjAyNS0wMS0xNVQxMzoxMDowMFo8L3RpbWVzdGFtcD4KICA8L2hlYWRlcj4KICA8Ym9keT4KICAgIDxyZWNlaXB0X2RhdGE+U2FtcGxlIGZpc2NhbCByZWNlaXB0IGRhdGE8L3JlY2VpcHRfZGF0YT4KICA8L2JvZHk+CjwvZnZwX2RvYz4=
                Cursor: f2e8c456-1234-4567-89ab-cdef01234567
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                FiscalMachineCommandsGetAll400Example:
                  summary: Default fiscalMachineCommands_getAll 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                FiscalMachineCommandsGetAll401Example:
                  summary: Default fiscalMachineCommands_getAll 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                FiscalMachineCommandsGetAll403Example:
                  summary: Default fiscalMachineCommands_getAll 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                FiscalMachineCommandsGetAll408Example:
                  summary: Default fiscalMachineCommands_getAll 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                FiscalMachineCommandsGetAll204Example:
                  summary: Default fiscalMachineCommands_getAll 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                FiscalMachineCommandsGetAll429Example:
                  summary: Default fiscalMachineCommands_getAll 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                FiscalMachineCommandsGetAll500Example:
                  summary: Default fiscalMachineCommands_getAll 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-restricted: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Amount:
      title: Amount
      required:
      - Breakdown
      - Currency
      - GrossValue
      - NetValue
      - TaxValues
      type: object
      properties:
        Currency:
          minLength: 1
          type: string
          description: ISO-4217 code of the [Currency](https://mews-systems.gitbook.io/connector-api/operations/currencies/#currency).
          format: currency
          example: EUR
        NetValue:
          type: number
          description: Net value without taxes.
          format: double
          example: 100.0
        GrossValue:
          type: number
          description: Gross value including all taxes.
          format: double
          example: 100.0
        TaxValues:
          type: array
          items:
            $ref: '#/components/schemas/TaxValue'
          description: The tax values applied.
        Breakdown:
          title: Tax breakdown
          allOf:
          - $ref: '#/components/schemas/TaxBreakdown'
          description: Information about individual tax amounts.
          example: string
      additionalProperties: false
      description: ''
      x-schema-id: Amount
    BillCustomerData:
      title: Bill customer data
      required:
      - Id
      - LastName
      type: object
      properties:
        Id:
          minLength: 1
          type: string
          description: ID of the `Customer` to whom the bill was assigned.
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Address:
          allOf:
          - $ref: '#/components/schemas/Address'
          description: Address of the customer.
          example: string
        LegalIdentifiers:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
          description: The set of `LegalIdentifiers` for the customer.
        BillingCode:
          type:
          - string
          - 'null'
          description: A unique code for Mews to list on invoices it sends to the customer.
          example: string
        LastName:
          minLength: 1
          type: string
          description: Last name of the customer.
          example: Example Name
        FirstName:
          type:
          - string
          - 'null'
          description: First name of the customer.
          example: Example Name
        SecondLastName:
          type:
          - string
          - 'null'
          description: Second last name of the customer.
          example: Example Name
        TitlePrefix:
          allOf:
          - $ref: '#/components/schemas/Title'
          description: 'Title prefix of the customer.


            Mister (Mr.)


            Miss (Ms.)


            Misses (Mrs.)'
          example: string
        TaxIdentifier:
          type:
          - string
          - 'null'
          description: Tax identifier of the customer.
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: BillCustomerData
    BillFiscalMachineData:
      title: Fiscal machine data
      required:
      - Discriminator
      - Value
      type: object
      properties:
        Discriminator:
          title: Fiscal machine data discriminator
          allOf:
          - $ref: '#/components/schemas/BillFiscalMachineDataDiscriminatorEnum'
          description: 'Discriminator of the object.


            ItalianFiscalMachineData'
          x-enumNames:
          - ItalianFiscalMachineData
          x-enumDescriptions:
          - ''
          example: string
        Value:
          title: Fiscal machine data for Italian fiscal machine
          allOf:
          - $ref: '#/components/schemas/ItalianFiscalMachineData'
          description: Structure of the object depends on `Discriminator` (currently only `ItalianFiscalMachineData` is supported).
          example: string
      additionalProperties: false
      x-schema-id: BillFiscalMachineData
    CurrencyValueOld:
      title: Currency value (ver 2018-06-07)
      required:
      - Currency
      type: object
      properties:
        Currency:
          minLength: 1
          type: string
          format: currency
          example: EUR
        Value:
          type:
          - number
          - 'null'
          format: double
          example: 100.0
        Net:
          type:
          - number
          - 'null'
          format: double
          deprecated: true
          example: 100.0
        Tax:
          type:
          - number
          - 'null'
          format: double
          deprecated: true
          example: 100.0
        TaxRate:
          type:
          - number
          - 'null'
          format: double
          deprecated: true
          example: 100.0
      additionalProperties: false
      description: Total price of the reservation.
      x-schema-id: CurrencyValueOld
    PaymentTerminalCommandAccountData:
      title: Account data for payment terminal command
      required:
      - Discriminator
      type: object
      properties:
        Discriminator:
          title: Account type
          allOf:
          - $ref: '#/components/schemas/AccountTypeEnum'
          description: 'Type of the account.


            Company


            Customer'
          x-enumNames:
          - Company
          - Customer
          x-enumDescriptions:
          - ''
          - ''
          example: string
        Customer:
          title: Customer data for payment terminal command.
          allOf:
          - $ref: '#/components/schemas/PaymentTerminalCommandCustomerData'
          description: Customer data if the `Discriminator` is `Customer`.
          example: string
        Company:
          title: Company data for payment terminal command.
          allOf:
          - $ref: '#/components/schemas/PaymentTerminalCommandCompanyData'
          description: Company data if the `Discriminator` is `Company`.
          example: string
      additionalProperties: false
      x-schema-id: PaymentTerminalCommandAccountData
    BillAccountData:
      title: Associated account bill data
      required:
      - Discriminator
      type: object
      properties:
        Discriminator:
          $ref: '#/components/schemas/BillAssigneeDataDiscriminator'
        BillCustomerData:
          title: Bill customer data
          allOf:
          - $ref: '#/components/schemas/BillCustomerData'
          description: Associated account bill data for customer.
          example: string
        BillCompanyData:
          title: Bill company data
          allOf:
          - $ref: '#/components/schemas/BillCompanyData'
          description: Associated account bill data for company.
          readOnly: true
          example: string
      additionalProperties: false
      x-schema-id: BillAccountData
    PaymentTerminalCommandParameters:
      title: PaymentTerminalCommandParameters
      required:
      - AccessToken
      - Amount
      - Client
      - ClientToken
      - CustomerId
      - TerminalId
      - Type
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        TerminalId:
          type: string
          description: Unique identifier of the payment terminal.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CustomerId:
          type: string
          description: Unique identifier of the `Customer`.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Type:
          allOf:
          - $ref: '#/components/schemas/PaymentTerminalCommandTypeEnum'
          description: 'The type of payment, e.g. `Preauthorization`.


            Payment


            Preauthorization'
          example: string
        Amount:
          title: Currency value (ver 2018-06-07)
          allOf:
          - $ref: '#/components/schemas/CurrencyValueOld'
          description: Amount of the payment.
          example: string
        BillId:
          type:
          - string
          - 'null'
          description: Unique identifier of the `Bill`.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        PaymentRequestId:
          type:
          - string
          - 'null'
          description: Unique identifier of the `PaymentRequest`.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ReservationId:
          type:
          - string
          - 'null'
          description: Unique identifier of the `Reservation`.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: PaymentTerminalCommandParameters
    BillV20250623:
      title: Bill (ver 2025-06-23)
      required:
      - AccountId
      - AccountType
      - AssociatedAccountIds
      - CorrectionState
      - CreatedUtc
      - EnterpriseId
      - Id
      - State
      - Type
      - UpdatedUtc
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the bill.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Name:
          type:
          - string
          - 'null'
          description: Name of the bill.
          example: Example Name
        EnterpriseId:
          type: string
          description: Unique identifier of the `Enterprise`.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AccountId:
          type: string
          description: Unique identifier of the account (`Customer` or `Company`) the bill is issued to.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AccountType:
          title: Account type
          allOf:
          - $ref: '#/components/schemas/AccountTypeEnum'
          description: 'A discriminator specifying the account type, i.e. `Customer` or `Company`.


            Company


            Customer'
          x-enumNames:
          - Company
          - Customer
          x-enumDescriptions:
          - ''
          - ''
          example: string
        AssociatedAccountIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of the `Customers` or `Companies` that are associated to the bill.
        CounterId:
          type:
          - string
          - 'null'
          description: Unique identifier of the bill `Counter`.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        State:
          $ref: '#/components/schemas/BillState'
        Type:
          $ref: '#/components/schemas/BillType'
        Number:
          type:
          - string
          - 'null'
          description: Number of the bill.
          example: '1001'
        VariableSymbol:
          type:
          - string
          - 'null'
          description: Variable symbol of the bill.
          example: string
        CreatedUtc:
          minLength: 1
          type: string
          description: Date and time of the bill creation in UTC timezone in ISO 8601 format.
          format: date-time
          example: '2026-06-02T14:30:00Z'
        UpdatedUtc:
          minLength: 1
          type: string
          description: Date and time when the bill was last updated, in UTC timezone in ISO 8601 format.
          format: date-time
          example: '2026-06-02T14:30:00Z'
        IssuedUtc:
          type:
          - string
          - 'null'
          description: Date and time of the bill issuance in UTC timezone in ISO 8601 format.
          format: date-time
          example: '2026-06-02T14:30:00Z'
        TaxedUtc:
          type:
          - string
          - 'null'
          description: Taxation date of the bill in UTC timezone in ISO 8601 format.
          format: date-time
          example: '2026-06-02T14:30:00Z'
        PaidUtc:
          type:
          - string
          - 'null'
          description: Date when the bill was paid in UTC timezone in ISO 8601 format.
          format: date-time
          example: '2026-06-02T14:30:00Z'
        DueUtc:
          type:
          - string
          - 'null'
          description: Bill due date and time in UTC timezone in ISO 8601 format.
          format: date-time
          example: '2026-06-02T14:30:00Z'
        LastReminderDateUtc:
          type:
          - string
          - 'null'
          description: Date and time when an email reminder to pay an invoice was last sent, in UTC timezone in ISO 8601 format.
          format: date-time
          example: '2026-06-02T14:30:00Z'
        PurchaseOrderNumber:
          type:
          - string
          - 'null'
          description: Unique number of the purchase order from the buyer.
          example: '1001'
        Notes:
          type:
          - string
          - 'null'
          description: Additional notes.
          example: string
        Options:
          title: Bill options
          allOf:
          - $ref: '#/components/schemas/BillOptions'
          description: Options of the bill.
          example: string
        Owner:
          title: Bill owner data
          allOf:
          - $ref: '#/components/schemas/BillAccountData'
          description: Additional information about owner of the bill. Can be a `Customer` or `Company`. Persisted at the time of closing of the bill.
          example: string
        AssociatedAccountsData:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/BillAccountData'
          description: Additional information about the associated account of the bill. Can be a `Customer` or `Company`. Persisted at the time of closing of the bill. Currently only one account can be associated with a bill, but this may be extended in future.
        EnterpriseData:
          title: Bill enterprise data
          allOf:
          - $ref: '#/components/schemas/BillEnterpriseData'
          description: Additional information about the enterprise issuing the bill, including bank account details. Persisted at the time of closing of the bill.
          example: string
        CorrectionState:
          title: Bill correction state
          allOf:
          - $ref: '#/components/schemas/BillCorrectionStateEnum'
          description: 'Whether the bill is a regular bill or a corrective bill.


            Bill (Regular bill.)


            CorrectiveBill (Corrective bill, i.e. the `CorrectionType` is either `Edit`, `Cancellation`, or `ReceivablePaymentsBalance`.)'
          x-enumNames:
          - Bill
          - CorrectiveBill
          x-enumDescriptions:
          - Regular bill.
          - Corrective bill, i.e. the `CorrectionType` is either `Edit`, `Cancellation`, or `ReceivablePaymentsBalance`.
          example: string
        CorrectionType:
          allOf:
          - $ref: '#/components/schemas/BillCorrectionTypeEnum'
          description: 'Type of correction.


            Cancellation


            Edit


            CreditNote


            Reinstatement


            ReceivablePaymentsBalance'
          example: string
        CorrectedBillId:
          type:
          - string
          - 'null'
          description: The ID of the bill that the corrective bill corrects. If the corrected bill was deleted, this field is `null`.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: BillV20250623
    ProfileDataDiscriminator:
      title: Profile data discriminator
      enum:
      - Personal
      - Enterprise
      - Platform
      - Static
      - Integration
      type: string
    BillCompanyData:
      title: Bill company data
      required:
      - Id
      - Name
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
          description: ID of the `Company`.
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Address:
          allOf:
          - $ref: '#/components/schemas/Address'
          description: Address of the company.
          example: string
        LegalIdentifiers:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
          description: The set of `LegalIdentifiers` for the company.
        BillingCode:
          type:
          - string
          - 'null'
          description: A unique code for Mews to list on invoices it sends to the company.
          example: string
        Name:
          minLength: 1
          type: string
          description: Name of the company.
          example: Example Name
        FiscalIdentifier:
          type:
          - string
          - 'null'
          description: Fiscal identifier of the company.
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AdditionalTaxIdentifier:
          type:
          - string
          - 'null'
          description: Additional tax identifier of the company.
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        DUNS:
          type:
          - string
          - 'null'
          description: DUNS (Data Universal Numbering System) number of the company.
          example: string
        Telephone:
          type:
          - string
          - 'null'
          description: Company telephone number.
          example: string
        TaxIdentifier:
          type:
          - string
          - 'null'
          description: Tax identifier of the company.
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        InvoicingEmail:
          type:
          - string
          - 'null'
          description: Invoicing email of the company.
          example: partner@example.com
        Department:
          type:
          - string
          - 'null'
          description: Department of the company.
          example: string
      additionalProperties: false
      description: ''
      x-schema-id: BillCompanyData
    AccountingItem:
      title: Accounting item
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AccountId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CustomerId:
          type:
          - string
          - 'null'
          format: uuid
          deprecated: true
          x-deprecatedMessage: Use `AccountId` instead.
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        OrderId:
          type:
          - string
          - 'null'
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ServiceId:
          type:
          - string
          - 'null'
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ProductId:
          type:
          - string
          - 'null'
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        BillId:
          type:
          - string
          - 'null'
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        InvoiceId:
          type:
          - string
          - 'null'
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AccountingCategoryId:
          type:
          - string
          - 'null'
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CreditCardId:
          type:
          - string
          - 'null'
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Type:
          type:
          - string
          - 'null'
          example: string
        SubType:
          type:
          - string
          - 'null'
          example: string
        Name:
          type:
          - string
          - 'null'
          example: Example Name
        Notes:
          type:
          - string
          - 'null'
          example: string
        ConsumptionUtc:
          type:
          - string
          - 'null'
          example: string
        ClosedUtc:
          type:
          - string
          - 'null'
          example: string
        State:
          type:
          - string
          - 'null'
          example: string
        SubState:
          type:
          - string
          - 'null'
          example: string
        Amount:
          title: Extended amount
          allOf:
          - $ref: '#/components/schemas/ExtendedAmount'
          description: ''
          example: string
        TaxExemptionReasonCode:
          type:
          - string
          - 'null'
          description: Code of tax exemption reason. **Restricted!** This property is currently intended for Mews' internal usage and may be subject to change.
          example: string
      additionalProperties: false
      x-schema-id: AccountingItem
    DeviceCommandUpdateParameters:
      title: DeviceCommandUpdateParameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - CommandId
      - State
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        CommandId:
          type: string
          description: Identifier of the `Command` to be updated.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        State:
          allOf:
          - $ref: '#/components/schemas/DeviceCommandStateEnum'
          description: 'New state of the command.


            Pending (Created in Mews, but not yet received by the client application.)


            Received (Received by the client application.)


            Processing (Being processed by the client application.)


            Processed (Successfully processed command.)


            Cancelled (A command whose execution has been canceled before (or during) processing.)


            Error (A command whose execution or processing was terminated by an error.)'
          example: string
        Progress:
          type:
          - number
          - 'null'
          description: Progress of the command processing. Only used if the `State` is `Processing`, otherwise ignored.
          format: double
          example: 100.0
        Notes:
          type:
          - string
          - 'null'
          description: Notes about command execution. Only used if the `State` is `Processed`, `Cancelled` or `Error`, otherwise ignored.
          example: string
      additionalProperties: false
      x-schema-id: DeviceCommandUpdateParameters
    BillAssigneeDataDiscriminator:
      title: Bill associated account data discriminator
      enum:
      - BillCustomerData
      - BillCompanyData
      type: string
      description: Determines type of value.
    ExtendedAmount:
      title: Extended amount
      required:
      - Breakdown
      - Currency
      - GrossValue
      - NetValue
      - TaxValues
      type: object
      properties:
        Currency:
          minLength: 1
          type: string
          description: ISO-4217 code of the [Currency](https://mews-systems.gitbook.io/connector-api/operations/currencies/#currency).
          format: currency
          example: EUR
        NetValue:
          type: number
          description: Net value without taxes.
          format: double
          example: 100.0
        GrossValue:
          type: number
          description: Gross value including all taxes.
          format: double
          example: 100.0
        TaxValues:
          type: array
          items:
            $ref: '#/components/schemas/TaxValue'
          description: The tax values applied.
        Breakdown:
          title: Tax breakdown
          allOf:
          - $ref: '#/components/schemas/TaxBreakdown'
          description: Information about individual tax amounts.
          example: string
        Value:
          type:
          - number
          - 'null'
          format: double
          example: 100.0
        Net:
          type:
          - number
          - 'null'
          format: double
          example: 100.0
        Tax:
          type:
          - number
          - 'null'
          format: double
          example: 100.0
        TaxRate:
          type:
          - number
          - 'null'
          format: double
          example: 100.0
      additionalProperties: false
      description: ''
      x-schema-id: ExtendedAmount
    TimeFilterInterval:
      title: Time interval
      type: object
      properties:
        StartUtc:
          type:
          - string
          - 'null'
          format: date-time
          example: '2026-06-02T14:30:00Z'
        EndUtc:
          type:
          - string
          - 'null'
          format: date-time
          example: '2026-06-02T14:30:00Z'
      additionalProperties: false
      description: "When a time interval is used for **filtering** (for example in parameters such as `CreatedUtc.StartUtc` / `CreatedUtc.EndUtc`), the following rules apply:\n\n- **Start equals End (equality mode)**  \n  If `StartUtc` and `EndUtc` are exactly the same timestamp, the filter is treated as an equality check for that precise moment in time:\n  \n  ```\n  CreatedUtc == StartUtc\n  ```\n  \n  This does not represent an interval; only records with `CreatedUtc` equal to that exact instant are returned.\n\n- **Start differs from End (interval mode)**  \n  If `StartUtc` and `EndUtc` are different, the filter is evaluated as a half-open interval:\n  \n  ```\n  StartUtc <= CreatedUtc < EndUtc\n  ```\n  \n  In other words, the start is inclusive and the end is exclusive.\n\nMake sure your integration takes inclusive Start / exclusive End behavior of time intervals into account so that no records at the boundaries are omitted."
      x-schema-id: TimeFilterInterval
    DeviceTypeEnum:
      title: Device type
      enum:
      - Printer
      - PaymentTerminal
      - KeyCutter
      - FiscalMachine
      - PassportScanner
      type: string
      description: 'Type of the device.


        Printer ([Printer command data](https://mews-systems.gitbook.io/connector-api/operations/commands#printer-command-data))


        PaymentTerminal ([Payment terminal command data](https://mews-systems.gitbook.io/connector-api/operations/commands#payment-terminal-command-data))


        KeyCutter ([Key cutter command data](https://mews-systems.gitbook.io/connector-api/operations/commands#key-cutter-command-data))


        FiscalMachine ([Fiscal machine command data](https://mews-systems.gitbook.io/connector-api/operations/commands#fiscal-machine-command-data))


        PassportScanner ([Passport scanner command data](https://mews-systems.gitbook.io/connector-api/operations/commands#passport-scanner-command-data))'
      x-enumNames:
      - Printer
      - PaymentTerminal
      - KeyCutter
      - FiscalMachine
      - PassportScanner
      x-enumDescriptions:
      - '[Printer command data](https://mews-systems.gitbook.io/connector-api/operations/commands#printer-command-data)'
      - '[Payment terminal command data](https://mews-systems.gitbook.io/connector-api/operations/commands#payment-terminal-command-data)'
      - '[Key cutter command data](https://mews-systems.gitbook.io/connector-api/operations/commands#key-cutter-command-data)'
      - '[Fiscal machine command data](https://mews-systems.gitbook.io/connector-api/operations/commands#fiscal-machine-command-data)'
      - '[Passport scanner command data](https://mews-systems.gitbook.io/connector-api/operations/commands#passport-scanner-command-data)'
    PaymentTerminalCommandCustomerData:
      title: Customer data for payment terminal command.
      required:
      - FullName
      type: object
      properties:
        FullName:
          minLength: 1
          type: string
          description: Full name of the customer.
          example: Example Name
      additionalProperties: false
      x-schema-id: PaymentTerminalCommandCustomerData
    Address:
      title: Address
      type: object
      properties:
        Line1:
          type:
          - string
          - 'null'
          example: string
        Line2:
          type:
          - string
          - 'null'
          example: string
        City:
          type:
          - string
          - 'null'
          example: string
        PostalCode:
          type:
          - string
          - 'null'
          example: string
        SubdivisionCode:
          type:
          - string
          - 'null'
          example: string
        CountryCode:
          type:
          - string
          - 'null'
          example: string
      additionalProperties: false
      x-schema-id: Address
    DeviceCommand:
      title: Command
      required:
      - CreatedUtc
      - Data
      - Device
      - Id
      - State
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the command.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        State:
          title: Command state
          allOf:
          - $ref: '#/components/schemas/DeviceCommandStateEnum'
          description: 'State of the command.


            Pending (Created in Mews, but not yet received by the client application.)


            Received (Received by the client application.)


            Processing (Being processed by the client application.)


            Processed (Successfully processed command.)


            Cancelled (A command whose execution has been canceled before (or during) processing.)


            Error (A command whose execution or processing was terminated by an error.)'
          x-enumNames:
          - Pending
          - Received
          - Processing
          - Processed
          - Cancelled
          - Error
          x-enumDescriptions:
          - Created in Mews, but not yet received by the client application.
          - Received by the client application.
          - Being processed by the client application.
          - Successfully processed command.
          - A command whose execution has been canceled before (or during) processing.
          - A command whose execution or processing was terminated by an error.
          example: string
        CreatedUtc:
          minLength: 1
          type: string
          description: Creation date and time of the command.
          format: date-time
          example: '2026-06-02T14:30:00Z'
        Creator:
          title: User
          allOf:
          - $ref: '#/components/schemas/DeviceCommandCreator'
          description: Creator of the command.
          example: string
        Device:
          allOf:
          - $ref: '#/components/schemas/Device'
          description: Device that the command should be executed on.
          example: string
        Data:
          oneOf:
          - $ref: '#/components/schemas/PaymentTerminalCommandData'
          - $ref: '#/components/schemas/PrinterCommandData'
          - $ref: '#/components/schemas/KeyCutterCommandData'
          - $ref: '#/components/schemas/FiscalMachineCommandData'
          - $ref: '#/components/schemas/PassportScannerCommandData'
          description: Structure of the object depends on [Device type](https://mews-systems.gitbook.io/connector-api/operations/devices#device-type).
          example: string
      additionalProperties: false
      x-schema-id: DeviceCommand
    FiscalMachineDataDiscriminatorEnum:
      title: Fiscal machine data discriminator
      enum:
      - ItalianFiscalMachineData
      - ItalianFiscalMachinePayload
      type: string
      description: '


        ItalianFiscalMachineData


        ItalianFiscalMachinePayload'
      x-enumNames:
      - ItalianFiscalMachineData
      - ItalianFiscalMachinePayload
      x-enumDescriptions:
      - ''
      - ''
    TaxBreakdownItem:
      title: Tax breakdown item
      required:
      - NetValue
      - TaxValue
      type: object
      properties:
        TaxRateCode:
          type:
          - string
          - 'null'
          description: Tax rate code for the item. `null` for untaxed amounts.
          example: string
        NetValue:
          type: number
          description: The net value that the tax is calculated from.
          format: double
          example: 100.0
        TaxValue:
          type: number
          description: The value of the tax.
          format: double
          example: 100.0
      additionalProperties: false
      x-schema-id: TaxBreakdownItem
    PaymentType:
      title: Payment item data discriminator
      enum:
      - CreditCard
      - Invoice
      - Cash
      - Unspecified
      - BadDebts
      - WireTransfer
      - ExchangeRateDifference
      - ExchangeRoundingDifference
      - BankCharges
      - Cheque
      - Other
      type: string
      x-enumDescriptions:
      - '[Credit card payment item data](https://mews-systems.gitbook.io/connector-api/operations/accountingitems#credit-card-payment-item-data)'
      - '[Invoice payment item data](https://mews-systems.gitbook.io/connector-api/operations/accountingitems#invoice-payment-item-data)'
      - No additional data.
      - No additional data.
      - No additional data.
      - No additional data.
      - No additional data.
      - No additional data.
      - No additional data.
      - No additional data.
      - No additional data.
    PaymentCardPaymentData:
      title: Credit card payment item data
      type: object
      properties:
        PaymentCardId:
          type:
          - string
          - 'null'
          description: Unique identifier of the `CreditCard`.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: PaymentCardPaymentData
    ItalianFiscalMachineDataV20250623:
      title: Italian fiscal machine data
      type: object
      properties:
        IsRefund:
          type: boolean
          description: Indicates if the transaction is a refund.
          example: true
        RebatedReceiptNumber:
          type:
          - string
          - 'null'
          description: Number of the rebated receipt.
          example: '1001'
        RebatedReceiptSequence:
          type:
          - string
          - 'null'
          description: Sequence of the rebated receipt.
          example: string
        RebatedReceiptDateTimeUtc:
          type:
          - string
          - 'null'
          description: Date and time of the rebated receipt in UTC.
          format: date-time
          example: '2026-06-02T14:30:00Z'
        PrinterSerialNumber:
          type:
          - string
          - 'null'
          description: Serial number of the printer.
          example: '1001'
      additionalProperties: false
      x-schema-id: ItalianFiscalMachineDataV20250623
    Device:
      title: Device
      required:
      - Id
      - Name
      - Type
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the device.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Type:
          title: Device type
          allOf:
          - $ref: '#/components/schemas/DeviceTypeEnum'
          description: 'Type of the device.


            Printer ([Printer command data](https://mews-systems.gitbook.io/connector-api/operations/commands#printer-command-data))


            PaymentTerminal ([Payment terminal command data](https://mews-systems.gitbook.io/connector-api/operations/commands#payment-terminal-command-data))


            KeyCutter ([Key cutter command data](https://mews-systems.gitbook.io/connector-api/operations/commands#key-cutter-command-data))


            FiscalMachine ([Fiscal machine command data](https://mews-systems.gitbook.io/connector-api/operations/commands#fiscal-machine-command-data))


            PassportScanner ([Passport scanner command data](https://mews-systems.gitbook.io/connector-api/operations/commands#passport-scanner-command-data))'
          x-enumNames:
          - Printer
          - PaymentTerminal
          - KeyCutter
          - FiscalMachine
          - PassportScanner
          x-enumDescriptions:
          - '[Printer command data](https://mews-systems.gitbook.io/connector-api/operations/commands#printer-command-data)'
          - '[Payment terminal command data](https://mews-systems.gitbook.io/connector-api/operations/commands#payment-terminal-command-data)'
          - '[Key cutter command data](https://mews-systems.gitbook.io/connector-api/operations/commands#key-cutter-command-data)'
          - '[Fiscal machine command data](https://mews-systems.gitbook.io/connector-api/operations/commands#fiscal-machine-command-data)'
          - '[Passport scanner command data](https://mews-systems.gitbook.io/connector-api/operations/commands#passport-scanner-command-data)'
          example: string
        Name:
          minLength: 1
          type: string
          description: Name of the device.
          example: Example Name
        Identifier:
          type:
          - string
          - 'null'
          description: Device identifier (for internal purposes).
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: Device
    DeviceCommandAddResult:
      title: DeviceCommandAddResult
      required:
      - CommandId
      type: object
      properties:
        CommandId:
          type: string
          description: Unique identifier of the created `Command`.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: DeviceCommandAddResult
    BillState:
      title: Bill state
      enum:
      - Open
      - Closed
      type: string
      description: Whether the bill is `Open` or `Closed`.
    BillType:
      title: Bill type
      enum:
      - Receipt
      - Invoice
      type: string
      description: After a bill is closed, the Bill Type is set to `Receipt` or `Invoice`. `Receipt` indicates that the bill has been fully paid and the balance is zero. `Invoice` indicates that the bill has not yet been fully paid but an invoice has been issued. Prior to closing, Bill Type should not be used.
      x-enumDescriptions:
      - Default; the bill has been paid in full; only applicable after the bill is closed.
      - Bill has not been paid in full but an invoice has been issued to request payment.
    GetAllActiveCommandsParameters:
      title: GetAllActiveCommandsParameters
      required:
      - AccessToken
      - Client
      - ClientToken
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
      additionalProperties: false
      x-schema-id: GetAllActiveCommandsParameters
    PaymentItemOld:
      title: Payment item
      required:
      - AccountId
      - AccountingState
      - Amount
      - ConsumedUtc
      - Data
      - Id
      - OriginalAmount
      - State
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the item.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AccountId:
          type: string
          description: Unique identifier of the account (for example `Customer`) the item belongs to.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        BillId:
          type:
          - string
          - 'null'
          description: Unique identifier of the `Bill` the item is assigned to.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AccountingCategoryId:
          type:
          - string
          - 'null'
          description: Unique identifier of the `AccountingCategory` the item belongs to.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Amount:
          title: Extended amount
          allOf:
          - $ref: '#/components/schemas/ExtendedAmount'
          description: Item's amount, negative amount represents either rebate or a payment.
          example: string
        OriginalAmount:
          title: Extended amount
          allOf:
          - $ref: '#/components/schemas/ExtendedAmount'
          description: Amount of item; note a negative amount represents a rebate or payment. Contains the earliest known value in conversion chain.
          example: string
        AmountDefault:
          title: Extended amount
          allOf:
          - $ref: '#/components/schemas/ExtendedAmount'
          description: Item's amount in property's default currency, negative amount represents either rebate or a payment.
          deprecated: true
          example: string
        Notes:
          type:
          - string
          - 'null'
          description: Additional notes.
          example: string
        SettlementId:
          type:
          - string
          - 'null'
          description: Identifier of the settled payment from the external system (ApplePay/GooglePay).
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ConsumedUtc:
          minLength: 1
          type: string
          description: Date and time of the item consumption in UTC timezone in ISO 8601 format.
          example: string
        ClosedUtc:
          type:
          - string
          - 'null'
          description: Date and time of the item bill closure in UTC timezone in ISO 8601 format.
          example: string
        AccountingState:
          minLength: 1
          type: string
          description: Accounting state of the item.
          example: string
        State:
          minLength: 1
          type: string
          description: Payment state of the item.
          example: string
        Identifier:
          type:
          - string
          - 'null'
          description: External payment identifier.
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Data:
          title: Payment item data
          type: object
          properties:
            Discriminator:
              $ref: '#/components/schemas/PaymentType'
            Value:
              oneOf:
              - $ref: '#/components/schemas/PaymentCardPaymentData'
              - $ref: '#/components/schemas/InvoicePaymentData'
              description: Based on payment item data discriminator or `null` for types without any additional data.
          description: Additional data specific to particular payment item.
          x-coproduct: true
          x-schema-id: PaymentItemOldDataCoproductOfPaymentType
      additionalProperties: false
      description: ''
      x-schema-id: PaymentItemOld
    PrinterCommandData:
      title: Printer command data
      required:
      - CopyCount
      - FileData
      - FileType
      - PrinterDriverName
      - PrinterName
      - PrinterPortName
      type: object
      allOf:
      - $ref: '#/components/schemas/DeviceCommandData'
      properties:
        CopyCount:
          type: integer
          description: Number of copies to be printed.
          format: int32
          example: 1
        FileType:
          minLength: 1
          type: string
          description: MIME type of the file to be printed (e.g. `application/pdf`).
          example: string
        FileData:
          minLength: 1
          type: string
          description: Base64-encoded data of the file to be printed.
          example: string
        PrinterName:
          minLength: 1
          type: string
          description: Name of the printer.
          example: Example Name
        PrinterDriverName:
          minLength: 1
          type: string
          description: Name of the printer driver.
          example: Example Name
        PrinterPortName:
          minLength: 1
          type: string
          description: Name of the printer port.
          example: Example Name
      additionalProperties: false
      x-schema-id: PrinterCommandData
    ProfileData:
      title: Profile data
      required:
      - Discriminator
      type: object
      properties:
        Discriminator:
          $ref: '#/components/schemas/ProfileDataDiscriminator'
        EnterpriseProfile:
          title: Enterprise profile data
[...]
