openapi: 3.0.4
info:
  title: Mews Booking Engine API (Distributor) Account notes Availability Blocks API
  version: v1
  description: The Mews Booking Engine API (historically the Distributor API, served from /api/distributor/v1) lets developers build guest-facing booking engines that create reservations directly in Mews. It exposes enterprise configuration, availability, pricing, products, vouchers, payment cards, and reservation group creation for front-end client consumption.
  x-generated-from: documentation
  x-source-url: https://api.mews.com/Swagger/distributor/swagger.json
  x-last-validated: '2026-06-02'
servers:
- url: https://api.mews.com
  description: Production
- url: https://api.mews-demo.com
  description: Demo / sandbox
security:
- MewsClientToken: []
  MewsAccessToken: []
tags:
- name: Availability Blocks
paths:
  /api/distributor/v1/availabilityBlocks/getAll:
    post:
      tags:
      - Availability Blocks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilityBlockFilterParameters'
            examples:
              AvailabilityBlocksGetAllRequestExample:
                summary: Default availabilityBlocks_getAll request
                x-microcks-default: true
                value:
                  Client: string
                  LanguageCode: string
                  CultureCode: string
                  FullAmounts: true
                  Session: string
                  EnterpriseId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                  AvailabilityBlockIds:
                  - 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityBlockResult'
              examples:
                AvailabilityBlocksGetAll200Example:
                  summary: Default availabilityBlocks_getAll 200 response
                  x-microcks-default: true
                  value:
                    AvailabilityBlocks:
                    - Id: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                      ServiceId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                      RateId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                      StartUtc: '2026-06-02T14:30:00Z'
                      EndUtc: '2026-06-02T14:30:00Z'
                      Name: Example Name
      operationId: availabilityBlocks_getAll
      summary: Mews Get All
      description: Get All via the Mews Booking Engine (Distributor) API availabilityBlocks resource.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/availabilityBlocks/delete:
    post:
      tags:
      - Availability Blocks
      summary: Mews Delete Availability Blocks
      description: Delete availability blocks. Note that an availability block containing active reservations (reservations which are not Canceled) cannot be deleted. Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property/).
      operationId: availabilityBlocks_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilityBlockDeleteParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              AvailabilityBlockIds:
              - 5ee074b1-6c86-48e8-915f-c7aa4702086f
              - c32386aa-1cd2-414a-a823-489325842fbe
              EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
              examples:
                AvailabilityBlocksDelete200Example:
                  summary: Default availabilityBlocks_delete 200 response
                  x-microcks-default: true
                  value: {}
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityBlocksDelete400Example:
                  summary: Default availabilityBlocks_delete 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityBlocksDelete401Example:
                  summary: Default availabilityBlocks_delete 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityBlocksDelete403Example:
                  summary: Default availabilityBlocks_delete 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityBlocksDelete408Example:
                  summary: Default availabilityBlocks_delete 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityBlocksDelete204Example:
                  summary: Default availabilityBlocks_delete 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityBlocksDelete429Example:
                  summary: Default availabilityBlocks_delete 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityBlocksDelete500Example:
                  summary: Default availabilityBlocks_delete 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/availabilityBlocks/getAll:
    post:
      tags:
      - Availability Blocks
      summary: Mews Get All Availability Blocks
      description: Returns all availability blocks filtered by services, unique identifiers and other filters. Note this operation uses [Pagination](https://mews-systems.gitbook.io/connector-api/guidelines/pagination/) and supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property/).
      operationId: availabilityBlocks_getAll
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilityBlockParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              Extent:
                AvailabilityBlocks: true
                Adjustments: true
                ServiceOrders: false
                Rates: false
              ServiceIds:
              - bd26d8db-86da-4f96-9efc-e5a4654a4a94
              AvailabilityBlockIds:
              - 5ee074b1-6c86-48e8-915f-c7aa4702086f
              CreatedUtc:
                StartUtc: '2020-11-04T00:00:00Z'
                EndUtc: '2020-11-05T00:00:00Z'
              UpdatedUtc:
                StartUtc: '2020-11-04T00:00:00Z'
                EndUtc: '2020-11-05T00:00:00Z'
              CollidingUtc:
                StartUtc: '2020-11-04T00:00:00Z'
                EndUtc: '2020-11-05T00:00:00Z'
              ReleasedUtc:
                StartUtc: '2020-11-04T00:00:00Z'
                EndUtc: '2020-11-05T00:00:00Z'
              ExternalIdentifiers:
              - Block-0001
              States:
              - Confirmed
              ActivityStates:
              - Active
              Limitation:
                Count: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityBlockResult_2'
              example:
                AvailabilityBlocks:
                - Id: 5ee074b1-6c86-48e8-915f-c7aa4702086f
                  EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                  RateId: ed4b660b-19d0-434b-9360-a4de2ea42eda
                  VoucherId: null
                  BookerId: ebd507c5-6bfd-4ca9-96aa-ffed6fa94f72
                  CompanyId: null
                  TravelAgencyId: null
                  Budget:
                    Currency: USD
                    Value: 48.0
                    Net: null
                    Tax: null
                    TaxRate: null
                  State: Confirmed
                  ReservationPurpose: Leisure
                  CreatedUtc: '2020-11-04T13:00:00Z'
                  UpdatedUtc: '2020-11-04T13:00:00Z'
                  FirstTimeUnitStartUtc: '2020-11-04T13:00:00Z'
                  LastTimeUnitStartUtc: '2020-11-04T13:00:00Z'
                  ReleasedUtc: '2020-11-04T13:00:00Z'
                  RollingReleaseOffset: null
                  ExternalIdentifier: Block-0001
                  Name: Wedding group
                  Notes: Have a nice stay
                  PickupDistribution: AllInOneGroup
                  IsActive: false
                  QuoteId: null
                  AvailabilityBlockNumber: '478'
                  ReleaseStrategy: FixedRelease
                  PurchaseOrderNumber: XX-123
                  BusinessSegmentId: dc9188f6-fb61-412c-b3fd-af32dab082ed
                  CanceledUtc: null
                  CancellationReason: null
                  CancellationReasonDetail: null
                - Id: c32386aa-1cd2-414a-a823-489325842fbe
                  EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                  RateId: ed4b660b-19d0-434b-9360-a4de2ea42eda
                  VoucherId: null
                  BookerId: ebd507c5-6bfd-4ca9-96aa-ffed6fa94f72
                  CompanyId: null
                  TravelAgencyId: null
                  Budget:
                    Currency: USD
                    Value: 48.0
                    Net: null
                    Tax: null
                    TaxRate: null
                  State: Confirmed
                  ReservationPurpose: Leisure
                  CreatedUtc: '2022-10-11T13:32:32Z'
                  UpdatedUtc: '2022-10-11T13:32:32Z'
                  FirstTimeUnitStartUtc: '2022-10-14T00:00:00Z'
                  LastTimeUnitStartUtc: '2022-11-17T00:00:00Z'
                  ReleasedUtc: null
                  RollingReleaseOffset: P-3DT4H
                  ExternalIdentifier: Block-0002
                  Name: Rolling release
                  Notes: null
                  PickupDistribution: AllInOneGroup
                  IsActive: false
                  QuoteId: 67eaf3c8-81e0-4ffb-b5f2-2b61803feb9c
                  AvailabilityBlockNumber: '479'
                  ReleaseStrategy: RollingRelease
                  PurchaseOrderNumber: null
                  BusinessSegmentId: dc9188f6-fb61-412c-b3fd-af32dab082ed
                  CanceledUtc: null
                  CancellationReason: null
                  CancellationReasonDetail: null
                ServiceOrders: null
                Adjustments:
                - Id: e19297af-373e-4701-b4ea-afae0129bded
                  AvailabilityBlockId: 5ee074b1-6c86-48e8-915f-c7aa4702086f
                  ResourceCategoryId: 773d5e42-de1e-43a0-9ce6-f940faf2303f
                  StartUtc: null
                  EndUtc: null
                  FirstTimeUnitStartUtc: '2021-10-14T00:00:00Z'
                  LastTimeUnitStartUtc: '2021-10-17T00:00:00Z'
                  UnitCount: 6
                  ActivityState: Active
                  ReleaseOverrideUtc: '2021-10-13T00:00:00Z'
                  UpdatedUtc: '2021-10-21T13:32:32Z'
                  IsActive: false
                  PaxCounts: null
                  FirstTimeUnitReleaseUtc: '2021-10-13T00:00:00Z'
                Rates: null
                Cursor: c32386aa-1cd2-414a-a823-489325842fbe
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityBlocksGetAll400Example:
                  summary: Default availabilityBlocks_getAll 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityBlocksGetAll401Example:
                  summary: Default availabilityBlocks_getAll 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityBlocksGetAll403Example:
                  summary: Default availabilityBlocks_getAll 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityBlocksGetAll408Example:
                  summary: Default availabilityBlocks_getAll 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityBlocksGetAll204Example:
                  summary: Default availabilityBlocks_getAll 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityBlocksGetAll429Example:
                  summary: Default availabilityBlocks_getAll 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityBlocksGetAll500Example:
                  summary: Default availabilityBlocks_getAll 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/availabilityBlocks/add:
    post:
      tags:
      - Availability Blocks
      summary: Mews Add Availability Blocks
      description: Adds availability blocks which are used to group related `Availability updates`. This makes limiting public availability easier and more organized. Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property/).
      operationId: availabilityBlocks_add
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultipleAvailabilityBlockAddParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              AvailabilityBlocks:
              - ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                RateId: ed4b660b-19d0-434b-9360-a4de2ea42eda
                FirstTimeUnitStartUtc: '2020-11-05T00:00:00Z'
                LastTimeUnitStartUtc: '2020-11-06T00:00:00Z'
                ReleasedUtc: '2020-11-04T00:00:00Z'
                Name: Mr. Smith's block
                Budget:
                  Currency: USD
                  Value: 48.0
                ExternalIdentifier: Block-0001
                State: Confirmed
              - ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                RateId: ed4b660b-19d0-434b-9360-a4de2ea42eda
                FirstTimeUnitStartUtc: '2021-11-05T00:00:00Z'
                LastTimeUnitStartUtc: '2021-11-06T00:00:00Z'
                Name: Rolling release block
                Budget:
                  Currency: USD
                  Value: 48.0
                ExternalIdentifier: Block-0002
                State: Confirmed
              EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityBlockAddResult'
              example:
                AvailabilityBlocks:
                - Id: 5ee074b1-6c86-48e8-915f-c7aa4702086f
                  EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                  RateId: ed4b660b-19d0-434b-9360-a4de2ea42eda
                  VoucherId: null
                  BookerId: ebd507c5-6bfd-4ca9-96aa-ffed6fa94f72
                  CompanyId: null
                  TravelAgencyId: null
                  Budget:
                    Currency: USD
                    Value: 48.0
                    Net: null
                    Tax: null
                    TaxRate: null
                  State: Confirmed
                  ReservationPurpose: Leisure
                  CreatedUtc: '2020-11-04T13:00:00Z'
                  UpdatedUtc: '2020-11-04T13:00:00Z'
                  FirstTimeUnitStartUtc: '2020-11-04T13:00:00Z'
                  LastTimeUnitStartUtc: '2020-11-04T13:00:00Z'
                  ReleasedUtc: '2020-11-04T13:00:00Z'
                  RollingReleaseOffset: null
                  ExternalIdentifier: Block-0001
                  Name: Wedding group
                  Notes: Have a nice stay
                  PickupDistribution: AllInOneGroup
                  IsActive: false
                  QuoteId: null
                  AvailabilityBlockNumber: '478'
                  ReleaseStrategy: FixedRelease
                  PurchaseOrderNumber: XX-123
                  BusinessSegmentId: dc9188f6-fb61-412c-b3fd-af32dab082ed
                  CanceledUtc: null
                  CancellationReason: null
                  CancellationReasonDetail: null
                - Id: c32386aa-1cd2-414a-a823-489325842fbe
                  EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                  RateId: ed4b660b-19d0-434b-9360-a4de2ea42eda
                  VoucherId: null
                  BookerId: ebd507c5-6bfd-4ca9-96aa-ffed6fa94f72
                  CompanyId: null
                  TravelAgencyId: null
                  Budget:
                    Currency: USD
                    Value: 48.0
                    Net: null
                    Tax: null
                    TaxRate: null
                  State: Confirmed
                  ReservationPurpose: Leisure
                  CreatedUtc: '2022-10-11T13:32:32Z'
                  UpdatedUtc: '2022-10-11T13:32:32Z'
                  FirstTimeUnitStartUtc: '2022-10-14T00:00:00Z'
                  LastTimeUnitStartUtc: '2022-11-17T00:00:00Z'
                  ReleasedUtc: null
                  RollingReleaseOffset: P-3DT4H
                  ExternalIdentifier: Block-0002
                  Name: Rolling release
                  Notes: null
                  PickupDistribution: AllInOneGroup
                  IsActive: false
                  QuoteId: 67eaf3c8-81e0-4ffb-b5f2-2b61803feb9c
                  AvailabilityBlockNumber: '479'
                  ReleaseStrategy: RollingRelease
                  PurchaseOrderNumber: null
                  BusinessSegmentId: dc9188f6-fb61-412c-b3fd-af32dab082ed
                  CanceledUtc: null
                  CancellationReason: null
                  CancellationReasonDetail: null
                ServiceOrders: null
                Adjustments:
                - Id: e19297af-373e-4701-b4ea-afae0129bded
                  AvailabilityBlockId: 5ee074b1-6c86-48e8-915f-c7aa4702086f
                  ResourceCategoryId: 773d5e42-de1e-43a0-9ce6-f940faf2303f
                  StartUtc: null
                  EndUtc: null
                  FirstTimeUnitStartUtc: '2021-10-14T00:00:00Z'
                  LastTimeUnitStartUtc: '2021-10-17T00:00:00Z'
                  UnitCount: 6
                  ActivityState: Active
                  ReleaseOverrideUtc: '2021-10-13T00:00:00Z'
                  UpdatedUtc: '2021-10-21T13:32:32Z'
                  IsActive: false
                  PaxCounts: null
                  FirstTimeUnitReleaseUtc: '2021-10-13T00:00:00Z'
                Rates: null
                Cursor: c32386aa-1cd2-414a-a823-489325842fbe
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityBlocksAdd400Example:
                  summary: Default availabilityBlocks_add 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityBlocksAdd401Example:
                  summary: Default availabilityBlocks_add 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityBlocksAdd403Example:
                  summary: Default availabilityBlocks_add 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityBlocksAdd408Example:
                  summary: Default availabilityBlocks_add 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityBlocksAdd204Example:
                  summary: Default availabilityBlocks_add 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityBlocksAdd429Example:
                  summary: Default availabilityBlocks_add 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityBlocksAdd500Example:
                  summary: Default availabilityBlocks_add 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/availabilityBlocks/update:
    post:
      tags:
      - Availability Blocks
      summary: Mews Update Availability Blocks
      description: Updates information about the specified `Availability block`. Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property/).
      operationId: availabilityBlocks_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultipleAvailabilityBlockUpdateParameters'
            example:
              AvailabilityBlocks:
              - AvailabilityBlockId: 5ee074b1-6c86-48e8-915f-c7aa4702086f
                Name:
                  Value: Mr. Smith's block
                FirstTimeUnitStartUtc:
                  Value: '2021-07-05T00:00:00Z'
                LastTimeUnitStartUtc:
                  Value: '2021-07-15T00:00:00Z'
                ExternalIdentifier:
                  Value: Block-1002
                State:
                  Value: Confirmed
                ReservationPurpose:
                  Value: Business
                BookerId:
                  Value: ebd507c5-6bfd-4ca9-96aa-ffed6fa94f72
                Notes:
                  Value: Welcome to Washington
                Budget:
                  Value:
                    Currency: USD
                    Value: 48.0
                ReleasedUtc:
                  Value: '2021-07-04T00:00:00Z'
                QuoteId: {}
                BusinessSegmentId:
                  Value: dc9188f6-fb61-412c-b3fd-af32dab082ed
              - AvailabilityBlockId: c32386aa-1cd2-414a-a823-489325842fbe
                State:
                  Value: Canceled
                CancellationReason:
                  Value: ForceMajeure
                CancellationReasonDetail:
                  Value: Event was canceled due to rain.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityBlockAddResult'
              example:
                AvailabilityBlocks:
                - Id: 5ee074b1-6c86-48e8-915f-c7aa4702086f
                  EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                  RateId: ed4b660b-19d0-434b-9360-a4de2ea42eda
                  VoucherId: null
                  BookerId: ebd507c5-6bfd-4ca9-96aa-ffed6fa94f72
                  CompanyId: null
                  TravelAgencyId: null
                  Budget:
                    Currency: USD
                    Value: 48.0
                    Net: null
                    Tax: null
                    TaxRate: null
                  State: Confirmed
                  ReservationPurpose: Business
                  CreatedUtc: '2020-11-04T13:00:00Z'
                  UpdatedUtc: '2020-11-05T16:11:38Z'
                  FirstTimeUnitStartUtc: '2021-07-05T00:00:00Z'
                  LastTimeUnitStartUtc: '2021-07-15T00:00:00Z'
                  ReleasedUtc: '2021-07-04T00:00:00Z'
                  RollingReleaseOffset: null
                  ExternalIdentifier: Block-1002
                  Name: Mr. Smith's block
                  Notes: Welcome to Washington
                  PickupDistribution: AllInOneGroup
                  IsActive: false
                  QuoteId: null
                  AvailabilityBlockNumber: '478'
                  ReleaseStrategy: FixedRelease
                  PurchaseOrderNumber: XX-123
                  BusinessSegmentId: dc9188f6-fb61-412c-b3fd-af32dab082ed
                  CanceledUtc: null
                  CancellationReason: null
                  CancellationReasonDetail: null
                - Id: c32386aa-1cd2-414a-a823-489325842fbe
                  EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                  RateId: ed4b660b-19d0-434b-9360-a4de2ea42eda
                  VoucherId: null
                  BookerId: ebd507c5-6bfd-4ca9-96aa-ffed6fa94f72
                  CompanyId: null
                  TravelAgencyId: null
                  Budget:
                    Currency: USD
                    Value: 48.0
                    Net: null
                    Tax: null
                    TaxRate: null
                  State: Canceled
                  ReservationPurpose: Leisure
                  CreatedUtc: '2022-10-11T13:32:32Z'
                  UpdatedUtc: '2022-10-11T13:32:32Z'
                  FirstTimeUnitStartUtc: '2022-10-14T00:00:00Z'
                  LastTimeUnitStartUtc: '2022-11-17T00:00:00Z'
                  ReleasedUtc: null
                  RollingReleaseOffset: P-3DT4H
                  ExternalIdentifier: Block-0002
                  Name: Rolling release
                  Notes: null
                  PickupDistribution: AllInOneGroup
                  IsActive: false
                  QuoteId: 67eaf3c8-81e0-4ffb-b5f2-2b61803feb9c
                  AvailabilityBlockNumber: '479'
                  ReleaseStrategy: RollingRelease
                  PurchaseOrderNumber: null
                  BusinessSegmentId: dc9188f6-fb61-412c-b3fd-af32dab082ed
                  CanceledUtc: '2022-10-12T15:12:49Z'
                  CancellationReason: ForceMajeure
                  CancellationReasonDetail: Event was canceled due to rain.
                ServiceOrders: null
                Adjustments:
                - Id: e19297af-373e-4701-b4ea-afae0129bded
                  AvailabilityBlockId: 5ee074b1-6c86-48e8-915f-c7aa4702086f
                  ResourceCategoryId: 773d5e42-de1e-43a0-9ce6-f940faf2303f
                  StartUtc: null
                  EndUtc: null
                  FirstTimeUnitStartUtc: '2021-10-14T00:00:00Z'
                  LastTimeUnitStartUtc: '2021-10-17T00:00:00Z'
                  UnitCount: 6
                  ActivityState: Active
                  ReleaseOverrideUtc: '2021-10-13T00:00:00Z'
                  UpdatedUtc: '2021-10-21T13:32:32Z'
                  IsActive: false
                  PaxCounts: null
                  FirstTimeUnitReleaseUtc: '2021-10-13T00:00:00Z'
                Rates: null
                Cursor: c32386aa-1cd2-414a-a823-489325842fbe
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityBlocksUpdate400Example:
                  summary: Default availabilityBlocks_update 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityBlocksUpdate401Example:
                  summary: Default availabilityBlocks_update 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityBlocksUpdate403Example:
                  summary: Default availabilityBlocks_update 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityBlocksUpdate408Example:
                  summary: Default availabilityBlocks_update 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityBlocksUpdate204Example:
                  summary: Default availabilityBlocks_update 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityBlocksUpdate429Example:
                  summary: Default availabilityBlocks_update 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityBlocksUpdate500Example:
                  summary: Default availabilityBlocks_update 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ReservationPersonCount:
      title: Age category parameters
      required:
      - AgeCategoryId
      - Count
      type: object
      properties:
        AgeCategoryId:
          type: string
          description: Unique identifier of the [Age category](https://mews-systems.gitbook.io/connector-api/operations/agecategories#age-category).
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Count:
          type: integer
          description: Number of people of a given age category. Only positive value is accepted.
          format: int32
          example: 1
      additionalProperties: false
      x-schema-id: ReservationPersonCount
    Unit:
      type: object
      additionalProperties: false
    ReleaseStrategyEnum:
      title: Release strategy
      enum:
      - FixedRelease
      - RollingRelease
      - None
      type: string
      description: 'The strategy for automatic release of the availability block.


        FixedRelease (The availability block is released at a fixed time.)


        RollingRelease (Each availability adjustment is released at a fixed offset from its start.)


        None (The availability block is not automatically released.)'
      x-enumNames:
      - FixedRelease
      - RollingRelease
      - None
      x-enumDescriptions:
      - The availability block is released at a fixed time.
      - Each availability adjustment is released at a fixed offset from its start.
      - The availability block is not automatically released.
    AvailabilityAdjustment:
      title: Availability adjustment
      required:
      - ActivityState
      - FirstTimeUnitStartUtc
      - Id
      - IsActive
      - LastTimeUnitStartUtc
      - ResourceCategoryId
      - UnitCount
      - UpdatedUtc
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the [Availability adjustment](https://mews-systems.gitbook.io/connector-api/operations/#availability-adjustment).
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AvailabilityBlockId:
          type: string
          description: Unique identifier of the [Availability block](https://mews-systems.gitbook.io/connector-api/operations/availabilityblocks/#availability-block) which the availability adjustment belongs to.
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ResourceCategoryId:
          type: string
          description: Unique identifier of the [Resource category](https://mews-systems.gitbook.io/connector-api/operations/resources/#resource-category) whose availability is updated.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        StartUtc:
          type: string
          description: Start of the interval in UTC timezone in ISO 8601 format.
          nullable: true
          deprecated: true
          example: string
        EndUtc:
          type: string
          description: End of the interval in UTC timezone in ISO 8601 format.
          nullable: true
          deprecated: true
          example: string
        FirstTimeUnitStartUtc:
          minLength: 1
          type: string
          description: Start of the time interval, expressed as the timestamp for the start of the first [time unit](https://mews-systems.gitbook.io/connector-api/operations/services/#time-unit), in UTC timezone ISO 8601 format.
          format: date-time
          example: '2026-06-02T14:30:00Z'
        LastTimeUnitStartUtc:
          minLength: 1
          type: string
          description: End of the time interval, expressed as the timestamp for the start of the last [time unit](https://mews-systems.gitbook.io/connector-api/operations/services/#time-unit), in UTC timezone ISO 8601 format.
          format: date-time
          example: '2026-06-02T14:30:00Z'
        UnitCount:
          type: integer
          description: Adjustment value applied on the interval.
          format: int32
          example: 1
        ActivityState:
          title: Activity state
          allOf:
          - $ref: '#/components/schemas/ActivityStateEnum'
          description: 'Shows whether the availability adjustment is active or deleted.


            Deleted


            Active'
          deprecated: true
          x-enumNames:
          - Deleted
          - Active
          x-enumDescriptions:
          - ''
          - ''
          x-deprecatedMessage: Use `IsActive` instead.
          example: string
        ReleaseOverrideUtc:
          type: string
          description: Exact moment the availability adjustment is released if set; overrides the release strategy of the associated availability block.
          format: date-time
          nullable: true
          example: '2026-06-02T14:30:00Z'
        UpdatedUtc:
          minLength: 1
          type: string
          description: Last update date and time of the adjustment in UTC timezone in ISO 8601 format.
          format: date-time
          example: '2026-06-02T14:30:00Z'
        IsActive:
          type: boolean
          description: Whether the availability adjustment is still active.
          example: true
        PaxCounts:
          maxItems: 5
          type: array
          items:
            $ref: '#/components/schemas/PaxCount'
          description: Collection of predicted occupancy of availability adjustments. Relates to how many adjustments are assigned to each count of guests.
          nullable: true
        FirstTimeUnitReleaseUtc:
          type: string
          description: Exact moment the first time unit of the availability adjustment is released based on `ReleaseOverrideUtc` or the `ReleaseStrategy` of the associated availability block, or the `OperationalEditableHistoryInterval` of the associated enterprise if not set, or `null` if `AvailabilityBlockId` is `null`.
          format: date-time
          nullable: true
          example: '2026-06-02T14:30:00Z'
      additionalProperties: false
      x-schema-id: AvailabilityAdjustment
    AvailabilityBlockAddResult:
      title: AvailabilityBlockAddResult
      required:
      - AvailabilityBlocks
      type: object
      properties:
        AvailabilityBlocks:
          type: array
          items:
            $ref: '#/components/schemas/AvailabilityBlock_2'
          description: Availability blocks.
      additionalProperties: false
      x-schema-id: AvailabilityBlockAddResult
    AvailabilityBlockResult:
      title: AvailabilityBlockResult
      required:
      - AvailabilityBlocks
      type: object
      properties:
        AvailabilityBlocks:
          type: array
          items:
            $ref: '#/components/schemas/AvailabilityBlock'
      additionalProperties: false
      x-schema-id: AvailabilityBlockResult
    PaxCount:
      title: PaxCount
      required:
      - PersonCount
      - UnitCount
      type: object
      properties:
        PersonCount:
          type: integer
          description: Predicted guest count that will be assigned to the Resource. The guest count must fit within the Resource Category maximum capacity.
          format: int32
          example: 1
        UnitCount:
          type: integer
          description: Positive number of adjustments that are assigned to `PersonCount`. The sum of all `UnitCount` in `PaxCounts` should match the adjustment value applied to the interval.
          format: int32
          example: 1
      additionalProperties: false
      x-schema-id: PaxCount
    ReservationPurposeEnum:
      title: Reservation purpose
      enum:
      - Leisure
      - Business
      - Student
      type: string
      description: '


        Leisure


        Business


        Student'
      x-enumNames:
      - Leisure
      - Business
      - Student
      x-enumDescriptions:
      - ''
      - ''
      - ''
    MultipleAvailabilityBlockUpdateParameters:
      title: MultipleAvailabilityBlockUpdateParameters
      required:
      - AccessToken
      - AvailabilityBlocks
      - Client
      - ClientToken
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        EnterpriseId:
          type: string
          description: Unique identifier of the enterprise. Required when using [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property), ignored otherwise.
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AvailabilityBlocks:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/AvailabilityBlockUpdateParameters'
          description: Availability blocks to be updated.
      additionalProperties: false
      x-schema-id: MultipleAvailabilityBlockUpdateParameters
    TimeFilterInterval:
      title: Time interval
      type: object
      properties:
        StartUtc:
          type: string
          format: date-time
          nullable: true
          example: '2026-06-02T14:30:00Z'
        EndUtc:
          type: string
          format: date-time
          nullable: true
          example: '2026-06-02T14:30:00Z'
      additionalProperties: false
      description: "When a time interval is used for **filtering** (for example in parameters such as `CreatedUtc.StartUtc` / `CreatedUtc.EndUtc`), the following rules apply:\r\n\r\n- **Start equals End (equality mode)**  \r\n  If `StartUtc` and `EndUtc` are exactly the same timestamp, the filter is treated as an equality check for that precise moment in time:\r\n  \r\n  ```\r\n  CreatedUtc == StartUtc\r\n  ```\r\n  \r\n  This does not represent an interval; only records with `CreatedUtc` equal to that exact instant are returned.\r\n\r\n- **Start differs from End (interval mode)**  \r\n  If `StartUtc` and `EndUtc` are different, the filter is evaluated as a half-open interval:\r\n  \r\n  ```\r\n  StartUtc <= CreatedUtc < EndUtc\r\n  ```\r\n  \r\n  In other words, the start is inclusive and the end is exclusive.\r\n\r\nMake sure your integration takes inclusive Start / exclusive End behavior of time intervals into account so that no records at the boundaries are omitted."
      x-schema-id: TimeFilterInterval
    ServiceOrderCancellationReasonEnum:
      title: Reservation cancellation reason
      enum:
      - Other
      - ConfirmationMissed
      - BookedElsewhere
      - ForceMajeure
      - GuestComplaint
      - NoShow
      - PriceTooHigh
      - ServiceNotAvailable
      - InputError
      - InvalidPayment
      - TravelAgency
      - RequestedByGuest
      - Update
      - BookingAbandoned
      - RequestedByBooker
      type: string
      description: '


        Other


        ConfirmationMissed


        BookedElsewhere


        ForceMajeure


        GuestComplaint


        NoShow


        PriceTooHigh


        ServiceNotAvailable


        InputError


        InvalidPayment


        TravelAgency


        RequestedByGuest


        Update


        BookingAbandoned


        RequestedByBooker'
      x-enumNames:
      - Other
      - ConfirmationMissed
      - BookedElsewhere
      - ForceMajeure
      - GuestComplaint
      - NoShow
      - PriceTooHigh
      - ServiceNotAvailable
      - InputError
      - InvalidPayment
      - TravelAgency
      - RequestedByGuest
      - Update
      - BookingAbandoned
      - RequestedByBooker
      x-enumDescriptions:
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
    ActivityStates:
      title: Activity state
      enum:
      - Deleted
      - Active
      type: string
      description: Activity states used for filtering.
    AvailabilityBlockResult_2:
      title: AvailabilityBlockResult
      type: object
      properties:
        AvailabilityBlocks:
          type: array
          items:
            $ref: '#/components/schemas/AvailabilityBlock_2'
          description: Availability blocks.
          nullable: true
        ServiceOrders:
          type: array
          items:
            $ref: '#/components/schemas/ReservationOld'
          description: Service orders (for example reservations) linked to availability blocks.
          nullable: true
          deprecated: true
          x-deprecatedMessage: Use [Get all reservations (ver 2023-06-06)](https://mews-systems.gitbook.io/connector-api/operations/reservations#get-all-reservations-ver-2023-06-06) instead.
        Adjustments:
          type: array
          items:
            $ref: '#/components/schemas/AvailabilityAdjustment'
          description: Availability adjustments of availability blocks.
          nullable: true
        Rates:
          type: array
          items:
            $ref: '#/components/schemas/RateForExtent'
          description: '`Rates` assigned to the block.'
          nullable: true
          deprecated: true
          x-deprecatedMessage: Use [Get all rates](https://mews-systems.gitbook.io/connector-api/operations/rates#get-all-rates) instead.
        Cursor:
          type: string
          description: Unique identifier of the last returned availability block. This can be used in Limitation in a subsequent request to fetch the next batch of availability block.
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: AvailabilityBlockResult
    AvailabilityBlockDeleteParameters:
      title: AvailabilityBlockDeleteParameters
      required:
      - AccessToken
      - AvailabilityBlockIds
      - Client
      - ClientToken
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        EnterpriseId:
          type: string
          description: Unique identifier of the enterprise. Required when using [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property), ignored otherwise.
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AvailabilityBlockIds:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            type: string
            format: uuid
          description: Unique identifier of the Availability block to delete.
      additionalProperties: false
      x-schema-id: AvailabilityBlockDeleteParameters
    ReleaseStrategyUpdateValue:
      title: Release strategy update value
      type: object
      properties:
        Value:
          title: Release strategy
          allOf:
          - $ref: '#/components/schemas/ReleaseStrategyEnum'
          description: 'The strategy for automatic release of the availability block.


            FixedRelease (The availability block is released at a fixed time.)


            RollingRelease (Each availability adjustment is released at a fixed offset from its start.)


            None (The availability block is not automatically released.)'
          x-enumNames:
          - FixedRelease
          - RollingRelease
          - None
          x-enumDescriptions:
          - The availability block is released at a fixed time.
          - Each availability adjustment is released at a fixed offset from its start.
          - The availability block is not automatically released.
          example: string
      additionalProperties: false
      x-schema-id: ReleaseStrategyUpdateValue
    AvailabilityBlockStateEnum:
      title: Availability block state
      enum:
      - Confirmed
      - Optional
      - Inquired
      - Canceled
      type: string
      description: '


        Confirmed (The block deducts availability and can have reservations assigned.)


        Optional (The block deducts availability and cannot have reservations assigned.)


        Inquired (The block does not deduct availability and cannot have reservations assigned (waitlist).)


        Canceled (The block does not deduct availability and cannot have reservations assigned (waitlist).)'
      x-enumNames:
      - Confirmed
      - Optional
      - Inquired
      - Canceled
      x-enumDescriptions:
      - The block deducts availability and can have reservations assigned.
      - The block deducts availability and cannot have reservations assigned.
      - The block does not deduct availability and cannot have reservations assigned (waitlist).
      - The block does not deduct availability and cannot have reservations assigned (waitlist).
    CurrencyValueOld:
      title: Currency value (ver 2018-06-07)
      required:
      - Currency
      type: object
      properties:
        Currency:
          minLength: 1
          type: string
          format: currency
          example: EUR
        Value:
          type: number
          format: double
          nullable: true
          example: 100.0
        Net:
          type: number
          format: double
          nullable: true
          deprecated: true
          example: 100.0
        Tax:
          type: number
          format: double
          nullable: true
          deprecated: true
          example: 100.0
        TaxRate:
          type: number
          format: double
          nullable: true
          deprecated: true
          example: 100.0
      additionalProperties: false
      description: Total price of the reservation.
      x-schema-id: CurrencyValueOld
    AvailabilityBlockAddParameters:
      title: Availability block parameters
      required:
      - FirstTimeUnitStartUtc
      - LastTimeUnitStartUtc
      - RateId
      - ServiceId
      - State
      type: object
      properties:
        ServiceId:
          type: string
          description: Unique identifier of the [Service](https://mews-systems.gitbook.io/connector-api/operations/services#service) to assign block to.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        RateId:
          type: string
          description: Unique identifier of the [Rate](https://mews-systems.gitbook.io/connector-api/operations/rates#rate) to assign block to.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        FirstTimeUnitStartUtc:
          minLength: 1
          type: string
          description: Start of the time interval, expressed as the timestamp for the start of the first time unit, in UTC timezone ISO 8601 format.
          example: string
        LastTimeUnitStartUtc:
          minLength: 1
          type: string
          description: End of the time interval, expressed as the timestamp for the start of the first time unit, in UTC timezone ISO 8601 format.
          example: string
        ReleasedUtc:
          type: string
          description: The moment when the block and its availability is released, in UTC timezone ISO 8601 format. Takes precedence over `RollingReleaseOffset`.
          format: date-time
          nullable: true
          example: '2026-06-02T14:30:00Z'
        RollingReleaseOffset:
          type: string
          description: Exact offset from the start of availability adjustments to the moment the availability adjustment should be released, in ISO 8601 duration format. Ignored if `ReleasedUtc` is specified.
          nullable: true
          example: string
        Name:
          type: string
          description: The name of the block.
          nullable: true
          example: Example Name
        VoucherCode:
          type: string
          description: Voucher code providing access to specified private [Rate](https://mews-systems.gitbook.io/connector-api/operations/rates#rate).
          nullable: true
          example: string
        BookerId:
          type: string
          description: Unique identifier of the Booker as a creator of an availability block.
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CompanyId:
          type: string
          description: Unique identifier of [Company](https://mews-systems.gitbook.io/connector-api/operations/companies#company).
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        TravelAgencyId:
          type: string
          description: Unique identifier of travel agency (`Company` with a `TravelAgencyContract`).
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Budget:
          title: Currency value (ver 2018-06-07)
          allOf:
          - $ref: '#/components/schemas/CurrencyValueOld'
          description: The tentative budget for the total price of reservations.
          nullable: true
          example: string
        ReservationPurpose:
          allOf:
          - $ref: '#/components/schemas/ReservationPurposeEnum'
          description: 'The purpose of the block.


            Leisure


            Business


            Student'
          nullable: true
          example: string
        ExternalIdentifier:
          maxLength: 255
          type: string
          description: Identifier of the block from external system.
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Notes:
          type: string
          description: Additional notes of the block.
          nullable: true
          example: string
        State:
          allOf:
          - $ref: '#/components/schemas/AvailabilityBlockStateEnum'
          description: 'State of the availability block.


            Confirmed (The block deducts availability and can have reservations assigned.)


            Optional (The block deducts availability and cannot have reservations assigned.)


            Inquired (The block does not deduct availability and cannot have reservations assigned (waitlist).)


            Canceled (The block does not deduct availability and cannot have reservations assigned (waitlist).)'
          example: string
        QuoteId:
          type: string
          description: Unique identifier of the Mews Events quote associated with the availability block.
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        PurchaseOrderNumber:
          type: string
          description: Unique number of the purchase order. This number is propagated to any newly picked up `Reservation` within the block.
          nullable: true
          example: '1001'
        BusinessSegmentId:
          type: string
          description: Unique identifier of the business segment.
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        PickupDistribution:
          allOf:
          - $ref: '#/components/schemas/PickupDistributionEnum'
          description: 'Specifies how reservations within the block are distributed for pickup. Defaults to `AllInOneGroup` if not provided. This value cannot be updated after creation.


            AllInOneGroup (All created reservations in the block are added to the same reservation group.)


            IndividualGroups (Reservations can be picked up in multiple groups, with up to 750 reservations per group.)'
          nullable: true
          example: string
      additionalProperties: false
      x-schema-id: AvailabilityBlockAddParameters
    RateTypeEnum:
      title: Rate type
      enum:
      - Public
      - Private
      - AvailabilityBlock
      type: string
      description: '


        Public


        Private


        AvailabilityBlock'
      x-enumNames:
      - Public
      - Private
      - AvailabilityBlock
      x-enumDescriptions:
      - ''
      - ''
      - ''
    MultipleAvailabilityBlockAddParameters:
      title: MultipleAvailabilityBlockAddParameters
      required:
      - AccessToken
      - AvailabilityBlocks
      - Client
      - ClientToken
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        EnterpriseId:
          type: string
          description: Unique identifier of the enterprise. Required when using [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property), ignored otherwise.
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AvailabilityBlocks:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/AvailabilityBlockAddParameters'
          description: Availability blocks to be added.
      additionalProperties: false
      x-schema-id: MultipleAvailabilityBlockAddParameters
    AvailabilityBlockUpdateParameters:
      title: Availability block update parameters
      type: object
      properties:
        AvailabilityBlockId:
          type: string
          description: Unique identifier of the [Availability block](https://mews-systems.gitbook.io/connector-api/operations/availabilityblocks#availability-block).
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Name:
          title: String update value
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          description: The name of the block (or `null` if the name should not be updated).
          nullable: true
          example: Example Name
        FirstTimeUnitStartUtc:
          title: String update value
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          description: Start of the time interval, expressed as the timestamp for the start of the first time unit, in UTC timezone ISO 8601 format (or `null` if the start time should not be updated).
          nullable: true
          example: string
        LastTimeUnitStartUtc:
          title: String update value
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          description: End of the time interval, expressed as the timestamp for the start of the last time unit, in UTC timezone ISO 8601 format (or `null` if the end time should not be updated).
          nullable: true
          example: string
        ExternalIdentifier:
          title: String update value
          maxLength: 255
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          description: Identifier of the block from external system (or `null` if the identifier should not be updated).
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        State:
          title: String update value
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          description: State of the availability block (or `null` if not updated).
          nullable: true
          example: string
        ReservationPurpose:
          title: String update value
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          description: The purpose of the block (or `null` if not updated).
          nullable: true
          example: string
        CompanyId:
          title: Guid update value
          allOf:
          - $ref: '#/components/schemas/GuidNullableUpdateValue'
          description: Unique identifier of the [Company](https://mews-systems.gitbook.io/connector-api/operations/companies#company) (or `null` if not updated).
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        TravelAgencyId:
          title: Guid update value
          allOf:
          - $ref: '#/components/schemas/GuidNullableUpdateValue'
          description: Unique identifier of the travel agency (i.e. `Company`; or `null` if not updated).
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        BookerId:
          title: Guid update value
          allOf:
          - $ref: '#/components/schemas/GuidNullableUpdateValue'
          description: Unique identifier of the Booker as a creator of an availability block (or `null` if not updated).
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Notes:
          title: String update value
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          description: Additional notes of the block (or `null` if not updated).
          nullable: true
          example: string
        Budget:
          title: Currency value (ver 2018-06-07) update value
          allOf:
          - $ref: '#/components/schemas/UpdateValueCurrencyValueOld'
          description: The tentative budget for the total price of reservations (or `null` if not updated).
          nullable: true
          example: string
        CancellationReason:
          title: String update value
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          description: Cancellation reason of the availability block (or `null` if not updated).
          nullable: true
          example: string
        CancellationReasonDetail:
          title: String update value
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          description: Cancellation reason detail of the availability block (or `null` if not updated).
          nullable: true
          example: string
        RollingReleaseOffset:
          title: String update value
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          description: Exact offset from the start of availability adjustments to the moment the availability adjustment should be released, in ISO 8601 duration format. Required if `ReleaseStrategy` is set to `RollingRelease`, ignored otherwise.
          nullable: true
          example: string
        ReleasedUtc:
          title: String update value
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          description: The moment when the block and its availability is released, in UTC timezone ISO 8601 format. Required if `ReleaseStrategy` is set to `FixedRelease`, or used when `ReleaseStrategy` update is unspecified.
          format: date-time
          nullable: true
          example: '2026-06-02T14:30:00Z'
        ReleaseStrategy:
          title: Release strategy update value
          allOf:
          - $ref: '#/components/schemas/ReleaseStrategyUpdateValue'
          description: The strategy for automatic release of the availability block (or `null` if not updated).
          nullable: true
          example: string
        QuoteId:
          title: Guid update value
          allOf:
          - $ref: '#/components/schemas/GuidNullableUpdateValue'
          description: Unique identifier of the Mews Events quote associated with the availability block (or `null` if not updated).
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        PurchaseOrderNumber:
          title: String update value
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          description: Unique number of the purchase order. This number is propagated to any newly picked up `Reservation` within the block.
          nullable: true
          example: '1001'
        BusinessSegmentId:
          title: Guid update value
          allOf:
          - $ref: '#/components/schemas/GuidNullableUpdateValue'
          description: Unique identifier of the Business segment.
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: AvailabilityBlockUpdateParameters
    ReservationOptions:
      title: Reservation options
      required:
      - AllCompanionsCheckedIn
      - AnyCompanionCheckedIn
      - OwnerCheckedIn
      type: object
      properties:
        OwnerCheckedIn:
          type: boolean
          description: Owner of the reservation checked in.
          example: true
        AllCompanionsCheckedIn:
          type: boolean
          description: All companions of the reservation checked in.
          example: true
        AnyCompanionCheckedIn:
          type: boolean
          description: Any companion of the reservation checked in.
          example: true
      additionalProperties: false
      x-schema-id: ReservationOptions
    ActivityStateEnum:
      title: Activity state
      enum:
      - Deleted
      - Active
      type: string
      description: '


        Deleted


        Active'
      x-enumNames:
      - Deleted
      - Active
      x-enumDescriptions:
      - ''
      - ''
    AvailabilityBlock_2:
      title: Availability block
      required:
      - AvailabilityBlockNumber
      - BusinessSegmentId
      - CreatedUtc
      - FirstTimeUnitStartUtc
      - IsActive
      - LastTimeUnitStartUtc
      - PickupDistribution
      - ReleaseStrategy
      - State
      - UpdatedUtc
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the availability block.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        EnterpriseId:
          type: string
          description: Unique identifier of the [enterprise](https://mews-systems.gitbook.io/connector-api/operations/enterprises#enterprise).
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ServiceId:
          type: string
          description: Unique identifier of the `Service` the block is assigned to.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        RateId:
          type: string
          description: Unique identifier of the `Rate` the block is assigned to.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        VoucherId:
          type: string
          description: Unique identifier of the `Voucher` used to access specified private `Rate`.
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        BookerId:
          type: string
          description: Unique identifier of the `Customer` on whose behalf the block was made.
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CompanyId:
          type: string
          description: Unique identifier of the `Company` linked to the block.
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        TravelAgencyId:
          type: string
          description: Unique identifier of `Company`with `Travel agency contract` the Availability Block is related to.
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Budget:
          title: Currency value (ver 2018-06-07)
          allOf:
          - $ref: '#/components/schemas/CurrencyValueOld'
          description: The tentative budget for the total price of reservations in the block.
          nullable: true
          example: string
        State:
          title: Availability block state
          allOf:
          - $ref: '#/components/schemas/AvailabilityBlockStateEnum'
          description: 'State of the availability block.


            Confirmed (The block deducts availability and can have reservations assigned.)


            Optional (The block deducts availability and cannot have reservations assigned.)


            Inquired (The block does not deduct availability and cannot have reservations assigned (waitlist).)


            Canceled (The block does not deduct availability and cannot have reservations assigned (waitlist).)'
          x-enumNames:
          - Confirmed
          - Optional
          - Inquired
          - Canceled
          x-enumDescriptions:
          - The block deducts availability and can have reservations assigned.
          - The block deducts availability and cannot have reservations assigned.
          - The block does not deduct availability and cannot have reservations assigned (waitlist).
          - The block does not deduct availability and cannot have reservations assigned (waitlist).
          example: string
        ReservationPurpose:
          allOf:
          - $ref: '#/components/schemas/ReservationPurposeEnum'
          description: 'The purpose of the block.


            Leisure


            Business


            Student'
          nullable: true
          example: string
        CreatedUtc:
          minLength: 1
          type: string
          description: Creation date and time of the block in UTC timezone in ISO 8601 format.
          example: string
        UpdatedUtc:
          minLength: 1
          type: string
          description: Last update date and time of the block in UTC timezone in ISO 8601 format.
          example: string
        FirstTimeUnitStartUtc:
          minLength: 1
          type: string
          description: Start of the time interval, expressed as the timestamp for the start of the first time unit, in UTC timezone ISO 8601 format. See [Time units](https://mews-systems.gitbook.io/connector-api/concepts/time-units).
          example: string
        LastTimeUnitStartUtc:
          minLength: 1
          type: string
          description: End of the time interval, expressed as the timestamp for the start of the last time unit, in UTC timezone ISO 8601 format. See [Time units](https://mews-systems.gitbook.io/connector-api/concepts/time-units).
          example: string
        ReleasedUtc:
          type: string
          description: The moment when the block and its availability is released in UTC timezone in ISO 8601 format. Mutually exclusive with `RollingReleaseOffset`; the block will not be automatically released if neither `ReleasedUtc` nor `RollingReleaseOffsetUtc` is specified.
          nullable: true
          example: string
        RollingReleaseOffset:
          type: string
          description: Exact offset from the start of availability adjustments to the moment the individual days in the adjustment should be released, in ISO 8601 duration format. Mutually exclusive with `ReleasedUtc`; the block will not be automatically released if neither `ReleasedUtc` nor `RollingReleaseOffsetUtc` is specified.
          nullable: true
          example: string
        ExternalIdentifier:
          maxLength: 255
          type: string
          description: Identifier of the block from external system.
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Name:
          type: string
          description: The name of the block in Mews.
          nullable: true
          example: Example Name
        Notes:
          type: string
          description: Additional notes of the block.
          nullable: true
          example: string
        PickupDistribution:
          title: Pickup distribution
          allOf:
          - $ref: '#/components/schemas/PickupDistributionEnum'
          description: 'Whether assigning spaces to reservations within an availability block is done as a single group or divided into individual groups.


            AllInOneGroup (All created reservations in the block are added to the same reservation group.)


            IndividualGroups (Reservations can be picked up in multiple groups, with up to 750 reservations per group.)'
          x-enumNames:
          - AllInOneGroup
          - IndividualGroups
          x-enumDescriptions:
          - All created reservations in the block are added to the same reservation group.
          - Reservations can be picked up in multiple groups, with up to 750 reservations per group.
          example: string
        IsActive:
          type: boolean
          description: Whether the `Availability Block` is still active.
          example: true
        QuoteId:
          type: string
          description: Unique identifier of the Mews Events quote associated with the availability block.
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AvailabilityBlockNumber:
          minLength: 1
          type: string
          description: Unique number for a specific availability block within the Mews system.
          example: '1001'
        ReleaseStrategy:
          title: Release strategy
          allOf:
          - $ref: '#/components/schemas/ReleaseStrategyEnum'
          description: 'The strategy for automatic release of the availability block.


            FixedRelease (The availability block is released at a fixed time.)


            RollingRelease (Each availability adjustment is released at a fixed offset from its start.)


            None (The availability block is not automatically released.)'
          x-enumNames:
          - FixedRelease
          - RollingRelease
          - None
          x-enumDescriptions:
          - The availability block is released at a fixed time.
          - Each availability adjustment is released at a fixed offset from its start.
          - The availability block is not automatically released.
          example: string
        PurchaseOrderNumber:
          type: string
          description: Unique number of the purchase order. This number is propagated to any newly picked up `Reservation` within the block.
          nullable: true
          example: '1001'
        BusinessSegmentId:
          type: string
          description: Unique identifier of the associated `Business segment`.
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CanceledUtc:
          type: string
          description: Date and time of the block cancellation in UTC timezone in ISO 8601 format.
          format: date-time
          nullable: true
          example: '2026-06-02T14:30:00Z'
        CancellationReason:
          allOf:
          - $ref: '#/components/schemas/ServiceOrderCancellationReasonEnum'
          description: 'Cancellation reason of the availability block.


            Other


            ConfirmationMissed


            BookedElsewhere


            ForceMajeure


            GuestComplaint


            NoShow


            PriceTooHigh


            ServiceNotAvailable


            InputError


            InvalidPayment


            TravelAgency


            RequestedByGuest


            Update


            BookingAbandoned


            RequestedByBooker'
          nullable: true
          example: string
        CancellationReasonDetail:
          type: string
          description: Additional details of availability block cancellation.
          nullable: true
          example: string
      additionalProperties: false
      x-schema-id: AvailabilityBlock
    ReservationOldOrigin:
      title: Reservation origin (ver 2017-04-12)
      enum:
      - Distributor
      - ChannelManager
      - Import
      - Connector
      - Navigator
      - CommanderInPerson
      - CommanderChannel
      - CommanderPhone
      - CommanderEmail
      - CommanderWebsite
      - CommanderMessage
      - CommanderCallCenter
      - CommanderRoomingList
      type: string
      x-enumDescriptions:
      - From the Mews Booking Engine or Booking Engine API.
      - From a channel manager.
      - From an import process.
      - From the Mews Connector API.
      - From Mews Guest Services.
      - From Mews Operations, in person.
      - From Mews Operations, via channel.
      - From Mews Operations, via telephone.
      - From Mews Operations, via email.
      - From Mews Operations, via website.
      - From Mews Operations, via message person.
      - From Mews Operations, via call center.
      - From Mews Operations, via rooming list.
    AvailabilityBlock:
      title: AvailabilityBlock
      required:
      - EndUtc
      - Id
      - RateId
      - ServiceId
      - StartUtc
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ServiceId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        RateId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        StartUtc:
          minLength: 1
          type: string
          format: date-time
          example: '2026-06-02T14:30:00Z'
        EndUtc:
          minLength: 1
          type: string
          format: date-time
          example: '2026-06-02T14:30:00Z'
        Name:
          type: string
          nullable: true
          example: Example Name
      additionalProperties: false
      x-schema-id: AvailabilityBlock
    ServiceOrderStateOld:
      title: Service order state (ver 2017-04-12)
      enum:
      - Enquired
      - Confirmed
      - Started
      - Processed
      - Canceled
      - Optional
      - Requested
      type: string
    AvailabilityBlockParameters:
      title: AvailabilityBlockParameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - Extent
      - Limitation
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        Limitation:
          allOf:
          - $ref: '#/components/schemas/Limitation'
          description: Limitation on the quantity of data returned and optional Cursor for the starting point of data.
          example: string
        EnterpriseIds:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            type: string
            format: uuid
          description: Unique identifiers of the Enterprises. If not specified, the operation returns data for all enterprises within scope of the Access Token.
          nullable: true
        Extent:
          title: Availability block extent
          allOf:
          - $ref: '#/components/schemas/AvailabilityBlockExtent'
          description: Extent of data to be returned, e.g. it is possible to specify that related service orders (for example reservations) are returned.
          example: string
        ServiceIds:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            type: string
            format: uuid
          description: Unique identifiers of the `Services` to which `Availability blocks` are assigned.
          nullable: true
        AvailabilityBlockIds:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            type: string
            format: uuid
          description: Unique identifiers of the requested `Availability blocks`.
          nullable: true
        CreatedUtc:
          title: Time interval
          allOf:
          - $ref: '#/components/schemas/TimeFilterInterval'
          description: Interval in which the availability blocks were created.
          nullable: true
          x-max-interval-in-months: 3
          example: string
        UpdatedUtc:
          title: Time interval
          allOf:
          - $ref: '#/components/schemas/TimeFilterInterval'
          description: Interval in which the `Availability blocks` were updated.
          nullable: true
          x-max-interval-in-months: 3
          example: string
        CollidingUtc:
          title: Time interval
          allOf:
          - $ref: '#/components/schemas/TimeFilterInterval'
          description: Interval in which the `Availability blocks` are active.
          nullable: true
          x-max-interval-in-months: 3
          example: string
        ReleasedUtc:
          title: Time interval
          allOf:
          - $ref: '#/components/schemas/TimeFilterInterval'
          description: Interval in which the `Availability blocks`are released.
          nullable: true
          x-max-interval-in-months: 3
          example: string
        ExternalIdentifiers:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            type: string
          description: Identifiers of `Availability blocks` from external systems.
          nullable: true
        States:
          type: array
          items:
            $ref: '#/components/schemas/AvailabilityBlockStateEnum'
          description: States the availability blocks should be in.
          nullable: true
        ActivityStates:
          type: array
          items:
            $ref: '#/components/schemas/ActivityStates'
          description: Whether to return only active, only deleted or both records.
          nullable: true
      additionalProperties: false
      x-schema-id: AvailabilityBlockParameters
    ConnectorApiExceptionResult:
      title: ConnectorApiExceptionResult
      type: object
      properties:
        Message:
          type: string
          nullable: true
          example: string
        RequestId:
          type: string
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Details:
          nullable: true
          example: string
      additionalProperties: false
      x-schema-id: ConnectorApiExceptionResult
    AvailabilityBlockExtent:
      title: Availability block extent
      type: object
      properties:
        AvailabilityBlocks:
          type: boolean
          description: Whether the response should contain the general availability blocks.
          nullable: true
          example: true
        Adjustments:
          type: boolean
          description: Whether the response should contain individual availability adjustments related to availability blocks.
          nullable: true
          example: true
        ServiceOrders:
          type: boolean
          description: Whether the response should contain reservations related to availability blocks.
          nullable: true
          deprecated: true
          x-deprecatedMessage: Use [Get all reservations (ver 2023-06-06)](https://mews-systems.gitbook.io/connector-api/operations/reservations#get-all-reservations-ver-2023-06-06) instead.
          example: true
        Rates:
          type: boolean
          description: Whether the response should contain rates related to availability blocks.
          nullable: true
          deprecated: true
          x-deprecatedMessage: Use [Get all rates](https://mews-systems.gitbook.io/connector-api/operations/rates#get-all-rates) instead.
          example: true
      additionalProperties: false
      description: ''
      x-schema-id: AvailabilityBlockExtent
    RateForExtent:
      title: Rate for extent
      required:
      - GroupId
      - Id
      - IsActive
      - IsBaseRate
      - IsEnabled
      - IsPublic
      - Names
      - ServiceId
      - Type
      - UpdatedUtc
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the rate.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        GroupId:
          type: string
          description: Unique identifier of `Rate Group` where the rate belongs.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ServiceId:
          type: string
          description: Unique identifier of the `Service`.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        BaseRateId:
          type: string
          description: Unique identifier of the base `Rate`.
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        IsBaseRate:
          type: boolean
          description: Whether the rate is a base rate.
          example: true
        BusinessSegmentId:
          type: string
          description: Unique identifier of the `Business Segment`.
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        IsActive:
          type: boolean
          description: Whether the rate is still active.
          example: true
        IsEnabled:
          type: boolean
          description: Whether the rate is currently available to customers.
          example: true
        IsPublic:
          type: boolean
          description: Whether the rate is publicly available.
          example: true
        Type:
          title: Rate type
          allOf:
          - $ref: '#/components/schemas/RateTypeEnum'
          description: 'Type of the rate.


            Public


            Private


            AvailabilityBlock'
          x-enumNames:
          - Public
          - Private
          - AvailabilityBlock
          x-enumDescriptions:
          - ''
          - ''
          - ''
          example: string
        Name:
          type: string
          description: Name of the rate (in the default language).
          nullable: true
          deprecated: true
          x-deprecatedMessage: Use `Names` instead
          example: Example Name
        Names:
          title: Localized text
          type: object
          additionalProperties:
            type: string
          description: All translations of the name.
          x-schema-id: LocalizedStrings
        ShortName:
          type: string
          description: Short name of the rate (in the default language).
          nullable: true
          example: Example Name
        UpdatedUtc:
          minLength: 1
          type: string
          description: Interval in which the rates were updated.
          format: date-time
          example: '2026-06-02T14:30:00Z'
        ExternalNames:
          title: Localized text
          type: object
          additionalProperties:
            type: string
          description: All translations of the external name of the rate.
          nullable: true
          x-schema-id: LocalizedStrings
[...]
