openapi: 3.2.0
info:
  title: Mews Booking Engine API (Distributor) Account notes Reservations API
  version: v1
  description: The Mews Booking Engine API (historically the Distributor API, served from /api/distributor/v1) lets developers build guest-facing booking engines that create reservations directly in Mews. It exposes enterprise configuration, availability, pricing, products, vouchers, payment cards, and reservation group creation for front-end client consumption.
  x-generated-from: documentation
  x-source-url: https://api.mews.com/Swagger/distributor/swagger.json
  x-last-validated: '2026-06-02'
servers:
- url: https://api.mews.com
  description: Production
- url: https://api.mews-demo.com
  description: Demo / sandbox
security:
- MewsClientToken: []
  MewsAccessToken: []
tags:
- name: Reservations
paths:
  /api/distributor/v1/reservations/getPricing:
    post:
      tags:
      - Reservations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationPricingParameters'
            examples:
              ReservationsGetPricingRequestExample:
                summary: Default reservations_getPricing request
                x-microcks-default: true
                value:
                  Client: string
                  LanguageCode: string
                  CultureCode: string
                  FullAmounts: true
                  Session: string
                  HotelId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                  VoucherCode: string
                  StartUtc: '2026-06-02T14:30:00Z'
                  EndUtc: '2026-06-02T14:30:00Z'
                  RoomCategoryId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                  AvailabilityBlockId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                  RateIds:
                  - 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                  ProductIds:
                  - 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                  Occupancies:
                  - AdultCount: 1
                    ChildCount: 1
                    OccupancyData:
                    - {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationPricing'
              examples:
                ReservationsGetPricing200Example:
                  summary: Default reservations_getPricing 200 response
                  x-microcks-default: true
                  value:
                    OccupancyPrices:
                    - AdultCount: 1
                      ChildCount: 1
                      OccupancyData:
                      - {}
                      Pricing:
                      - {}
      operationId: reservations_getPricing
      summary: Mews Get Pricing
      description: Get Pricing via the Mews Booking Engine (Distributor) API reservations resource.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/distributor/v1/reservations/price:
    post:
      tags:
      - Reservations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationPriceParameters'
            examples:
              ReservationsPriceRequestExample:
                summary: Default reservations_price request
                x-microcks-default: true
                value:
                  Client: string
                  LanguageCode: string
                  CultureCode: string
                  FullAmounts: true
                  Session: string
                  ConfigurationId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                  Reservations:
                  - Id: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Identifier: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Number: '1001'
                    StartUtc: '2026-06-02T14:30:00Z'
                    EndUtc: '2026-06-02T14:30:00Z'
                    VoucherCode: string
                    AvailabilityBlockId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    RoomCategoryId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    RateId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Rate: string
                    ProductIds:
                    - 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    AdultCount: 1
                    ChildCount: 1
                    OccupancyData:
                    - {}
                    Notes: string
                    Cost: string
                    Amount: string
                  CurrencyCode: EUR
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationPriceResult'
              examples:
                ReservationsPrice200Example:
                  summary: Default reservations_price 200 response
                  x-microcks-default: true
                  value:
                    ReservationPrice:
                    - Identifier: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                      TotalAmount: string
                      AmountToChargeOnConfirmation: string
                      ProductOrderPrices:
                      - {}
                      Settlements:
                      - {}
      operationId: reservations_price
      summary: Mews Price
      description: Price via the Mews Booking Engine (Distributor) API reservations resource.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/reservations/getChannelManagerDetails:
    post:
      tags:
      - Reservations
      summary: Mews Get Reservation Channel Manager Details
      description: Returns channel manager-related details for the specified reservations. Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property/).
      operationId: reservations_getChannelManagerDetails
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationsChannelManagerDetailsFilterParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              ReservationIds:
              - 9b59b50d-bd32-4ce5-add8-09ea0e1300e7
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationsChannelManagerDetailsResult'
              example:
                ChannelManagerDetails:
                - ReservationId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  RequestedRateCode: XyZ123AbC789
                  ChannelManagerName: HotelConnect
                  ChannelNumber: HC1234
                  ChannelManagerGroupNumber: 9E5F7BC3B6F0102
                  ChannelManagerNumber: '1'
                  CreatedUtc: '2025-03-10T15:30:00Z'
                - ReservationId: 9b59b50d-bd32-4ce5-add8-09ea0e1300e7
                  RequestedRateCode: LmN456OpQ012
                  ChannelManagerName: GlobalRes
                  ChannelNumber: GR5678
                  ChannelManagerGroupNumber: 461190401CD25FE
                  ChannelManagerNumber: '1'
                  CreatedUtc: '2025-03-11T09:45:00Z'
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsGetChannelManagerDetails400Example:
                  summary: Default reservations_getChannelManagerDetails 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsGetChannelManagerDetails401Example:
                  summary: Default reservations_getChannelManagerDetails 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsGetChannelManagerDetails403Example:
                  summary: Default reservations_getChannelManagerDetails 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsGetChannelManagerDetails408Example:
                  summary: Default reservations_getChannelManagerDetails 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsGetChannelManagerDetails204Example:
                  summary: Default reservations_getChannelManagerDetails 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsGetChannelManagerDetails429Example:
                  summary: Default reservations_getChannelManagerDetails 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsGetChannelManagerDetails500Example:
                  summary: Default reservations_getChannelManagerDetails 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-restricted: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/reservations/getAll/2023-06-06:
    post:
      tags:
      - Reservations
      summary: Mews Get All Reservations (ver 2023-06-06)
      description: 'Returns all reservations within scope of the Access Token, filtered according to the specified parameters. This operation uses [Pagination](https://mews-systems.gitbook.io/connector-api/guidelines/pagination) and supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).

        '
      operationId: reservations_getAll_2023-06-06
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationServiceOrderFilterParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              ReservationIds:
              - 0f515589-99b4-423d-b83a-b237009f0509
              - 9b59b50d-bd32-4ce5-add8-09ea0e1300e7
              ServiceIds:
              - bd26d8db-86da-4f96-9efc-e5a4654a4a94
              - 8c1bd738-a505-4b29-aa71-9ecc2982b843
              ReservationGroupIds:
              - 94843f6f-3be3-481b-a1c7-06458774c3df
              AccountIds:
              - fadd5bb6-b428-45d5-94f8-fd0d89fece6d
              PartnerCompanyIds:
              - c021013e-4930-4592-8e32-91b0b1fc9663
              TravelAgencyIds:
              - a793d381-65a2-4fa6-9514-00c4c5bfe607
              Numbers:
              - '50'
              - '51'
              - '52'
              - '53'
              AssignedResourceIds:
              - 5ee074b1-6c86-48e8-915f-c7aa4702086f
              - c32386aa-1cd2-414a-a823-489325842fbe
              AvailabilityBlockIds:
              - 5ee074b1-6c86-48e8-915f-c7aa4702086f
              - c32386aa-1cd2-414a-a823-489325842fbe
              CreatedUtc:
                StartUtc: '2023-04-01T00:00:00Z'
                EndUtc: '2023-05-05T00:00:00Z'
              UpdatedUtc:
                StartUtc: '2023-04-01T00:00:00Z'
                EndUtc: '2023-05-05T00:00:00Z'
              CollidingUtc:
                StartUtc: '2023-04-01T00:00:00Z'
                EndUtc: '2023-05-05T00:00:00Z'
              ScheduledStartUtc:
                StartUtc: '2023-04-01T00:00:00Z'
                EndUtc: '2023-05-05T00:00:00Z'
              ScheduledEndUtc:
                StartUtc: '2023-04-01T00:00:00Z'
                EndUtc: '2023-05-05T00:00:00Z'
              States:
              - Inquired
              - Confirmed
              EnterpriseIds:
              - 3fa85f64-5717-4562-b3fc-2c963f66afa6
              - 4d0201db-36f5-428b-8d11-4f0a65e960cc
              Limitation:
                Count: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationServiceOrderResult'
              example:
                Reservations:
                - Id: 0f515589-99b4-423d-b83a-b237009f0509
                  ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                  AccountId: fadd5bb6-b428-45d5-94f8-fd0d89fece6d
                  AccountType: Customer
                  CreatorProfileId: 3cd637ef-4728-47f9-8fb1-afb900c9cdcf
                  UpdaterProfileId: 3cd637ef-4728-47f9-8fb1-afb900c9cdcf
                  BookerId: ebd507c5-6bfd-4ca9-96aa-ffed6fa94f72
                  Number: '52'
                  State: Confirmed
                  Origin: Connector
                  CommanderOrigin: null
                  OriginDetails: null
                  CreatedUtc: '2023-03-23T16:00:00Z'
                  UpdatedUtc: '2023-04-22T17:00:00Z'
                  CancelledUtc: null
                  VoucherId: null
                  BusinessSegmentId: null
                  Options:
                    OwnerCheckedIn: true
                    AllCompanionsCheckedIn: true
                    AnyCompanionCheckedIn: true
                    ConnectorCheckIn: true
                  RateId: ed4b660b-19d0-434b-9360-a4de2ea42eda
                  CreditCardId: null
                  GroupId: 94843f6f-3be3-481b-a1c7-06458774c3df
                  RequestedResourceCategoryId: 773d5e42-de1e-43a0-9ce6-f940faf2303f
                  AssignedResourceId: 20e00c32-d561-4008-8609-82d8aa525714
                  AvailabilityBlockId: 5ee074b1-6c86-48e8-915f-c7aa4702086f
                  PartnerCompanyId: c021013e-4930-4592-8e32-91b0b1fc9663
                  TravelAgencyId: a793d381-65a2-4fa6-9514-00c4c5bfe607
                  AssignedResourceLocked: false
                  ChannelNumber: TW48ZP
                  ChannelManagerNumber: ''
                  CancellationReason: null
                  ReleasedUtc: null
                  StartUtc: '2023-04-23T14:00:00Z'
                  EndUtc: '2023-04-25T12:00:00Z'
                  ScheduledStartUtc: '2023-04-23T14:00:00Z'
                  ActualStartUtc: null
                  ScheduledEndUtc: '2023-04-25T12:00:00Z'
                  ActualEndUtc: null
                  Purpose: Leisure
                  QrCodeData: '{"Reservations":[{"Id":"0f515589-99b4-423d-b83a-b237009f0509","GroupId":"94843f6f-3be3-481b-a1c7-06458774c3df","CustomerId":"fadd5bb6-b428-45d5-94f8-fd0d89fece6d"}]}'
                  PersonCounts:
                  - AgeCategoryId: 1f67644f-052d-4863-acdf-ae1600c60ca0
                    Count: 2
                  - AgeCategoryId: ab58c939-be30-4a60-8f75-ae1600c60c9f
                    Count: 2
                Cursor: 0f515589-99b4-423d-b83a-b237009f0509
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsGetAll20230606400Example:
                  summary: Default reservations_getAll_2023-06-06 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsGetAll20230606401Example:
                  summary: Default reservations_getAll_2023-06-06 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsGetAll20230606403Example:
                  summary: Default reservations_getAll_2023-06-06 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsGetAll20230606408Example:
                  summary: Default reservations_getAll_2023-06-06 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsGetAll20230606204Example:
                  summary: Default reservations_getAll_2023-06-06 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsGetAll20230606429Example:
                  summary: Default reservations_getAll_2023-06-06 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsGetAll20230606500Example:
                  summary: Default reservations_getAll_2023-06-06 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/reservations/getAll:
    post:
      tags:
      - Reservations
      summary: Mews Get All Reservations (ver 2017-04-12)
      description: Use [Get all reservations (ver 2023-06-06)](https://mews-systems.gitbook.io/connector-api/operations/reservations#get-all-reservations-ver-2023-06-06).
      operationId: reservations_getAll
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationFilterParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              StartUtc: '2016-01-01T00:00:00Z'
              EndUtc: '2016-01-07T00:00:00Z'
              ServiceIds:
              - bd26d8db-86da-4f96-9efc-e5a4654a4a94
              ReservationIds:
              - db6cad34-9a91-448b-bea1-abbe01240d9c
              CustomerIds:
              - 8e1d0ca6-1dde-4be0-8566-aafc01866110
              RateIds:
              - ed4b660b-19d0-434b-9360-a4de2ea42eda
              ChannelNumbers:
              - TW48ZP
              States:
              - Started
              Extent:
                Reservations: true
                ReservationGroups: true
                Customers: true
              Limitation:
                Cursor: e7f26210-10e7-462e-9da8-ae8300be8ab7
                Count: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationResult'
              example:
                BusinessSegments: null
                Customers:
                - Address: null
                  BirthDate: null
                  BirthPlace: null
                  CategoryId: null
                  Classifications: []
                  CreatedUtc: '2016-01-01T00:00:00Z'
                  Email: null
                  FirstName: John
                  Sex: null
                  Id: 35d4b117-4e60-44a3-9580-c582117eff98
                  IdentityCard: null
                  LanguageCode: null
                  LastName: Smith
                  LoyaltyCode: null
                  NationalityCode: US
                  Notes: ''
                  Number: '1'
                  Passport: null
                  Phone: 00420123456789
                  SecondLastName: null
                  TaxIdentificationNumber: null
                  Title: null
                  UpdatedUtc: '2016-01-01T00:00:00Z'
                  Visa: null
                OrderItems: null
                Products: null
                RateGroups: null
                Rates: null
                ReservationGroups:
                - Id: c704dff3-7811-4af7-a3a0-7b2b0635ac59
                  Name: 13-12-Smith-F712
                Reservations:
                - Id: bfee2c44-1f84-4326-a862-5289598f6e2d
                  ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                  GroupId: 94843f6f-3be3-481b-a1c7-06458774c3df
                  Number: '52'
                  ChannelNumber: TW48ZP
                  ChannelManager: ''
                  ChannelManagerGroupNumber: null
                  ChannelManagerNumber: null
                  State: Processed
                  Origin: Connector
                  OriginDetail: null
                  Purpose: Student
                  CreatedUtc: '2016-02-20T14:58:02Z'
                  UpdatedUtc: '2016-02-20T14:58:02Z'
                  CancelledUtc: null
                  StartUtc: '2016-02-20T13:00:00Z'
                  EndUtc: '2016-02-22T11:00:00Z'
                  ReleasedUtc: null
                  RequestedCategoryId: 773d5e42-de1e-43a0-9ce6-f940faf2303f
                  AssignedResourceId: 20e00c32-d561-4008-8609-82d8aa525714
                  AssignedResourceLocked: false
                  BusinessSegmentId: null
                  CompanyId: null
                  TravelAgencyId: null
                  AvailabilityBlockId: null
                  RateId: ed4b660b-19d0-434b-9360-a4de2ea42eda
                  VoucherId: null
                  CustomerId: 35d4b117-4e60-44a3-9580-c582117eff98
                  PersonCounts:
                  - AgeCategoryId: 1f67644f-052d-4863-acdf-ae1600c60ca0
                    Count: 2
                  - AgeCategoryId: ab58c939-be30-4a60-8f75-ae1600c60c9f
                    Count: 2
                Services: null
                Resources: null
                ResourceCategories: null
                ResourceCategoryAssignments: null
                Notes: null
                Cursor: 8d02142f-31cf-4115-90bf-ae5200c7a1ba
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsGetAll400Example:
                  summary: Default reservations_getAll 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsGetAll401Example:
                  summary: Default reservations_getAll 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsGetAll403Example:
                  summary: Default reservations_getAll 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsGetAll408Example:
                  summary: Default reservations_getAll 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsGetAll204Example:
                  summary: Default reservations_getAll 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsGetAll429Example:
                  summary: Default reservations_getAll 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsGetAll500Example:
                  summary: Default reservations_getAll 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      deprecated: true
      x-deprecatedMessage: Use [Get all reservations (ver 2023-06-06)](https://mews-systems.gitbook.io/connector-api/operations/reservations#get-all-reservations-ver-2023-06-06).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/reservations/add:
    post:
      tags:
      - Reservations
      summary: Mews Add Reservations
      description: Adds the specified reservations as a single group. If `GroupId` is specified, adds the reservations to an already existing group. Note that all reservations linked to an availability block must belong to the same reservation group.
      operationId: reservations_add
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationAdditionParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
              GroupId: null
              GroupName: null
              SendConfirmationEmail: true
              Reservations:
              - Identifier: '1234'
                State: Confirmed
                StartUtc: '2021-01-01T14:00:00Z'
                EndUtc: '2021-01-03T10:00:00Z'
                ReleasedUtc: null
                CustomerId: e465c031-fd99-4546-8c70-abcf0029c249
                BookerId: e465c031-fd99-4546-8c70-abcf0029c249
                RequestedCategoryId: 0a5da171-3663-4496-a61e-35ecbd78b9b1
                RateId: a39a59fa-3a08-4822-bdd4-ab0b00e3d21f
                TravelAgencyId: null
                CompanyId: null
                Notes: Test reservation
                TimeUnitAmount: null
                PersonCounts:
                - AgeCategoryId: 1f67644f-052d-4863-acdf-ae1600c60ca0
                  Count: 2
                - AgeCategoryId: ab58c939-be30-4a60-8f75-ae1600c60c9f
                  Count: 2
                TimeUnitPrices:
                - Index: 0
                  Amount:
                    Currency: GBP
                    GrossValue: 20
                    TaxCodes:
                    - UK-S
                - Index: 1
                  Amount:
                    Currency: GBP
                    GrossValue: 30
                    TaxCodes:
                    - UK-S
                ProductOrders:
                - ProductId: 2e9eb3fc-8a77-466a-9cd9-abcf002a2a01
                  StartUtc: '2021-01-02T00:00:00Z'
                  EndUtc: '2021-01-03T00:00:00Z'
                AvailabilityBlockId: null
                VoucherCode: SpringSale2021
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationAdditionResult'
              example:
                Reservations:
                - Identifier: '1234'
                  Reservation:
                    Id: bfee2c44-1f84-4326-a862-5289598f6e2d
                    ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                    GroupId: 94843f6f-3be3-481b-a1c7-06458774c3df
                    Number: '52'
                    ChannelManager: ''
                    ChannelManagerGroupNumber: null
                    ChannelManagerNumber: null
                    ChannelNumber: null
                    State: Processed
                    Origin: Connector
                    CreatedUtc: '2016-02-20T14:58:02Z'
                    UpdatedUtc: '2016-02-20T14:58:02Z'
                    CancelledUtc: null
                    StartUtc: '2016-02-20T13:00:00Z'
                    EndUtc: '2016-02-22T11:00:00Z'
                    ReleasedUtc: null
                    RequestedCategoryId: 773d5e42-de1e-43a0-9ce6-f940faf2303f
                    AssignedResourceId: 20e00c32-d561-4008-8609-82d8aa525714
                    AssignedResourceLocked: false
                    BusinessSegmentId: null
                    CompanyId: null
                    TravelAgencyId: null
                    AvailabilityBlockId: null
                    RateId: ed4b660b-19d0-434b-9360-a4de2ea42eda
                    VoucherId: null
                    CustomerId: 35d4b117-4e60-44a3-9580-c582117eff98
                    CompanionIds:
                    - b22bf671-ccdf-40aa-a7e6-b20a4f91d79a
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsAdd400Example:
                  summary: Default reservations_add 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsAdd401Example:
                  summary: Default reservations_add 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsAdd403Example:
                  summary: Default reservations_add 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsAdd408Example:
                  summary: Default reservations_add 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsAdd204Example:
                  summary: Default reservations_add 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsAdd429Example:
                  summary: Default reservations_add 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsAdd500Example:
                  summary: Default reservations_add 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/reservations/update:
    post:
      tags:
      - Reservations
      summary: Mews Update Reservations
      description: Updates information about the specified reservations. Note that if any of the fields are sent as `null`, it won't clear the field in Mews. If the `Value` within the object is sent as `null`, the field will be cleared in Mews. Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).
      operationId: reservations_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultipleReservationUpdateParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              ReservationUpdates:
              - ReservationId: 0f515589-99b4-423d-b83a-b237009f0509
                StartUtc:
                  Value: '2019-10-01T14:00:00Z'
                EndUtc:
                  Value: '2019-10-03T10:00:00Z'
              Reprice: true
              ApplyCancellationFee: true
              Reason: Testing
              ReservationId: 0f515589-99b4-423d-b83a-b237009f0509
              EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationResult'
              example:
                Reservations:
                - Id: 0f515589-99b4-423d-b83a-b237009f0509
                  ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                  GroupId: 94843f6f-3be3-481b-a1c7-06458774c3df
                  Number: '50'
                  ChannelNumber: TW48ZP
                  ChannelManagerNumber: ''
                  ChannelManagerGroupNumber: null
                  ChannelManager: null
                  State: Confirmed
                  Origin: Connector
                  OriginDetails: null
                  Purpose: Leisure
                  CreatedUtc: '2019-09-23T16:00:00Z'
                  UpdatedUtc: '2019-09-28T17:00:00Z'
                  CancelledUtc: null
                  StartUtc: '2019-10-01T14:00:00Z'
                  EndUtc: '2019-10-03T10:00:00Z'
                  ReleasedUtc: null
                  RequestedCategoryId: 773d5e42-de1e-43a0-9ce6-f940faf2303f
                  AssignedSpaceId: null
                  AssignedSpaceLocked: false
                  AssignedResourceId: 20e00c32-d561-4008-8609-82d8aa525714
                  AssignedResourceLocked: false
                  BusinessSegmentId: null
                  CompanyId: null
                  TravelAgencyId: null
                  AvailabilityBlockId: null
                  RateId: ed4b660b-19d0-434b-9360-a4de2ea42eda
                  VoucherId: null
                  CreditCardId: null
                  CancellationReason: null
                  AdultCount: 0
                  ChildCount: 0
                  PersonCounts:
                  - AgeCategoryId: 1f67644f-052d-4863-acdf-ae1600c60ca0
                    Count: 2
                  OwnerId: fadd5bb6-b428-45d5-94f8-fd0d89fece6d
                  CustomerId: fadd5bb6-b428-45d5-94f8-fd0d89fece6d
                  BookerId: ebd507c5-6bfd-4ca9-96aa-ffed6fa94f72
                  CompanionIds: []
                  ChannelManagerId: null
                  Options:
                    OwnerCheckedIn: false
                    AllCompanionsCheckedIn: false
                    AnyCompanionCheckedIn: false
                ReservationGroups: null
                Customers: null
                Services: null
                Products: null
                Resources: null
                ResourceCategories: null
                ResourceCategoryAssignments: null
                BusinessSegments: null
                Rates: null
                RateGroups: null
                Items: null
                OrderItems: null
                Notes: null
                QrCodeData: null
                Companies: null
                ResourceAccessTokens: null
                Cursor: null
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsUpdate400Example:
                  summary: Default reservations_update 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsUpdate401Example:
                  summary: Default reservations_update 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsUpdate403Example:
                  summary: Default reservations_update 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsUpdate408Example:
                  summary: Default reservations_update 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsUpdate204Example:
                  summary: Default reservations_update 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsUpdate429Example:
                  summary: Default reservations_update 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsUpdate500Example:
                  summary: Default reservations_update 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/reservations/confirm:
    post:
      tags:
      - Reservations
      summary: Mews Confirm Reservation
      description: Marks all specified reservations as `Confirmed`. Succeeds only if all confirmation conditions are met (the reservations have the `Optional` state). Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property/).
      operationId: reservations_confirm
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmReservationParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              ReservationIds:
              - 9af9d8b0-43ae-414d-80a8-abc1012a2a59
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleReservationResult'
              example:
                ReservationIds:
                - 5ca70705-cbb7-48c4-8cc4-abb900aa278c
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsConfirm400Example:
                  summary: Default reservations_confirm 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsConfirm401Example:
                  summary: Default reservations_confirm 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsConfirm403Example:
                  summary: Default reservations_confirm 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsConfirm408Example:
                  summary: Default reservations_confirm 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsConfirm204Example:
                  summary: Default reservations_confirm 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsConfirm429Example:
                  summary: Default reservations_confirm 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsConfirm500Example:
                  summary: Default reservations_confirm 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/reservations/start:
    post:
      tags:
      - Reservations
      summary: Mews Start Reservation
      description: Marks a reservation as `Started` (= checked in). Succeeds only if all starting conditions are met (the reservation has the `Confirmed` state, does not have start set to future, has an inspected room assigned etc). Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).
      operationId: reservations_start
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationStartParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              ReservationId: e6ea708c-2a2a-412f-a152-b6c76ffad49b
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
              examples:
                ReservationsStart200Example:
                  summary: Default reservations_start 200 response
                  x-microcks-default: true
                  value: {}
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsStart400Example:
                  summary: Default reservations_start 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsStart401Example:
                  summary: Default reservations_start 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsStart403Example:
                  summary: Default reservations_start 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsStart408Example:
                  summary: Default reservations_start 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsStart204Example:
                  summary: Default reservations_start 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsStart429Example:
                  summary: Default reservations_start 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsStart500Example:
                  summary: Default reservations_start 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/reservations/process:
    post:
      tags:
      - Reservations
      summary: Mews Process Reservation
      description: 'Marks a reservation as `Processed` (= checked out). Succeeds only if all processing conditions are met (the reservation has the `Started` state, balance of all reservation members is zero etc). Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).

        ### Conditions

        - Reservation has already been checked in.

        - Reservation isn''t alredy in `Processed` state.

        - Reservation can''t be checked out sooner than last day of planned stay.

        - The companion profiles of reservation are complete (details can be found in error message).

        - If `AllowOpenBalance` set to `false`, all bills have to be closable (items on bills are either paid by current customer, or set to be paid by other customer). With `CloseBills` option set to `true` they can be automatically closed, when set to `false` they must be closed manually.

        - If `AllowOpenBalance` set to `true`, `Notes` must be filled in.'
      operationId: reservations_process
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationProcessingParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              ReservationId: e6ea708c-2a2a-412f-a152-b6c76ffad49b
              CloseBills: false
              AllowOpenBalance: false
              Notes: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
              examples:
                ReservationsProcess200Example:
                  summary: Default reservations_process 200 response
                  x-microcks-default: true
                  value: {}
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsProcess400Example:
                  summary: Default reservations_process 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsProcess401Example:
                  summary: Default reservations_process 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsProcess403Example:
                  summary: Default reservations_process 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsProcess408Example:
                  summary: Default reservations_process 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsProcess204Example:
                  summary: Default reservations_process 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsProcess429Example:
                  summary: Default reservations_process 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsProcess500Example:
                  summary: Default reservations_process 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/reservations/cancel:
    post:
      tags:
      - Reservations
      summary: Mews Cancel Reservation
      description: Cancels all reservation with specified identifiers. Succeeds only if the reservations are cancellable. Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).
      operationId: reservations_cancel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationCancellationParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              ReservationIds:
              - 5ca70705-cbb7-48c4-8cc4-abb900aa278c
              PostCancellationFee: true
              Notes: Cancellation through Connector API
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipleReservationResult'
              example:
                ReservationIds:
                - 5ca70705-cbb7-48c4-8cc4-abb900aa278c
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsCancel400Example:
                  summary: Default reservations_cancel 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsCancel401Example:
                  summary: Default reservations_cancel 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsCancel403Example:
                  summary: Default reservations_cancel 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsCancel408Example:
                  summary: Default reservations_cancel 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsCancel204Example:
                  summary: Default reservations_cancel 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsCancel429Example:
                  summary: Default reservations_cancel 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsCancel500Example:
                  summary: Default reservations_cancel 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/reservations/updateCustomer:
    post:
      tags:
      - Reservations
      summary: Mews Update Reservation Customer
      description: Updates customer of a reservation. Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).
      operationId: reservations_updateCustomer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationsUpdateCustomerParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              ReservationId: 209d984d-4985-4efb-96ec-f6591fc597bf
              CustomerId: 35d4b117-4e60-44a3-9580-c582117eff98
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
              examples:
                ReservationsUpdateCustomer200Example:
                  summary: Default reservations_updateCustomer 200 response
                  x-microcks-default: true
                  value: {}
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsUpdateCustomer400Example:
                  summary: Default reservations_updateCustomer 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsUpdateCustomer401Example:
                  summary: Default reservations_updateCustomer 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsUpdateCustomer403Example:
                  summary: Default reservations_updateCustomer 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsUpdateCustomer408Example:
                  summary: Default reservations_updateCustomer 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsUpdateCustomer204Example:
                  summary: Default reservations_updateCustomer 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsUpdateCustomer429Example:
                  summary: Default reservations_updateCustomer 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsUpdateCustomer500Example:
                  summary: Default reservations_updateCustomer 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/reservations/updateInterval:
    post:
      tags:
      - Reservations
      summary: Mews Update Reservation Interval
      description: Updates reservation interval (start, end or both). Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).
      operationId: reservations_updateInterval
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationUpdateIntervalParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              ReservationId: 209d984d-4985-4efb-96ec-f6591fc597bf
              StartUtc: '2017-08-12T15:00:00Z'
              EndUtc: '2017-08-15T12:00:00Z'
              ChargeCancellationFee: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
              examples:
                ReservationsUpdateInterval200Example:
                  summary: Default reservations_updateInterval 200 response
                  x-microcks-default: true
                  value: {}
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsUpdateInterval400Example:
                  summary: Default reservations_updateInterval 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsUpdateInterval401Example:
                  summary: Default reservations_updateInterval 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsUpdateInterval403Example:
                  summary: Default reservations_updateInterval 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsUpdateInterval408Example:
                  summary: Default reservations_updateInterval 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsUpdateInterval204Example:
                  summary: Default reservations_updateInterval 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsUpdateInterval429Example:
                  summary: Default reservations_updateInterval 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsUpdateInterval500Example:
                  summary: Default reservations_updateInterval 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/reservations/addCompanion:
    post:
      tags:
      - Reservations
      summary: Mews Add Reservation Companion
      description: Adds a customer as a companion to the reservation. Succeeds only if there is space for the new companion (count of current companions is less than `AdultCount + ChildCount`). Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property/).
      operationId: reservations_addCompanion
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanionshipAddParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              ReservationId: e6ea708c-2a2a-412f-a152-b6c76ffad49b
              CustomerId: 35d4b117-4e60-44a3-9580-c582117eff98
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanionshipAddResult'
              examples:
                ReservationsAddCompanion200Example:
                  summary: Default reservations_addCompanion 200 response
                  x-microcks-default: true
                  value:
                    CompanionshipId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsAddCompanion400Example:
                  summary: Default reservations_addCompanion 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsAddCompanion401Example:
                  summary: Default reservations_addCompanion 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsAddCompanion403Example:
                  summary: Default reservations_addCompanion 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsAddCompanion408Example:
                  summary: Default reservations_addCompanion 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsAddCompanion204Example:
                  summary: Default reservations_addCompanion 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ReservationsAddCompanion429Example:
                  summary: Default reservations_addCompanion 429 response
                  x-microcks-default: true
                  value:
[...]
