openapi: 3.2.0
info:
  title: Mews Booking Engine API (Distributor) Account notes Loyalty memberships API
  version: v1
  description: The Mews Booking Engine API (historically the Distributor API, served from /api/distributor/v1) lets developers build guest-facing booking engines that create reservations directly in Mews. It exposes enterprise configuration, availability, pricing, products, vouchers, payment cards, and reservation group creation for front-end client consumption.
  x-generated-from: documentation
  x-source-url: https://api.mews.com/Swagger/distributor/swagger.json
  x-last-validated: '2026-06-02'
servers:
- url: https://api.mews.com
  description: Production
- url: https://api.mews-demo.com
  description: Demo / sandbox
security:
- MewsClientToken: []
  MewsAccessToken: []
tags:
- name: Loyalty memberships
paths:
  /api/connector/v1/loyaltyMemberships/getAll:
    post:
      tags:
      - Loyalty memberships
      summary: Mews Get All Loyalty Memberships
      description: Returns all loyalty memberships of the enterprise, optionally filtered by specific loyalty membership identifiers, activity states, or other filter parameters. Note this operation uses [Pagination](https://mews-systems.gitbook.io/connector-api/guidelines/pagination/) and supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property/).
      operationId: loyaltyMemberships_getAll
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoyaltyMembershipFilterParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              ChainIds:
              - 3fa85f64-5717-4562-b3fc-2c963f66afa6
              - 5fcd1933-22f2-40b9-84da-7db04cbecec2
              CreatedUtc:
                StartUtc: '2022-10-15T00:00:00Z'
                EndUtc: '2022-10-20T00:00:00Z'
              UpdatedUtc:
                StartUtc: '2022-10-15T00:00:00Z'
                EndUtc: '2022-10-20T00:00:00Z'
              LoyaltyMembershipIds:
              - 905a4489-0960-4ac9-96ec-793f47365c92
              - ac48674e-58a2-43d6-a02b-9ead0b213b17
              AccountIds:
              - fadd5bb6-b428-45d5-94f8-fd0d89fece6d
              - bccdafd1-3e44-439d-861f-341526b597a9
              LoyaltyProgramIds:
              - f701dafb-5765-4cf4-b1dd-1f602a740ae5
              - da34b396-41f7-47f6-8847-aecf00a3f19e
              MembershipStates:
              - Pending
              - Enrolled
              ActivityStates:
              - Active
              MembershipNumbers:
              - MBR-2025-AX49ZT73
              ProviderMembershipIds:
              - PRV-MBR-9842XKLT
              Limitation:
                Count: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyMembershipResult'
              example:
                LoyaltyMemberships:
                - Id: 905a4489-0960-4ac9-96ec-793f47365c92
                  ChainId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  AccountId: fadd5bb6-b428-45d5-94f8-fd0d89fece6d
                  LoyaltyProgramId: f701dafb-5765-4cf4-b1dd-1f602a740ae5
                  State: New
                  IsPrimary: true
                  ProviderMembershipId: PRV-MBR-9842XKLT
                  Code: MBR-2025-AX49ZT73
                  MembershipNumber: MBR-2025-AX49ZT73
                  Points: 22
                  ExpirationDate: '2029-11-04T13:00:00Z'
                  Url: https://rewards.example.com/member/PRV-MBR-9842XKLT
                  LoyaltyTierId: 69eedfd2-6f25-42fc-b3c8-39df70f85e37
                  CreatorProfile: null
                  UpdaterProfile: null
                Cursor: 905a4489-0960-4ac9-96ec-793f47365c92
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                LoyaltyMembershipsGetAll400Example:
                  summary: Default loyaltyMemberships_getAll 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                LoyaltyMembershipsGetAll401Example:
                  summary: Default loyaltyMemberships_getAll 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                LoyaltyMembershipsGetAll403Example:
                  summary: Default loyaltyMemberships_getAll 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                LoyaltyMembershipsGetAll408Example:
                  summary: Default loyaltyMemberships_getAll 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                LoyaltyMembershipsGetAll204Example:
                  summary: Default loyaltyMemberships_getAll 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                LoyaltyMembershipsGetAll429Example:
                  summary: Default loyaltyMemberships_getAll 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                LoyaltyMembershipsGetAll500Example:
                  summary: Default loyaltyMemberships_getAll 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/loyaltyMemberships/add:
    post:
      tags:
      - Loyalty memberships
      summary: Mews Add Loyalty Memberships
      description: Adds loyalty memberships to the enterprise. Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property/).
      operationId: loyaltyMemberships_add
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultipleLoyaltyMembershipAddParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              LoyaltyMemberships:
              - AccountId: fadd5bb6-b428-45d5-94f8-fd0d89fece6d
                LoyaltyProgramId: f701dafb-5765-4cf4-b1dd-1f602a740ae5
                IsPrimary: true
                State: Enrolled
                MembershipNumber: MBR-2025-AX49ZT73
                Points: 22
                ExpirationDate: '2029-12-24T00:00:00Z'
                Url: https://rewards.example.com/member/PRV-MBR-9842XKLT
                LoyaltyTierId: 69eedfd2-6f25-42fc-b3c8-39df70f85e37
              ChainId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyMembershipResult'
              example:
                LoyaltyMemberships:
                - Id: 905a4489-0960-4ac9-96ec-793f47365c92
                  ChainId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  AccountId: fadd5bb6-b428-45d5-94f8-fd0d89fece6d
                  LoyaltyProgramId: f701dafb-5765-4cf4-b1dd-1f602a740ae5
                  State: New
                  IsPrimary: true
                  ProviderMembershipId: PRV-MBR-9842XKLT
                  Code: MBR-2025-AX49ZT73
                  MembershipNumber: MBR-2025-AX49ZT73
                  Points: 22
                  ExpirationDate: '2029-11-04T13:00:00Z'
                  Url: https://rewards.example.com/member/PRV-MBR-9842XKLT
                  LoyaltyTierId: 69eedfd2-6f25-42fc-b3c8-39df70f85e37
                  CreatorProfile: null
                  UpdaterProfile: null
                Cursor: 905a4489-0960-4ac9-96ec-793f47365c92
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                LoyaltyMembershipsAdd400Example:
                  summary: Default loyaltyMemberships_add 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                LoyaltyMembershipsAdd401Example:
                  summary: Default loyaltyMemberships_add 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                LoyaltyMembershipsAdd403Example:
                  summary: Default loyaltyMemberships_add 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                LoyaltyMembershipsAdd408Example:
                  summary: Default loyaltyMemberships_add 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                LoyaltyMembershipsAdd204Example:
                  summary: Default loyaltyMemberships_add 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                LoyaltyMembershipsAdd429Example:
                  summary: Default loyaltyMemberships_add 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                LoyaltyMembershipsAdd500Example:
                  summary: Default loyaltyMemberships_add 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/loyaltyMemberships/update:
    post:
      tags:
      - Loyalty memberships
      summary: Mews Update Loyalty Memberships
      description: Updates information about the specified loyalty memberships. Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property/).
      operationId: loyaltyMemberships_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultipleLoyaltyMembershipUpdateParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              LoyaltyMembershipUpdates:
              - LoyaltyMembershipId: 905a4489-0960-4ac9-96ec-793f47365c92
                LoyaltyProgramId:
                  Value: f701dafb-5765-4cf4-b1dd-1f602a740ae5
                State:
                  Value: Canceled
                IsPrimary:
                  Value: true
                MembershipNumber:
                  Value: MBR-2025-AX49ZT73
                Points:
                  Value: 42
                ExpirationDate:
                  Value: '2038-01-19T03:14:07Z'
                Url:
                  Value: https://final-rewards.example.com/member/PRV-MBR-9842XKLT
                LoyaltyTierId:
                  Value: 69eedfd2-6f25-42fc-b3c8-39df70f85e37
              ChainId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyMembershipResult'
              example:
                LoyaltyMemberships:
                - Id: 905a4489-0960-4ac9-96ec-793f47365c92
                  ChainId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  AccountId: fadd5bb6-b428-45d5-94f8-fd0d89fece6d
                  LoyaltyProgramId: f701dafb-5765-4cf4-b1dd-1f602a740ae5
                  State: New
                  IsPrimary: true
                  ProviderMembershipId: PRV-MBR-9842XKLT
                  Code: MBR-2025-AX49ZT73
                  MembershipNumber: MBR-2025-AX49ZT73
                  Points: 22
                  ExpirationDate: '2029-11-04T13:00:00Z'
                  Url: https://rewards.example.com/member/PRV-MBR-9842XKLT
                  LoyaltyTierId: 69eedfd2-6f25-42fc-b3c8-39df70f85e37
                  CreatorProfile: null
                  UpdaterProfile: null
                Cursor: 905a4489-0960-4ac9-96ec-793f47365c92
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                LoyaltyMembershipsUpdate400Example:
                  summary: Default loyaltyMemberships_update 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                LoyaltyMembershipsUpdate401Example:
                  summary: Default loyaltyMemberships_update 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                LoyaltyMembershipsUpdate403Example:
                  summary: Default loyaltyMemberships_update 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                LoyaltyMembershipsUpdate408Example:
                  summary: Default loyaltyMemberships_update 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                LoyaltyMembershipsUpdate204Example:
                  summary: Default loyaltyMemberships_update 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                LoyaltyMembershipsUpdate429Example:
                  summary: Default loyaltyMemberships_update 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                LoyaltyMembershipsUpdate500Example:
                  summary: Default loyaltyMemberships_update 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/loyaltyMemberships/delete:
    post:
      tags:
      - Loyalty memberships
      summary: Mews Delete Loyalty Memberships
      description: Deletes loyalty memberships. Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property/).
      operationId: loyaltyMemberships_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoyaltyMembershipDeleteParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              LoyaltyMembershipIds:
              - 905a4489-0960-4ac9-96ec-793f47365c92
              - ac48674e-58a2-43d6-a02b-9ead0b213b17
              ChainId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
              examples:
                LoyaltyMembershipsDelete200Example:
                  summary: Default loyaltyMemberships_delete 200 response
                  x-microcks-default: true
                  value: {}
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                LoyaltyMembershipsDelete400Example:
                  summary: Default loyaltyMemberships_delete 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                LoyaltyMembershipsDelete401Example:
                  summary: Default loyaltyMemberships_delete 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                LoyaltyMembershipsDelete403Example:
                  summary: Default loyaltyMemberships_delete 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                LoyaltyMembershipsDelete408Example:
                  summary: Default loyaltyMemberships_delete 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                LoyaltyMembershipsDelete204Example:
                  summary: Default loyaltyMemberships_delete 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                LoyaltyMembershipsDelete429Example:
                  summary: Default loyaltyMemberships_delete 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                LoyaltyMembershipsDelete500Example:
                  summary: Default loyaltyMemberships_delete 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    StringUpdateValue:
      title: String update value
      type: object
      properties:
        Value:
          type:
          - string
          - 'null'
          description: Value which is to be updated.
          example: string
      additionalProperties: false
      x-schema-id: StringUpdateValue
    LoyaltyMembershipStateUpdateValue:
      title: Loyalty membership state update value
      type: object
      properties:
        Value:
          title: Loyalty membership state
          allOf:
          - $ref: '#/components/schemas/LoyaltyMembershipStateEnum'
          description: Value which is to be updated.
          x-enumNames:
          - New
          - Pending
          - Enrolled
          - Canceled
          - Declined
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
          - ''
          example: string
      additionalProperties: false
      x-schema-id: LoyaltyMembershipStateUpdateValue
    ProfileDataDiscriminator:
      title: Profile data discriminator
      enum:
      - Personal
      - Enterprise
      - Platform
      - Static
      - Integration
      type: string
    Int32NullableUpdateValue:
      title: Int32 update value
      type: object
      properties:
        Value:
          type:
          - integer
          - 'null'
          description: Value which is to be updated.
          format: int32
          example: 1
      additionalProperties: false
      x-schema-id: Int32NullableUpdateValue
    TimeFilterInterval:
      title: Time interval
      type: object
      properties:
        StartUtc:
          type:
          - string
          - 'null'
          format: date-time
          example: '2026-06-02T14:30:00Z'
        EndUtc:
          type:
          - string
          - 'null'
          format: date-time
          example: '2026-06-02T14:30:00Z'
      additionalProperties: false
      description: "When a time interval is used for **filtering** (for example in parameters such as `CreatedUtc.StartUtc` / `CreatedUtc.EndUtc`), the following rules apply:\n\n- **Start equals End (equality mode)**  \n  If `StartUtc` and `EndUtc` are exactly the same timestamp, the filter is treated as an equality check for that precise moment in time:\n  \n  ```\n  CreatedUtc == StartUtc\n  ```\n  \n  This does not represent an interval; only records with `CreatedUtc` equal to that exact instant are returned.\n\n- **Start differs from End (interval mode)**  \n  If `StartUtc` and `EndUtc` are different, the filter is evaluated as a half-open interval:\n  \n  ```\n  StartUtc <= CreatedUtc < EndUtc\n  ```\n  \n  In other words, the start is inclusive and the end is exclusive.\n\nMake sure your integration takes inclusive Start / exclusive End behavior of time intervals into account so that no records at the boundaries are omitted."
      x-schema-id: TimeFilterInterval
    LoyaltyMembershipUpdateParameters:
      title: Loyalty membership update parameters
      required:
      - LoyaltyMembershipId
      type: object
      properties:
        LoyaltyMembershipId:
          type: string
          description: Unique identifier of the loyalty membership.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        LoyaltyProgramId:
          title: Guid update value
          allOf:
          - $ref: '#/components/schemas/GuidUpdateValue'
          description: Unique identifier of the loyalty program (or `null` if the program should not be updated).
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        State:
          title: Loyalty membership state update value
          allOf:
          - $ref: '#/components/schemas/LoyaltyMembershipStateUpdateValue'
          description: State of the loyalty membership, (or `null` if the state should not be updated).
          example: string
        IsPrimary:
          title: Boolean update value
          allOf:
          - $ref: '#/components/schemas/BooleanUpdateValue'
          description: Boolean value defining the primary loyalty membership for the account (or `null` if the value should not be updated).
          example: string
        Code:
          title: String update value
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          description: Code of the loyalty membership. (or `null` if the code should not be updated).
          deprecated: true
          x-deprecatedMessage: Use `MembershipNumber` instead.
          example: string
        MembershipNumber:
          title: String update value
          maxLength: 255
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          description: Customer-facing membership numbers, e.g., printed on a loyalty card.
          example: '1001'
        ProviderMembershipId:
          title: String update value
          maxLength: 100
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          description: Loyalty membership identifier assigned by the external loyalty provider's system (or `null` if the value should not be updated).
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Points:
          title: Int32 update value
          allOf:
          - $ref: '#/components/schemas/Int32NullableUpdateValue'
          description: The loyalty points the account has in the loyalty membership (or `null` if the points should not be updated).
          example: string
        ExpirationDate:
          title: String update value
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          description: Expiration date of the loyalty membership in UTC timezone in ISO 8601 format (or `null` if the date should not be updated).
          format: date
          example: '2026-06-02'
        Url:
          title: String update value
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          description: URL of the loyalty membership (or `null` if the URL should not be updated).
          format: uri
          example: https://api.mews.com/api/connector/v1
        LoyaltyTierId:
          title: Guid update value
          allOf:
          - $ref: '#/components/schemas/GuidNullableUpdateValue'
          description: Unique identifier of the loyalty tier (or `null` if the tier should not be updated).
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: LoyaltyMembershipUpdateParameters
    ProfileData:
      title: Profile data
      required:
      - Discriminator
      type: object
      properties:
        Discriminator:
          $ref: '#/components/schemas/ProfileDataDiscriminator'
        EnterpriseProfile:
          title: Enterprise profile data
          allOf:
          - $ref: '#/components/schemas/EnterpriseProfileData'
          description: Enterprise profile data.
          example: string
      additionalProperties: false
      description: The profile data of the user who created or last updated the record.
      x-schema-id: ProfileData
    LoyaltyMembershipFilterParameters:
      title: Loyalty membership filter parameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - Limitation
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        ChainIds:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of the chain. If not specified, the operation returns data for all chains within scope of the Access Token.
        CreatedUtc:
          title: Time interval
          allOf:
          - $ref: '#/components/schemas/TimeFilterInterval'
          description: The time interval during which the membership was created.
          x-max-interval-in-months: 3
          example: string
        UpdatedUtc:
          title: Time interval
          allOf:
          - $ref: '#/components/schemas/TimeFilterInterval'
          description: The time interval during which the membership was last updated.
          x-max-interval-in-months: 3
          example: string
        LoyaltyMembershipIds:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of [Loyalty memberships](https://mews-systems.gitbook.io/connector-api/operations/#loyalty-membership).
        AccountIds:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of accounts (for example [Customers](https://mews-systems.gitbook.io/connector-api/operations/customers/#customer) or [Companies](https://mews-systems.gitbook.io/connector-api/operations/companies/#company)) the membership is associated with.
        LoyaltyProgramIds:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of [Loyalty programs](https://mews-systems.gitbook.io/connector-api/operations/loyaltyprograms/#loyalty-program).
        MembershipStates:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/LoyaltyMembershipStateEnum'
          description: States of the loyalty memberships.
        ActivityStates:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ActivityStates'
          description: Whether to return only active, only deleted or both records.
        Codes:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
          description: List of loyalty membership codes, such as identification numbers printed on loyalty cards visible to the customer.
          deprecated: true
          x-deprecatedMessage: Use `MembershipNumbers` instead.
        MembershipNumbers:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
          description: Customer-facing membership numbers, e.g., printed on a loyalty card.
        ProviderMembershipIds:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
          description: List of unique loyalty membership identifiers assigned and managed by the external loyalty provider's system.
        Limitation:
          allOf:
          - $ref: '#/components/schemas/Limitation'
          description: Limitation on the quantity of data returned.
          example: string
      additionalProperties: false
      x-schema-id: LoyaltyMembershipFilterParameters
    MultipleLoyaltyMembershipUpdateParameters:
      title: MultipleLoyaltyMembershipUpdateParameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - LoyaltyMembershipUpdates
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        ChainId:
          type:
          - string
          - 'null'
          description: Unique identifier of the chain. Required when using [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property), ignored otherwise.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        LoyaltyMembershipUpdates:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/LoyaltyMembershipUpdateParameters'
          description: Loyalty memberships to be updated.
      additionalProperties: false
      x-schema-id: MultipleLoyaltyMembershipUpdateParameters
    LoyaltyMembershipAddParameters:
      title: Loyalty membership parameters
      required:
      - AccountId
      - IsPrimary
      - LoyaltyProgramId
      type: object
      properties:
        AccountId:
          type: string
          description: Unique identifier of the customer account.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        LoyaltyProgramId:
          type: string
          description: Unique identifier of the loyalty program.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        IsPrimary:
          type: boolean
          description: Defines the primary loyalty membership for the account.
          example: true
        State:
          allOf:
          - $ref: '#/components/schemas/LoyaltyMembershipStateEnum'
          description: 'State of the loyalty membership. The default is `Enrolled`.


            New


            Pending


            Enrolled


            Canceled


            Declined'
          example: string
        Code:
          maxLength: 255
          type:
          - string
          - 'null'
          description: Loyalty membership code, such as an identification number printed on a loyalty card visible to the customer.
          deprecated: true
          x-deprecatedMessage: Use `MembershipNumber` instead.
          example: string
        MembershipNumber:
          maxLength: 255
          type:
          - string
          - 'null'
          description: Customer-facing membership numbers, e.g., printed on a loyalty card.
          example: '1001'
        Points:
          type:
          - integer
          - 'null'
          description: The loyalty points for the account in that membership.
          format: int32
          example: 1
        ExpirationDate:
          type:
          - string
          - 'null'
          description: Expiration date of the loyalty membership in UTC timezone in ISO 8601 format.
          format: date
          example: '2026-06-02'
        Url:
          type:
          - string
          - 'null'
          description: URL of the loyalty membership in external loyalty system.
          format: uri
          example: https://api.mews.com/api/connector/v1
        LoyaltyTierId:
          type:
          - string
          - 'null'
          description: Unique identifier of the loyalty tier.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: LoyaltyMembershipAddParameters
    MultipleLoyaltyMembershipAddParameters:
      title: MultipleLoyaltyMembershipAddParameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - LoyaltyMemberships
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        ChainId:
          type:
          - string
          - 'null'
          description: Unique identifier of the chain. Required when using [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property), ignored otherwise.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        LoyaltyMemberships:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/LoyaltyMembershipAddParameters'
          description: Loyalty memberships to be added.
      additionalProperties: false
      x-schema-id: MultipleLoyaltyMembershipAddParameters
    LoyaltyMembershipStateEnum:
      title: Loyalty membership state
      enum:
      - New
      - Pending
      - Enrolled
      - Canceled
      - Declined
      type: string
      description: 'State of the loyalty membership.


        New


        Pending


        Enrolled


        Canceled


        Declined'
      x-enumNames:
      - New
      - Pending
      - Enrolled
      - Canceled
      - Declined
      x-enumDescriptions:
      - ''
      - ''
      - ''
      - ''
      - ''
    GuidUpdateValue:
      title: Guid update value
      type: object
      properties:
        Value:
          type: string
          description: Value which is to be updated.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: GuidUpdateValue
    Limitation:
      title: Limitation
      required:
      - Count
      type: object
      properties:
        Count:
          type: integer
          format: int32
          example: 1
        Cursor:
          type:
          - string
          - 'null'
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      description: Limitation on the quantity of data returned.
      x-schema-id: Limitation
    LoyaltyMembershipDeleteParameters:
      title: Loyalty membership delete parameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - LoyaltyMembershipIds
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        ChainId:
          type:
          - string
          - 'null'
          description: Unique identifier of the chain. Required when using [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property), ignored otherwise.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        LoyaltyMembershipIds:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            type: string
            format: uuid
          description: Unique identifier of the loyalty memberships to be deleted.
      additionalProperties: false
      x-schema-id: LoyaltyMembershipDeleteParameters
    LoyaltyMembershipResult:
      title: Loyalty membership result
      required:
      - LoyaltyMemberships
      type: object
      properties:
        LoyaltyMemberships:
          type: array
          items:
            $ref: '#/components/schemas/LoyaltyMembership'
          description: The loyalty memberships of the enterprise.
        Cursor:
          type:
          - string
          - 'null'
          description: Unique identifier of the item one newer in time order than the items to be returned. If Cursor is not specified, i.e. null, then the latest or most recent items will be returned.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: LoyaltyMembershipResult
    BooleanUpdateValue:
      title: Boolean update value
      type: object
      properties:
        Value:
          type: boolean
          description: Value which is to be updated.
          example: true
      additionalProperties: false
      x-schema-id: BooleanUpdateValue
    LoyaltyMembership:
      title: Loyalty membership
      required:
      - AccountId
      - ChainId
      - CreatorProfile
      - Id
      - IsPrimary
      - LoyaltyProgramId
      - State
      - UpdaterProfile
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the loyalty membership.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ChainId:
          type: string
          description: Unique identifier of the chain.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AccountId:
          type: string
          description: Unique identifier of the account.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        LoyaltyProgramId:
          type: string
          description: Unique identifier of the loyalty program.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        State:
          title: Loyalty membership state
          allOf:
          - $ref: '#/components/schemas/LoyaltyMembershipStateEnum'
          description: 'State of the loyalty membership.


            New


            Pending


            Enrolled


            Canceled


            Declined'
          x-enumNames:
          - New
          - Pending
          - Enrolled
          - Canceled
          - Declined
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
          - ''
          example: string
        IsPrimary:
          type: boolean
          description: Defines the primary loyalty membership.
          example: true
        ProviderMembershipId:
          type:
          - string
          - 'null'
          description: Unique identifier for the loyalty membership in the loyalty provider's system.
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Code:
          type:
          - string
          - 'null'
          description: Code of the loyalty membership.
          deprecated: true
          x-deprecatedMessage: Use `MembershipNumber` instead.
          example: string
        MembershipNumber:
          type:
          - string
          - 'null'
          description: Customer-facing membership numbers, e.g., printed on a loyalty card.
          example: '1001'
        Points:
          type:
          - integer
          - 'null'
          description: The loyalty points for the account in that membership.
          format: int32
          example: 1
        ExpirationDate:
          type:
          - string
          - 'null'
          description: Expiration date of the loyalty membership in UTC timezone in ISO 8601 format.
          format: date-time
          example: '2026-06-02T14:30:00Z'
        Url:
          type:
          - string
          - 'null'
          description: Url of the loyalty membership.
          example: https://api.mews.com/api/connector/v1
        LoyaltyTierId:
          type:
          - string
          - 'null'
          description: Unique identifier of the loyalty tier.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CreatorProfile:
          title: Profile data
          allOf:
          - $ref: '#/components/schemas/ProfileData'
          description: The profile data of the user who created or last updated the record.
          example: string
        UpdaterProfile:
          title: Profile data
          allOf:
          - $ref: '#/components/schemas/ProfileData'
          description: The profile data of the user who created or last updated the record.
          example: string
      additionalProperties: false
      x-schema-id: LoyaltyMembership
    Unit:
      type: object
      additionalProperties: false
    GuidNullableUpdateValue:
      title: Guid update value
      type: object
      properties:
        Value:
          type:
          - string
          - 'null'
          description: Value which is to be updated.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: GuidNullableUpdateValue
    ConnectorApiExceptionResult:
      title: ConnectorApiExceptionResult
      type: object
      properties:
        Message:
          type:
          - string
          - 'null'
          example: string
        RequestId:
          type:
          - string
          - 'null'
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Details:
          example: string
      additionalProperties: false
      x-schema-id: ConnectorApiExceptionResult
    EnterpriseProfileData:
      title: Enterprise profile data
      required:
      - ProfileId
      type: object
      properties:
        ProfileId:
          type: string
          description: Unique identifier of the profile.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: EnterpriseProfileData
    ActivityStates:
      title: Activity state
      enum:
      - Deleted
      - Active
      type: string
      description: Activity states used for filtering.
  securitySchemes:
    MewsClientToken:
      type: apiKey
      in: header
      name: ClientToken
      description: Mews authentication is performed by supplying ClientToken, AccessToken and Client as fields in the JSON request body (not as HTTP headers). This securityScheme is a tooling-compatible representation of the ClientToken credential. ClientToken is unique to your application and identifies the API client.
    MewsAccessToken:
      type: apiKey
      in: header
      name: AccessToken
      description: Tooling-compatible representation of the AccessToken credential, which is supplied in the JSON request body. AccessToken is unique to the connection with a property (enterprise) and identifies the property or properties whose data and services you can access. Portfolio Access Tokens enable multi-property access with a single token.
