openapi: 3.0.4
info:
  title: Mews Booking Engine API (Distributor) Account notes DistributorApi API
  version: v1
  description: The Mews Booking Engine API (historically the Distributor API, served from /api/distributor/v1) lets developers build guest-facing booking engines that create reservations directly in Mews. It exposes enterprise configuration, availability, pricing, products, vouchers, payment cards, and reservation group creation for front-end client consumption.
  x-generated-from: documentation
  x-source-url: https://api.mews.com/Swagger/distributor/swagger.json
  x-last-validated: '2026-06-02'
servers:
- url: https://api.mews.com
  description: Production
- url: https://api.mews-demo.com
  description: Demo / sandbox
security:
- MewsClientToken: []
  MewsAccessToken: []
tags:
- name: DistributorApi
paths:
  /api/distributor/v1/hotels/getAvailability:
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilityParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Availability'
  /api/distributor/v1/services/getAvailability:
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceAvailabilityParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceAvailabilityResult'
  /api/distributor/v1/reservations/getPricing:
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationPricingParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationPricing'
  /api/distributor/v1/availabilityBlocks/getAll:
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilityBlockFilterParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityBlockResult'
  /api/distributor/v1/configuration/get:
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationResult'
  /api/distributor/v1/hotels/get:
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HotelParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleHotelResult'
  /api/distributor/v1/languages/getAll:
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingEngineParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LanguageResult'
  /api/distributor/v1/currencies/getAll:
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingEngineParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyResult'
  /api/distributor/v1/countries/getAll:
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingEngineParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountryResult'
  /api/distributor/v1/vouchers/validate:
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoucherParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoucherValidity'
  /api/distributor/v1/hotels/getPaymentConfiguration:
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HotelParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentConfiguration'
  /api/distributor/v1/exchangeRates/getAll:
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeRateParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRateResult'
  /api/distributor/v1/paymentCards/authorize:
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizePaymentCardParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizePaymentCardResult'
  /api/distributor/v1/paymentCards/getAll:
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCardFilterParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCardResult'
  /api/distributor/v1/reservationGroups/create:
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReservationGroupParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationGroup'
  /api/distributor/v1/reservationGroups/get:
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationGroupParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationGroup'
  /api/distributor/v1/reservations/price:
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationPriceParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationPriceResult'
  /api/distributor/v1/products/getPrices:
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductPricingParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductPricesResult'
  /api/distributor/v1/services/getPricing:
    options:
      tags:
      - DistributorApi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServicePricingParameters'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePricingResult'
components:
  schemas:
    AuthorizePaymentCardResult:
      title: AuthorizePaymentCardResult
      required:
      - Id
      - PaymentCardId
      - State
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        PaymentCardId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        State:
          $ref: '#/components/schemas/PaymentCardAuthorizationState'
        Action:
          allOf:
          - $ref: '#/components/schemas/PaymentCardAuthorizationAction'
          nullable: true
          example: string
      additionalProperties: false
      x-schema-id: AuthorizePaymentCardResult
    CurrencyResult:
      title: CurrencyResult
      required:
      - Currencies
      type: object
      properties:
        Currencies:
          type: array
          items:
            $ref: '#/components/schemas/Currency'
      additionalProperties: false
      x-schema-id: CurrencyResult
    PaymentGatewayModel:
      enum:
      - MerchantOfRecord
      - PaymentFacilitator
      - Direct
      type: string
    AmountPart:
      enum:
      - NetValue
      - TaxValue
      - GrossValue
      type: string
    SingleHotelResult:
      title: SingleHotelResult
      required:
      - AcceptedCurrencyCodes
      - Address
      - CityId
      - Countries
      - Currencies
      - DefaultCurrencyCode
      - DefaultLanguageCode
      - DefaultRateCurrencyCode
      - Description
      - Email
      - IanaTimeZoneIdentifier
      - Id
      - ImageBaseUrl
      - Languages
      - Name
      - Pricing
      - Products
      - RoomCategories
      - SupportedLanguageCodes
      - TaxEnvironmentCode
      - TermsAndConditionsUrl
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Name:
          type: object
          additionalProperties:
            type: string
        Description:
          type: object
          additionalProperties:
            type: string
        CityId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ImageId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        IntroImageId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        DefaultLanguageCode:
          minLength: 1
          type: string
          example: string
        DefaultCurrencyCode:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
          example: EUR
        DefaultRateCurrencyCode:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
          example: EUR
        SupportedLanguageCodes:
          type: array
          items:
            type: string
        AcceptedCurrencyCodes:
          type: array
          items:
            type: string
        TaxEnvironmentCode:
          minLength: 1
          type: string
          example: string
        Pricing:
          $ref: '#/components/schemas/PricingMode'
        RoomCategories:
          type: array
          items:
            $ref: '#/components/schemas/Category'
        Products:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        PaymentGateway:
          allOf:
          - $ref: '#/components/schemas/PaymentGateway'
          nullable: true
          example: string
        TermsAndConditionsUrl:
          minLength: 1
          type: string
          format: uri
          example: https://api.mews.com/api/connector/v1
        IanaTimeZoneIdentifier:
          minLength: 1
          type: string
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Email:
          minLength: 1
          type: string
          example: partner@example.com
        Telephone:
          type: string
          nullable: true
          example: string
        AdditionalLegalStatements:
          type: array
          items:
            type: object
            additionalProperties:
              type: string
          nullable: true
          deprecated: true
        Address:
          allOf:
          - $ref: '#/components/schemas/Address'
          example: string
        Languages:
          type: array
          items:
            $ref: '#/components/schemas/Language'
        Currencies:
          type: array
          items:
            $ref: '#/components/schemas/Currency'
        Countries:
          type: array
          items:
            $ref: '#/components/schemas/Country'
        ImageBaseUrl:
          minLength: 1
          type: string
          format: uri
          example: https://api.mews.com/api/connector/v1
      additionalProperties: false
      x-schema-id: SingleHotelResult
    ReservationPricingParameters:
      title: ReservationPricingParameters
      required:
      - Client
      - EndUtc
      - FullAmounts
      - HotelId
      - Occupancies
      - RoomCategoryId
      - StartUtc
      type: object
      properties:
        Client:
          minLength: 1
          type: string
          example: string
        LanguageCode:
          type: string
          nullable: true
          example: string
        CultureCode:
          type: string
          nullable: true
          example: string
        FullAmounts:
          type: boolean
          example: true
        Session:
          type: string
          nullable: true
          example: string
        HotelId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        VoucherCode:
          type: string
          nullable: true
          example: string
        StartUtc:
          minLength: 1
          type: string
          format: date-time
          example: '2026-06-02T14:30:00Z'
        EndUtc:
          minLength: 1
          type: string
          format: date-time
          example: '2026-06-02T14:30:00Z'
        RoomCategoryId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AvailabilityBlockId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        RateIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
        ProductIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
        Occupancies:
          type: array
          items:
            $ref: '#/components/schemas/Occupancy'
      additionalProperties: false
      x-schema-id: ReservationPricingParameters
    ConfigurationParameters:
      title: ConfigurationParameters
      required:
      - Client
      - FullAmounts
      type: object
      properties:
        Client:
          minLength: 1
          type: string
          example: string
        LanguageCode:
          type: string
          nullable: true
          example: string
        CultureCode:
          type: string
          nullable: true
          example: string
        FullAmounts:
          type: boolean
          example: true
        Session:
          type: string
          nullable: true
          example: string
        Ids:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
        PrimaryId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        WebOptions:
          type: string
          nullable: true
          example: string
      additionalProperties: false
      x-schema-id: ConfigurationParameters
    ProductOptions:
      title: ProductOptions
      required:
      - BillAsPackage
      - ExcludePriceFromOffer
      - OfferToCustomer
      - OfferToEmployee
      - SelectedByDefault
      type: object
      properties:
        SelectedByDefault:
          type: boolean
          example: true
        BillAsPackage:
          type: boolean
          example: true
        OfferToCustomer:
          type: boolean
          example: true
        ExcludePriceFromOffer:
          type: boolean
          example: true
        OfferToEmployee:
          type: boolean
          example: true
      additionalProperties: false
      x-schema-id: ProductOptions
    Availability:
      title: Availability
      required:
      - RateGroups
      - Rates
      - RoomCategoryAvailabilities
      type: object
      properties:
        RateGroups:
          type: array
          items:
            $ref: '#/components/schemas/RateGroup'
        Rates:
          type: array
          items:
            $ref: '#/components/schemas/Rate'
        RoomCategoryAvailabilities:
          type: array
          items:
            $ref: '#/components/schemas/ResourceCategoryAvailability'
        ViolatedRestrictions:
          type: array
          items:
            $ref: '#/components/schemas/Restriction'
          nullable: true
      additionalProperties: false
      x-schema-id: Availability
    ProductPricingParameters:
      title: ProductPricingParameters
      required:
      - Client
      - ConfigurationId
      - CurrencyCode
      - EndUtc
      - FullAmounts
      - OccupancyData
      - ProductIds
      - StartUtc
      type: object
      properties:
        Client:
          minLength: 1
          type: string
          example: string
        LanguageCode:
          type: string
          nullable: true
          example: string
        CultureCode:
          type: string
          nullable: true
          example: string
        FullAmounts:
          type: boolean
          example: true
        Session:
          type: string
          nullable: true
          example: string
        ConfigurationId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ProductIds:
          maxItems: 1000
          type: array
          items:
            type: string
            format: uuid
        OccupancyData:
          type: array
          items:
            $ref: '#/components/schemas/OccupancyData'
        StartUtc:
          minLength: 1
          type: string
          format: date-time
          example: '2026-06-02T14:30:00Z'
        EndUtc:
          minLength: 1
          type: string
          format: date-time
          example: '2026-06-02T14:30:00Z'
        CurrencyCode:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
          example: EUR
      additionalProperties: false
      x-schema-id: ProductPricingParameters
    ConfigurationResult:
      title: ConfigurationResult
      required:
      - AgeCategories
      - Cities
      - Configurations
      - CurrencyCodes
      - ImageBaseUrl
      - NowUtc
      - Services
      type: object
      properties:
        NowUtc:
          minLength: 1
          type: string
          format: date-time
          example: '2026-06-02T14:30:00Z'
        LanguageCode:
          type: string
          nullable: true
          example: string
        CurrencyCode:
          maxLength: 3
          type: string
          format: currency
          nullable: true
          example: EUR
        IntroVideoUrl:
          type: string
          format: uri
          nullable: true
          example: https://api.mews.com/api/connector/v1
        Theme:
          anyOf:
          - $ref: '#/components/schemas/BookingEngineTheme'
          nullable: true
          example: string
        PrimaryColor:
          type: string
          nullable: true
          example: string
        VoucherCode:
          type: string
          nullable: true
          example: string
        DisplayVoucherCode:
          type: boolean
          nullable: true
          example: true
        GtmContainerId:
          type: string
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        StartDateOffset:
          type: integer
          format: int32
          nullable: true
          example: 1
        EndDateOffset:
          type: integer
          format: int32
          nullable: true
          example: 1
        CityId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ImageBaseUrl:
          minLength: 1
          type: string
          format: uri
          example: https://api.mews.com/api/connector/v1
        Configurations:
          type: array
          items:
            $ref: '#/components/schemas/BookingEngine'
        Cities:
          type: array
          items:
            $ref: '#/components/schemas/City'
        CurrencyCodes:
          type: array
          items:
            type: string
          format: currency
        AgeCategories:
          type: array
          items:
            $ref: '#/components/schemas/AgeCategory'
        Services:
          type: array
          items:
            $ref: '#/components/schemas/Service'
      additionalProperties: false
      x-schema-id: ConfigurationResult
    Culture:
      title: Culture
      required:
      - CurrencyDecimalSeparator
      - CurrencyGroupSeparator
      type: object
      properties:
        CurrencyDecimalSeparator:
          minLength: 1
          type: string
          example: EUR
        CurrencyGroupSeparator:
          minLength: 1
          type: string
          example: EUR
      additionalProperties: false
      x-schema-id: Culture
    ResourceCategoryType:
      enum:
      - Room
      - Bed
      - Dorm
      - Apartment
      - Suite
      - Villa
      - Site
      - Office
      - MeetingRoom
      - ParkingSpot
      - Desk
      - TeamArea
      - Membership
      - Tent
      - CaravanOrRV
      - UnequippedCampsite
      - Bike
      - ExtraBed
      - Cot
      - Crib
      - ConferenceRoom
      - Rooftop
      - Garden
      - Restaurant
      - Amphitheater
      - PrivateSpaces
      type: string
    RateGroupPricing:
      title: RateGroupPricing
      required:
      - MaxPrice
      - MinPrice
      - MinRateId
      type: object
      properties:
        MinRateId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        MinPrice:
          allOf:
          - $ref: '#/components/schemas/RatePricing'
          example: string
        MaxPrice:
          allOf:
          - $ref: '#/components/schemas/RatePricing'
          example: string
      additionalProperties: false
      x-schema-id: RateGroupPricing
    TaxBreakdownItem:
      title: TaxBreakdownItem
      required:
      - NetValue
      - TaxValue
      type: object
      properties:
        TaxRateCode:
          type: string
          nullable: true
          example: string
        NetValue:
          type: number
          format: double
          example: 100.0
        TaxValue:
          type: number
          format: double
          example: 100.0
      additionalProperties: false
      x-schema-id: TaxBreakdownItem
    Enterprise:
      title: Enterprise
      required:
      - AcceptedCurrencyCodes
      - Address
      - Categories
      - CategoryImageAssignments
      - CityId
      - DefaultCurrencyCode
      - DefaultLanguageCode
      - DefaultRateCurrencyCode
      - Description
      - Email
      - IanaTimeZoneIdentifier
      - Id
      - Name
      - Pricing
      - Products
      - Rates
      - TaxEnvironmentCode
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Name:
          type: object
          additionalProperties:
            type: string
        Description:
          type: object
          additionalProperties:
            type: string
        Address:
          allOf:
          - $ref: '#/components/schemas/Address'
          example: string
        CityId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ImageId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        IntroImageId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Email:
          minLength: 1
          type: string
          example: partner@example.com
        Telephone:
          type: string
          nullable: true
          example: string
        TermsAndConditionsUrl:
          type: object
          additionalProperties:
            type: string
          nullable: true
        PrivacyPolicyUrl:
          type: object
          additionalProperties:
            type: string
          nullable: true
        DefaultLanguageCode:
          maxLength: 3
          minLength: 1
          type: string
          example: string
        DefaultCurrencyCode:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
          example: EUR
        DefaultRateCurrencyCode:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
          example: EUR
        IanaTimeZoneIdentifier:
          minLength: 1
          type: string
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AcceptedCurrencyCodes:
          type: array
          items:
            type: string
          format: currency
        TaxEnvironmentCode:
          minLength: 1
          type: string
          example: string
        Pricing:
          $ref: '#/components/schemas/PricingMode'
        GrossAmountTaxPrecision:
          type: integer
          format: int32
          nullable: true
          example: 1
        Categories:
          type: array
          items:
            $ref: '#/components/schemas/Category'
        Rates:
          type: array
          items:
            $ref: '#/components/schemas/Rate'
        CategoryImageAssignments:
          type: array
          items:
            $ref: '#/components/schemas/ResourceCategoryImageAssignment'
        Products:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        AdditionalLegalStatements:
          type: array
          items:
            type: object
            additionalProperties:
              type: string
          nullable: true
          deprecated: true
      additionalProperties: false
      x-schema-id: Enterprise
    PaymentGateway:
      title: PaymentGateway
      required:
      - Accounts
      - DefaultCurrencyCode
      - IsMerchant
      - Model
      - PaymentCardStorageType
      - PublicKey
      - SupportedCreditCardTypes
      - SupportedPaymentMethods
      type: object
      properties:
        PaymentGatewayType:
          type: string
          nullable: true
          deprecated: true
          example: string
        PaymentCardStorageType:
          $ref: '#/components/schemas/PaymentCardStorageType'
        IsMerchant:
          type: boolean
          example: true
        Model:
          $ref: '#/components/schemas/PaymentGatewayModel'
        SupportedCreditCardTypes:
          type: array
          items:
            $ref: '#/components/schemas/CreditCardTypes'
        SupportedPaymentMethods:
          allOf:
          - $ref: '#/components/schemas/PaymentMethods'
          example: string
        PublicKey:
          minLength: 1
          type: string
          example: string
        DefaultCurrencyCode:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
          example: EUR
        Accounts:
          type: array
          items:
            $ref: '#/components/schemas/PaymentGatewayAccount'
      additionalProperties: false
      x-schema-id: PaymentGateway
    AuthorizePaymentCardParameters:
      title: AuthorizePaymentCardParameters
      required:
      - BrowserInfo
      - Client
      - EnterpriseId
      - FullAmounts
      - PaymentCardId
      type: object
      properties:
        Client:
          minLength: 1
          type: string
          example: string
        LanguageCode:
          type: string
          nullable: true
          example: string
        CultureCode:
          type: string
          nullable: true
          example: string
        FullAmounts:
          type: boolean
          example: true
        Session:
          type: string
          nullable: true
          example: string
        EnterpriseId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        PaymentCardId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        BrowserInfo:
          allOf:
          - $ref: '#/components/schemas/BrowserInfo'
          example: string
      additionalProperties: false
      x-schema-id: AuthorizePaymentCardParameters
    CategoryAvailability:
      title: CategoryAvailability
      required:
      - Availabilities
      - CategoryId
      type: object
      properties:
        CategoryId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Availabilities:
          type: array
          items:
            type: integer
            format: int32
      additionalProperties: false
      x-schema-id: CategoryAvailability
    RateGroup:
      title: RateGroup
      required:
      - Id
      - Ordering
      - SettlementAction
      - SettlementCurrencyCode
      - SettlementOffset
      - SettlementTrigger
      - SettlementType
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Ordering:
          type: integer
          format: int32
          example: 1
        SettlementType:
          $ref: '#/components/schemas/SettlementRuleType'
        SettlementAction:
          $ref: '#/components/schemas/SettlementRuleAction'
        SettlementTrigger:
          $ref: '#/components/schemas/SettlementRuleTrigger'
        SettlementOffset:
          minLength: 1
          type: string
          example: string
        SettlementValue:
          type: number
          format: double
          nullable: true
          example: 100.0
        SettlementFlatValue:
          type: number
          format: double
          nullable: true
          example: 100.0
        SettlementMaximumNights:
          type: integer
          format: int32
          nullable: true
          deprecated: true
          example: 1
        SettlementMaximumTimeUnits:
          type: integer
          format: int32
          nullable: true
          example: 1
        SettlementCurrencyCode:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
          example: EUR
      additionalProperties: false
      x-schema-id: RateGroup
    SurchargeConfiguration:
      title: SurchargeConfiguration
      required:
      - SurchargeFees
      type: object
      properties:
        SurchargeServiceId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        SurchargeFees:
          type: object
          additionalProperties:
            type: number
            format: double
      additionalProperties: false
      x-schema-id: SurchargeConfiguration
    PaymentConfiguration:
      title: PaymentConfiguration
      required:
      - SurchargeConfiguration
      type: object
      properties:
        PaymentGateway:
          allOf:
          - $ref: '#/components/schemas/PaymentGateway'
          nullable: true
          example: string
        SurchargeConfiguration:
          allOf:
          - $ref: '#/components/schemas/SurchargeConfiguration'
          example: string
      additionalProperties: false
      x-schema-id: PaymentConfiguration
    ReservationPriceResult:
      title: ReservationPriceResult
      required:
      - ReservationPrice
      type: object
      properties:
        ReservationPrice:
          type: array
          items:
            $ref: '#/components/schemas/ReservationPricingInfo'
      additionalProperties: false
      x-schema-id: ReservationPriceResult
    ReservationGroupExtent:
      title: ReservationGroupExtent
      required:
      - PaymentRequests
      - Payments
      type: object
      properties:
        PaymentRequests:
          type: boolean
          example: true
        Payments:
          type: boolean
          example: true
      additionalProperties: false
      x-schema-id: ReservationGroupExtent
    ReservationGroupParameters:
      title: ReservationGroupParameters
      required:
      - Client
      - FullAmounts
      - HotelId
      - ReservationGroupId
      type: object
      properties:
        Client:
          minLength: 1
          type: string
          example: string
        LanguageCode:
          type: string
          nullable: true
          example: string
        CultureCode:
          type: string
          nullable: true
          example: string
        FullAmounts:
          type: boolean
          example: true
        Session:
          type: string
          nullable: true
          example: string
        HotelId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ReservationGroupId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Extent:
          allOf:
          - $ref: '#/components/schemas/ReservationGroupExtent'
          nullable: true
          example: string
      additionalProperties: false
      x-schema-id: ReservationGroupParameters
    PaymentState:
      enum:
      - Charged
      - Canceled
      - Pending
      - Failed
      - Verifying
      type: string
    Reservation:
      title: Reservation
      required:
      - Amount
      - Cost
      - EndUtc
      - Id
      - Number
      - OccupancyData
      - RateId
      - RoomCategoryId
      - StartUtc
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Identifier:
          type: string
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Number:
          minLength: 1
          type: string
          example: '1001'
        StartUtc:
          minLength: 1
          type: string
          format: date-time
          example: '2026-06-02T14:30:00Z'
        EndUtc:
          minLength: 1
          type: string
          format: date-time
          example: '2026-06-02T14:30:00Z'
        VoucherCode:
          type: string
          nullable: true
          example: string
        AvailabilityBlockId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        RoomCategoryId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        RateId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Rate:
          allOf:
          - $ref: '#/components/schemas/Rate'
          nullable: true
          example: string
        ProductIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
        AdultCount:
          type: integer
          format: int32
          nullable: true
          deprecated: true
          example: 1
        ChildCount:
          type: integer
          format: int32
          nullable: true
          deprecated: true
          example: 1
        OccupancyData:
          type: array
          items:
            $ref: '#/components/schemas/OccupancyData'
        Notes:
          type: string
          nullable: true
          example: string
        Cost:
          example: string
        Amount:
          example: string
      additionalProperties: false
      x-schema-id: Reservation
    AgeCategory:
      title: AgeCategory
      required:
      - Classification
      - Id
      - IsDefault
      - Name
      - ServiceId
      - ShortName
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ServiceId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Name:
          type: object
          additionalProperties:
            type: string
        ShortName:
          type: object
          additionalProperties:
            type: string
        MinimalAge:
          type: integer
          format: int32
          nullable: true
          example: 1
        MaximalAge:
          type: integer
          format: int32
          nullable: true
          example: 1
        Classification:
          $ref: '#/components/schemas/AgeCategoryClassification'
        IsDefault:
          type: boolean
          example: true
      additionalProperties: false
      x-schema-id: AgeCategory
    Product:
      title: Product
      required:
      - AlwaysIncluded
      - Amounts
      - ChargingMode
      - Description
      - Id
      - IncludedByDefault
      - Name
      - Ordering
      - PostingMode
      - Prices
      - Pricing
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Name:
          type: object
          additionalProperties:
            type: string
        Description:
          type: object
          additionalProperties:
            type: string
        CategoryId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ImageId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        IncludedByDefault:
          type: boolean
          example: true
        AlwaysIncluded:
          type: boolean
          example: true
        Prices:
          example: string
        Pricing:
          title: Pricing
          type: object
          properties:
            discriminator:
              type: string
            value:
              oneOf:
              - $ref: '#/components/schemas/RelativeProductPrice'
          x-coproduct: true
          x-schema-id: ProductPricingCoproductOfRelativeProductPrice
        Amounts:
          example: string
        RelativePrice:
          type: number
          format: double
          nullable: true
          example: 100.0
        Charging:
          type: string
          nullable: true
          deprecated: true
          example: string
        ChargingMode:
          $ref: '#/components/schemas/ProductChargingMode'
        Posting:
          type: string
          nullable: true
          deprecated: true
          example: string
        PostingMode:
          $ref: '#/components/schemas/ProductPostingMode'
        Ordering:
          type: integer
          format: int32
          example: 1
      additionalProperties: false
      x-schema-id: Product
    RelativeProductPrice:
      title: RelativeProductPrice
      required:
      - Multiplier
      - ProductIds
      - Target
      - TaxRateCodes
      type: object
      properties:
        ProductIds:
          type: array
          items:
            type: string
            format: uuid
        TaxRateCodes:
          type: array
          items:
            type: string
        Multiplier:
          type: number
          format: double
          example: 100.0
        Target:
          $ref: '#/components/schemas/AmountPart'
      additionalProperties: false
      x-schema-id: RelativeProductPrice
    Payment:
      title: Payment
      required:
      - Amount
      - CreatedUtc
      - EnterpriseId
      - Id
      - State
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        EnterpriseId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        PaymentRequestId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CreatedUtc:
          minLength: 1
          type: string
          format: date-time
          example: '2026-06-02T14:30:00Z'
        State:
          $ref: '#/components/schemas/PaymentState'
        Amount:
          allOf:
          - $ref: '#/components/schemas/Amount'
          example: string
        ChargeAmount:
          allOf:
          - $ref: '#/components/schemas/Amount'
          nullable: true
          example: string
      additionalProperties: false
      x-schema-id: Payment
    PaymentRequestState:
      enum:
      - Pending
      - Completed
      - Canceled
      - Expired
      type: string
    PaymentMethods:
      title: PaymentMethods
      required:
      - ApplePay
      - GooglePay
      - Ideal
      - PaymentCard
      type: object
      properties:
        PaymentCard:
          type: boolean
          example: true
        Ideal:
          type: boolean
          example: true
        ApplePay:
          type: boolean
          example: true
        GooglePay:
          type: boolean
          example: true
      additionalProperties: false
      x-schema-id: PaymentMethods
    ResourcePrice:
      title: ResourcePrice
      required:
      - AverageAmountPerTimeUnit
      - AveragePerTimeUnit
      - Total
      - TotalAmount
      type: object
      properties:
        Total:
          example: string
        TotalAmount:
          example: string
        AveragePerNight:
          nullable: true
          deprecated: true
          example: string
        AveragePerTimeUnit:
          example: string
        AverageAmountPerNight:
          nullable: true
          deprecated: true
          example: string
        AverageAmountPerTimeUnit:
          example: string
      additionalProperties: false
      x-schema-id: ResourcePrice
    HotelParameters:
      title: HotelParameters
      required:
      - Client
      - FullAmounts
      - HotelId
      type: object
      properties:
        Client:
          minLength: 1
          type: string
          example: string
        LanguageCode:
          type: string
          nullable: true
          example: string
        CultureCode:
          type: string
          nullable: true
          example: string
        FullAmounts:
          type: boolean
          example: true
        Session:
          type: string
          nullable: true
          example: string
        HotelId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: HotelParameters
    AgeCategoryProductPrice:
      title: AgeCategoryProductPrice
      required:
      - AgeCategoryId
      - ProductId
      - TotalAmount
      - UnitAmount
      type: object
      properties:
        ProductId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AgeCategoryId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        TotalAmount:
          example: string
        UnitAmount:
          example: string
      additionalProperties: false
      x-schema-id: AgeCategoryProductPrice
    BookingEnginePaymentCardRequirement:
      enum:
      - NotRequired
      - NotRequiredForFullyPaidBookings
      - AlwaysRequired
      - NotRequiredForFullyOrPartiallyPaidBookings
      type: string
    ReservationSettlement:
      title: ReservationSettlement
      required:
      - Action
      - Amount
      - IsTriggeredOnConfirmation
      - Trigger
      - TriggerOffset
      - Type
      type: object
      properties:
        Amount:
          allOf:
          - $ref: '#/components/schemas/Amount'
          example: string
        Action:
          $ref: '#/components/schemas/SettlementRuleAction'
        Type:
          $ref: '#/components/schemas/SettlementRuleType'
        Trigger:
          $ref: '#/components/schemas/SettlementRuleTrigger'
        TriggerOffset:
          minLength: 1
          type: string
          example: string
        IsTriggeredOnConfirmation:
          type: boolean
          example: true
      additionalProperties: false
      x-schema-id: ReservationSettlement
    RestrictionExceptions:
      title: RestrictionExceptions
      type: object
      properties:
        MinAdvance:
          type: string
          nullable: true
          example: string
        MaxAdvance:
          type: string
          nullable: true
          example: string
        MinLength:
          type: string
          nullable: true
          example: string
        MaxLength:
          type: string
          nullable: true
          example: string
        MinPrice:
          type: number
          format: double
          nullable: true
          example: 100.0
        MaxPrice:
          type: number
          format: double
          nullable: true
          example: 100.0
        PriceCurrencyCode:
          maxLength: 3
          type: string
          nullable: true
          example: EUR
        MaxReservationCount:
          type: integer
          format: int32
          nullable: true
          example: 1
      additionalProperties: false
      x-schema-id: RestrictionExceptions
    SettlementRuleAction:
      enum:
      - ChargeCreditCard
      - CreatePreauthorization
      type: string
    CreditCardData:
      title: CreditCardData
      required:
      - Expiration
      type: object
      properties:
        PaymentGatewayData:
          minLength: 11
          type: string
          nullable: true
          example: string
        ObfuscatedCreditCardNumber:
          type: string
          nullable: true
          example: '1001'
        Expiration:
          minLength: 1
          type: string
          format: date
          example: '2026-06-02'
        HolderName:
          type: string
          nullable: true
          example: Example Name
      additionalProperties: false
      x-schema-id: CreditCardData
    ServicePricingParameters:
      title: ServicePricingParameters
      required:
      - Client
      - CurrencyCode
      - EndUtc
      - EnterpriseId
      - FullAmounts
      - ServiceId
      - StartUtc
      type: object
      properties:
        Client:
          minLength: 1
          type: string
          example: string
        LanguageCode:
          type: string
          nullable: true
          example: string
        CultureCode:
          type: string
          nullable: true
          example: string
        FullAmounts:
          type: boolean
          example: true
        Session:
          type: string
          nullable: true
          example: string
        EnterpriseId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ServiceId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AvailabilityBlockId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        RateIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
        CategoryIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
        ProductIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
        OccupancyData:
          type: array
          items:
            $ref: '#/components/schemas/OccupancyData'
          nullable: true
        CurrencyCode:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
          example: EUR
        StartUtc:
          minLength: 1
          type: string
          format: date-time
          example: '2026-06-02T14:30:00Z'
        EndUtc:
          minLength: 1
          type: string
          format: date-time
          example: '2026-06-02T14:30:00Z'
        VoucherCode:
          type: string
          nullable: true
          example: string
      additionalProperties: false
      x-schema-id: ServicePricingParameters
    AvailabilityParameters:
      title: AvailabilityParameters
      required:
      - Client
      - EndUtc
      - FullAmounts
      - HotelId
      - StartUtc
      type: object
      properties:
        Client:
          minLength: 1
          type: string
          example: string
        LanguageCode:
          type: string
          nullable: true
          example: string
        CultureCode:
          type: string
          nullable: true
          example: string
        FullAmounts:
          type: boolean
          example: true
        Session:
          type: string
          nullable: true
          example: string
        HotelId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ConfigurationId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AvailabilityBlockId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CurrencyCode:
          type: string
          nullable: true
          deprecated: true
          example: EUR
        CurrencyCodes:
          type: array
          items:
            type: string
          nullable: true
        StartUtc:
          minLength: 1
          type: string
          format: date-time
          example: '2026-06-02T14:30:00Z'
        EndUtc:
          minLength: 1
          type: string
          format: date-time
          example: '2026-06-02T14:30:00Z'
        AdultCount:
          type: integer
          format: int32
          nullable: true
          deprecated: true
          example: 1
        ChildCount:
          type: integer
          format: int32
          nullable: true
          deprecated: true
          example: 1
        OccupancyData:
          type: array
          items:
            $ref: '#/components/schemas/OccupancyData'
          nullable: true
        VoucherCode:
          type: string
          nullable: true
          example: string
        ProductIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
        CategoryIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
        RateIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
      additionalProperties: false
      x-schema-id: AvailabilityParameters
    RestrictionType:
      enum:
      - ClosedToStay
      - ClosedToArrival
      - ClosedToDeparture
      type: string
    PaymentCardAuthorizationState:
      enum:
      - Authorized
      - Requested
      - Pending
      - Declined
      - Canceled
      type: string
    SettlementRuleType:
      enum:
      - Manual
      - Automatic
      type: string
    ExchangeRateResult:
      title: ExchangeRateResult
      required:
      - EnterpriseExchangeRates
      - PlatformExchangeRates
      type: object
      properties:
        EnterpriseExchangeRates:
          type: array
          items:
            $ref: '#/components/schemas/ExchangeRate'
        PlatformExchangeRates:
          type: array
          items:
            $ref: '#/components/schemas/ExchangeRate'
      additionalProperties: false
      x-schema-id: ExchangeRateResult
    BrowserInfo:
      title: BrowserInfo
      required:
      - AcceptHeader
      - ColorDepth
      - Language
      - ScreenHeight
      - ScreenWidth
      - TimeZoneOffset
      - UserAgent
      type: object
      properties:
        UserAgent:
          minLength: 1
          type: string
          example: string
        AcceptHeader:
          minLength: 1
          type: string
          example: string
        Language:
          minLength: 1
          type: string
          example: string
        ColorDepth:
          type: integer
          format: int32
          example: 1
        ScreenWidth:
          type: integer
          format: int32
          example: 1
        ScreenHeight:
          type: integer
          format: int32
          example: 1
        TimeZoneOffset:
          type: integer
          format: int32
          example: 1
      additionalProperties: false
      x-schema-id: BrowserInfo
    ExchangeRate:
      title: ExchangeRate
      required:
      - SourceCurrency
      - TargetCurrency
      type: object
      properties:
        SourceCurrency:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
          example: EUR
        TargetCurrency:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
          example: EUR
        Value:
          type: number
          format: double
          nullable: true
          example: 100.0
      additionalProperties: false
      x-schema-id: ExchangeRate
    TaxValue:
      title: TaxValue
      required:
      - TaxRateCode
      - Value
      type: object
      properties:
        TaxRateCode:
          minLength: 1
          type: string
          example: string
        Value:
          type: number
          format: double
          example: 100.0
      additionalProperties: false
      x-schema-id: TaxValue
    ReservationPricingInfo:
      title: ReservationPricingInfo
      required:
      - ProductOrderPrices
      - TotalAmount
      type: object
      properties:
        Identifier:
          type: string
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        TotalAmount:
          allOf:
          - $ref: '#/components/schemas/Amount'
          example: string
        AmountToChargeOnConfirmation:
          allOf:
          - $ref: '#/components/schemas/Amount'
          nullable: true
          example: string
        ProductOrderPrices:
          type: array
          items:
            $ref: '#/components/schemas/ProductOrderPricingInfo'
        Settlements:
          type: array
          items:
            $ref: '#/components/schemas/ReservationSettlement'
          nullable: true
      additionalProperties: false
      x-schema-id: ReservationPricingInfo
    LanguageResult:
      title: LanguageResult
      required:
      - Languages
      type: object
      properties:
        Languages:
          type: array
          items:
            $ref: '#/components/schemas/Language'
      additionalProperties: false
      x-schema-id: LanguageResult
    Service:
      title: Service
      required:
      - CreatedUtc
      - Data
      - EnterpriseId
      - Id
      - IsActive
      - Names
      - Ordering
      - ShortNames
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        EnterpriseId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Ordering:
          type: integer
          format: int32
          example: 1
        CreatedUtc:
          minLength: 1
          type: string
          format: date-time
          example: '2026-06-02T14:30:00Z'
        Names:
          type: object
          additionalProperties:
            type: string
        ShortNames:
          type: object
          additionalProperties:
            type: string
        IsActive:
          type: boolean
          example: true
        Data:
          title: Data
          type: object
          properties:
            discriminator:
              type: string
            value:
              oneOf:
              - $ref: '#/components/schemas/BookableService'
              - type: object
                additionalProperties: false
          x-coproduct: true
          x-schema-id: ServiceDataCoproductOfBookableServiceAdditionalService
      additionalProperties: false
      x-schema-id: Service
    RestrictionConditions:
      title: RestrictionConditions
      required:
      - Days
      - Type
      type: object
      properties:
        Type:
          $ref: '#/components/schemas/RestrictionType'
        ExactRateId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        BaseRateId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        RateGroupId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ResourceCategoryId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ResourceCategoryType:
          anyOf:
          - $ref: '#/components/schemas/ResourceCategoryType'
          nullable: true
          example: string
        StartUtc:
          type: string
          format: date-time
          nullable: true
          example: '2026-06-02T14:30:00Z'
        EndUtc:
          type: string
          format: date-time
          nullable: true
          example: '2026-06-02T14:30:00Z'
        Days:
          type: array
          items:
            type: string
      additionalProperties: false
      x-schema-id: RestrictionConditions
    Language:
      title: Language
      required:
      - Code
      - DefaultCulture
      - Name
      type: object
      properties:
        Code:
          minLength: 1
          type: string
          example: string
        Name:
          minLength: 1
          type: string
          example: Example Name
        DefaultCulture:
          allOf:
          - $ref: '#/components/schemas/Culture'
          example: string
      additionalProperties: false
      x-schema-id: Language
    BookingEngineTheme:
      enum:
      - Light
      - Dark
      type: string
    ProductOrderPricingInfo:
      title: ProductOrderPricingInfo
      required:
      - ChargingMode
      - ProductId
      - ProductName
      - ProductOptions
      - TotalAmount
      type: object
      properties:
        ProductId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AgeCategoryId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ProductName:
          type: object
          additionalProperties:
            type: string
        ProductOptions:
          allOf:
          - $ref: '#/components/schemas/ProductOptions'
          example: string
        ChargingMode:
          $ref: '#/components/schemas/ProductChargingMode'
        TotalAmount:
          allOf:
          - $ref: '#/components/schemas/Amount'
          example: string
      additionalProperties: false
      x-schema-id: ProductOrderPricingInfo
    PaymentCard3DsAuthorizationState:
      enum:
      - Authorized
      - Authorizable
      - Unauthorizable
      type: string
    Occupancy:
      title: Occupancy
      type: object
      properties:
        AdultCount:
          type: integer
          format: int32
          nullable: true
          deprecated: true
          example: 1
        ChildCount:
          type: integer
          format: int32
          nullable: true
          deprecated: true
          example: 1
        OccupancyData:
          type: array
          items:
            $ref: '#/components/schemas/OccupancyData'
          nullable: true
      additionalProperties: false
      x-schema-id: Occupancy
    OccupancyPricing:
      title: OccupancyPricing
      required:
      - Occupancies
      - RateGroupPrices
      type: object
      properties:
        Occupancies:
          type: array
          items:
            $ref: '#/components/schemas/OccupancyData'
        RateGroupPrices:
          type: array
          items:
            $ref: '#/components/schemas/RateGroupPricing'
      additionalProperties: false
      x-schema-id: OccupancyPricing
    Restriction:
      title: Restriction
      required:
      - Conditions
      - Exceptions
      - Id
      - ServiceId
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ServiceId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Conditions:
          allOf:
          - $ref: '#/components/schemas/RestrictionConditions'
          example: string
        Exceptions:
          allOf:
          - $ref: '#/components/schemas/RestrictionExceptions'
          example: string
        ExternalIdentifier:
          type: string
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: Restriction
    ReservationPriceParameters:
      title: ReservationPriceParameters
      required:
      - Client
      - ConfigurationId
      - FullAmounts
      - Reservations
      type: object
      properties:
        Client:
          minLength: 1
          type: string
          example: string
        LanguageCode:
          type: string
          nullable: true
          example: string
        CultureCode:
          type: string
          nullable: true
          example: string
        FullAmounts:
          type: boolean
          example: true
        Session:
          type: string
          nullable: true
          example: string
        ConfigurationId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Reservations:
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/Reservation'
        CurrencyCode:
          maxLength: 3
          type: string
          format: currency
          nullable: true
          example: EUR
      additionalProperties: false
      x-schema-id: ReservationPriceParameters
    ReservationPricing:
      title: ReservationPricing
      required:
      - OccupancyPrices
      type: object
      properties:
        OccupancyPrices:
          type: array
          items:
            $ref: '#/components/schemas/ResourceOccupancyPricing'
      additionalProperties: false
      x-schema-id: ReservationPricing
    ResourceCategoryAvailability:
      title: ResourceCategoryAvailability
      required:
      - AvailableRoomCount
      - RoomCategoryId
      - RoomOccupancyAvailabilities
      type: object
      properties:
        RoomCategoryId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AvailableRoomCount:
          type: integer
          format: int32
          example: 1
        RoomOccupancyAvailabilities:
          type: array
          items:
            $ref: '#/components/schemas/ResourceOccupancyPricing'
      additionalProperties: false
      x-schema-id: ResourceCategoryAvailability
    ServiceAvailabilityParameters:
      title: ServiceAvailabilityParameters
      required:
      - Client
      - EndUtc
      - EnterpriseId
      - FullAmounts
      - ServiceId
      - StartUtc
      type: object
      properties:
        Client:
          minLength: 1
          type: string
          example: string
        LanguageCode:
          type: string
          nullable: true
          example: string
        CultureCode:
          type: string
          nullable: true
          example: string
        FullAmounts:
          type: boolean
          example: true
        Session:
          type: string
          nullable: true
          example: string
        EnterpriseId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ServiceId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        StartUtc:
          minLength: 1
          type: string
          format: date-time
          example: '2026-06-02T14:30:00Z'
        EndUtc:
          minLength: 1
          type: string
          format: date-time
          example: '2026-06-02T14:30:00Z'
        BookingEngineId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AvailabilityBlockId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CategoryIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
      additionalProperties: false
      x-schema-id: ServiceAvailabilityParameters
    PaymentRequest:
      title: PaymentRequest
      required:
      - Id
      - ReservationGroupId
      - State
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ReservationGroupId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        State:
          $ref: '#/components/schemas/PaymentRequestState'
      additionalProperties: false
      x-schema-id: PaymentRequest
    AvailabilityBlockResult:
      title: AvailabilityBlockResult
      required:
      - AvailabilityBlocks
      type: object
      properties:
        AvailabilityBlocks:
          type: array
          items:
            $ref: '#/components/schemas/AvailabilityBlock'
      additionalProperties: false
      x-schema-id: AvailabilityBlockResult
    VoucherValidity:
      title: VoucherValidity
      required:
      - IsValid
      type: object
      properties:
        IsValid:
          type: boolean
          example: true
      additionalProperties: false
      x-schema-id: VoucherValidity
    RatePricing:
      title: RatePricing
      required:
      - AverageAmountPerFullTimeUnit
      - AverageAmountPerTimeUnit
      - AverageServiceItemAmountPerFullTimeUnit
      - AverageServiceItemAmountPerTimeUnit
      - TotalAmount
      type: object
      properties:
        TotalAmount:
          allOf:
          - $ref: '#/components/schemas/Amount'
          example: string
        AverageAmountPerTimeUnit:
          allOf:
          - $ref: '#/components/schemas/Amount'
          example: string
        AverageAmountPerFullTimeUnit:
          allOf:
          - $ref: '#/components/schemas/Amount'
          example: string
        AverageServiceItemAmountPerTimeUnit:
          allOf:
          - $ref: '#/components/schemas/Amount'
          example: string
        AverageServiceItemAmountPerFullTimeUnit:
          allOf:
          - $ref: '#/components/schemas/Amount'
          example: string
      additionalProperties: false
      x-schema-id: RatePricing
    Address:
      title: Address
      type: object
      properties:
        Line1:
          maxLength: 1023
          type: string
          nullable: true
          example: string
        Line2:
          maxLength: 255
          type: string
          nullable: true
          example: string
        City:
          maxLength: 255
          type: string
          nullable: true
          example: string
        PostalCode:
          maxLength: 255
          type: string
          nullable: true
          example: string
        CountryCode:
          maxLength: 8
          type: string
          nullable: true
          example: string
        Latitude:
          type: number
          format: double
          nullable: true
          example: 100.0
        Longitude:
          type: number
          format: double
          nullable: true
          example: 100.0
      additionalProperties: false
      x-schema-id: Address
    Amount:
      title: Amount
      required:
      - Breakdown
      - Currency
      - GrossValue
      - NetValue
      - TaxValues
      type: object
      properties:
        Currency:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
          example: EUR
        GrossValue:
          type: number
          format: double
          example: 100.0
        NetValue:
          type: number
          format: double
          example: 100.0
        TaxValues:
          type: array
          items:
            $ref: '#/components/schemas/TaxValue'
        Breakdown:
          allOf:
          - $ref: '#/components/schemas/TaxBreakdown'
          example: string
      additionalProperties: false
      x-schema-id: Amount
    City:
      title: City
      required:
      - Id
      - Name
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Name:
          type: object
          additionalProperties:
            type: string
        ImageId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: City
    CreditCardTypes:
      enum:
      - MasterCard
      - Visa
      - Amex
      - Discover
      - DinersClub
      - Jcb
      - Maestro
      - UnionPay
      - VPay
      - RuPay
      - Dankort
      - Mir
      - Verve
      - Troy
      - PostFinance
      - Giro
      - Bancomat
      - Bc
      - CarteBleue
      - Eftpos
      - Eps
      - Interac
      - Isracard
      - Meps
      - Nets
      - Bancontact
      type: string
    ServiceAvailabilityResult:
      title: ServiceAvailabilityResult
      required:
      - ApplicableRestrictions
      - CategoryAvailabilities
      - TimeUnitStartsUtc
      type: object
      properties:
        TimeUnitStartsUtc:
          type: array
          items:
            type: string
        CategoryAvailabilities:
          type: array
          items:
            $ref: '#/components/schemas/CategoryAvailability'
        ApplicableRestrictions:
          type: array
          items:
            $ref: '#/components/schemas/Restriction'
      additionalProperties: false
      x-schema-id: ServiceAvailabilityResult
    CreateReservationGroupParameters:
      title: CreateReservationGroupParameters
      required:
      - Client
      - Customer
      - FullAmounts
      - HotelId
      - Reservations
      type: object
      properties:
        Client:
          minLength: 1
          type: string
          example: string
        LanguageCode:
          type: string
          nullable: true
          example: string
        CultureCode:
          type: string
          nullable: true
          example: string
        FullAmounts:
          type: boolean
          example: true
        Session:
          type: string
          nullable: true
          example: string
        HotelId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ConfigurationId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AvailabilityBlockId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Customer:
          allOf:
          - $ref: '#/components/schemas/Customer'
          example: string
        Booker:
          allOf:
          - $ref: '#/components/schemas/Customer'
          nullable: true
          example: string
        Reservations:
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/Reservation'
        CreditCardData:
          allOf:
          - $ref: '#/components/schemas/CreditCardData'
          nullable: true
          example: string
      additionalProperties: false
      x-schema-id: CreateReservationGroupParameters
    PaymentCardFilterParameters:
      title: PaymentCardFilterParameters
      required:
      - Client
      - FullAmounts
      - PaymentCardIds
      type: object
      properties:
        Client:
          minLength: 1
          type: string
          example: string
        LanguageCode:
          type: string
          nullable: true
          example: string
        CultureCode:
          type: string
          nullable: true
          example: string
        FullAmounts:
          type: boolean
          example: true
        Session:
          type: string
          nullable: true
          example: string
        PaymentCardIds:
          minItems: 1
          type: array
          items:
            type: string
            format: uuid
      additionalProperties: false
      x-schema-id: PaymentCardFilterParameters
    PaymentCardAuthorizationRequestedAction:
      enum:
      - Redirect
      - Show
      - Nothing
      type: string
    TaxBreakdown:
      title: TaxBreakdown
      required:
      - Items
      type: object
      properties:
        Items:
          type: array
          items:
            $ref: '#/components/schemas/TaxBreakdownItem'
      additionalProperties: false
      x-schema-id: TaxBreakdown
    SettlementRuleTrigger:
      enum:
      - Confirmation
      - Start
      - End
      - StartDate
      - EndDate
      type: string
    ProductPostingMode:
      enum:
      - Once
      - PerTimeUnit
      type: string
    PaymentCardAuthorizationAction:
      title: PaymentCardAuthorizationAction
      required:
      - HttpMethod
      - Type
      - Url
      type: object
      properties:
        Type:
          $ref: '#/components/schemas/PaymentCardAuthorizationRequestedAction'
        Url:
          minLength: 1
          type: string
          format: uri
          example: https://api.mews.com/api/connector/v1
        HttpMethod:
          minLength: 1
          type: string
          example: string
        Data:
          nullable: true
          example: string
      additionalProperties: false
      x-schema-id: PaymentCardAuthorizationAction
    ResourceOccupancyPricing:
      title: ResourceOccupancyPricing
      required:
      - Pricing
      type: object
      properties:
        AdultCount:
          type: integer
          format: int32
          nullable: true
          deprecated: true
          example: 1
        ChildCount:
          type: integer
          format: int32
          nullable: true
          deprecated: true
          example: 1
        OccupancyData:
          type: array
          items:
            $ref: '#/components/schemas/OccupancyData'
          nullable: true
        Pricing:
          type: array
          items:
            $ref: '#/components/schemas/ResourcePricing'
      additionalProperties: false
      x-schema-id: ResourceOccupancyPricing
    ProductPrice:
      title: ProductPrice
      required:
      - AgeCategoryPrices
      - ProductId
      - TotalAmount
      - UnitAmount
      type: object
      properties:
        ProductId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        TotalAmount:
          example: string
        UnitAmount:
          example: string
        AgeCategoryPrices:
          type: array
          items:
            $ref: '#/components/schemas/AgeCategoryProductPrice'
      additionalProperties: false
      x-schema-id: ProductPrice
    BookableService:
      title: BookableService
      required:
      - EndOffset
      - StartOffset
      - TimeUnit
      type: object
      properties:
        StartOffset:
          minLength: 1
          type: string
          example: string
        EndOffset:
          minLength: 1
          type: string
          example: string
        TimeUnit:
          $ref: '#/components/schemas/TimeUnitPeriod'
      additionalProperties: false
      x-schema-id: BookableService
    OccupancyData:
      title: OccupancyData
      required:
      - AgeCategoryId
      - PersonCount
      type: object
      properties:
        AgeCategoryId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        PersonCount:
          type: integer
          format: int32
          example: 1
      additionalProperties: false
      x-schema-id: OccupancyData
    BookingEngine:
      title: BookingEngine
      required:
      - BookerReservationCustomerEmailInput
      - CheckoutStatement
      - CompetitorRateDescription
      - Enterprise
      - Id
      - PaymentCardRequirement
      - RequiredFields
      - ServiceId
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ServiceId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AdultCount:
          type: integer
          format: int32
          nullable: true
          deprecated: true
          example: 1
        ChildCount:
          type: integer
          format: int32
          nullable: true
          deprecated: true
          example: 1
        MaxAdultCount:
          type: integer
          format: int32
          nullable: true
          example: 1
        OccupancyData:
          type: array
          items:
            $ref: '#/components/schemas/OccupancyData'
          nullable: true
        DisplaySpecialRequests:
          type: boolean
          nullable: true
          example: true
        DisplayRateComparison:
          type: boolean
          nullable: true
          example: true
        ChildSelectionEnabled:
          type: boolean
          nullable: true
          example: true
        DisplayAvailability:
          type: boolean
          nullable: true
          example: true
        PaymentGatewayEnabled:
          type: boolean
          deprecated: true
          example: true
        PaymentCardInput:
          type: string
          nullable: true
          deprecated: true
          example: string
        PaymentCardRequirement:
          $ref: '#/components/schemas/BookingEnginePaymentCardRequirement'
        BookerReservationCustomerEmailInput:
          $ref: '#/components/schemas/BookingEngineBookerReservationCustomerEmailInput'
        RequiredFields:
          type: array
          items:
            $ref: '#/components/schemas/BookingEngineRequiredFields'
        OnlineTravelAgencies:
          type: array
          items:
            type: string
          nullable: true
        CheckoutStatement:
          type: object
          additionalProperties:
            type: string
        CompetitorRateDescription:
          type: object
          additionalProperties:
            type: string
        CompetitorPriceRelativeAdjustment:
          type: number
          format: double
          nullable: true
          example: 100.0
        Enterprise:
          allOf:
          - $ref: '#/components/schemas/Enterprise'
          example: string
      additionalProperties: false
      x-schema-id: BookingEngine
    BookingEngineParameters:
      title: BookingEngineParameters
      required:
      - Client
      - ConfigurationId
      - FullAmounts
      type: object
      properties:
        Client:
          minLength: 1
          type: string
          example: string
        LanguageCode:
          type: string
          nullable: true
          example: string
        CultureCode:
          type: string
          nullable: true
          example: string
        FullAmounts:
          type: boolean
          example: true
        Session:
          type: string
          nullable: true
          example: string
        ConfigurationId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: BookingEngineParameters
    PaymentCard:
      title: PaymentCard
      required:
      - AuthorizationState
      - Id
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AuthorizationState:
          $ref: '#/components/schemas/PaymentCard3DsAuthorizationState'
      additionalProperties: false
      x-schema-id: PaymentCard
    ServicePricingResult:
      title: ServicePricingResult
      required:
      - CategoryPrices
      - RateGroups
      - Rates
      type: object
      properties:
        RateGroups:
          type: array
          items:
            $ref: '#/components/schemas/RateGroup'
        Rates:
          type: array
          items:
            $ref: '#/components/schemas/Rate'
        CategoryPrices:
          type: array
          items:
            $ref: '#/components/schemas/ResourceCategoryPricing'
        ViolatedRestrictions:
          type: array
          items:
            $ref: '#/components/schemas/Restriction'
          nullable: true
      additionalProperties: false
      x-schema-id: ServicePricingResult
    PricingMode:
      enum:
      - Gross
      - Net
      type: string
    CountryResult:
      title: CountryResult
      required:
      - Countries
      type: object
      properties:
        Countries:
          type: array
          items:
            $ref: '#/components/schemas/Country'
      additionalProperties: false
      x-schema-id: CountryResult
    ProductChargingMode:
      enum:
      - Once
      - PerTimeUnit
      - PerPersonPerTimeUnit
      - PerPerson
      type: string
    BookingEngineBookerReservationCustomerEmailInput:
      enum:
      - Required
      - Optional
      type: string
    Rate:
      title: Rate
      required:
      - CurrencyCode
      - Description
      - Id
      - IsPrivate
      - Name
      - Ordering
      - RateGroupId
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        RateGroupId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Ordering:
          type: integer
          format: int32
          example: 1
        Name:
          type: object
          additionalProperties:
            type: string
            nullable: true
        Description:
          type: object
          additionalProperties:
            type: string
            nullable: true
        IsPrivate:
          type: boolean
          example: true
        CurrencyCode:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
          example: EUR
      additionalProperties: false
      x-schema-id: Rate
    Customer:
      title: Customer
      required:
      - LastName
      type: object
      properties:
        Email:
          type: string
          format: email
          nullable: true
          example: partner@example.com
        FirstName:
          type: string
          nullable: true
          example: Example Name
        LastName:
          minLength: 1
          type: string
          example: Example Name
        Telephone:
          type: string
          format: tel
          nullable: true
          example: string
        NationalityCode:
          maxLength: 2
          type: string
          nullable: true
          example: string
        SendMarketingEmails:
          type: boolean
          nullable: true
          example: true
      additionalProperties: false
      x-schema-id: Customer
    PaymentCardStorageType:
      enum:
      - Adyen
      - Stripe
      - PciProxy
      type: string
    ResourcePricing:
      title: ResourcePricing
      required:
      - MaxPrice
      - Price
      - RateId
      type: object
      properties:
        RateId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Price:
          allOf:
          - $ref: '#/components/schemas/ResourcePrice'
          example: string
        MaxPrice:
          allOf:
          - $ref: '#/components/schemas/ResourcePrice'
          example: string
      additionalProperties: false
      x-schema-id: ResourcePricing
    PaymentCardResult:
      title: PaymentCardResult
      required:
      - PaymentCards
      type: object
      properties:
        PaymentCards:
          type: array
          items:
            $ref: '#/components/schemas/PaymentCard'
      additionalProperties: false
      x-schema-id: PaymentCardResult
    ProductPricesResult:
      title: ProductPricesResult
      required:
      - Prices
      type: object
      properties:
        Prices:
          type: array
          items:
            $ref: '#/components/schemas/ProductPrice'
      additionalProperties: false
      x-schema-id: ProductPricesResult
    ExchangeRateParameters:
      title: ExchangeRateParameters
      required:
      - Client
      - FullAmounts
      - HotelId
      - SourceCurrencyCode
      type: object
      properties:
        Client:
          minLength: 1
          type: string
          example: string
        LanguageCode:
          type: string
          nullable: true
          example: string
        CultureCode:
          type: string
          nullable: true
          example: string
        FullAmounts:
          type: boolean
          example: true
        Session:
          type: string
          nullable: true
          example: string
        HotelId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        SourceCurrencyCode:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
          example: EUR
      additionalProperties: false
      x-schema-id: ExchangeRateParameters
    Currency:
      title: Currency
      required:
      - Code
      - DecimalPlaces
      - Symbol
      - SymbolIsBehindValue
      - ValueFormat
      type: object
      properties:
        Code:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
          example: string
        Symbol:
          minLength: 1
          type: string
          example: string
        ValueFormat:
          minLength: 1
          type: string
          example: string
        DecimalPlaces:
          type: integer
          format: int32
          example: 1
        SymbolIsBehindValue:
          type: boolean
          example: true
      additionalProperties: false
      x-schema-id: Currency
    ResourceCategoryImageAssignment:
      title: ResourceCategoryImageAssignment
      required:
      - CategoryId
      - Id
      - ImageId
      - Ordering
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CategoryId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ImageId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Ordering:
          type: integer
          format: int32
          example: 1
      additionalProperties: false
      x-schema-id: ResourceCategoryImageAssignment
    AgeCategoryClassification:
      enum:
      - Adult
      - Child
      type: string
    Category:
      title: Category
      required:
      - Description
      - ExtraBedCount
      - Id
      - Name
      - NormalBedCount
      - SpaceType
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Name:
          type: object
          additionalProperties:
            type: string
        Description:
          type: object
          additionalProperties:
            type: string
        ImageIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
          deprecated: true
        Ordering:
          type: integer
          format: int32
          nullable: true
          example: 1
        NormalBedCount:
          type: integer
          format: int32
          example: 1
        ExtraBedCount:
          type: integer
          format: int32
          example: 1
        SpaceType:
          $ref: '#/components/schemas/ResourceCategoryType'
      additionalProperties: false
      x-schema-id: Category
    AvailabilityBlock:
      title: AvailabilityBlock
      required:
      - EndUtc
      - Id
      - RateId
      - ServiceId
      - StartUtc
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ServiceId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        RateId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        StartUtc:
          minLength: 1
          type: string
          format: date-time
          example: '2026-06-02T14:30:00Z'
        EndUtc:
          minLength: 1
          type: string
          format: date-time
          example: '2026-06-02T14:30:00Z'
        Name:
          type: string
          nullable: true
          example: Example Name
      additionalProperties: false
      x-schema-id: AvailabilityBlock
    Country:
      title: Country
      required:
      - Code
      - Name
      type: object
      properties:
        Code:
          maxLength: 2
          minLength: 1
          type: string
          example: string
        SovereignCountryCode:
          type: string
          nullable: true
          example: string
        Name:
          minLength: 1
          type: string
          example: Example Name
      additionalProperties: false
      x-schema-id: Country
    TimeUnitPeriod:
      enum:
      - Day
      - Month
      - Hour
      type: string
    PaymentGatewayAccount:
      title: PaymentGatewayAccount
      required:
      - CurrencyCode
      type: object
      properties:
        CurrencyCode:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
          example: EUR
      additionalProperties: false
      x-schema-id: PaymentGatewayAccount
    BookingEngineRequiredFields:
      enum:
      - Telephone
      type: string
    VoucherParameters:
      title: VoucherParameters
      required:
      - Client
      - FullAmounts
      - HotelId
      - VoucherCode
      type: object
      properties:
        Client:
          minLength: 1
          type: string
          example: string
        LanguageCode:
          type: string
          nullable: true
          example: string
        CultureCode:
          type: string
          nullable: true
          example: string
        FullAmounts:
          type: boolean
          example: true
        Session:
          type: string
          nullable: true
          example: string
        HotelId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        VoucherCode:
          minLength: 1
          type: string
          example: string
        ServiceIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
      additionalProperties: false
      x-schema-id: VoucherParameters
    ResourceCategoryPricing:
      title: ResourceCategoryPricing
      required:
      - CategoryId
      - OccupancyPrices
      type: object
      properties:
        CategoryId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        OccupancyPrices:
          type: array
          items:
            $ref: '#/components/schemas/OccupancyPricing'
      additionalProperties: false
      x-schema-id: ResourceCategoryPricing
    AvailabilityBlockFilterParameters:
      title: AvailabilityBlockFilterParameters
      required:
      - AvailabilityBlockIds
      - Client
      - EnterpriseId
      - FullAmounts
      type: object
      properties:
        Client:
          minLength: 1
          type: string
          example: string
        LanguageCode:
          type: string
          nullable: true
          example: string
        CultureCode:
          type: string
          nullable: true
          example: string
        FullAmounts:
          type: boolean
          example: true
        Session:
          type: string
          nullable: true
          example: string
        EnterpriseId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AvailabilityBlockIds:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            type: string
            format: uuid
      additionalProperties: false
      x-schema-id: AvailabilityBlockFilterParameters
    ReservationGroup:
      title: ReservationGroup
      required:
      - CreditCardAvailable
      - Id
      - Reservations
      - TotalAmount
      - TotalCost
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CustomerId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Reservations:
          type: array
          items:
            $ref: '#/components/schemas/Reservation'
        PaymentRequestId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        TotalCost:
          example: string
        TotalAmount:
          example: string
        PaymentCardId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CreditCardAvailable:
          type: boolean
          example: true
        PaymentRequests:
          type: array
          items:
            $ref: '#/components/schemas/PaymentRequest'
          nullable: true
        Payments:
          type: array
          items:
            $ref: '#/components/schemas/Payment'
          nullable: true
      additionalProperties: false
      x-schema-id: ReservationGroup
  securitySchemes:
    MewsClientToken:
      type: apiKey
      in: header
      name: ClientToken
      description: Mews authentication is performed by supplying ClientToken, AccessToken and Client as fields in the JSON request body (not as HTTP headers). This securityScheme is a tooling-compatible representation of the ClientToken credential. ClientToken is unique to your application and identifies the API client.
    MewsAccessToken:
      type: apiKey
      in: header
      name: AccessToken
      description: Tooling-compatible representation of the AccessToken credential, which is supplied in the JSON request body. AccessToken is unique to the connection with a property (enterprise) and identifies the property or properties whose data and services you can access. Portfolio Access Tokens enable multi-property access with a single token.
