openapi: 3.2.0
info:
  title: Mews Booking Engine API (Distributor) Account notes Availability adjustments API
  version: v1
  description: The Mews Booking Engine API (historically the Distributor API, served from /api/distributor/v1) lets developers build guest-facing booking engines that create reservations directly in Mews. It exposes enterprise configuration, availability, pricing, products, vouchers, payment cards, and reservation group creation for front-end client consumption.
  x-generated-from: documentation
  x-source-url: https://api.mews.com/Swagger/distributor/swagger.json
  x-last-validated: '2026-06-02'
servers:
- url: https://api.mews.com
  description: Production
- url: https://api.mews-demo.com
  description: Demo / sandbox
security:
- MewsClientToken: []
  MewsAccessToken: []
tags:
- name: Availability adjustments
paths:
  /api/connector/v1/availabilityAdjustments/getAll:
    post:
      tags:
      - Availability adjustments
      summary: Mews Get All Availability Adjustments
      description: 'Returns all availability adjustments.

        Note this operation uses [Pagination](https://mews-systems.gitbook.io/connector-api/guidelines/pagination/) and supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).'
      operationId: availabilityAdjustments_getAll
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilityAdjustmentParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              AvailabilityAdjustmentIds:
              - e19297af-373e-4701-b4ea-afae0129bded
              - 7413724a-6c48-46d4-ab3a-afae01280999
              UpdatedUtc:
                StartUtc: '2023-02-18T18:00:10.155Z'
                EndUtc: '2023-02-20T18:00:10.155Z'
              ActivityStates:
              - Active
              - Deleted
              EnterpriseIds:
              - 3fa85f64-5717-4562-b3fc-2c963f66afa6
              - 4d0201db-36f5-428b-8d11-4f0a65e960cc
              Limitation:
                Count: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityAdjustmentResult'
              example:
                AvailabilityAdjustments:
                - Id: e19297af-373e-4701-b4ea-afae0129bded
                  AvailabilityBlockId: 5ee074b1-6c86-48e8-915f-c7aa4702086f
                  ResourceCategoryId: 773d5e42-de1e-43a0-9ce6-f940faf2303f
                  StartUtc: null
                  EndUtc: null
                  FirstTimeUnitStartUtc: '2021-10-14T00:00:00Z'
                  LastTimeUnitStartUtc: '2021-10-17T00:00:00Z'
                  UnitCount: 6
                  ActivityState: Active
                  ReleaseOverrideUtc: '2021-10-13T00:00:00Z'
                  UpdatedUtc: '2021-10-21T13:32:32Z'
                  IsActive: false
                  PaxCounts: null
                  FirstTimeUnitReleaseUtc: '2021-10-13T00:00:00Z'
                - Id: 7413724a-6c48-46d4-ab3a-afae01280999
                  AvailabilityBlockId: null
                  ResourceCategoryId: 773d5e42-de1e-43a0-9ce6-f940faf2303f
                  StartUtc: null
                  EndUtc: null
                  FirstTimeUnitStartUtc: '2023-02-19T23:00:00Z'
                  LastTimeUnitStartUtc: '2023-02-23T23:00:00Z'
                  UnitCount: 5
                  ActivityState: Deleted
                  ReleaseOverrideUtc: null
                  UpdatedUtc: '2023-02-28T23:00:00Z'
                  IsActive: false
                  PaxCounts: null
                  FirstTimeUnitReleaseUtc: null
                Cursor: 7413724a-6c48-46d4-ab3a-afae01280999
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityAdjustmentsGetAll400Example:
                  summary: Default availabilityAdjustments_getAll 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityAdjustmentsGetAll401Example:
                  summary: Default availabilityAdjustments_getAll 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityAdjustmentsGetAll403Example:
                  summary: Default availabilityAdjustments_getAll 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityAdjustmentsGetAll408Example:
                  summary: Default availabilityAdjustments_getAll 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityAdjustmentsGetAll204Example:
                  summary: Default availabilityAdjustments_getAll 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityAdjustmentsGetAll429Example:
                  summary: Default availabilityAdjustments_getAll 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                AvailabilityAdjustmentsGetAll500Example:
                  summary: Default availabilityAdjustments_getAll 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ActivityStateEnum:
      title: Activity state
      enum:
      - Deleted
      - Active
      type: string
      description: '


        Deleted


        Active'
      x-enumNames:
      - Deleted
      - Active
      x-enumDescriptions:
      - ''
      - ''
    AvailabilityAdjustmentParameters:
      title: AvailabilityAdjustmentParameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - Limitation
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        Limitation:
          allOf:
          - $ref: '#/components/schemas/Limitation'
          description: Limitation on the quantity of data returned and optional Cursor for the starting point of data.
          example: string
        EnterpriseIds:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of the Enterprises. If not specified, the operation returns data for all enterprises within scope of the Access Token.
        AvailabilityAdjustmentIds:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of the requested [Availability adjustments](https://mews-systems.gitbook.io/connector-api/operations/#availability-adjustment).
        UpdatedUtc:
          title: Time interval
          allOf:
          - $ref: '#/components/schemas/TimeFilterInterval'
          description: Interval in which the availability adjustments were updated.
          x-max-interval-in-months: 3
          example: string
        ActivityStates:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ActivityState'
          description: Whether to return only active, only deleted, or both types of record. If not specified, only active records will be returned.
      additionalProperties: false
      x-schema-id: AvailabilityAdjustmentParameters
    PaxCount:
      title: PaxCount
      required:
      - PersonCount
      - UnitCount
      type: object
      properties:
        PersonCount:
          type: integer
          description: Predicted guest count that will be assigned to the Resource. The guest count must fit within the Resource Category maximum capacity.
          format: int32
          example: 1
        UnitCount:
          type: integer
          description: Positive number of adjustments that are assigned to `PersonCount`. The sum of all `UnitCount` in `PaxCounts` should match the adjustment value applied to the interval.
          format: int32
          example: 1
      additionalProperties: false
      x-schema-id: PaxCount
    Limitation:
      title: Limitation
      required:
      - Count
      type: object
      properties:
        Count:
          type: integer
          format: int32
          example: 1
        Cursor:
          type:
          - string
          - 'null'
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      description: Limitation on the quantity of data returned.
      x-schema-id: Limitation
    AvailabilityAdjustmentResult:
      title: AvailabilityAdjustmentResult
      required:
      - AvailabilityAdjustments
      type: object
      properties:
        AvailabilityAdjustments:
          type: array
          items:
            $ref: '#/components/schemas/AvailabilityAdjustment'
          description: Availability adjustments.
        Cursor:
          type:
          - string
          - 'null'
          description: Unique identifier of the item one newer in time order than the items to be returned. If Cursor is not specified, i.e. null, then the latest or most recent items will be returned.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: AvailabilityAdjustmentResult
    TimeFilterInterval:
      title: Time interval
      type: object
      properties:
        StartUtc:
          type:
          - string
          - 'null'
          format: date-time
          example: '2026-06-02T14:30:00Z'
        EndUtc:
          type:
          - string
          - 'null'
          format: date-time
          example: '2026-06-02T14:30:00Z'
      additionalProperties: false
      description: "When a time interval is used for **filtering** (for example in parameters such as `CreatedUtc.StartUtc` / `CreatedUtc.EndUtc`), the following rules apply:\n\n- **Start equals End (equality mode)**  \n  If `StartUtc` and `EndUtc` are exactly the same timestamp, the filter is treated as an equality check for that precise moment in time:\n  \n  ```\n  CreatedUtc == StartUtc\n  ```\n  \n  This does not represent an interval; only records with `CreatedUtc` equal to that exact instant are returned.\n\n- **Start differs from End (interval mode)**  \n  If `StartUtc` and `EndUtc` are different, the filter is evaluated as a half-open interval:\n  \n  ```\n  StartUtc <= CreatedUtc < EndUtc\n  ```\n  \n  In other words, the start is inclusive and the end is exclusive.\n\nMake sure your integration takes inclusive Start / exclusive End behavior of time intervals into account so that no records at the boundaries are omitted."
      x-schema-id: TimeFilterInterval
    ConnectorApiExceptionResult:
      title: ConnectorApiExceptionResult
      type: object
      properties:
        Message:
          type:
          - string
          - 'null'
          example: string
        RequestId:
          type:
          - string
          - 'null'
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Details:
          example: string
      additionalProperties: false
      x-schema-id: ConnectorApiExceptionResult
    ActivityState:
      title: Activity state
      enum:
      - Deleted
      - Active
      type: string
    AvailabilityAdjustment:
      title: Availability adjustment
      required:
      - ActivityState
      - FirstTimeUnitStartUtc
      - Id
      - IsActive
      - LastTimeUnitStartUtc
      - ResourceCategoryId
      - UnitCount
      - UpdatedUtc
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the [Availability adjustment](https://mews-systems.gitbook.io/connector-api/operations/#availability-adjustment).
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AvailabilityBlockId:
          type:
          - string
          - 'null'
          description: Unique identifier of the [Availability block](https://mews-systems.gitbook.io/connector-api/operations/availabilityblocks/#availability-block) which the availability adjustment belongs to.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ResourceCategoryId:
          type: string
          description: Unique identifier of the [Resource category](https://mews-systems.gitbook.io/connector-api/operations/resources/#resource-category) whose availability is updated.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        StartUtc:
          type:
          - string
          - 'null'
          description: Start of the interval in UTC timezone in ISO 8601 format.
          deprecated: true
          example: string
        EndUtc:
          type:
          - string
          - 'null'
          description: End of the interval in UTC timezone in ISO 8601 format.
          deprecated: true
          example: string
        FirstTimeUnitStartUtc:
          minLength: 1
          type: string
          description: Start of the time interval, expressed as the timestamp for the start of the first [time unit](https://mews-systems.gitbook.io/connector-api/operations/services/#time-unit), in UTC timezone ISO 8601 format.
          format: date-time
          example: '2026-06-02T14:30:00Z'
        LastTimeUnitStartUtc:
          minLength: 1
          type: string
          description: End of the time interval, expressed as the timestamp for the start of the last [time unit](https://mews-systems.gitbook.io/connector-api/operations/services/#time-unit), in UTC timezone ISO 8601 format.
          format: date-time
          example: '2026-06-02T14:30:00Z'
        UnitCount:
          type: integer
          description: Adjustment value applied on the interval.
          format: int32
          example: 1
        ActivityState:
          title: Activity state
          allOf:
          - $ref: '#/components/schemas/ActivityStateEnum'
          description: 'Shows whether the availability adjustment is active or deleted.


            Deleted


            Active'
          deprecated: true
          x-enumNames:
          - Deleted
          - Active
          x-enumDescriptions:
          - ''
          - ''
          x-deprecatedMessage: Use `IsActive` instead.
          example: string
        ReleaseOverrideUtc:
          type:
          - string
          - 'null'
          description: Exact moment the availability adjustment is released if set; overrides the release strategy of the associated availability block.
          format: date-time
          example: '2026-06-02T14:30:00Z'
        UpdatedUtc:
          minLength: 1
          type: string
          description: Last update date and time of the adjustment in UTC timezone in ISO 8601 format.
          format: date-time
          example: '2026-06-02T14:30:00Z'
        IsActive:
          type: boolean
          description: Whether the availability adjustment is still active.
          example: true
        PaxCounts:
          maxItems: 5
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PaxCount'
          description: Collection of predicted occupancy of availability adjustments. Relates to how many adjustments are assigned to each count of guests.
        FirstTimeUnitReleaseUtc:
          type:
          - string
          - 'null'
          description: Exact moment the first time unit of the availability adjustment is released based on `ReleaseOverrideUtc` or the `ReleaseStrategy` of the associated availability block, or the `OperationalEditableHistoryInterval` of the associated enterprise if not set, or `null` if `AvailabilityBlockId` is `null`.
          format: date-time
          example: '2026-06-02T14:30:00Z'
      additionalProperties: false
      x-schema-id: AvailabilityAdjustment
  securitySchemes:
    MewsClientToken:
      type: apiKey
      in: header
      name: ClientToken
      description: Mews authentication is performed by supplying ClientToken, AccessToken and Client as fields in the JSON request body (not as HTTP headers). This securityScheme is a tooling-compatible representation of the ClientToken credential. ClientToken is unique to your application and identifies the API client.
    MewsAccessToken:
      type: apiKey
      in: header
      name: AccessToken
      description: Tooling-compatible representation of the AccessToken credential, which is supplied in the JSON request body. AccessToken is unique to the connection with a property (enterprise) and identifies the property or properties whose data and services you can access. Portfolio Access Tokens enable multi-property access with a single token.
