openapi: 3.2.0
info:
  title: Mews Booking Engine API (Distributor) Account notes Billing automations API
  version: v1
  description: The Mews Booking Engine API (historically the Distributor API, served from /api/distributor/v1) lets developers build guest-facing booking engines that create reservations directly in Mews. It exposes enterprise configuration, availability, pricing, products, vouchers, payment cards, and reservation group creation for front-end client consumption.
  x-generated-from: documentation
  x-source-url: https://api.mews.com/Swagger/distributor/swagger.json
  x-last-validated: '2026-06-02'
servers:
- url: https://api.mews.com
  description: Production
- url: https://api.mews-demo.com
  description: Demo / sandbox
security:
- MewsClientToken: []
  MewsAccessToken: []
tags:
- name: Billing automations
paths:
  /api/connector/v1/billingAutomations/getAll:
    post:
      tags:
      - Billing automations
      summary: Mews Get All Billing Automations
      description: Returns all billing automations. Note this operation uses [Pagination](https://mews-systems.gitbook.io/connector-api/guidelines/pagination/) and supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property/).
      operationId: billingAutomations_getAll
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingAutomationFilterParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              CompanyIds:
              - c6f5c82d-621a-4c8a-903b-1b0a9a23b71f
              - 956aa0f0-a090-42c8-bee2-991972d32f80
              BillingAutomationIds:
              - ecd64eec-4423-4c65-b844-814b9199856d
              - 13e6b16e-39bc-4cb1-8610-70ecdb4f91cc
              EnterpriseIds:
              - 3fa85f64-5717-4562-b3fc-2c963f66afa6
              - 4d0201db-36f5-428b-8d11-4f0a65e960cc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAutomationResult'
              example:
                BillingAutomations:
                - Id: ecd64eec-4423-4c65-b844-814b9199856d
                  EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  Name: Continuous billing automation for company XYZ
                  Description: Billing Automation for company XYZ with prepayment all, company as owner.
                  CompaniesWithRelations:
                  - CompanyId: c6f5c82d-621a-4c8a-903b-1b0a9a23b71f
                    CompanyRelations:
                      PartnerCompany: true
                      TravelAgency: false
                  Prepayment: All
                  AssignmentTargetType: CompanyAsOwner
                  TriggerType: Continuous
                  BillAggregationType: AggregateAll
                  CreatedUtc: '2017-01-31T10:58:06Z'
                  UpdatedUtc: '2023-10-28T14:23:00Z'
                  CreatorProfileId: 3cd637ef-4728-47f9-8fb1-afb900c9cdcf
                  UpdaterProfileId: 122fc063-ec6e-4198-b8db-6b168a59ffae
                  ProcessingStartOffset: null
                  OrderItemConsumptionPeriod: null
                  Assignments:
                  - Id: d6b550e9-9c4b-42dd-9daa-555312b030e6
                    BillingAutomationId: ecd64eec-4423-4c65-b844-814b9199856d
                    ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                    RoutedItemTypes:
                      SpaceOrder: true
                      CityTax: true
                      AllProducts: true
                      Deposits: true
                      AdditionalExpenses: false
                      AllCustomItems: false
                    RateIds:
                    - ab3682ba-4493-4eb0-bcdc-8d000f5bad65
                    ProductCategoryIds:
                    - 599c477e-b826-4444-8ded-4fa7276ef0c1
                    ProductIds:
                    - f0184ec2-9f02-4026-9b70-0b2bed2adde7
                    AccountingCategoryAssignments:
                    - AccountingCategoryId: 2e0f5930-605e-4a23-9994-a7701a56b576
                      ItemTypes:
                        Products: true
                        CustomItems: false
                Cursor: 54ec08b6-e6fc-48e9-b8ae-02943e0ac693
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsGetAll400Example:
                  summary: Default billingAutomations_getAll 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsGetAll401Example:
                  summary: Default billingAutomations_getAll 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsGetAll403Example:
                  summary: Default billingAutomations_getAll 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsGetAll408Example:
                  summary: Default billingAutomations_getAll 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsGetAll204Example:
                  summary: Default billingAutomations_getAll 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsGetAll429Example:
                  summary: Default billingAutomations_getAll 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsGetAll500Example:
                  summary: Default billingAutomations_getAll 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/billingAutomations/add:
    post:
      tags:
      - Billing automations
      summary: Mews Add Billing Automations
      description: Adds billing automations.
      operationId: billingAutomations_add
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultipleBillingAutomationAddParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              BillingAutomations:
              - Name: Company A billing automation
                Description: Billing automation routing reservations made for Company A to bills where company is an owner, aggregating all reservations onto one bill.
                CompaniesWithRelations:
                - CompanyId: c6f5c82d-621a-4c8a-903b-1b0a9a23b71f
                  CompanyRelations:
                    PartnerCompany: true
                    TravelAgency: false
                Prepayment: All
                AssignmentTargetType: CompanyAsOwner
                TriggerType: Continuous
                BillAggregationType: AggregateAll
                Assignments:
                - ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                  RoutedItemTypes:
                    SpaceOrder: true
                    CityTax: true
                    AllProducts: false
                    Deposits: true
                    AdditionalExpenses: true
                    AllCustomItems: false
                  ProductIds:
                  - 507d93e6-9fb5-4734-a6d1-977afc4dfdff
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAutomationModificationResult'
              example:
                BillingAutomations:
                - Id: ecd64eec-4423-4c65-b844-814b9199856d
                  EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  Name: Continuous billing automation for company XYZ
                  Description: Billing Automation for company XYZ with prepayment all, company as owner.
                  CompaniesWithRelations:
                  - CompanyId: c6f5c82d-621a-4c8a-903b-1b0a9a23b71f
                    CompanyRelations:
                      PartnerCompany: true
                      TravelAgency: false
                  Prepayment: All
                  AssignmentTargetType: CompanyAsOwner
                  TriggerType: Continuous
                  BillAggregationType: AggregateAll
                  CreatedUtc: '2017-01-31T10:58:06Z'
                  UpdatedUtc: '2023-10-28T14:23:00Z'
                  CreatorProfileId: 3cd637ef-4728-47f9-8fb1-afb900c9cdcf
                  UpdaterProfileId: 122fc063-ec6e-4198-b8db-6b168a59ffae
                  ProcessingStartOffset: null
                  OrderItemConsumptionPeriod: null
                  Assignments:
                  - Id: d6b550e9-9c4b-42dd-9daa-555312b030e6
                    BillingAutomationId: ecd64eec-4423-4c65-b844-814b9199856d
                    ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                    RoutedItemTypes:
                      SpaceOrder: true
                      CityTax: true
                      AllProducts: true
                      Deposits: true
                      AdditionalExpenses: false
                      AllCustomItems: false
                    RateIds:
                    - ab3682ba-4493-4eb0-bcdc-8d000f5bad65
                    ProductCategoryIds:
                    - 599c477e-b826-4444-8ded-4fa7276ef0c1
                    ProductIds:
                    - f0184ec2-9f02-4026-9b70-0b2bed2adde7
                    AccountingCategoryAssignments:
                    - AccountingCategoryId: 2e0f5930-605e-4a23-9994-a7701a56b576
                      ItemTypes:
                        Products: true
                        CustomItems: false
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsAdd400Example:
                  summary: Default billingAutomations_add 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsAdd401Example:
                  summary: Default billingAutomations_add 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsAdd403Example:
                  summary: Default billingAutomations_add 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsAdd408Example:
                  summary: Default billingAutomations_add 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsAdd204Example:
                  summary: Default billingAutomations_add 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsAdd429Example:
                  summary: Default billingAutomations_add 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsAdd500Example:
                  summary: Default billingAutomations_add 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/billingAutomations/update:
    post:
      tags:
      - Billing automations
      summary: Mews Update Billing Automations
      description: Updates one or more existing billing automations.
      operationId: billingAutomations_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultipleBillingAutomationUpdateParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              BillingAutomationUpdates:
              - BillingAutomationId: ecd64eec-4423-4c65-b844-814b9199856d
                Name:
                  Value: New name.
                Description:
                  Value: Billing Automation that has prepayment changed to All, Assignment target to Company as owner and Bill aggregation to aggregate all items into one bill.
                Prepayment:
                  Value: All
                AssignmentTargetType:
                  Value: CompanyAsOwner
                BillAggregationType:
                  Value: AggregateAll
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAutomationModificationResult'
              example:
                BillingAutomations:
                - Id: ecd64eec-4423-4c65-b844-814b9199856d
                  EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  Name: Continuous billing automation for company XYZ
                  Description: Billing Automation for company XYZ with prepayment all, company as owner.
                  CompaniesWithRelations:
                  - CompanyId: c6f5c82d-621a-4c8a-903b-1b0a9a23b71f
                    CompanyRelations:
                      PartnerCompany: true
                      TravelAgency: false
                  Prepayment: All
                  AssignmentTargetType: CompanyAsOwner
                  TriggerType: Continuous
                  BillAggregationType: AggregateAll
                  CreatedUtc: '2017-01-31T10:58:06Z'
                  UpdatedUtc: '2023-10-28T14:23:00Z'
                  CreatorProfileId: 3cd637ef-4728-47f9-8fb1-afb900c9cdcf
                  UpdaterProfileId: 122fc063-ec6e-4198-b8db-6b168a59ffae
                  ProcessingStartOffset: null
                  OrderItemConsumptionPeriod: null
                  Assignments:
                  - Id: d6b550e9-9c4b-42dd-9daa-555312b030e6
                    BillingAutomationId: ecd64eec-4423-4c65-b844-814b9199856d
                    ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                    RoutedItemTypes:
                      SpaceOrder: true
                      CityTax: true
                      AllProducts: true
                      Deposits: true
                      AdditionalExpenses: false
                      AllCustomItems: false
                    RateIds:
                    - ab3682ba-4493-4eb0-bcdc-8d000f5bad65
                    ProductCategoryIds:
                    - 599c477e-b826-4444-8ded-4fa7276ef0c1
                    ProductIds:
                    - f0184ec2-9f02-4026-9b70-0b2bed2adde7
                    AccountingCategoryAssignments:
                    - AccountingCategoryId: 2e0f5930-605e-4a23-9994-a7701a56b576
                      ItemTypes:
                        Products: true
                        CustomItems: false
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsUpdate400Example:
                  summary: Default billingAutomations_update 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsUpdate401Example:
                  summary: Default billingAutomations_update 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsUpdate403Example:
                  summary: Default billingAutomations_update 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsUpdate408Example:
                  summary: Default billingAutomations_update 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsUpdate204Example:
                  summary: Default billingAutomations_update 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsUpdate429Example:
                  summary: Default billingAutomations_update 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsUpdate500Example:
                  summary: Default billingAutomations_update 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/billingAutomations/updateAssignments:
    post:
      tags:
      - Billing automations
      summary: Mews Update Billing Automations Assignments
      description: Add, update or remove billing automation assignments of a specific billing automation.
      operationId: billingAutomations_updateAssignments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingAutomationAssignmentsUpdateParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              BillingAutomationId: ecd64eec-4423-4c65-b844-814b9199856d
              AssignmentsToUpdate:
              - BillingAutomationAssignmentId: 00000000-0000-0000-0000-000000000000
                RoutedItemTypes:
                  SpaceOrder:
                    Value: true
                  CityTax:
                    Value: true
                  AllProducts:
                    Value: false
                  Deposits:
                    Value: true
                  AdditionalExpenses:
                    Value: true
                  AllCustomItems:
                    Value: false
                ProductIds:
                  Value:
                  - 507d93e6-9fb5-4734-a6d1-977afc4dfdff
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAutomationAssignmentsUpdateParameters'
              example:
                BillingAutomations:
                - Id: ecd64eec-4423-4c65-b844-814b9199856d
                  EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  Name: Continuous billing automation for company XYZ
                  Description: Billing Automation for company XYZ with prepayment all, company as owner.
                  CompaniesWithRelations:
                  - CompanyId: c6f5c82d-621a-4c8a-903b-1b0a9a23b71f
                    CompanyRelations:
                      PartnerCompany: true
                      TravelAgency: false
                  Prepayment: All
                  AssignmentTargetType: CompanyAsOwner
                  TriggerType: Continuous
                  BillAggregationType: AggregateAll
                  CreatedUtc: '2017-01-31T10:58:06Z'
                  UpdatedUtc: '2023-10-28T14:23:00Z'
                  CreatorProfileId: 3cd637ef-4728-47f9-8fb1-afb900c9cdcf
                  UpdaterProfileId: 122fc063-ec6e-4198-b8db-6b168a59ffae
                  ProcessingStartOffset: null
                  OrderItemConsumptionPeriod: null
                  Assignments:
                  - Id: d6b550e9-9c4b-42dd-9daa-555312b030e6
                    BillingAutomationId: ecd64eec-4423-4c65-b844-814b9199856d
                    ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                    RoutedItemTypes:
                      SpaceOrder: true
                      CityTax: true
                      AllProducts: true
                      Deposits: true
                      AdditionalExpenses: false
                      AllCustomItems: false
                    RateIds:
                    - ab3682ba-4493-4eb0-bcdc-8d000f5bad65
                    ProductCategoryIds:
                    - 599c477e-b826-4444-8ded-4fa7276ef0c1
                    ProductIds:
                    - f0184ec2-9f02-4026-9b70-0b2bed2adde7
                    AccountingCategoryAssignments:
                    - AccountingCategoryId: 2e0f5930-605e-4a23-9994-a7701a56b576
                      ItemTypes:
                        Products: true
                        CustomItems: false
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsUpdateAssignments400Example:
                  summary: Default billingAutomations_updateAssignments 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsUpdateAssignments401Example:
                  summary: Default billingAutomations_updateAssignments 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsUpdateAssignments403Example:
                  summary: Default billingAutomations_updateAssignments 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsUpdateAssignments408Example:
                  summary: Default billingAutomations_updateAssignments 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsUpdateAssignments204Example:
                  summary: Default billingAutomations_updateAssignments 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsUpdateAssignments429Example:
                  summary: Default billingAutomations_updateAssignments 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsUpdateAssignments500Example:
                  summary: Default billingAutomations_updateAssignments 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/billingAutomations/delete:
    post:
      tags:
      - Billing automations
      summary: Mews Delete Billing Automations
      description: Deletes specified billing automations.
      operationId: billingAutomations_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingAutomationDeleteParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              BillingAutomationIds:
              - ecd64eec-4423-4c65-b844-814b9199856d
              - 13e6b16e-39bc-4cb1-8610-70ecdb4f91cc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
              example: {}
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsDelete400Example:
                  summary: Default billingAutomations_delete 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsDelete401Example:
                  summary: Default billingAutomations_delete 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsDelete403Example:
                  summary: Default billingAutomations_delete 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsDelete408Example:
                  summary: Default billingAutomations_delete 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsDelete204Example:
                  summary: Default billingAutomations_delete 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsDelete429Example:
                  summary: Default billingAutomations_delete 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillingAutomationsDelete500Example:
                  summary: Default billingAutomations_delete 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    StringUpdateValue:
      title: String update value
      type: object
      properties:
        Value:
          type:
          - string
          - 'null'
          description: Value which is to be updated.
          example: string
      additionalProperties: false
      x-schema-id: StringUpdateValue
    BillingAutomationBillAggregationTypeEnum:
      title: Billing automation bill aggregation type
      enum:
      - OnePerReservation
      - AggregateByCustomer
      - AggregateAll
      - AggregatePerReservationGroup
      type: string
      description: '


        OnePerReservation (Create a separate bill for each reservation.)


        AggregateByCustomer (Create a separate bill for each reservation owner.)


        AggregateAll (Group all moved items on one bill.)


        AggregatePerReservationGroup (Create a separate bill for each reservation group.)'
      x-enumNames:
      - OnePerReservation
      - AggregateByCustomer
      - AggregateAll
      - AggregatePerReservationGroup
      x-enumDescriptions:
      - Create a separate bill for each reservation.
      - Create a separate bill for each reservation owner.
      - Group all moved items on one bill.
      - Create a separate bill for each reservation group.
    BillingAutomationAssignmentUpdateParameters:
      title: Billing automation assignment update parameters
      required:
      - BillingAutomationAssignmentId
      type: object
      properties:
        BillingAutomationAssignmentId:
          type: string
          description: Unique identifier of the billing automation assignment.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        RoutedItemTypes:
          title: Billing automation item types update parameters
          allOf:
          - $ref: '#/components/schemas/BillingAutomationItemTypesUpdateParameters'
          description: Type of items that are going to be routed (or `null` should it not be updated).
          example: string
        RateIds:
          title: Guid array update value
          maxLength: 100
          allOf:
          - $ref: '#/components/schemas/GuidIEnumerableUpdateValue'
          description: Unique identifiers of `Rates` that will be applied as billing automation condition (or `null` should it not be updated).
          example: string
        ProductCategoryIds:
          title: Guid array update value
          maxLength: 100
          allOf:
          - $ref: '#/components/schemas/GuidIEnumerableUpdateValue'
          description: Unique identifiers of `Product Categories` that will be applied as billing automation condition (or `null` should it not be updated).
          example: string
        ProductIds:
          title: Guid array update value
          maxLength: 100
          allOf:
          - $ref: '#/components/schemas/GuidIEnumerableUpdateValue'
          description: Unique identifiers of `Products` that will be applied as billing automation condition (or `null` should it not be updated).
          example: string
        AccountingCategories:
          title: Billing automation accounting category assignment array update value
          maxLength: 100
          allOf:
          - $ref: '#/components/schemas/BillingAutomationAccountingCategoryAssignmentIEnumerableUpdateValue'
          description: List of `Accounting Categories` with their `ItemTypes` that will be applied as billing automation condition (or `null` should it not be updated).
          example: string
      additionalProperties: false
      x-schema-id: BillingAutomationAssignmentUpdateParameters
    BillingAutomationItemTypesParameters:
      title: Billing automation item types parameters
      required:
      - AdditionalExpenses
      - AllCustomItems
      - AllProducts
      - CityTax
      - Deposits
      - SpaceOrder
      type: object
      properties:
        SpaceOrder:
          type: boolean
          description: Space order
          example: true
        CityTax:
          type: boolean
          description: City tax
          example: true
        AllProducts:
          type: boolean
          description: All products
          example: true
        Deposits:
          type: boolean
          description: Deposits
          example: true
        AdditionalExpenses:
          type: boolean
          description: Additional expenses
          example: true
        AllCustomItems:
          type: boolean
          description: All custom items
          example: true
      additionalProperties: false
      x-schema-id: BillingAutomationItemTypesParameters
    BillingAutomationBillAggregationTypeUpdateValue:
      title: Billing automation bill aggregation type update value
      type: object
      properties:
        Value:
          title: Billing automation bill aggregation type
          allOf:
          - $ref: '#/components/schemas/BillingAutomationBillAggregationTypeEnum'
          description: Value which is to be updated.
          x-enumNames:
          - OnePerReservation
          - AggregateByCustomer
          - AggregateAll
          - AggregatePerReservationGroup
          x-enumDescriptions:
          - Create a separate bill for each reservation.
          - Create a separate bill for each reservation owner.
          - Group all moved items on one bill.
          - Create a separate bill for each reservation group.
          example: string
      additionalProperties: false
      x-schema-id: BillingAutomationBillAggregationTypeUpdateValue
    BillingAutomationFilterParameters:
      title: Billing automation filter parameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - Limitation
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        Limitation:
          allOf:
          - $ref: '#/components/schemas/Limitation'
          description: Limitation on the quantity of data returned and optional Cursor for the starting point of data.
          example: string
        EnterpriseIds:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of the Enterprises. If not specified, the operation returns data for all enterprises within scope of the Access Token.
        CompanyIds:
          maxItems: 100
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of `Company` associated with the billing automations.
        BillingAutomationIds:
          maxItems: 100
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of specific `Billing automation` items.
      additionalProperties: false
      x-schema-id: BillingAutomationFilterParameters
    BillingAutomationAccountingCategoryAssignmentIEnumerableUpdateValue:
      title: Billing automation accounting category assignment array update value
      type: object
      properties:
        Value:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/BillingAutomationAccountingCategoryAssignment'
          description: Value which is to be updated.
      additionalProperties: false
      x-schema-id: BillingAutomationAccountingCategoryAssignmentIEnumerableUpdateValue
    BillingAutomationUpdateParameters:
      title: Billing automation update parameters
      required:
      - BillingAutomationId
      type: object
      properties:
        BillingAutomationId:
          type: string
          description: Unique identifier of the billing automation.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Name:
          title: String update value
          maxLength: 255
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          description: Name of the billing automation (or null should it not be updated).
          example: Example Name
        Description:
          title: String update value
          maxLength: 1000
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          description: Description of the billing automation (or null should it not be updated).
          example: string
        Companies:
          title: Company with billing automation relation array update value
          maxLength: 1000
          allOf:
          - $ref: '#/components/schemas/CompanyWithBillingAutomationRelationIEnumerableUpdateValue'
          description: List of companies with relations indicating whether the company should be considered as a travel agency or a company in the reservation. This list can only be empty if the `AssignmentTargetType` is `CompanyAsDetails` or `NoCompany`. Set to null if the value is not updated.
          example: string
        Prepayment:
          title: Billing automation prepayment type update value
          allOf:
          - $ref: '#/components/schemas/BillingAutomationPrepaymentUpdateValue'
          description: Type of prepayment (or null should it not be updated).
          example: string
        AssignmentTargetType:
          title: Billing automation assignment target type update value
          allOf:
          - $ref: '#/components/schemas/BillingAutomationAssignmentTargetTypeUpdateValue'
          description: Specifies the type of company assignment to the bill. If set to `NoCompany`, the `BillAggregationType` must be `AggregateByCustomer`. Set to null if the value is not updated.
          example: string
        BillAggregationType:
          title: Billing automation bill aggregation type update value
          allOf:
          - $ref: '#/components/schemas/BillingAutomationBillAggregationTypeUpdateValue'
          description: Defines the aggregation target type for billing automation. If not `AggregateByCustomer`, the `AssignmentTargetType` must be `CompanyAsOwner`. Set to null if the value is not updated.
          example: string
        OrderItemConsumptionPeriod:
          title: Billing automation order item consumption period type update value
          allOf:
          - $ref: '#/components/schemas/BillingAutomationOrderItemConsumptionPeriodTypeUpdateValue'
          description: Specifies the order item consumption period type for the billing automation. Required if the `TriggerType` is recurring. Can be null if the value is not updated.
          example: string
        ProcessingStartOffset:
          title: String update value
          maxLength: 20
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          description: Processing start offset. Required if the billing automation `TriggerType` is recurring (or null should it not be updated).
          example: string
      additionalProperties: false
      x-schema-id: BillingAutomationUpdateParameters
    BillingAutomationModificationResult:
      title: Billing automation modification result
      type: object
      properties:
        BillingAutomations:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/BillingAutomation'
          description: Billing automations affected by the operation.
      additionalProperties: false
      x-schema-id: BillingAutomationModificationResult
    MultipleBillingAutomationUpdateParameters:
      title: Multiple billing automation update parameters
      required:
      - AccessToken
      - BillingAutomationUpdates
      - Client
      - ClientToken
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        EnterpriseId:
          type:
          - string
          - 'null'
          description: Unique identifier of the enterprise. Required when using [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property), ignored otherwise.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        BillingAutomationUpdates:
          maxItems: 100
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/BillingAutomationUpdateParameters'
          description: Details of the billing automations to be updated.
      additionalProperties: false
      x-schema-id: MultipleBillingAutomationUpdateParameters
    BillingAutomationResult:
      title: Billing automation result
      type: object
      properties:
        BillingAutomations:
          maxItems: 1000
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/BillingAutomation'
          description: The list of filtered billing automations.
        Cursor:
          type:
          - string
          - 'null'
          description: Unique identifier of the last returned billing automation. This can be used in Limitation in a subsequent request to fetch the next batch of billing automations.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: BillingAutomationResult
    BillingAutomationAddParameters:
      title: Billing automation add parameters
      required:
      - Assignments
      - AssignmentTargetType
      - BillAggregationType
      - Name
      - Prepayment
      - TriggerType
      type: object
      properties:
        Name:
          maxLength: 255
          minLength: 1
          type: string
          description: Name of the billing automation.
          example: Example Name
        Description:
          maxLength: 1000
          type:
          - string
          - 'null'
          description: Description of the billing automation.
          example: string
        CompaniesWithRelations:
          maxItems: 1000
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CompanyWithBillingAutomationRelation'
          description: List of companies with relations indicating whether the company is considered a travel agency or a company in the reservation. Can only be empty if `AssignmentTargetType` is `CompanyAsDetails` or `NoCompany`.
        Prepayment:
          title: Billing automation prepayment type
          allOf:
          - $ref: '#/components/schemas/BillingAutomationPrepaymentEnum'
          description: 'Type of prepayment.


            All (All)


            Prepaid (Prepaid)'
          x-enumNames:
          - All
          - Prepaid
          x-enumDescriptions:
          - All
          - Prepaid
          example: string
        AssignmentTargetType:
          title: Billing automation assignment target type
          allOf:
          - $ref: '#/components/schemas/BillingAutomationAssignmentTargetTypeEnum'
          description: 'Specifies the type of company assignment to the bill. If set to `NoCompany`, the `BillAggregationType` must be `AggregateByCustomer`.


            CompanyAsDetails (The company will be the associated account in the resulting routed bill, and the customer is the owner.)


            CompanyAsOwner (The company will be the owner in the resulting routed bill, and the customer might be the associated account.)


            NoCompany (The customer will be owner of the bill.)'
          x-enumNames:
          - CompanyAsDetails
          - CompanyAsOwner
          - NoCompany
          x-enumDescriptions:
          - The company will be the associated account in the resulting routed bill, and the customer is the owner.
          - The company will be the owner in the resulting routed bill, and the customer might be the associated account.
          - The customer will be owner of the bill.
          example: string
        TriggerType:
          title: Billing automation trigger type
          allOf:
          - $ref: '#/components/schemas/BillingAutomationTriggerTypeEnum'
          description: 'Trigger type of billing automation.


            Continuous (Billing automation is continuously triggered by reservation actions, such as creation, updates, and rebates.)


            Recurring (Billing automation is executed monthly.)


            Legacy (Billing automation is executed on reservation creation only. Items added later are not transfered to any bill.)'
          x-enumNames:
          - Continuous
          - Recurring
          - Legacy
          x-enumDescriptions:
          - Billing automation is continuously triggered by reservation actions, such as creation, updates, and rebates.
          - Billing automation is executed monthly.
          - Billing automation is executed on reservation creation only. Items added later are not transfered to any bill.
          example: string
        BillAggregationType:
          title: Billing automation bill aggregation type
          allOf:
          - $ref: '#/components/schemas/BillingAutomationBillAggregationTypeEnum'
          description: 'Specifies the type of bill aggregation. If the value is not `AggregateByCustomer`, the `AssignmentTargetType` must be `CompanyAsOwner`.


            OnePerReservation (Create a separate bill for each reservation.)


            AggregateByCustomer (Create a separate bill for each reservation owner.)


            AggregateAll (Group all moved items on one bill.)


            AggregatePerReservationGroup (Create a separate bill for each reservation group.)'
          x-enumNames:
          - OnePerReservation
          - AggregateByCustomer
          - AggregateAll
          - AggregatePerReservationGroup
          x-enumDescriptions:
          - Create a separate bill for each reservation.
          - Create a separate bill for each reservation owner.
          - Group all moved items on one bill.
          - Create a separate bill for each reservation group.
          example: string
        OrderItemConsumptionPeriod:
          allOf:
          - $ref: '#/components/schemas/BillingAutomationOrderItemConsumptionPeriodTypeEnum'
          description: 'Specifies the order item consumption period type for the billing automation. This is required if the `TriggerType` is set to `Reccuring`.


            MonthBefore (Only items with a consumption date within the previous month will be routed.)


            SameMonthAndMonthBefore (Only items with a consumption date within this and the previous month will be routed.)


            SameMonth (Only items with a consumption date within this month will be routed.)


            SameMonthAndMonthAfter (Only items with a consumption date within this and the next month will be routed.)


            MonthAfter (Only items with a consumption date within the next month will be routed.)'
          example: string
        ProcessingStartOffset:
          maxLength: 20
          type:
          - string
          - 'null'
          description: Specifies the processing start offset. This is required if the billing automation `TriggerType` is set to `Reccuring`.
          example: string
        Assignments:
          maxItems: 20
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/BillingAutomationAssignmentAddParameters'
          description: List of billing automation assignments.
      additionalProperties: false
      x-schema-id: BillingAutomationAddParameters
    AccountingCategoryRoutedItemTypes:
      title: Accounting category routed item types
      required:
      - CustomItems
      - Products
      type: object
      properties:
        Products:
          type: boolean
          description: Specifies whether products under the given accounting category are routed.
          example: true
        CustomItems:
          type: boolean
          description: Specifies whether custom items under the given accounting category are routed.
          example: true
      additionalProperties: false
      x-schema-id: AccountingCategoryRoutedItemTypes
    CompanyRelationsParameters:
      title: Company with relations parameters
      type: object
      properties:
        PartnerCompany:
          type: boolean
          description: Indicates whether the billing automation will apply if the company added to a reservation is a partner company.
          example: true
        TravelAgency:
          type: boolean
          description: Indicates whether the billing automation will apply if the company added to a reservation is a travel agency.
          example: true
      additionalProperties: false
      x-schema-id: CompanyRelationsParameters
    CompanyWithBillingAutomationRelation:
      title: Company with billing automation relation
      required:
      - CompanyId
      - CompanyRelations
      type: object
      properties:
        CompanyId:
          type: string
          description: Unique identifier of the company.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CompanyRelations:
          title: Company with relations parameters
          allOf:
          - $ref: '#/components/schemas/CompanyRelationsParameters'
          description: Company relations.
          example: string
      additionalProperties: false
      x-schema-id: CompanyWithBillingAutomationRelation
    BillingAutomationAccountingCategoryAssignment:
      title: Billing automation accounting category assignment
      required:
      - AccountingCategoryId
      - ItemTypes
      type: object
      properties:
        AccountingCategoryId:
          type: string
          description: Unique identifier of the accounting category.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ItemTypes:
          title: Accounting category routed item types
          allOf:
          - $ref: '#/components/schemas/AccountingCategoryRoutedItemTypes'
          description: Type of the accounting category routed item.
          example: string
      additionalProperties: false
      x-schema-id: BillingAutomationAccountingCategoryAssignment
    GuidIEnumerableUpdateValue:
      title: Guid array update value
      type: object
      properties:
        Value:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Value which is to be updated.
      additionalProperties: false
      x-schema-id: GuidIEnumerableUpdateValue
    BillingAutomationAssignmentAddParameters:
      title: Billing automation assignment add parameters
      required:
      - RoutedItemTypes
      - ServiceId
      type: object
      properties:
        ServiceId:
          type: string
          description: Unique identifier of the related service.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        RoutedItemTypes:
          title: Billing automation item types parameters
          allOf:
          - $ref: '#/components/schemas/BillingAutomationItemTypesParameters'
          description: Type of items that are going to be routed.
          example: string
        RateIds:
          maxItems: 100
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of `Rates` that will be applied as billing automation condition.
        ProductCategoryIds:
          maxItems: 100
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of `Product Categories` that will be applied as billing automation condition.
        ProductIds:
          maxItems: 100
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of `Products` that will be applied as billing automation condition.
        AccountingCategories:
          maxItems: 100
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/BillingAutomationAccountingCategoryAssignment'
          description: List of accounting categories that will be applied as billing automation condition.
      additionalProperties: false
      x-schema-id: BillingAutomationAssignmentAddParameters
    BillingAutomation:
      title: Billing automation
      required:
      - AssignmentTargetType
      - BillAggregationType
      - CompaniesWithRelations
      - CreatedUtc
      - CreatorProfileId
      - EnterpriseId
      - Id
      - Name
      - Prepayment
      - TriggerType
      - UpdatedUtc
      - UpdaterProfileId
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the billing automation.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        EnterpriseId:
          type: string
          description: Unique identifier of the enterprise.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Name:
          minLength: 1
          type: string
          description: Name of the billing automation.
          example: Example Name
        Description:
          type:
          - string
          - 'null'
          description: Description of the billing automation.
          example: string
        CompaniesWithRelations:
          maxItems: 1000
          type: array
          items:
            $ref: '#/components/schemas/CompanyWithBillingAutomationRelation'
          description: List of companies with relations to the billing automation.
        Prepayment:
          title: Billing automation prepayment type
          allOf:
          - $ref: '#/components/schemas/BillingAutomationPrepaymentEnum'
          description: 'Type of prepayment.


            All (All)


            Prepaid (Prepaid)'
          x-enumNames:
          - All
          - Prepaid
          x-enumDescriptions:
          - All
          - Prepaid
          example: string
        AssignmentTargetType:
          title: Billing automation assignment target type
          allOf:
          - $ref: '#/components/schemas/BillingAutomationAssignmentTargetTypeEnum'
          description: 'Type of target company and customer assignment behavior.


            CompanyAsDetails (The company will be the associated account in the resulting routed bill, and the customer is the owner.)


            CompanyAsOwner (The company will be the owner in the resulting routed bill, and the customer might be the associated account.)


            NoCompany (The customer will be owner of the bill.)'
          x-enumNames:
          - CompanyAsDetails
          - CompanyAsOwner
          - NoCompany
          x-enumDescriptions:
          - The company will be the associated account in the resulting routed bill, and the customer is the owner.
          - The company will be the owner in the resulting routed bill, and the customer might be the associated account.
          - The customer will be owner of the bill.
          example: string
        TriggerType:
          title: Billing automation trigger type
          allOf:
          - $ref: '#/components/schemas/BillingAutomationTriggerTypeEnum'
          description: 'Trigger type of billing automation.


            Continuous (Billing automation is continuously triggered by reservation actions, such as creation, updates, and rebates.)


            Recurring (Billing automation is executed monthly.)


            Legacy (Billing automation is executed on reservation creation only. Items added later are not transfered to any bill.)'
          x-enumNames:
          - Continuous
          - Recurring
          - Legacy
          x-enumDescriptions:
          - Billing automation is continuously triggered by reservation actions, such as creation, updates, and rebates.
          - Billing automation is executed monthly.
          - Billing automation is executed on reservation creation only. Items added later are not transfered to any bill.
          example: string
        BillAggregationType:
          title: Billing automation bill aggregation type
          allOf:
          - $ref: '#/components/schemas/BillingAutomationBillAggregationTypeEnum'
          description: 'Type of bill aggregation.


            OnePerReservation (Create a separate bill for each reservation.)


            AggregateByCustomer (Create a separate bill for each reservation owner.)


            AggregateAll (Group all moved items on one bill.)


            AggregatePerReservationGroup (Create a separate bill for each reservation group.)'
          x-enumNames:
          - OnePerReservation
          - AggregateByCustomer
          - AggregateAll
          - AggregatePerReservationGroup
          x-enumDescriptions:
          - Create a separate bill for each reservation.
          - Create a separate bill for each reservation owner.
          - Group all moved items on one bill.
          - Create a separate bill for each reservation group.
          example: string
        CreatedUtc:
          minLength: 1
          type: string
          description: Creation date and time of the billing automation in UTC timezone in ISO 8601 format.
          format: date-time
          example: '2026-06-02T14:30:00Z'
        UpdatedUtc:
          minLength: 1
          type: string
          description: Last update date and time of the billing automation in UTC timezone in ISO 8601 format.
          format: date-time
          example: '2026-06-02T14:30:00Z'
        CreatorProfileId:
          type: string
          description: Unique identifier of the user who created the billing automation.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        UpdaterProfileId:
          type: string
          description: Unique identifier of the user who last updated the billing automation.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ProcessingStartOffset:
          type:
          - string
          - 'null'
          description: Processing start offset. Applicable only if the billing automation `TriggerType` is set to `Reccuring`.
          example: string
        OrderItemConsumptionPeriod:
          allOf:
          - $ref: '#/components/schemas/BillingAutomationOrderItemConsumptionPeriodTypeEnum'
          description: 'Specifies the type of order item consumption period for the billing automation. This value is applicable only when the `TriggerType` is set to `Reccuring`.


            MonthBefore (Only items with a consumption date within the previous month will be routed.)


            SameMonthAndMonthBefore (Only items with a consumption date within this and the previous month will be routed.)


            SameMonth (Only items with a consumption date within this month will be routed.)


            SameMonthAndMonthAfter (Only items with a consumption date within this and the next month will be routed.)


            MonthAfter (Only items with a consumption date within the next month will be routed.)'
          example: string
        Assignments:
          maxItems: 20
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/BillingAutomationAssignment'
          description: List of billing automation assignments.
      additionalProperties: false
      x-schema-id: BillingAutomation
    Limitation:
      title: Limitation
      required:
      - Count
      type: object
      properties:
        Count:
          type: integer
          format: int32
          example: 1
        Cursor:
          type:
          - string
          - 'null'
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      description: Limitation on the quantity of data returned.
      x-schema-id: Limitation
    MultipleBillingAutomationAddParameters:
      title: Multiple billing automation add parameters
      required:
      - AccessToken
      - BillingAutomations
      - Client
      - ClientToken
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        EnterpriseId:
          type:
          - string
          - 'null'
          description: Unique identifier of the enterprise. Required when using [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property), ignored otherwise.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        BillingAutomations:
          maxItems: 100
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/BillingAutomationAddParameters'
          description: Parameters of the new billing automations to be created.
      additionalProperties: false
      x-schema-id: MultipleBillingAutomationAddParameters
    BillingAutomationItemTypesUpdateParameters:
      title: Billing automation item types update parameters
      type: object
      properties:
        SpaceOrder:
          title: Boolean update value
          allOf:
          - $ref: '#/components/schemas/BooleanUpdateValue'
          description: Space order (or `null` should it not be updated).
          example: string
        CityTax:
          title: Boolean update value
          allOf:
          - $ref: '#/components/schemas/BooleanUpdateValue'
          description: City tax (or `null` should it not be updated).
          example: string
        AllProducts:
          title: Boolean update value
          allOf:
          - $ref: '#/components/schemas/BooleanUpdateValue'
          description: Products (or `null` should it not be updated).
          example: string
        Deposits:
          title: Boolean update value
          allOf:
          - $ref: '#/components/schemas/BooleanUpdateValue'
          description: Deposits(or `null` should it not be updated).
          example: string
        AdditionalExpenses:
          title: Boolean update value
          allOf:
          - $ref: '#/components/schemas/BooleanUpdateValue'
          description: Additional expenses (or `null` should it not be updated).
          example: string
        AllCustomItems:
          title: Boolean update value
          allOf:
          - $ref: '#/components/schemas/BooleanUpdateValue'
          description: Custom items (or `null` should it not be updated).
          example: string
      additionalProperties: false
      x-schema-id: BillingAutomationItemTypesUpdateParameters
    BillingAutomationPrepaymentUpdateValue:
      title: Billing automation prepayment type update value
      type: object
      properties:
        Value:
          title: Billing automation prepayment type
          allOf:
          - $ref: '#/components/schemas/BillingAutomationPrepaymentEnum'
          description: Value which is to be updated.
          x-enumNames:
          - All
          - Prepaid
          x-enumDescriptions:
          - All
          - Prepaid
          example: string
      additionalProperties: false
      x-schema-id: BillingAutomationPrepaymentUpdateValue
    BillingAutomationOrderItemConsumptionPeriodTypeUpdateValue:
      title: Billing automation order item consumption period type update value
      type: object
      properties:
        Value:
          title: Billing automation order item consumption period type
          allOf:
          - $ref: '#/components/schemas/BillingAutomationOrderItemConsumptionPeriodTypeEnum'
          description: Value which is to be updated.
          x-enumNames:
          - MonthBefore
          - SameMonthAndMonthBefore
          - SameMonth
          - SameMonthAndMonthAfter
          - MonthAfter
          x-enumDescriptions:
          - Only items with a consumption date within the previous month will be routed.
          - Only items with a consumption date within this and the previous month will be routed.
          - Only items with a consumption date within this month will be routed.
          - Only items with a consumption date within this and the next month will be routed.
          - Only items with a consumption date within the next month will be routed.
          example: string
      additionalProperties: false
      x-schema-id: BillingAutomationOrderItemConsumptionPeriodTypeUpdateValue
    BillingAutomationPrepaymentEnum:
      title: Billing automation prepayment type
      enum:
      - All
      - Prepaid
      type: string
      description: '


        All (All)


        Prepaid (Prepaid)'
      x-enumNames:
      - All
      - Prepaid
      x-enumDescriptions:
      - All
      - Prepaid
    BillingAutomationAssignmentTargetTypeEnum:
      title: Billing automation assignment target type
      enum:
      - CompanyAsDetails
      - CompanyAsOwner
      - NoCompany
      type: string
      description: '


        CompanyAsDetails (The company will be the associated account in the resulting routed bill, and the customer is the owner.)


        CompanyAsOwner (The company will be the owner in the resulting routed bill, and the customer might be the associated account.)


        NoCompany (The customer will be owner of the bill.)'
      x-enumNames:
      - CompanyAsDetails
      - CompanyAsOwner
      - NoCompany
      x-enumDescriptions:
      - The company will be the associated account in the resulting routed bill, and the customer is the owner.
      - The company will be the owner in the resulting routed bill, and the customer might be the associated account.
      - The customer will be owner of the bill.
    BillingAutomationAssignmentsUpdateParameters:
      title: Billing automation assignments update parameters
      required:
      - AccessToken
      - BillingAutomationId
      - Client
      - ClientToken
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        EnterpriseId:
          type:
          - string
          - 'null'
          description: Unique identifier of the enterprise. Required when using [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property), ignored otherwise.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        BillingAutomationId:
          type: string
          description: Unique identifier of the billing automation.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AssignmentsToAdd:
          maxItems: 20
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/BillingAutomationAssignmentAddParameters'
          description: Parameters for adding new assignments (or null if not being updated).
        AssignmentsToUpdate:
          maxItems: 20
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/BillingAutomationAssignmentUpdateParameters'
          description: List of parameters for updating existing assignments (or null if not being updated).
        AssignmentIdsToRemove:
          maxItems: 100
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: List of unique identifiers for assignments to be removed (or null if not being updated).
      additionalProperties: false
      x-schema-id: BillingAutomationAssignmentsUpdateParameters
    BooleanUpdateValue:
      title: Boolean update value
      type: object
      properties:
        Value:
          type: boolean
          description: Value which is to be updated.
          example: true
      additionalProperties: false
      x-schema-id: BooleanUpdateValue
    BillingAutomationDeleteParameters:
      title: Billing automation delete parameters
      required:
      - AccessToken
      - BillingAutomationIds
      - Client
      - ClientToken
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        EnterpriseId:
          type:
          - string
          - 'null'
          description: Unique identifier of the enterprise. Required when using [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property), ignored otherwise.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        BillingAutomationIds:
          maxItems: 100
          type: array
          items:
            type: string
            format: uuid
          description: Unique identifier of the billing automations to be deleted.
      additionalProperties: false
      x-schema-id: BillingAutomationDeleteParameters
    Unit:
      type: object
      additionalProperties: false
    BillingAutomationAssignment:
      title: Billing automation assignment
      required:
      - BillingAutomationId
      - Id
      - RoutedItemTypes
      - ServiceId
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the billing automation assignment.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        BillingAutomationId:
          type: string
          description: Unique identifier of the billing automation.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ServiceId:
          type: string
          description: Unique identifier of the related service.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        RoutedItemTypes:
          title: Billing automation item types parameters
          allOf:
          - $ref: '#/components/schemas/BillingAutomationItemTypesParameters'
          description: Type of items that are going to be routed.
          example: string
        RateIds:
          maxItems: 100
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of `Rates` used in billing automation conditions.
        ProductCategoryIds:
          maxItems: 100
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of `Product Categories` used in billing automation conditions.
        ProductIds:
          maxItems: 100
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of `Products` used in billing automation conditions.
        AccountingCategoryAssignments:
          maxItems: 100
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/BillingAutomationAccountingCategoryAssignment'
          description: List of accounting category assignments used in billing automation conditions.
      additionalProperties: false
      x-schema-id: BillingAutomationAssignment
    BillingAutomationOrderItemConsumptionPeriodTypeEnum:
      title: Billing automation order item consumption period type
      enum:
      - MonthBefore
      - SameMonthAndMonthBefore
      - SameMonth
      - SameMonthAndMonthAfter
      - MonthAfter
      type: string
      description: '


        MonthBefore (Only items with a consumption date within the previous month will be routed.)


        SameMonthAndMonthBefore (Only items with a consumption date within this and the previous month will be routed.)


        SameMonth (Only items with a consumption date within this month will be routed.)


        SameMonthAndMonthAfter (Only items with a consumption date within this and the next month will be routed.)


        MonthAfter (Only items with a consumption date within the next month will be routed.)'
      x-enumNames:
      - MonthBefore
      - SameMonthAndMonthBefore
      - SameMonth
      - SameMonthAndMonthAfter
      - MonthAfter
      x-enumDescriptions:
      - Only items with a consumption date within the previous month will be routed.
      - Only items with a consumption date within this and the previous month will be routed.
      - Only items with a consumption date within this month will be routed.
      - Only items with a consumption date within this and the next month will be routed.
      - Only items with a consumption date within the next month will be routed.
    BillingAutomationAssignmentTargetTypeUpdateValue:
      title: Billing automation assignment target type update value
      type: object
      properties:
        Value:
          title: Billing automation assignment target type
          allOf:
          - $ref: '#/components/schemas/BillingAutomationAssignmentTargetTypeEnum'
          description: Value which is to be updated.
          x-enumNames:
          - CompanyAsDetails
          - CompanyAsOwner
          - NoCompany
          x-enumDescriptions:
          - The company will be the associated account in the resulting routed bill, and the customer is the owner.
          - The company will be the owner in the resulting routed bill, and the customer might be the associated account.
          - The customer will be owner of the bill.
          example: string
      additionalProperties: false
      x-schema-id: BillingAutomationAssignmentTargetTypeUpdateValue
    CompanyWithBillingAutomationRelationIEnumerableUpdateValue:
      title: Company with billing automation relation array update value
      type: object
      properties:
        Value:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CompanyWithBillingAutomationRelation'
          description: Value which is to be updated.
      additionalProperties: false
      x-schema-id: CompanyWithBillingAutomationRelationIEnumerableUpdateValue
    ConnectorApiExceptionResult:
      title: ConnectorApiExceptionResult
      type: object
      properties:
        Message:
          type:
          - string
          - 'null'
          example: string
        RequestId:
          type:
          - string
          - 'null'
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Details:
          example: string
      additionalProperties: false
      x-schema-id: ConnectorApiExceptionResult
    BillingAutomationTriggerTypeEnum:
      title: Billing automation trigger type
      enum:
      - Continuous
      - Recurring
      - Legacy
      type: string
      description: '


        Continuous (Billing automation is continuously triggered by reservation actions, such as creation, updates, and rebates.)


        Recurring (Billing automation is executed monthly.)


        Legacy (Billing automation is executed on reservation creation only. Items added later are not transfered to any bill.)'
      x-enumNames:
      - Continuous
      - Recurring
      - Legacy
      x-enumDescriptions:
      - Billing automation is continuously triggered by reservation actions, such as creation, updates, and rebates.
      - Billing automation is executed monthly.
      - Billing automation is executed on reservation creation only. Items added later are not transfered to any bill.
  securitySchemes:
    MewsClientToken:
      type: apiKey
      in: header
      name: ClientToken
      description: Mews authentication is performed by supplying ClientToken, AccessToken and Client as fields in the JSON request body (not as HTTP headers). This securityScheme is a tooling-compatible representation of the ClientToken credential. ClientToken is unique to your application and identifies the API client.
    MewsAccessToken:
      type: apiKey
      in: header
      name: AccessToken
      description: Tooling-compatible representation of the AccessToken credential, which is supplied in the JSON request body. AccessToken is unique to the connection with a property (enterprise) and identifies the property or properties whose data and services you can access. Portfolio Access Tokens enable multi-property access with a single token.
