openapi: 3.2.0
info:
  title: Mews Booking Engine API (Distributor) Account notes Routing rules API
  version: v1
  description: The Mews Booking Engine API (historically the Distributor API, served from /api/distributor/v1) lets developers build guest-facing booking engines that create reservations directly in Mews. It exposes enterprise configuration, availability, pricing, products, vouchers, payment cards, and reservation group creation for front-end client consumption.
  x-generated-from: documentation
  x-source-url: https://api.mews.com/Swagger/distributor/swagger.json
  x-last-validated: '2026-06-02'
servers:
- url: https://api.mews.com
  description: Production
- url: https://api.mews-demo.com
  description: Demo / sandbox
security:
- MewsClientToken: []
  MewsAccessToken: []
tags:
- name: Routing rules
paths:
  /api/connector/v1/routingRules/getAll:
    post:
      tags:
      - Routing rules
      summary: Mews Get All Routing Rules
      description: Use [Get all billing automations](https://mews-systems.gitbook.io/connector-api/operations/billingautomations#get-all-billing-automations).
      operationId: routingRules_getAll
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoutingRuleFilterParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              CompanyIds:
              - c6f5c82d-621a-4c8a-903b-1b0a9a23b71f
              - 956aa0f0-a090-42c8-bee2-991972d32f80
              RoutingRuleIds:
              - ff785b22-5422-4d1d-87f4-af2e00b3dfda
              - d98c9611-0006-4691-a835-af2e00b170c4
              UpdatedUtc:
                StartUtc: '2023-10-01T00:00:00Z'
                EndUtc: '2023-10-31T00:00:00Z'
              EnterpriseIds:
              - 3fa85f64-5717-4562-b3fc-2c963f66afa6
              - 4d0201db-36f5-428b-8d11-4f0a65e960cc
              Limitation:
                Count: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutingRuleResult'
              example:
                RoutingRules:
                - Id: ff785b22-5422-4d1d-87f4-af2e00b3dfda
                  EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  CompanyId: c6f5c82d-621a-4c8a-903b-1b0a9a23b71f
                  CompanyRelation: PartnerCompany
                  Applicability: PrepaidOnly
                  RouteType: AllStayItems
                  ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                  SelectedStayItems: null
                  CreatedUtc: '2023-10-01T11:48:57Z'
                  UpdatedUtc: '2023-10-28T11:48:57Z'
                - Id: d98c9611-0006-4691-a835-af2e00b170c4
                  EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  CompanyId: c021013e-4930-4592-8e32-91b0b1fc9663
                  CompanyRelation: TravelAgency
                  Applicability: Always
                  RouteType: SelectedStayItems
                  ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                  SelectedStayItems:
                    Nights: true
                    CityTax: true
                    ProductCategoryIds:
                    - 004fa262-7b08-4853-b544-af2a00d5cf1f
                    - 8f0dc6ef-1fd4-44e4-b353-af2c00b24caf
                    - d4c1b435-0ed1-4d98-9833-af2c00b28518
                  CreatedUtc: '2023-10-01T11:48:57Z'
                  UpdatedUtc: '2023-10-28T11:48:57Z'
                Cursor: d98c9611-0006-4691-a835-af2e00b170c4
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RoutingRulesGetAll400Example:
                  summary: Default routingRules_getAll 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RoutingRulesGetAll401Example:
                  summary: Default routingRules_getAll 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RoutingRulesGetAll403Example:
                  summary: Default routingRules_getAll 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RoutingRulesGetAll408Example:
                  summary: Default routingRules_getAll 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RoutingRulesGetAll204Example:
                  summary: Default routingRules_getAll 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RoutingRulesGetAll429Example:
                  summary: Default routingRules_getAll 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RoutingRulesGetAll500Example:
                  summary: Default routingRules_getAll 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      deprecated: true
      x-deprecatedMessage: Use [Get all billing automations](https://mews-systems.gitbook.io/connector-api/operations/billingautomations#get-all-billing-automations).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/routingRules/add:
    post:
      tags:
      - Routing rules
      summary: Mews Add Routing Rules
      description: Use [Add billing automations](https://mews-systems.gitbook.io/connector-api/operations/billingautomations#add-billing-automations).
      operationId: routingRules_add
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultipleRoutingRuleAddParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              RoutingRules:
              - CompanyId: c6f5c82d-621a-4c8a-903b-1b0a9a23b71f
                ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                CompanyRelation: PartnerCompany
                Applicability: PrepaidOnly
                RouteType: AllStayItems
              - CompanyId: c021013e-4930-4592-8e32-91b0b1fc9663
                ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                CompanyRelation: TravelAgency
                Applicability: Always
                RouteType: SelectedStayItems
                AssignmentTargetType: CompanyAsDetails
                SelectedStayItems:
                  Nights: true
                  CityTax: true
                  ProductCategoryIds:
                  - 004fa262-7b08-4853-b544-af2a00d5cf1f
                  - 8f0dc6ef-1fd4-44e4-b353-af2c00b24caf
                  - d4c1b435-0ed1-4d98-9833-af2c00b28518
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutingRuleAdditionResult'
              example:
                RoutingRules:
                - Id: ff785b22-5422-4d1d-87f4-af2e00b3dfda
                  EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  CompanyId: c6f5c82d-621a-4c8a-903b-1b0a9a23b71f
                  CompanyRelation: PartnerCompany
                  Applicability: PrepaidOnly
                  RouteType: AllStayItems
                  ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                  SelectedStayItems: null
                  CreatedUtc: '2023-10-01T11:48:57Z'
                  UpdatedUtc: '2023-10-28T11:48:57Z'
                - Id: d98c9611-0006-4691-a835-af2e00b170c4
                  EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  CompanyId: c021013e-4930-4592-8e32-91b0b1fc9663
                  CompanyRelation: TravelAgency
                  Applicability: Always
                  RouteType: SelectedStayItems
                  ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                  SelectedStayItems:
                    Nights: true
                    CityTax: true
                    ProductCategoryIds:
                    - 004fa262-7b08-4853-b544-af2a00d5cf1f
                    - 8f0dc6ef-1fd4-44e4-b353-af2c00b24caf
                    - d4c1b435-0ed1-4d98-9833-af2c00b28518
                  CreatedUtc: '2023-10-01T11:48:57Z'
                  UpdatedUtc: '2023-10-28T11:48:57Z'
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RoutingRulesAdd400Example:
                  summary: Default routingRules_add 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RoutingRulesAdd401Example:
                  summary: Default routingRules_add 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RoutingRulesAdd403Example:
                  summary: Default routingRules_add 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RoutingRulesAdd408Example:
                  summary: Default routingRules_add 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RoutingRulesAdd204Example:
                  summary: Default routingRules_add 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RoutingRulesAdd429Example:
                  summary: Default routingRules_add 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RoutingRulesAdd500Example:
                  summary: Default routingRules_add 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      deprecated: true
      x-deprecatedMessage: Use [Add billing automations](https://mews-systems.gitbook.io/connector-api/operations/billingautomations#add-billing-automations).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/routingRules/update:
    post:
      tags:
      - Routing rules
      summary: Mews Update Routing Rules
      description: Use [Update billing automations](https://mews-systems.gitbook.io/connector-api/operations/billingautomations#update-billing-automations) and [Update billing automations assignments](https://mews-systems.gitbook.io/connector-api/operations/billingautomations#update-billing-automations-assignments).
      operationId: routingRules_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultipleRoutingRuleUpdateParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              RoutingRuleUpdates:
              - RoutingRuleId: ff785b22-5422-4d1d-87f4-af2e00b3dfda
                CompanyId:
                  Value: c021013e-4930-4592-8e32-91b0b1fc9663
                ServiceId:
                  Value: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                CompanyRelation:
                  Value: PartnerCompany
                Applicability:
                  Value: Always
                RouteType:
                  Value: AllStayItems
              - RoutingRuleId: d98c9611-0006-4691-a835-af2e00b170c4
                CompanyId:
                  Value: a793d381-65a2-4fa6-9514-00c4c5bfe607
                ServiceId:
                  Value: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                CompanyRelation:
                  Value: TravelAgency
                Applicability:
                  Value: Always
                RouteType:
                  Value: SelectedStayItems
                AssignmentTargetType:
                  Value: CompanyAsDetails
                SelectedStayItems:
                  Nights:
                    Value: false
                  CityTax:
                    Value: true
                  ProductCategoryIds:
                    Value:
                    - 004fa262-7b08-4853-b544-af2a00d5cf1f
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutingRuleUpdateResult'
              example:
                RoutingRules:
                - Id: ff785b22-5422-4d1d-87f4-af2e00b3dfda
                  EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  CompanyId: c6f5c82d-621a-4c8a-903b-1b0a9a23b71f
                  CompanyRelation: PartnerCompany
                  Applicability: PrepaidOnly
                  RouteType: AllStayItems
                  ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                  SelectedStayItems: null
                  CreatedUtc: '2023-10-01T11:48:57Z'
                  UpdatedUtc: '2023-10-28T11:48:57Z'
                - Id: d98c9611-0006-4691-a835-af2e00b170c4
                  EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  CompanyId: c021013e-4930-4592-8e32-91b0b1fc9663
                  CompanyRelation: TravelAgency
                  Applicability: Always
                  RouteType: SelectedStayItems
                  ServiceId: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                  SelectedStayItems:
                    Nights: true
                    CityTax: true
                    ProductCategoryIds:
                    - 004fa262-7b08-4853-b544-af2a00d5cf1f
                    - 8f0dc6ef-1fd4-44e4-b353-af2c00b24caf
                    - d4c1b435-0ed1-4d98-9833-af2c00b28518
                  CreatedUtc: '2023-10-01T11:48:57Z'
                  UpdatedUtc: '2023-10-28T11:48:57Z'
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RoutingRulesUpdate400Example:
                  summary: Default routingRules_update 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RoutingRulesUpdate401Example:
                  summary: Default routingRules_update 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RoutingRulesUpdate403Example:
                  summary: Default routingRules_update 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RoutingRulesUpdate408Example:
                  summary: Default routingRules_update 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RoutingRulesUpdate204Example:
                  summary: Default routingRules_update 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RoutingRulesUpdate429Example:
                  summary: Default routingRules_update 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RoutingRulesUpdate500Example:
                  summary: Default routingRules_update 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      deprecated: true
      x-deprecatedMessage: Use [Update billing automations](https://mews-systems.gitbook.io/connector-api/operations/billingautomations#update-billing-automations) and [Update billing automations assignments](https://mews-systems.gitbook.io/connector-api/operations/billingautomations#update-billing-automations-assignments).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/routingRules/delete:
    post:
      tags:
      - Routing rules
      summary: Mews Delete Routing Rules
      description: Use [Delete billing automations](https://mews-systems.gitbook.io/connector-api/operations/billingautomations#delete-billing-automations).
      operationId: routingRules_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoutingRuleDeleteParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              RoutingRuleIds:
              - ff785b22-5422-4d1d-87f4-af2e00b3dfda
              - d98c9611-0006-4691-a835-af2e00b170c4
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
              example: {}
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RoutingRulesDelete400Example:
                  summary: Default routingRules_delete 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RoutingRulesDelete401Example:
                  summary: Default routingRules_delete 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RoutingRulesDelete403Example:
                  summary: Default routingRules_delete 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RoutingRulesDelete408Example:
                  summary: Default routingRules_delete 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RoutingRulesDelete204Example:
                  summary: Default routingRules_delete 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RoutingRulesDelete429Example:
                  summary: Default routingRules_delete 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                RoutingRulesDelete500Example:
                  summary: Default routingRules_delete 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      deprecated: true
      x-deprecatedMessage: Use [Delete billing automations](https://mews-systems.gitbook.io/connector-api/operations/billingautomations#delete-billing-automations).
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    StringUpdateValue:
      title: String update value
      type: object
      properties:
        Value:
          type:
          - string
          - 'null'
          description: Value which is to be updated.
          example: string
      additionalProperties: false
      x-schema-id: StringUpdateValue
    RoutingRuleStayItems:
      title: Selected stay items
      type: object
      properties:
        Nights:
          type: boolean
          description: Whether the routing rule applies to nights.
          example: true
        CityTax:
          type: boolean
          description: Whether the routing rule applies to city tax.
          example: true
        ProductCategoryIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Product categories to which the routing rule applies to.
      additionalProperties: false
      description: ''
      x-schema-id: RoutingRuleStayItems
    RoutingRuleDeleteParameters:
      title: RoutingRuleDeleteParameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - RoutingRuleIds
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        RoutingRuleIds:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            type: string
            format: uuid
          description: Unique identifiers of the routing rules to be deleted.
      additionalProperties: false
      x-schema-id: RoutingRuleDeleteParameters
    RoutingRuleUpdateResult:
      title: RoutingRuleUpdateResult
      required:
      - RoutingRules
      type: object
      properties:
        RoutingRules:
          maxItems: 1000
          type: array
          items:
            $ref: '#/components/schemas/RoutingRule'
          description: Updated routing rules.
      additionalProperties: false
      x-schema-id: RoutingRuleUpdateResult
    TimeFilterInterval:
      title: Time interval
      type: object
      properties:
        StartUtc:
          type:
          - string
          - 'null'
          format: date-time
          example: '2026-06-02T14:30:00Z'
        EndUtc:
          type:
          - string
          - 'null'
          format: date-time
          example: '2026-06-02T14:30:00Z'
      additionalProperties: false
      description: "When a time interval is used for **filtering** (for example in parameters such as `CreatedUtc.StartUtc` / `CreatedUtc.EndUtc`), the following rules apply:\n\n- **Start equals End (equality mode)**  \n  If `StartUtc` and `EndUtc` are exactly the same timestamp, the filter is treated as an equality check for that precise moment in time:\n  \n  ```\n  CreatedUtc == StartUtc\n  ```\n  \n  This does not represent an interval; only records with `CreatedUtc` equal to that exact instant are returned.\n\n- **Start differs from End (interval mode)**  \n  If `StartUtc` and `EndUtc` are different, the filter is evaluated as a half-open interval:\n  \n  ```\n  StartUtc <= CreatedUtc < EndUtc\n  ```\n  \n  In other words, the start is inclusive and the end is exclusive.\n\nMake sure your integration takes inclusive Start / exclusive End behavior of time intervals into account so that no records at the boundaries are omitted."
      x-schema-id: TimeFilterInterval
    RoutingRuleRouteType:
      title: Route type
      enum:
      - AllStayItems
      - SelectedStayItems
      type: string
      description: Determines to which stay items the routing rule applies.
    RoutingRuleAssignmentTargetType:
      title: Assignment target type
      enum:
      - CompanyAsDetails
      - CompanyAsOwner
      type: string
    GuidIEnumerableUpdateValue:
      title: Guid array update value
      type: object
      properties:
        Value:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Value which is to be updated.
      additionalProperties: false
      x-schema-id: GuidIEnumerableUpdateValue
    MultipleRoutingRuleUpdateParameters:
      title: MultipleRoutingRuleUpdateParameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - RoutingRuleUpdates
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        RoutingRuleUpdates:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/RoutingRuleUpdateParameters'
          description: Collection of Routing rules to be updated.
      additionalProperties: false
      x-schema-id: MultipleRoutingRuleUpdateParameters
    GuidUpdateValue:
      title: Guid update value
      type: object
      properties:
        Value:
          type: string
          description: Value which is to be updated.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: GuidUpdateValue
    Limitation:
      title: Limitation
      required:
      - Count
      type: object
      properties:
        Count:
          type: integer
          format: int32
          example: 1
        Cursor:
          type:
          - string
          - 'null'
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      description: Limitation on the quantity of data returned.
      x-schema-id: Limitation
    RoutingRuleAdditionResult:
      title: RoutingRuleAdditionResult
      required:
      - RoutingRules
      type: object
      properties:
        RoutingRules:
          maxItems: 1000
          type: array
          items:
            $ref: '#/components/schemas/RoutingRule'
          description: Added routing rules.
      additionalProperties: false
      x-schema-id: RoutingRuleAdditionResult
    RoutingRuleResult:
      title: RoutingRuleResult
      required:
      - RoutingRules
      type: object
      properties:
        RoutingRules:
          maxItems: 1000
          type: array
          items:
            $ref: '#/components/schemas/RoutingRule'
          description: Collection of routing rules.
        Cursor:
          type:
          - string
          - 'null'
          description: Unique identifier of the item one newer in time order than the items to be returned. If Cursor is not specified, i.e. null, then the latest or most recent items will be returned.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: RoutingRuleResult
    RoutingRuleCompanyRelation:
      title: Company relation
      enum:
      - PartnerCompany
      - TravelAgency
      type: string
      description: Relation of the company to the routing rule.
    BooleanUpdateValue:
      title: Boolean update value
      type: object
      properties:
        Value:
          type: boolean
          description: Value which is to be updated.
          example: true
      additionalProperties: false
      x-schema-id: BooleanUpdateValue
    MultipleRoutingRuleAddParameters:
      title: MultipleRoutingRuleAddParameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - RoutingRules
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        RoutingRules:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/RoutingRuleAddParameter'
          description: Collection of Routing rules to be added.
      additionalProperties: false
      x-schema-id: MultipleRoutingRuleAddParameters
    RoutingRuleAddParameter:
      title: Routing rule parameters
      required:
      - Applicability
      - CompanyId
      - CompanyRelation
      - RouteType
      - ServiceId
      type: object
      properties:
        CompanyId:
          type: string
          description: Unique identifier of the Company routing rule is assigned to.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ServiceId:
          type: string
          description: Unique identifier of the Service routing rule is assigned to.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CompanyRelation:
          $ref: '#/components/schemas/RoutingRuleCompanyRelation'
        Applicability:
          $ref: '#/components/schemas/RoutingRuleApplicability'
        RouteType:
          $ref: '#/components/schemas/RoutingRuleRouteType'
        AssignmentTargetType:
          anyOf:
          - $ref: '#/components/schemas/RoutingRuleAssignmentTargetType'
          description: Relation of company to the bill. Defaults to `CompanyAsDetails`.
          example: string
        SelectedStayItems:
          title: Selected stay items parameters
          allOf:
          - $ref: '#/components/schemas/RoutingRuleStayItemsAddParameters'
          description: To which stay items routing rule applies to. Required only if `RouteType` value is `SelectedStayItems`.
          example: string
      additionalProperties: false
      x-schema-id: RoutingRuleAddParameter
    RoutingRuleStayItemsAddParameters:
      title: Selected stay items parameters
      type: object
      properties:
        Nights:
          type: boolean
          description: Whether the routing rule applies to nights.
          example: true
        CityTax:
          type: boolean
          description: Whether the routing rule applies to city tax.
          example: true
        ProductCategoryIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Product categories to which the routing rule applies to.
      additionalProperties: false
      description: ''
      x-schema-id: RoutingRuleStayItemsAddParameters
    RoutingRule:
      title: Routing rule
      required:
      - Applicability
      - CompanyId
      - CompanyRelation
      - CreatedUtc
      - EnterpriseId
      - Id
      - RouteType
      - ServiceId
      - UpdatedUtc
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the routing rule.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        EnterpriseId:
          type: string
          description: Unique identifier of the Enterprise.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CompanyId:
          type: string
          description: Unique identifier of the Company routing rule is assigned to.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CompanyRelation:
          $ref: '#/components/schemas/RoutingRuleCompanyRelation'
        Applicability:
          $ref: '#/components/schemas/RoutingRuleApplicability'
        RouteType:
          $ref: '#/components/schemas/RoutingRuleRouteType'
        ServiceId:
          type: string
          description: Unique identifier of the Service routing rule is assigned to.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        SelectedStayItems:
          title: Selected stay items
          allOf:
          - $ref: '#/components/schemas/RoutingRuleStayItems'
          description: Specific items to which the routing rule applies. Returns only if `RouteType` value is `SelectedStayItems`.
          example: string
        CreatedUtc:
          minLength: 1
          type: string
          description: Creation date and time of the routing rule in UTC timezone in ISO 8601 format.
          format: date-time
          example: '2026-06-02T14:30:00Z'
        UpdatedUtc:
          minLength: 1
          type: string
          description: Last update date and time of the routing rule in UTC timezone in ISO 8601 format.
          format: date-time
          example: '2026-06-02T14:30:00Z'
      additionalProperties: false
      x-schema-id: RoutingRule
    Unit:
      type: object
      additionalProperties: false
    RoutingRuleFilterParameters:
      title: RoutingRuleFilterParameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - Limitation
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        Limitation:
          allOf:
          - $ref: '#/components/schemas/Limitation'
          description: Limitation on the quantity of data returned and optional Cursor for the starting point of data.
          example: string
        EnterpriseIds:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of the Enterprises. If not specified, the operation returns data for all enterprises within scope of the Access Token.
        CompanyIds:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifier of the `Company`.
        RoutingRuleIds:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifier of the routing rules.
        UpdatedUtc:
          title: Time interval
          allOf:
          - $ref: '#/components/schemas/TimeFilterInterval'
          description: Interval in which the routing rules were updated.
          x-max-interval-in-months: 3
          example: string
      additionalProperties: false
      x-schema-id: RoutingRuleFilterParameters
    RoutingRuleUpdateParameters:
      title: Routing rule update parameters
      required:
      - RoutingRuleId
      type: object
      properties:
        RoutingRuleId:
          type: string
          description: Unique identifier of the routing rule.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CompanyId:
          title: Guid update value
          allOf:
          - $ref: '#/components/schemas/GuidUpdateValue'
          description: Unique identifier of the Company (or null should it not be updated).
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ServiceId:
          title: Guid update value
          allOf:
          - $ref: '#/components/schemas/GuidUpdateValue'
          description: Unique identifier of the Service routing rule is assigned to (or null should it not be updated).
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CompanyRelation:
          title: String update value
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          anyOf:
          - $ref: '#/components/schemas/RoutingRuleCompanyRelation'
          description: Company relation to the routing rule (or null should it not be updated).
          example: string
        Applicability:
          title: String update value
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          anyOf:
          - $ref: '#/components/schemas/RoutingRuleApplicability'
          description: Applicability that determines if routing rule apply to all future reservations with this company or travel agency attached or only future reservations that are prepaid in online travel agency (OTA) (or null should it not be updated).
          example: string
        RouteType:
          title: String update value
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          anyOf:
          - $ref: '#/components/schemas/RoutingRuleRouteType'
          description: What should be routed Route type (or null should it not be updated).
          example: string
        AssignmentTargetType:
          title: String update value
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          anyOf:
          - $ref: '#/components/schemas/RoutingRuleAssignmentTargetType'
          description: Relation of company to the bill Assignment target type (or null should it not be updated).
          example: string
        SelectedStayItems:
          title: Selected stay items update parameters
          allOf:
          - $ref: '#/components/schemas/RoutingRuleStayItemsUpdateParameters'
          description: To which stay items routing rule applies to. Required only if `RouteType` value is `SelectedStayItems`.
          example: string
      additionalProperties: false
      x-schema-id: RoutingRuleUpdateParameters
    ConnectorApiExceptionResult:
      title: ConnectorApiExceptionResult
      type: object
      properties:
        Message:
          type:
          - string
          - 'null'
          example: string
        RequestId:
          type:
          - string
          - 'null'
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Details:
          example: string
      additionalProperties: false
      x-schema-id: ConnectorApiExceptionResult
    RoutingRuleApplicability:
      title: Applicability
      enum:
      - Always
      - PrepaidOnly
      type: string
      description: Determines if routing rule applies to all future reservations with this company or travel agency, or only future reservations that are prepaid.
    RoutingRuleStayItemsUpdateParameters:
      title: Selected stay items update parameters
      type: object
      properties:
        Nights:
          title: Boolean update value
          allOf:
          - $ref: '#/components/schemas/BooleanUpdateValue'
          description: Whether the routing rule applies to nights (or null should it not be updated).
          example: string
        CityTax:
          title: Boolean update value
          allOf:
          - $ref: '#/components/schemas/BooleanUpdateValue'
          description: Whether the routing rule applies to city tax (or null should it not be updated).
          example: string
        ProductCategoryIds:
          title: Guid array update value
          allOf:
          - $ref: '#/components/schemas/GuidIEnumerableUpdateValue'
          description: Product categories to which the routing rule applies to (or null should it not be updated).
          example: string
      additionalProperties: false
      description: ''
      x-schema-id: RoutingRuleStayItemsUpdateParameters
  securitySchemes:
    MewsClientToken:
      type: apiKey
      in: header
      name: ClientToken
      description: Mews authentication is performed by supplying ClientToken, AccessToken and Client as fields in the JSON request body (not as HTTP headers). This securityScheme is a tooling-compatible representation of the ClientToken credential. ClientToken is unique to your application and identifies the API client.
    MewsAccessToken:
      type: apiKey
      in: header
      name: AccessToken
      description: Tooling-compatible representation of the AccessToken credential, which is supplied in the JSON request body. AccessToken is unique to the connection with a property (enterprise) and identifies the property or properties whose data and services you can access. Portfolio Access Tokens enable multi-property access with a single token.
