openapi: 3.2.0
info:
  title: Mews Booking Engine API (Distributor) Account notes Payment requests API
  version: v1
  description: The Mews Booking Engine API (historically the Distributor API, served from /api/distributor/v1) lets developers build guest-facing booking engines that create reservations directly in Mews. It exposes enterprise configuration, availability, pricing, products, vouchers, payment cards, and reservation group creation for front-end client consumption.
  x-generated-from: documentation
  x-source-url: https://api.mews.com/Swagger/distributor/swagger.json
  x-last-validated: '2026-06-02'
servers:
- url: https://api.mews.com
  description: Production
- url: https://api.mews-demo.com
  description: Demo / sandbox
security:
- MewsClientToken: []
  MewsAccessToken: []
tags:
- name: Payment requests
paths:
  /api/connector/v1/paymentRequests/getAll:
    post:
      tags:
      - Payment requests
      summary: Mews Get All Payment Requests
      description: "Get all payment requests belonging to the specified customer accounts. \nNote this operation uses [Pagination](https://mews-systems.gitbook.io/connector-api/guidelines/pagination/) and supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property)."
      operationId: paymentRequests_getAll
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequestFilterParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              PaymentRequestIds:
              - bcc76295-4e47-4cf1-a7cb-afae00bd1c35
              - 6282d17b-a068-4a9f-83d3-afae00c39bfb
              AccountIds:
              - fadd5bb6-b428-45d5-94f8-fd0d89fece6d
              ReservationIds:
              - 0f515589-99b4-423d-b83a-b237009f0509
              UpdatedUtc:
                StartUtc: '2020-01-05T00:00:00Z'
                EndUtc: '2020-01-10T00:00:00Z'
              States:
              - Pending
              - Expired
              EnterpriseIds:
              - 3fa85f64-5717-4562-b3fc-2c963f66afa6
              - 4d0201db-36f5-428b-8d11-4f0a65e960cc
              Limitation:
                Count: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequestResult'
              example:
                PaymentRequests:
                - Id: bcc76295-4e47-4cf1-a7cb-afae00bd1c35
                  EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  AccountId: fadd5bb6-b428-45d5-94f8-fd0d89fece6d
                  CustomerId: fadd5bb6-b428-45d5-94f8-fd0d89fece6d
                  ReservationGroupId: null
                  ReservationId: 0f515589-99b4-423d-b83a-b237009f0509
                  State: Pending
                  Amount:
                    Currency: EUR
                    NetValue: 10.04
                    GrossValue: 10.4
                    TaxValues: []
                    Breakdown:
                      Items:
                      - TaxRateCode: null
                        NetValue: 10.05
                        TaxValue: 0.0
                  Type: Payment
                  Reason: PaymentCardDeclined
                  ExpirationUtc: '2023-02-23T23:00:00Z'
                  Description: Payment required.
                  Notes: null
                  CreatedUtc: '2023-10-01T11:48:57Z'
                  UpdatedUtc: '2023-10-28T11:48:57Z'
                Cursor: bcc76295-4e47-4cf1-a7cb-afae00bd1c35
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                PaymentRequestsGetAll400Example:
                  summary: Default paymentRequests_getAll 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                PaymentRequestsGetAll401Example:
                  summary: Default paymentRequests_getAll 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                PaymentRequestsGetAll403Example:
                  summary: Default paymentRequests_getAll 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                PaymentRequestsGetAll408Example:
                  summary: Default paymentRequests_getAll 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                PaymentRequestsGetAll204Example:
                  summary: Default paymentRequests_getAll 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                PaymentRequestsGetAll429Example:
                  summary: Default paymentRequests_getAll 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                PaymentRequestsGetAll500Example:
                  summary: Default paymentRequests_getAll 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/paymentRequests/add:
    post:
      tags:
      - Payment requests
      summary: Mews Add Payment Requests
      description: Creates a payment request to the specified [Customer](https://mews-systems.gitbook.io/connector-api/operations/customers/#customer). Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).
      operationId: paymentRequests_add
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultiplePaymentRequestAddParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              PaymentRequests:
              - AccountId: fadd5bb6-b428-45d5-94f8-fd0d89fece6d
                Amount:
                  Currency: EUR
                  Value: 10.4
                Type: Payment
                Reason: PaymentCardMissing
                ExpirationUtc: '2023-02-20T12:00:00Z'
                Description: Payment required
                Notes: Internal notes.
                ReservationId: 0f515589-99b4-423d-b83a-b237009f0509
                BillId: ea087d64-3901-4eee-b0b7-9fce4c58a005
              SendPaymentRequestEmails: true
              EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequestAdditionResult'
              example:
                PaymentRequests:
                - Id: 6282d17b-a068-4a9f-83d3-afae00c39bfb
                  EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  AccountId: fadd5bb6-b428-45d5-94f8-fd0d89fece6d
                  CustomerId: fadd5bb6-b428-45d5-94f8-fd0d89fece6d
                  ReservationGroupId: null
                  ReservationId: 0f515589-99b4-423d-b83a-b237009f0509
                  State: Pending
                  Amount:
                    Currency: EUR
                    NetValue: 10.04
                    GrossValue: 10.4
                    TaxValues: []
                    Breakdown:
                      Items:
                      - TaxRateCode: null
                        NetValue: 10.05
                        TaxValue: 0.0
                  Type: Payment
                  Reason: PaymentCardMissing
                  ExpirationUtc: '2023-02-20T12:00:00Z'
                  Description: Payment required
                  Notes: Internal notes.
                  CreatedUtc: '2023-10-01T11:48:57Z'
                  UpdatedUtc: '2023-10-28T11:48:57Z'
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                PaymentRequestsAdd400Example:
                  summary: Default paymentRequests_add 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                PaymentRequestsAdd401Example:
                  summary: Default paymentRequests_add 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                PaymentRequestsAdd403Example:
                  summary: Default paymentRequests_add 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                PaymentRequestsAdd408Example:
                  summary: Default paymentRequests_add 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                PaymentRequestsAdd204Example:
                  summary: Default paymentRequests_add 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                PaymentRequestsAdd429Example:
                  summary: Default paymentRequests_add 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                PaymentRequestsAdd500Example:
                  summary: Default paymentRequests_add 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/paymentRequests/cancel:
    post:
      tags:
      - Payment requests
      summary: Mews Cancel Payment Requests
      description: Cancels specified payment requests. Only payment requests which are in `Pending` state can be canceled.
      operationId: paymentRequests_cancel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultiplePaymentRequestCancelParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              PaymentRequestIds:
              - 6282d17b-a068-4a9f-83d3-afae00c39bfb
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentRequestCancellationResult'
              example:
                PaymentRequests:
                - Id: 6282d17b-a068-4a9f-83d3-afae00c39bfb
                  EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  AccountId: fadd5bb6-b428-45d5-94f8-fd0d89fece6d
                  CustomerId: fadd5bb6-b428-45d5-94f8-fd0d89fece6d
                  ReservationGroupId: null
                  ReservationId: 0f515589-99b4-423d-b83a-b237009f0509
                  State: Canceled
                  Amount:
                    Currency: EUR
                    NetValue: 10.04
                    GrossValue: 10.4
                    TaxValues: []
                    Breakdown:
                      Items:
                      - TaxRateCode: null
                        NetValue: 10.05
                        TaxValue: 0.0
                  Type: Payment
                  Reason: PaymentCardMissing
                  ExpirationUtc: '2023-02-20T12:00:00Z'
                  Description: Payment required
                  Notes: Internal notes.
                  CreatedUtc: '2023-10-01T11:48:57Z'
                  UpdatedUtc: '2023-10-28T11:48:57Z'
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                PaymentRequestsCancel400Example:
                  summary: Default paymentRequests_cancel 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                PaymentRequestsCancel401Example:
                  summary: Default paymentRequests_cancel 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                PaymentRequestsCancel403Example:
                  summary: Default paymentRequests_cancel 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                PaymentRequestsCancel408Example:
                  summary: Default paymentRequests_cancel 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                PaymentRequestsCancel204Example:
                  summary: Default paymentRequests_cancel 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                PaymentRequestsCancel429Example:
                  summary: Default paymentRequests_cancel 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                PaymentRequestsCancel500Example:
                  summary: Default paymentRequests_cancel 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PaymentRequestReason:
      title: Payment request reason
      enum:
      - Other
      - PaymentCardMissing
      - PaymentCardDeclined
      - Deposit
      - Prepayment
      - Fee
      - RecurringPayment
      type: string
      description: A payment request reason.
    Amount:
      title: Amount
      required:
      - Breakdown
      - Currency
      - GrossValue
      - NetValue
      - TaxValues
      type: object
      properties:
        Currency:
          minLength: 1
          type: string
          description: ISO-4217 code of the [Currency](https://mews-systems.gitbook.io/connector-api/operations/currencies/#currency).
          format: currency
          example: EUR
        NetValue:
          type: number
          description: Net value without taxes.
          format: double
          example: 100.0
        GrossValue:
          type: number
          description: Gross value including all taxes.
          format: double
          example: 100.0
        TaxValues:
          type: array
          items:
            $ref: '#/components/schemas/TaxValue'
          description: The tax values applied.
        Breakdown:
          title: Tax breakdown
          allOf:
          - $ref: '#/components/schemas/TaxBreakdown'
          description: Information about individual tax amounts.
          example: string
      additionalProperties: false
      description: ''
      x-schema-id: Amount
    PaymentRequest:
      title: Payment request
      required:
      - AccountId
      - Amount
      - CreatedUtc
      - Description
      - EnterpriseId
      - ExpirationUtc
      - Id
      - Reason
      - State
      - Type
      - UpdatedUtc
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the payment request.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        EnterpriseId:
          type: string
          description: Unique identifier of the `Enterprise`.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AccountId:
          type: string
          description: Unique identifier of the `Customer` to which the payment request was issued.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CustomerId:
          type:
          - string
          - 'null'
          description: Unique identifier of the `Customer` to which the payment request was issued.
          format: uuid
          deprecated: true
          x-deprecatedMessage: Use `AccountId`
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ReservationGroupId:
          type:
          - string
          - 'null'
          description: Unique identifier of the `ReservationGroup`.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ReservationId:
          type:
          - string
          - 'null'
          description: Unique identifier of the `Reservation` the payment request belongs to.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        State:
          $ref: '#/components/schemas/PaymentRequestState'
        Amount:
          title: Amount
          allOf:
          - $ref: '#/components/schemas/Amount'
          description: Amount of the payment request.
          example: string
        Type:
          $ref: '#/components/schemas/PaymentRequestType'
        Reason:
          $ref: '#/components/schemas/PaymentRequestReason'
        ExpirationUtc:
          minLength: 1
          type: string
          description: Date and time of the payment request's expiration in ISO 8601 format.
          format: date-time
          example: '2026-06-02T14:30:00Z'
        Description:
          maxLength: 1000
          minLength: 1
          type: string
          description: Description of the payment request.
          example: string
        Notes:
          maxLength: 1000
          type:
          - string
          - 'null'
          description: Payment request's notes.
          example: string
        CreatedUtc:
          minLength: 1
          type: string
          description: Creation date and time of the payment request in UTC timezone in ISO 8601 format.
          format: date-time
          example: '2026-06-02T14:30:00Z'
        UpdatedUtc:
          minLength: 1
          type: string
          description: Last update date and time of the payment request in UTC timezone in ISO 8601 format.
          format: date-time
          example: '2026-06-02T14:30:00Z'
      additionalProperties: false
      x-schema-id: PaymentRequest
    PaymentRequestCancellationResult:
      title: PaymentRequestCancellationResult
      required:
      - PaymentRequests
      type: object
      properties:
        PaymentRequests:
          maxItems: 1000
          type: array
          items:
            $ref: '#/components/schemas/PaymentRequest'
          description: The cancelled payment requests.
      additionalProperties: false
      x-schema-id: PaymentRequestCancellationResult
    MultiplePaymentRequestCancelParameters:
      title: MultiplePaymentRequestCancelParameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - PaymentRequestIds
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        PaymentRequestIds:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            type: string
            format: uuid
          description: Identifiers of payment requests to be canceled.
      additionalProperties: false
      x-schema-id: MultiplePaymentRequestCancelParameters
    TimeFilterInterval:
      title: Time interval
      type: object
      properties:
        StartUtc:
          type:
          - string
          - 'null'
          format: date-time
          example: '2026-06-02T14:30:00Z'
        EndUtc:
          type:
          - string
          - 'null'
          format: date-time
          example: '2026-06-02T14:30:00Z'
      additionalProperties: false
      description: "When a time interval is used for **filtering** (for example in parameters such as `CreatedUtc.StartUtc` / `CreatedUtc.EndUtc`), the following rules apply:\n\n- **Start equals End (equality mode)**  \n  If `StartUtc` and `EndUtc` are exactly the same timestamp, the filter is treated as an equality check for that precise moment in time:\n  \n  ```\n  CreatedUtc == StartUtc\n  ```\n  \n  This does not represent an interval; only records with `CreatedUtc` equal to that exact instant are returned.\n\n- **Start differs from End (interval mode)**  \n  If `StartUtc` and `EndUtc` are different, the filter is evaluated as a half-open interval:\n  \n  ```\n  StartUtc <= CreatedUtc < EndUtc\n  ```\n  \n  In other words, the start is inclusive and the end is exclusive.\n\nMake sure your integration takes inclusive Start / exclusive End behavior of time intervals into account so that no records at the boundaries are omitted."
      x-schema-id: TimeFilterInterval
    MultiplePaymentRequestAddParameters:
      title: MultiplePaymentRequestAddParameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - PaymentRequests
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        EnterpriseId:
          type:
          - string
          - 'null'
          description: Unique identifier of the enterprise. Required when using [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property), ignored otherwise.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        PaymentRequests:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/PaymentRequestAddParameters'
          description: Payment requests to be added.
        SendPaymentRequestEmails:
          type:
          - boolean
          - 'null'
          description: Specifies whether a payment request email is sent to the customer. Defaults to `true`.
          example: true
      additionalProperties: false
      x-schema-id: MultiplePaymentRequestAddParameters
    TaxBreakdownItem:
      title: Tax breakdown item
      required:
      - NetValue
      - TaxValue
      type: object
      properties:
        TaxRateCode:
          type:
          - string
          - 'null'
          description: Tax rate code for the item. `null` for untaxed amounts.
          example: string
        NetValue:
          type: number
          description: The net value that the tax is calculated from.
          format: double
          example: 100.0
        TaxValue:
          type: number
          description: The value of the tax.
          format: double
          example: 100.0
      additionalProperties: false
      x-schema-id: TaxBreakdownItem
    PaymentRequestAdditionResult:
      title: PaymentRequestAdditionResult
      required:
      - PaymentRequests
      type: object
      properties:
        PaymentRequests:
          maxItems: 1000
          type: array
          items:
            $ref: '#/components/schemas/PaymentRequest'
          description: The added payment requests.
      additionalProperties: false
      x-schema-id: PaymentRequestAdditionResult
    PaymentRequestAddParameters:
      title: Payment request parameters
      required:
      - AccountId
      - Amount
      - Description
      - ExpirationUtc
      - Reason
      - Type
      type: object
      properties:
        AccountId:
          type: string
          description: Unique identifier of the `Customer` account to which the payment request is issued.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Amount:
          title: Currency value (ver 2023-02-02)
          allOf:
          - $ref: '#/components/schemas/CurrencyValue'
          description: Amount of the payment request.
          example: string
        Type:
          $ref: '#/components/schemas/PaymentRequestType'
        Reason:
          $ref: '#/components/schemas/PaymentRequestReason'
        ExpirationUtc:
          minLength: 1
          type: string
          description: Date and time of the payment request's expiration in ISO 8601 format.
          format: date-time
          example: '2026-06-02T14:30:00Z'
        Description:
          maxLength: 1000
          minLength: 1
          type: string
          description: Description of the payment request.
          example: string
        Notes:
          maxLength: 1000
          type:
          - string
          - 'null'
          description: Payment request's notes.
          example: string
        ReservationId:
          type:
          - string
          - 'null'
          description: Unique identifier of the `Reservation` the payment request belongs to.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        BillId:
          type:
          - string
          - 'null'
          description: Unique identifier of the `Bill` the payment request is linked to.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: PaymentRequestAddParameters
    PaymentRequestFilterParameters:
      title: PaymentRequestFilterParameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - Limitation
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        Limitation:
          allOf:
          - $ref: '#/components/schemas/Limitation'
          description: Limitation on the quantity of data returned and optional Cursor for the starting point of data.
          example: string
        EnterpriseIds:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of the Enterprises. If not specified, the operation returns data for all enterprises within scope of the Access Token.
        PaymentRequestIds:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of the requested payment requests.
        AccountIds:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of `Customer` accounts to which the payment requests were issued.
        ReservationIds:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of `Reservation` to which the payment requests belong.
        UpdatedUtc:
          title: Time interval
          allOf:
          - $ref: '#/components/schemas/TimeFilterInterval'
          description: Interval in which the payment requests were updated.
          x-max-interval-in-months: 3
          example: string
        States:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PaymentRequestState'
          description: A list of payment request states to filter by.
      additionalProperties: false
      x-schema-id: PaymentRequestFilterParameters
    TaxBreakdown:
      title: Tax breakdown
      required:
      - Items
      type: object
      properties:
        Items:
          type: array
          items:
            $ref: '#/components/schemas/TaxBreakdownItem'
          description: Tax breakdown items per each tax rate applied.
      additionalProperties: false
      x-schema-id: TaxBreakdown
    PaymentRequestType:
      title: Payment request type
      enum:
      - Payment
      - Preauthorization
      type: string
      description: A payment request type.
      x-enumDescriptions:
      - Indicates that a payment is requested.
      - Indicates that a `Preauthorization` is requested.
    Limitation:
      title: Limitation
      required:
      - Count
      type: object
      properties:
        Count:
          type: integer
          format: int32
          example: 1
        Cursor:
          type:
          - string
          - 'null'
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      description: Limitation on the quantity of data returned.
      x-schema-id: Limitation
    CurrencyValue:
      title: Currency value (ver 2023-02-02)
      required:
      - Currency
      - Value
      type: object
      properties:
        Currency:
          minLength: 1
          type: string
          description: ISO-4217 code of the `Currency`.
          format: currency
          example: EUR
        Value:
          type: number
          description: Amount in the currency.
          format: double
          example: 100.0
      additionalProperties: false
      description: Absolute value of the fee.
      x-schema-id: CurrencyValue
    PaymentRequestState:
      title: Payment request state
      enum:
      - Pending
      - Completed
      - Canceled
      - Expired
      type: string
      description: A payment request state.
      x-enumDescriptions:
      - Payment request is active and waiting for completion.
      - Payment request was fulfilled.
      - Payment request was canceled.
      - Payment request is past its expiration date and no longer active.
    TaxValue:
      title: Tax value
      required:
      - Value
      type: object
      properties:
        Code:
          type:
          - string
          - 'null'
          description: Code corresponding to tax type.
          example: string
        Value:
          type: number
          description: Amount of tax applied.
          format: double
          example: 100.0
      additionalProperties: false
      x-schema-id: TaxValue
    ConnectorApiExceptionResult:
      title: ConnectorApiExceptionResult
      type: object
      properties:
        Message:
          type:
          - string
          - 'null'
          example: string
        RequestId:
          type:
          - string
          - 'null'
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Details:
          example: string
      additionalProperties: false
      x-schema-id: ConnectorApiExceptionResult
    PaymentRequestResult:
      title: PaymentRequestResult
      required:
      - PaymentRequests
      type: object
      properties:
        PaymentRequests:
          maxItems: 1000
          type: array
          items:
            $ref: '#/components/schemas/PaymentRequest'
          description: The filtered payment requests.
        Cursor:
          type:
          - string
          - 'null'
          description: Unique identifier of the last and hence oldest payment request returned. This can be used in `Limitation` in a subsequent request to fetch the next batch of older payment requests.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: PaymentRequestResult
  securitySchemes:
    MewsClientToken:
      type: apiKey
      in: header
      name: ClientToken
      description: Mews authentication is performed by supplying ClientToken, AccessToken and Client as fields in the JSON request body (not as HTTP headers). This securityScheme is a tooling-compatible representation of the ClientToken credential. ClientToken is unique to your application and identifies the API client.
    MewsAccessToken:
      type: apiKey
      in: header
      name: AccessToken
      description: Tooling-compatible representation of the AccessToken credential, which is supplied in the JSON request body. AccessToken is unique to the connection with a property (enterprise) and identifies the property or properties whose data and services you can access. Portfolio Access Tokens enable multi-property access with a single token.
