openapi: 3.0.4
info:
  title: Mews Booking Engine API (Distributor) Account notes Companionships API
  version: v1
  description: The Mews Booking Engine API (historically the Distributor API, served from /api/distributor/v1) lets developers build guest-facing booking engines that create reservations directly in Mews. It exposes enterprise configuration, availability, pricing, products, vouchers, payment cards, and reservation group creation for front-end client consumption.
  x-generated-from: documentation
  x-source-url: https://api.mews.com/Swagger/distributor/swagger.json
  x-last-validated: '2026-06-02'
servers:
- url: https://api.mews.com
  description: Production
- url: https://api.mews-demo.com
  description: Demo / sandbox
security:
- MewsClientToken: []
  MewsAccessToken: []
tags:
- name: Companionships
paths:
  /api/connector/v1/companionships/getAll:
    post:
      tags:
      - Companionships
      summary: Mews Get All Companionships
      description: 'Returns all companionships based on customers, reservations or reservation groups. One of them must be specified in the request.

        Note this operation uses [Pagination](https://mews-systems.gitbook.io/connector-api/guidelines/pagination/) and supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).'
      operationId: companionships_getAll
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanionshipFilterParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              EnterpriseIds:
              - 3fa85f64-5717-4562-b3fc-2c963f66afa6
              - 4d0201db-36f5-428b-8d11-4f0a65e960cc
              CompanionshipIds:
              - 72d4b117-1f84-44a3-1f84-8b2c0635ac60
              CustomerIds:
              - 35d4b117-4e60-44a3-9580-c582117eff98
              ReservationIds:
              - bfee2c44-1f84-4326-a862-5289598f6e2d
              ReservationGroupIds:
              - c704dff3-7811-4af7-a3a0-7b2b0635ac59
              UpdatedUtc:
                StartUtc: '2020-02-05T00:00:00Z'
                EndUtc: '2020-02-10T00:00:00Z'
              Limitation:
                Count: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanionshipResult'
              example:
                Companionships:
                - Id: 72d4b117-1f84-44a3-1f84-8b2c0635ac60
                  CustomerId: 35d4b117-4e60-44a3-9580-c582117eff98
                  ReservationGroupId: c704dff3-7811-4af7-a3a0-7b2b0635ac59
                  ReservationId: bfee2c44-1f84-4326-a862-5289598f6e2d
                Customers: null
                Reservations: null
                ReservationGroups: null
                Cursor: 72d4b117-1f84-44a3-1f84-8b2c0635ac60
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CompanionshipsGetAll400Example:
                  summary: Default companionships_getAll 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CompanionshipsGetAll401Example:
                  summary: Default companionships_getAll 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CompanionshipsGetAll403Example:
                  summary: Default companionships_getAll 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CompanionshipsGetAll408Example:
                  summary: Default companionships_getAll 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CompanionshipsGetAll204Example:
                  summary: Default companionships_getAll 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CompanionshipsGetAll429Example:
                  summary: Default companionships_getAll 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CompanionshipsGetAll500Example:
                  summary: Default companionships_getAll 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ReservationPersonCount:
      title: Age category parameters
      required:
      - AgeCategoryId
      - Count
      type: object
      properties:
        AgeCategoryId:
          type: string
          description: Unique identifier of the [Age category](https://mews-systems.gitbook.io/connector-api/operations/agecategories#age-category).
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Count:
          type: integer
          description: Number of people of a given age category. Only positive value is accepted.
          format: int32
          example: 1
      additionalProperties: false
      x-schema-id: ReservationPersonCount
    CompanionshipExtent:
      title: Companionship extent
      type: object
      properties:
        Reservations:
          type: boolean
          description: Whether the response should contain reservations.
          nullable: true
          example: true
        ReservationGroups:
          type: boolean
          description: Whether the response should contain reservation groups.
          nullable: true
          example: true
        Customers:
          type: boolean
          description: Whether the response should contain customers.
          nullable: true
          example: true
      additionalProperties: false
      description: ''
      x-schema-id: CompanionshipExtent
    SexEnum:
      title: Sex
      enum:
      - Male
      - Female
      type: string
      description: '


        Male


        Female'
      x-enumNames:
      - Male
      - Female
      x-enumDescriptions:
      - ''
      - ''
    IdentityDocumentTypeEnum:
      title: Document type
      enum:
      - IdentityCard
      - Passport
      - Visa
      - DriversLicense
      type: string
      description: '


        IdentityCard


        Passport


        Visa


        DriversLicense'
      x-enumNames:
      - IdentityCard
      - Passport
      - Visa
      - DriversLicense
      x-enumDescriptions:
      - ''
      - ''
      - ''
      - ''
    TimeFilterInterval:
      title: Time interval
      type: object
      properties:
        StartUtc:
          type: string
          format: date-time
          nullable: true
          example: '2026-06-02T14:30:00Z'
        EndUtc:
          type: string
          format: date-time
          nullable: true
          example: '2026-06-02T14:30:00Z'
      additionalProperties: false
      description: "When a time interval is used for **filtering** (for example in parameters such as `CreatedUtc.StartUtc` / `CreatedUtc.EndUtc`), the following rules apply:\r\n\r\n- **Start equals End (equality mode)**  \r\n  If `StartUtc` and `EndUtc` are exactly the same timestamp, the filter is treated as an equality check for that precise moment in time:\r\n  \r\n  ```\r\n  CreatedUtc == StartUtc\r\n  ```\r\n  \r\n  This does not represent an interval; only records with `CreatedUtc` equal to that exact instant are returned.\r\n\r\n- **Start differs from End (interval mode)**  \r\n  If `StartUtc` and `EndUtc` are different, the filter is evaluated as a half-open interval:\r\n  \r\n  ```\r\n  StartUtc <= CreatedUtc < EndUtc\r\n  ```\r\n  \r\n  In other words, the start is inclusive and the end is exclusive.\r\n\r\nMake sure your integration takes inclusive Start / exclusive End behavior of time intervals into account so that no records at the boundaries are omitted."
      x-schema-id: TimeFilterInterval
    Customer:
      title: Customer
      required:
      - ChainId
      - Classifications
      - CreatedUtc
      - CreatorProfileId
      - Id
      - IsActive
      - LastName
      - Number
      - Options
      - PreferredSpaceFeatures
      - UpdatedUtc
      - UpdaterProfileId
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the customer.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ChainId:
          type: string
          description: Unique identifier of the chain.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Number:
          maxLength: 19
          minLength: 1
          type: string
          description: Unique number of the customer (max 19 digits).
          example: '1001'
        Title:
          allOf:
          - $ref: '#/components/schemas/Title'
          description: 'Title of the customer.


            Mister (Mr.)


            Miss (Ms.)


            Misses (Mrs.)'
          nullable: true
          example: string
        Sex:
          allOf:
          - $ref: '#/components/schemas/SexEnum'
          description: 'Sex of the customer.


            Male


            Female'
          nullable: true
          example: string
        FirstName:
          type: string
          description: First name of the customer.
          nullable: true
          example: Example Name
        LastName:
          minLength: 1
          type: string
          description: Last name of the customer.
          example: Example Name
        SecondLastName:
          type: string
          description: Second last name of the customer.
          nullable: true
          example: Example Name
        NationalityCode:
          type: string
          description: ISO 3166-1 code of the [Country](https://mews-systems.gitbook.io/connector-api/operations/countries/#country).
          nullable: true
          example: string
        PreferredLanguageCode:
          type: string
          description: 'Language and culture code of the customer''s preferred language, according to their profile. For example: `en-GB`, `fr-CA`.'
          nullable: true
          example: string
        LanguageCode:
          type: string
          description: Language and culture code of the customer's language, based on multiple sources. These sources include the preferred language specified in internal data based on previous bookings, and the preferred language of the customer specified in their profile. If neither of these sources are present, we use the native language based on the customer's nationality. The format is, for example, `en-US` or `fr-FR`.
          nullable: true
          example: string
        BirthDate:
          type: string
          description: Date of birth in ISO 8601 format.
          nullable: true
          example: string
        BirthCountryCode:
          type: string
          description: ISO 3166-1 alpha-2 code of the birth country.
          nullable: true
          example: string
        BirthCountrySubdivisionCode:
          type: string
          description: ISO 3166-2 code of the administrative division, e.g. ES-C.
          nullable: true
          example: string
        BirthPlace:
          type: string
          description: Place of birth.
          nullable: true
          example: string
        Occupation:
          type: string
          description: Occupation of the customer.
          nullable: true
          example: string
        Email:
          type: string
          description: Email address of the customer.
          nullable: true
          example: partner@example.com
        HasOtaEmail:
          type: boolean
          description: Whether the customer's email address is a temporary email address from an OTA. For more details, see the [product documentation](https://help.mews.com/s/article/how-to-maintain-ota-guest-profiles-with-verified-email-addresses-obtained-from-the-guest-portal).
          example: true
        Phone:
          type: string
          description: Phone number of the customer (possibly mobile).
          nullable: true
          example: string
        TaxIdentificationNumber:
          type: string
          description: Tax identification number of the customer.
          nullable: true
          example: '1001'
        LoyaltyCode:
          type: string
          description: Loyalty code of the customer.
          nullable: true
          example: string
        AccountingCode:
          type: string
          description: Accounting code of the customer.
          nullable: true
          example: string
        BillingCode:
          type: string
          description: Billing code of the customer.
          nullable: true
          example: string
        Notes:
          type: string
          description: Internal notes about the customer.
          nullable: true
          example: string
        CarRegistrationNumber:
          maxLength: 255
          type: string
          description: Registration number of the customer's car.
          nullable: true
          example: '1001'
        DietaryRequirements:
          maxLength: 255
          type: string
          description: Customer's dietary requirements, e.g. Vegan, Halal.
          nullable: true
          example: string
        CreatedUtc:
          minLength: 1
          type: string
          description: Creation date and time of the customer in UTC timezone in ISO 8601 format.
          format: date-time
          example: '2026-06-02T14:30:00Z'
        UpdatedUtc:
          minLength: 1
          type: string
          description: Last update date and time of the customer in UTC timezone in ISO 8601 format.
          format: date-time
          example: '2026-06-02T14:30:00Z'
        Passport:
          title: Identity document
          allOf:
          - $ref: '#/components/schemas/IdentityDocument'
          nullable: true
          deprecated: true
          x-deprecatedMessage: Use [Get all identity documents](https://mews-systems.gitbook.io/connector-api/operations/identitydocuments#get-all-identity-documents) to fetch identity documents.
          example: string
        IdentityCard:
          title: Identity document
          allOf:
          - $ref: '#/components/schemas/IdentityDocument'
          nullable: true
          deprecated: true
          x-deprecatedMessage: Use [Get all identity documents](https://mews-systems.gitbook.io/connector-api/operations/identitydocuments#get-all-identity-documents) to fetch identity documents.
          example: string
        Visa:
          title: Identity document
          allOf:
          - $ref: '#/components/schemas/IdentityDocument'
          nullable: true
          deprecated: true
          x-deprecatedMessage: Use [Get all identity documents](https://mews-systems.gitbook.io/connector-api/operations/identitydocuments#get-all-identity-documents) to fetch identity documents.
          example: string
        DriversLicense:
          title: Identity document
          allOf:
          - $ref: '#/components/schemas/IdentityDocument'
          nullable: true
          deprecated: true
          x-deprecatedMessage: Use [Get all identity documents](https://mews-systems.gitbook.io/connector-api/operations/identitydocuments#get-all-identity-documents) to fetch identity documents.
          example: string
        Address:
          title: Address
          allOf:
          - $ref: '#/components/schemas/OldAddress'
          description: ''
          nullable: true
          deprecated: true
          x-deprecatedMessage: Use `AddressId` instead.
          example: string
        AddressId:
          type: string
          description: Unique identifier of the `Address` of the customer.
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Classifications:
          type: array
          items:
            $ref: '#/components/schemas/CustomerClassificationEnum'
          description: Classifications of the customer.
        Options:
          type: array
          items:
            $ref: '#/components/schemas/CustomerOptionsEnum'
          description: Options of the customer.
        ItalianDestinationCode:
          type: string
          description: Value of Italian destination code.
          nullable: true
          example: string
        ItalianFiscalCode:
          type: string
          description: Value of Italian fiscal code.
          nullable: true
          example: string
        ItalianLotteryCode:
          type: string
          description: Italian lottery code.
          nullable: true
          example: string
        CompanyId:
          type: string
          description: Unique identifier of [Company](https://mews-systems.gitbook.io/connector-api/operations/companies/#company) the customer is associated with.
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        MergeTargetId:
          type: string
          description: Unique identifier of the account ([Customer](https://mews-systems.gitbook.io/connector-api/operations/#customer)) to which this customer is linked.
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ActivityState:
          type: string
          description: '[Activity State](https://mews-systems.gitbook.io/connector-api/operations/#activity-state) of customer record, i.e. whether active or deleted.'
          nullable: true
          deprecated: true
          x-deprecatedMessage: Use `IsActive` instead.
          example: string
        IsActive:
          type: boolean
          description: Whether the customer record is still active.
          example: true
        PreferredSpaceFeatures:
          type: array
          items:
            $ref: '#/components/schemas/ResourceFeatureClassification'
          description: A list of room preferences, such as view type, bed type, and amenities.
        CreatorProfileId:
          type: string
          description: Unique identifier of the user who created the customer.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        UpdaterProfileId:
          type: string
          description: Unique identifier of the user who last updated the customer.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: Customer
    Companionship:
      title: Companionship
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of `Companionship`.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CustomerId:
          type: string
          description: Unique identifier of Customer.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ReservationGroupId:
          type: string
          description: Unique identifier of ReservationGroup.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ReservationId:
          type: string
          description: Unique identifier of reservation.
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: Companionship
    ResourceFeatureClassification:
      title: Resource feature classification
      enum:
      - SeaView
      - RiverView
      - OceanView
      - TwinBeds
      - DoubleBed
      - RollawayBed
      - UpperBed
      - LowerBed
      - Balcony
      - AccessibleBathroom
      - AccessibleRoom
      - ElevatorAccess
      - HighFloor
      - Kitchenette
      - AirConditioning
      - PrivateJacuzzi
      - PrivateSauna
      - EnsuiteRoom
      - PrivateBathroom
      - SharedBathroom
      type: string
      description: Classification of `ResourceFeature`.
    CustomerOptionsEnum:
      title: Customer option
      enum:
      - None
      - SendMarketingEmails
      - Invoiceable
      - BillAddressObjection
      - SendMarketingPostalMail
      - SendPartnerMarketingEmails
      - SendPartnerMarketingPostalMail
      - WithdrawCardConsent
      - GuestPhotoConsent
      - IdPhotosConsent
      type: string
      description: '


        None


        SendMarketingEmails


        Invoiceable


        BillAddressObjection


        SendMarketingPostalMail


        SendPartnerMarketingEmails


        SendPartnerMarketingPostalMail


        WithdrawCardConsent


        GuestPhotoConsent


        IdPhotosConsent'
      x-enumNames:
      - None
      - SendMarketingEmails
      - Invoiceable
      - BillAddressObjection
      - SendMarketingPostalMail
      - SendPartnerMarketingEmails
      - SendPartnerMarketingPostalMail
      - WithdrawCardConsent
      - GuestPhotoConsent
      - IdPhotosConsent
      x-enumDescriptions:
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
    CompanionshipFilterParameters:
      title: CompanionshipFilterParameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - Extent
      - Limitation
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        Limitation:
          allOf:
          - $ref: '#/components/schemas/Limitation'
          description: Limitation on the quantity of data returned and optional Cursor for the starting point of data.
          example: string
        EnterpriseIds:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            type: string
            format: uuid
          description: Unique identifiers of the Enterprises. If not specified, the operation returns data for all enterprises within scope of the Access Token.
          nullable: true
        CompanionshipIds:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            type: string
            format: uuid
          description: Unique identifiers of `Companionship`. Required if no other filter is provided.
          nullable: true
        Extent:
          title: Companionship extent
          allOf:
          - $ref: '#/components/schemas/CompanionshipExtent'
          description: Extent of data to be returned. E.g. it is possible to specify that together with the companionships, customers, reservations, and reservation groups should be also returned.
          example: string
        ReservationIds:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            type: string
            format: uuid
          description: Unique identifiers of `Reservation`. Required if no other filter is provided.
          nullable: true
        CustomerIds:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            type: string
            format: uuid
          description: Unique identifiers of `Customer`. Required if no other filter is provided.
          nullable: true
        ReservationGroupIds:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            type: string
            format: uuid
          description: Unique identifiers of `ReservationGroup`. Required if no other filter is provided.
          nullable: true
        UpdatedUtc:
          title: Time interval
          allOf:
          - $ref: '#/components/schemas/TimeFilterInterval'
          description: Interval in which the `Companionship` was updated. Must be used together with at least one another filter.
          nullable: true
          x-max-interval-in-months: 3
          example: string
      additionalProperties: false
      x-schema-id: CompanionshipFilterParameters
    IdentityDocument:
      title: Identity document
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the document.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CustomerId:
          type: string
          description: Identifier of the `Customer`.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Type:
          title: Document type
          allOf:
          - $ref: '#/components/schemas/IdentityDocumentTypeEnum'
          description: 'Type of the document.


            IdentityCard


            Passport


            Visa


            DriversLicense'
          x-enumNames:
          - IdentityCard
          - Passport
          - Visa
          - DriversLicense
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - ''
          example: string
        Number:
          type: string
          description: Number of the document (e.g. passport number).
          nullable: true
          example: '1001'
        Expiration:
          type: string
          description: Expiration date in ISO 8601 format.
          format: date
          nullable: true
          example: '2026-06-02'
        Issuance:
          type: string
          description: Date of issuance in ISO 8601 format.
          format: date
          nullable: true
          example: '2026-06-02'
        IssuingCountryCode:
          type: string
          description: ISO 3166-1 code of the `Country`.
          nullable: true
          example: string
        IssuingCountrySubdivisionCode:
          type: string
          description: Identifier of the country subdivision where the document was issued (province, state or region).
          nullable: true
          example: string
        IssuingCity:
          type: string
          description: City where the document was issued.
          nullable: true
          example: string
        IdentityDocumentSupportNumber:
          type: string
          description: Identity document support number. Only required for Spanish identity cards in Spanish hotels.
          nullable: true
          example: '1001'
      additionalProperties: false
      x-schema-id: IdentityDocument
    ReservationGroupOld:
      title: Reservation groups (ver 2017-04-12)
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the reservation group.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Name:
          type: string
          description: Name of the reservation group.
          nullable: true
          example: Example Name
      additionalProperties: false
      x-schema-id: ReservationGroupOld
    OldAddress:
      title: Address
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the address.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Line1:
          type: string
          description: First line of the address.
          nullable: true
          example: string
        Line2:
          type: string
          description: Second line of the address.
          nullable: true
          example: string
        City:
          type: string
          description: The city.
          nullable: true
          example: string
        PostalCode:
          type: string
          description: Postal code.
          nullable: true
          example: string
        CountryCode:
          type: string
          description: ISO 3166-1 code of the `Country`.
          nullable: true
          example: string
        CountrySubdivisionCode:
          type: string
          description: ISO 3166-2 code of the administrative division, e.g. `DE-BW`.
          nullable: true
          example: string
        Latitude:
          type: number
          description: The latitude.
          format: double
          nullable: true
          example: 100.0
        Longitude:
          type: number
          description: The longitude.
          format: double
          nullable: true
          example: 100.0
      additionalProperties: false
      description: ''
      x-schema-id: OldAddress
    ReservationOptions:
      title: Reservation options
      required:
      - AllCompanionsCheckedIn
      - AnyCompanionCheckedIn
      - OwnerCheckedIn
      type: object
      properties:
        OwnerCheckedIn:
          type: boolean
          description: Owner of the reservation checked in.
          example: true
        AllCompanionsCheckedIn:
          type: boolean
          description: All companions of the reservation checked in.
          example: true
        AnyCompanionCheckedIn:
          type: boolean
          description: Any companion of the reservation checked in.
          example: true
      additionalProperties: false
      x-schema-id: ReservationOptions
    Title:
      title: Title
      enum:
      - Mister
      - Miss
      - Misses
      type: string
      description: "Type of the title prefix of the customer.\r\n\r\nNote that the value should not be used as-is, but localized. For example, the value `Misses` should be displayed as `Mrs.` in English and `Fr.` in German.\n\nMister (Mr.)\n\nMiss (Ms.)\n\nMisses (Mrs.)"
      x-enumNames:
      - Mister
      - Miss
      - Misses
      x-enumDescriptions:
      - Mr.
      - Ms.
      - Mrs.
      x-schema-id: Title
      x-showDescription: true
    CompanionshipResult:
      title: CompanionshipResult
      type: object
      properties:
        Companionships:
          type: array
          items:
            $ref: '#/components/schemas/Companionship'
          description: Companionships.
          nullable: true
        Reservations:
          type: array
          items:
            $ref: '#/components/schemas/ReservationOld'
          description: The accompanied reservations.
          nullable: true
        ReservationGroups:
          type: array
          items:
            $ref: '#/components/schemas/ReservationGroupOld'
          description: The accompanied reservation groups.
          nullable: true
        Customers:
          type: array
          items:
            $ref: '#/components/schemas/Customer'
          description: Customers that belong to the companionships.
          nullable: true
        Cursor:
          type: string
          description: Unique identifier of the item one newer in time order than the items to be returned. If Cursor is not specified, i.e. null, then the latest or most recent items will be returned.
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: CompanionshipResult
    ReservationOldOrigin:
      title: Reservation origin (ver 2017-04-12)
      enum:
      - Distributor
      - ChannelManager
      - Import
      - Connector
      - Navigator
      - CommanderInPerson
      - CommanderChannel
      - CommanderPhone
      - CommanderEmail
      - CommanderWebsite
      - CommanderMessage
      - CommanderCallCenter
      - CommanderRoomingList
      type: string
      x-enumDescriptions:
      - From the Mews Booking Engine or Booking Engine API.
      - From a channel manager.
      - From an import process.
      - From the Mews Connector API.
      - From Mews Guest Services.
      - From Mews Operations, in person.
      - From Mews Operations, via channel.
      - From Mews Operations, via telephone.
      - From Mews Operations, via email.
      - From Mews Operations, via website.
      - From Mews Operations, via message person.
      - From Mews Operations, via call center.
      - From Mews Operations, via rooming list.
    CustomerClassificationEnum:
      title: Customer classification
      enum:
      - PaymasterAccount
      - Blacklist
      - Media
      - LoyaltyProgram
      - PreviousComplaint
      - Returning
      - Staff
      - FriendOrFamily
      - TopManagement
      - Important
      - VeryImportant
      - Problematic
      - Cashlist
      - DisabledPerson
      - Military
      - Airline
      - HealthCompliant
      - InRoom
      - WaitingForRoom
      - Student
      - Blocklist
      type: string
      description: '


        PaymasterAccount


        Blacklist (Deprecated, use Blocklist instead.)


        Media


        LoyaltyProgram


        PreviousComplaint


        Returning


        Staff


        FriendOrFamily


        TopManagement


        Important


        VeryImportant


        Problematic


        Cashlist


        DisabledPerson


        Military


        Airline


        HealthCompliant


        InRoom


        WaitingForRoom


        Student


        Blocklist'
      x-enumNames:
      - PaymasterAccount
      - Blacklist
      - Media
      - LoyaltyProgram
      - PreviousComplaint
      - Returning
      - Staff
      - FriendOrFamily
      - TopManagement
      - Important
      - VeryImportant
      - Problematic
      - Cashlist
      - DisabledPerson
      - Military
      - Airline
      - HealthCompliant
      - InRoom
      - WaitingForRoom
      - Student
      - Blocklist
      x-enumDescriptions:
      - ''
      - Deprecated, use Blocklist instead.
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
    ServiceOrderStateOld:
      title: Service order state (ver 2017-04-12)
      enum:
      - Enquired
      - Confirmed
      - Started
      - Processed
      - Canceled
      - Optional
      - Requested
      type: string
    ConnectorApiExceptionResult:
      title: ConnectorApiExceptionResult
      type: object
      properties:
        Message:
          type: string
          nullable: true
          example: string
        RequestId:
          type: string
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Details:
          nullable: true
          example: string
      additionalProperties: false
      x-schema-id: ConnectorApiExceptionResult
    Limitation:
      title: Limitation
      required:
      - Count
      type: object
      properties:
        Count:
          type: integer
          format: int32
          example: 1
        Cursor:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      description: Limitation on the quantity of data returned.
      x-schema-id: Limitation
    CancellationReason:
      enum:
      - Other
      - ConfirmationMissed
      - BookedElsewhere
      - ForceMajeure
      - GuestComplaint
      - NoShow
      - PriceTooHigh
      - ServiceNotAvailable
      - InputError
      - InvalidPayment
      - TravelAgency
      - RequestedByGuest
      - Update
      - BookingAbandoned
      - RequestedByBooker
      type: string
    ReservationPurpose:
      title: Reservation purpose
      enum:
      - Leisure
      - Business
      - Student
      type: string
    ReservationOld:
      title: Reservation (ver 2017-04-12)
      required:
      - AssignedResourceLocked
      - CompanionIds
      - CreatedUtc
      - CustomerId
      - EndUtc
      - GroupId
      - Id
      - Number
      - Options
      - Origin
      - OwnerId
      - PersonCounts
      - RateId
      - RequestedCategoryId
      - ServiceId
      - StartUtc
      - State
      - UpdatedUtc
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the reservation.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ServiceId:
          type: string
          description: Unique identifier of the Service that is reserved.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        GroupId:
          type: string
          description: Unique identifier of the Reservation group.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Number:
          minLength: 1
          type: string
          description: Confirmation number of the reservation in Mews.
          example: '1001'
        ChannelNumber:
          type: string
          description: Number of the reservation within the Channel (i.e. OTA, GDS, CRS, etc) in case the reservation group originates there (e.g. Booking.com confirmation number).
          nullable: true
          example: '1001'
        ChannelManagerNumber:
          type: string
          description: Unique number of the reservation within the reservation group.
          nullable: true
          example: '1001'
        ChannelManagerGroupNumber:
          type: string
          description: Number of the reservation group within a Channel manager that transferred the reservation from Channel to Mews.
          nullable: true
          example: '1001'
        ChannelManager:
          type: string
          description: Name of the Channel manager (e.g. AvailPro, SiteMinder, TravelClick, etc).
          nullable: true
          example: string
        State:
          $ref: '#/components/schemas/ServiceOrderStateOld'
        Origin:
          $ref: '#/components/schemas/ReservationOldOrigin'
        OriginDetails:
          type: string
          description: Details about the reservation origin.
          nullable: true
          example: string
        Purpose:
          anyOf:
          - $ref: '#/components/schemas/ReservationPurpose'
          description: Purpose of the reservation.
          nullable: true
          example: string
        CreatedUtc:
          minLength: 1
          type: string
          description: Creation date and time of the reservation in UTC timezone in ISO 8601 format.
          example: string
        UpdatedUtc:
          minLength: 1
          type: string
          description: Last update date and time of the reservation in UTC timezone in ISO 8601 format.
          example: string
        CancelledUtc:
          type: string
          description: Cancellation date and time in UTC timezone in ISO 8601 format.
          nullable: true
          example: string
        StartUtc:
          minLength: 1
          type: string
          description: Start of the reservation in UTC timezone in ISO 8601 format. This is either the scheduled reservation start time, or the actual customer check-in time if this is earlier than the scheduled start time.
          example: string
        EndUtc:
          minLength: 1
          type: string
          description: End of the reservation (departure) in UTC timezone in ISO 8601 format.
          example: string
        ReleasedUtc:
          type: string
          description: Date when the optional reservation is released in UTC timezone in ISO 8601 format.
          nullable: true
          example: string
        RequestedCategoryId:
          type: string
          description: Identifier of the requested Resource category.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AssignedSpaceId:
          type: string
          description: Identifier of the assigned Space.
          format: uuid
          nullable: true
          deprecated: true
          x-deprecatedMessage: Use `AssignedResourceId` instead.
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AssignedSpaceLocked:
          type: boolean
          description: Whether the reservation is locked to the assigned Space and cannot be moved.
          deprecated: true
          x-deprecatedMessage: Use `AssignedResourceLocked` instead.
          example: true
        AssignedResourceId:
          type: string
          description: Identifier of the assigned Resource.
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AssignedResourceLocked:
          type: boolean
          description: Whether the reservation is locked to the assigned Resource and cannot be moved.
          example: true
        BusinessSegmentId:
          type: string
          description: Identifier of the reservation Business segment.
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CompanyId:
          type: string
          description: Identifier of the Company on behalf of which the reservation was made.
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        TravelAgencyId:
          type: string
          description: Identifier of the Company that mediated the reservation.
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AvailabilityBlockId:
          type: string
          description: Unique identifier of the Availability block the reservation is assigned to.
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        RateId:
          type: string
          description: Identifier of the reservation Rate.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        VoucherId:
          type: string
          description: Unique identifier of the Voucher that has been used to create reservation.
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CreditCardId:
          type: string
          description: Unique identifier of the Credit card.
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CancellationReason:
          anyOf:
          - $ref: '#/components/schemas/CancellationReason'
          description: Cancellation reason of the reservation.
          nullable: true
          example: string
        AdultCount:
          type: integer
          description: Count of adults the reservation was booked for.
          format: int32
          deprecated: true
          x-deprecatedMessage: Use `PersonCounts` instead.
          example: 1
        ChildCount:
          type: integer
          description: Count of children the reservation was booked for.
          format: int32
          deprecated: true
          x-deprecatedMessage: Use `PersonCounts` instead.
          example: 1
        PersonCounts:
          type: array
          items:
            $ref: '#/components/schemas/ReservationPersonCount'
          description: Number of people per age category the reservation was booked for.
        OwnerId:
          type: string
          description: Unique identifier of the Customer or Company who owns the reservation.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CustomerId:
          type: string
          description: Unique identifier of the Customer who owns the reservation.
          format: uuid
          deprecated: true
          x-deprecatedMessage: Use `OwnerId` instead.
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        BookerId:
          type: string
          description: Unique identifier of the Customer on whose behalf the reservation was made.
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CompanionIds:
          type: array
          items:
            type: string
            format: uuid
          description: Unique identifiers of the `Customer`s that will use the resource.
          deprecated: true
          x-deprecatedMessage: Use `companionships/getAll` instead.
        ChannelManagerId:
          type: string
          description: Channel Manager number.
          nullable: true
          deprecated: true
          x-deprecatedMessage: Use `ChannelManagerNumber` instead.
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Options:
          title: Reservation options
          allOf:
          - $ref: '#/components/schemas/ReservationOptions'
          description: Options of the reservation.
          example: string
      additionalProperties: false
      description: ''
      x-schema-id: ReservationOld
  securitySchemes:
    MewsClientToken:
      type: apiKey
      in: header
      name: ClientToken
      description: Mews authentication is performed by supplying ClientToken, AccessToken and Client as fields in the JSON request body (not as HTTP headers). This securityScheme is a tooling-compatible representation of the ClientToken credential. ClientToken is unique to your application and identifies the API client.
    MewsAccessToken:
      type: apiKey
      in: header
      name: AccessToken
      description: Tooling-compatible representation of the AccessToken credential, which is supplied in the JSON request body. AccessToken is unique to the connection with a property (enterprise) and identifies the property or properties whose data and services you can access. Portfolio Access Tokens enable multi-property access with a single token.
