openapi: 3.2.0
info:
  title: Mews Booking Engine API (Distributor) Account notes Bills API
  version: v1
  description: The Mews Booking Engine API (historically the Distributor API, served from /api/distributor/v1) lets developers build guest-facing booking engines that create reservations directly in Mews. It exposes enterprise configuration, availability, pricing, products, vouchers, payment cards, and reservation group creation for front-end client consumption.
  x-generated-from: documentation
  x-source-url: https://api.mews.com/Swagger/distributor/swagger.json
  x-last-validated: '2026-06-02'
servers:
- url: https://api.mews.com
  description: Production
- url: https://api.mews-demo.com
  description: Demo / sandbox
security:
- MewsClientToken: []
  MewsAccessToken: []
tags:
- name: Bills
paths:
  /api/connector/v1/bills/update:
    post:
      tags:
      - Bills
      summary: Mews Update Bills
      description: Updates one or more existing bills in the system. Closed bills cannot be updated. Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property/).
      operationId: bills_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultipleBillsUpdateParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              BillsUpdates:
              - BillId: ea087d64-3901-4eee-b0b7-9fce4c58a005
                AccountId:
                  Value: c6f5c82d-621a-4c8a-903b-1b0a9a23b71f
                AssociatedAccountIds:
                  Value:
                  - fadd5bb6-b428-45d5-94f8-fd0d89fece6d
              EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillsUpdateResult'
              example:
                Bills:
                - Id: ea087d64-3901-4eee-b0b7-9fce4c58a005
                  Name: Accommodation Charges
                  EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  AccountId: c6f5c82d-621a-4c8a-903b-1b0a9a23b71f
                  AccountType: Company
                  CustomerId: null
                  CompanyId: null
                  AssociatedAccountIds:
                  - fadd5bb6-b428-45d5-94f8-fd0d89fece6d
                  CounterId: null
                  State: Closed
                  Type: Invoice
                  Number: '29'
                  VariableSymbol: null
                  CreatedUtc: '2017-01-31T10:48:06Z'
                  IssuedUtc: '2017-01-31T10:58:06Z'
                  TaxedUtc: null
                  PaidUtc: null
                  DueUtc: null
                  LastReminderDateUtc: null
                  UpdatedUtc: '2017-01-31T10:58:06Z'
                  PurchaseOrderNumber: XX-123
                  Notes: ''
                  Options:
                    DisplayCustomer: true
                    DisplayTaxation: true
                    TrackReceivable: true
                    DisplayCid: false
                    Rebated: false
                  Revenue: []
                  Payments: []
                  OrderItems: []
                  PaymentItems: []
                  AssigneeData: null
                  OwnerData:
                    Discriminator: BillCompanyData
                    Value:
                      Id: 26afba60-06c3-455b-92db-0e3983be0b1d
                      Address:
                        Line1: I.P. Pavlova 5
                        Line2: null
                        City: Prague
                        PostalCode: '12000'
                        SubdivisionCode: CZ-PR
                        CountryCode: CZ
                      LegalIdentifiers:
                        TaxIdentifier: CZ24227781
                        CityOfRegistration: Prague
                      BillingCode: Billing code value
                      Name: Acme, Inc.
                      FiscalIdentifier: Fiscal identifier
                      AdditionalTaxIdentifier: Additional tax identifier
                      DUNS: '150483782'
                      Telephone: '+420123456789'
                      TaxIdentifier: CZ24227781
                      InvoicingEmail: billing@acme.example
                      Department: Billing
                  CompanyDetails: null
                  AssociatedAccountData:
                  - Discriminator: BillCompanyData
                    BillCustomerData: null
                    BillCompanyData:
                      Id: 26afba60-06c3-455b-92db-0e3983be0b1d
                      Address:
                        Line1: I.P. Pavlova 5
                        Line2: null
                        City: Prague
                        PostalCode: '12000'
                        SubdivisionCode: CZ-PR
                        CountryCode: CZ
                      LegalIdentifiers:
                        TaxIdentifier: CZ24227781
                        CityOfRegistration: Prague
                      BillingCode: Billing code value
                      Name: Acme, Inc.
                      FiscalIdentifier: Fiscal identifier
                      AdditionalTaxIdentifier: Additional tax identifier
                      DUNS: '150483782'
                      Telephone: '+420123456789'
                      TaxIdentifier: CZ24227781
                      InvoicingEmail: billing@acme.example
                      Department: Billing
                  EnterpriseData:
                    AdditionalTaxIdentifier: XY00112233445
                    CompanyName: The Sample Hotel Group AS
                    BankAccount: CZ3808000000000012345678
                    BankName: CESKA SPORITELNA A.S.
                    Iban: CZ6508000000192000145399
                    Bic: GIBACZPX
                  CorrectionState: Bill
                  CorrectionType: null
                  CorrectedBillId: null
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsUpdate400Example:
                  summary: Default bills_update 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsUpdate401Example:
                  summary: Default bills_update 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsUpdate403Example:
                  summary: Default bills_update 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsUpdate408Example:
                  summary: Default bills_update 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsUpdate204Example:
                  summary: Default bills_update 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsUpdate429Example:
                  summary: Default bills_update 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsUpdate500Example:
                  summary: Default bills_update 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-restricted: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/bills/getAll:
    post:
      tags:
      - Bills
      summary: Mews Get All Bills
      description: Returns all bills, optionally filtered by customers, identifiers and other filters. Note this operation uses [Pagination](https://mews-systems.gitbook.io/connector-api/guidelines/pagination/).
      operationId: bills_getAll
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillFilterParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              Extent:
                Items: false
              ClosedUtc:
                StartUtc: '2020-02-05T00:00:00Z'
                EndUtc: '2020-02-10T00:00:00Z'
              CreatedUtc:
                StartUtc: '2020-02-05T00:00:00Z'
                EndUtc: '2020-02-10T00:00:00Z'
              UpdatedUtc:
                StartUtc: '2020-02-05T00:00:00Z'
                EndUtc: '2020-02-10T00:00:00Z'
              BillIds:
              - e654f217-d1b5-46be-a820-e93ba568dfac
              CustomerIds:
              - fe795f96-0b64-445b-89ed-c032563f2bac
              State: Closed
              EnterpriseIds:
              - 3fa85f64-5717-4562-b3fc-2c963f66afa6
              - 4d0201db-36f5-428b-8d11-4f0a65e960cc
              Limitation:
                Count: 100
                Cursor: e7f26210-10e7-462e-9da8-ae8300be8ab7
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillsResult'
              example:
                Bills:
                - Id: ea087d64-3901-4eee-b0b7-9fce4c58a005
                  Name: Accommodation Charges
                  EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  AccountId: c6f5c82d-621a-4c8a-903b-1b0a9a23b71f
                  AccountType: Company
                  CustomerId: null
                  CompanyId: null
                  AssociatedAccountIds:
                  - fadd5bb6-b428-45d5-94f8-fd0d89fece6d
                  CounterId: null
                  State: Closed
                  Type: Invoice
                  Number: '29'
                  VariableSymbol: null
                  CreatedUtc: '2017-01-31T10:48:06Z'
                  IssuedUtc: '2017-01-31T10:58:06Z'
                  TaxedUtc: null
                  PaidUtc: null
                  DueUtc: null
                  LastReminderDateUtc: null
                  UpdatedUtc: '2017-01-31T10:58:06Z'
                  PurchaseOrderNumber: XX-123
                  Notes: ''
                  Options:
                    DisplayCustomer: true
                    DisplayTaxation: true
                    TrackReceivable: true
                    DisplayCid: false
                    Rebated: false
                  Revenue: []
                  Payments: []
                  OrderItems: []
                  PaymentItems: []
                  AssigneeData: null
                  OwnerData:
                    Discriminator: BillCompanyData
                    Value:
                      Id: 26afba60-06c3-455b-92db-0e3983be0b1d
                      Address:
                        Line1: I.P. Pavlova 5
                        Line2: null
                        City: Prague
                        PostalCode: '12000'
                        SubdivisionCode: CZ-PR
                        CountryCode: CZ
                      LegalIdentifiers:
                        TaxIdentifier: CZ24227781
                        CityOfRegistration: Prague
                      BillingCode: Billing code value
                      Name: Acme, Inc.
                      FiscalIdentifier: Fiscal identifier
                      AdditionalTaxIdentifier: Additional tax identifier
                      DUNS: '150483782'
                      Telephone: '+420123456789'
                      TaxIdentifier: CZ24227781
                      InvoicingEmail: billing@acme.example
                      Department: Billing
                  CompanyDetails: null
                  AssociatedAccountData:
                  - Discriminator: BillCompanyData
                    BillCustomerData: null
                    BillCompanyData:
                      Id: 26afba60-06c3-455b-92db-0e3983be0b1d
                      Address:
                        Line1: I.P. Pavlova 5
                        Line2: null
                        City: Prague
                        PostalCode: '12000'
                        SubdivisionCode: CZ-PR
                        CountryCode: CZ
                      LegalIdentifiers:
                        TaxIdentifier: CZ24227781
                        CityOfRegistration: Prague
                      BillingCode: Billing code value
                      Name: Acme, Inc.
                      FiscalIdentifier: Fiscal identifier
                      AdditionalTaxIdentifier: Additional tax identifier
                      DUNS: '150483782'
                      Telephone: '+420123456789'
                      TaxIdentifier: CZ24227781
                      InvoicingEmail: billing@acme.example
                      Department: Billing
                  EnterpriseData:
                    AdditionalTaxIdentifier: XY00112233445
                    CompanyName: The Sample Hotel Group AS
                    BankAccount: CZ3808000000000012345678
                    BankName: CESKA SPORITELNA A.S.
                    Iban: CZ6508000000192000145399
                    Bic: GIBACZPX
                  CorrectionState: Bill
                  CorrectionType: null
                  CorrectedBillId: null
                Cursor: ea087d64-3901-4eee-b0b7-9fce4c58a005
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsGetAll400Example:
                  summary: Default bills_getAll 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsGetAll401Example:
                  summary: Default bills_getAll 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsGetAll403Example:
                  summary: Default bills_getAll 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsGetAll408Example:
                  summary: Default bills_getAll 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsGetAll204Example:
                  summary: Default bills_getAll 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsGetAll429Example:
                  summary: Default bills_getAll 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsGetAll500Example:
                  summary: Default bills_getAll 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/bills/getPdf:
    post:
      tags:
      - Bills
      summary: Mews Get Bill PDF
      description: 'Generates a PDF document of the specified bill. If the PDF cannot be returned immediately, retry the call later with the unique event identifier returned by the first invocation as `BillPrintEventId`.


        This operation is subject to the [Mews Operations quota](https://help.mews.com/s/article/Quotas-in-Mews-Operations) "Property Financial Document Print Event Weekly Count". Each bill can be printed or previewed up to 30 times within 7 days. Requests that include an existing `BillPrintEventId` do not count against this quota.'
      operationId: bills_getPdf
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillPdfParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              BillId: 44eba542-193e-47c7-8077-abd7008eb206
              PdfTemplate: Detailed
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillPdfResult'
              example:
                BillId: 44eba542-193e-47c7-8077-abd7008eb206
                Result:
                  Discriminator: BillPdfFile
                  Value:
                    Base64Data: JVBERi0xLj...
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsGetPdf400Example:
                  summary: Default bills_getPdf 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsGetPdf401Example:
                  summary: Default bills_getPdf 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsGetPdf403Example:
                  summary: Default bills_getPdf 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsGetPdf408Example:
                  summary: Default bills_getPdf 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsGetPdf204Example:
                  summary: Default bills_getPdf 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsGetPdf429Example:
                  summary: Default bills_getPdf 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsGetPdf500Example:
                  summary: Default bills_getPdf 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/bills/add:
    post:
      tags:
      - Bills
      summary: Mews Add Bill
      description: Creates new empty bill assigned to specified account. Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).
      operationId: bills_add
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultipleBillAddParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              Bills:
              - AccountId: a5786a7b-a388-43cc-a838-abd7007b5ff7
                Name: Bill of Joe Doe
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillsAddResult'
              example:
                BillId: 44eba542-193e-47c7-8077-abd7008eb206
                Result:
                  Discriminator: BillPdfFile
                  Value:
                    Base64Data: JVBER.....
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsAdd400Example:
                  summary: Default bills_add 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsAdd401Example:
                  summary: Default bills_add 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsAdd403Example:
                  summary: Default bills_add 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsAdd408Example:
                  summary: Default bills_add 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsAdd204Example:
                  summary: Default bills_add 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsAdd429Example:
                  summary: Default bills_add 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsAdd500Example:
                  summary: Default bills_add 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/bills/delete:
    post:
      tags:
      - Bills
      summary: Mews Delete Bill
      description: Removes selected bills. Bill must be empty, otherwise it's not possible to delete it. Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).
      operationId: bills_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillDeleteParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              BillIds:
              - 177966b7-f3d9-42b7-ba49-abd80057329b
              EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
              examples:
                BillsDelete200Example:
                  summary: Default bills_delete 200 response
                  x-microcks-default: true
                  value: {}
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsDelete400Example:
                  summary: Default bills_delete 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsDelete401Example:
                  summary: Default bills_delete 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsDelete403Example:
                  summary: Default bills_delete 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsDelete408Example:
                  summary: Default bills_delete 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsDelete204Example:
                  summary: Default bills_delete 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsDelete429Example:
                  summary: Default bills_delete 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsDelete500Example:
                  summary: Default bills_delete 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/bills/close:
    post:
      tags:
      - Bills
      summary: Mews Close Bill
      description: Closes a bill so no further modification to it is possible. Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).
      operationId: bills_close
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillCloseParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              BillId: 44eba542-193e-47c7-8077-abd7008eb206
              EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              Type: Receipt
              BillCounterId: 84b25778-c1dd-48dc-8c00-ab3a00b6df14
              FiscalMachineId: null
              Options:
                DisplayCustomer:
                  Value: false
                DisplayTaxation: null
              TaxedDate:
                Value: '2020-07-07'
              DueDate:
                Value: '2020-07-14'
              VariableSymbol:
                Value: '5343'
              AccountTaxIdentifier:
                Value: '446768'
              AccountAddress:
                Line1: Astronautů 2
                Line2: ''
                City: Havířov
                PostalCode: 736 01
                CountryCode: CZ
                CountrySubdivisionCode: null
              PurchaseOrderNumber:
                Value: XX-123
              Notes:
                Value: Bill closing note
              AssociatedAccountData:
              - Id: 84b25778-c1dd-48dc-8c00-ab3a00b6df14
                TaxIdentifier:
                  Value: '123459'
                Address:
                  Line1: Astronautů 2
                  Line2: ''
                  City: Havířov
                  PostalCode: 736 01
                  CountryCode: CZ
                  CountrySubdivisionCode: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillsCloseResult'
              example:
                BillId: 44eba542-193e-47c7-8077-abd7008eb206
                Result:
                  Discriminator: BillPdfFile
                  Value:
                    Base64Data: JVBER.....
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsClose400Example:
                  summary: Default bills_close 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsClose401Example:
                  summary: Default bills_close 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsClose403Example:
                  summary: Default bills_close 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsClose408Example:
                  summary: Default bills_close 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsClose204Example:
                  summary: Default bills_close 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsClose429Example:
                  summary: Default bills_close 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                BillsClose500Example:
                  summary: Default bills_close 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    StringUpdateValue:
      title: String update value
      type: object
      properties:
        Value:
          type:
          - string
          - 'null'
          description: Value which is to be updated.
          example: string
      additionalProperties: false
      x-schema-id: StringUpdateValue
    Amount:
      title: Amount
      required:
      - Breakdown
      - Currency
      - GrossValue
      - NetValue
      - TaxValues
      type: object
      properties:
        Currency:
          minLength: 1
          type: string
          description: ISO-4217 code of the [Currency](https://mews-systems.gitbook.io/connector-api/operations/currencies/#currency).
          format: currency
          example: EUR
        NetValue:
          type: number
          description: Net value without taxes.
          format: double
          example: 100.0
        GrossValue:
          type: number
          description: Gross value including all taxes.
          format: double
          example: 100.0
        TaxValues:
          type: array
          items:
            $ref: '#/components/schemas/TaxValue'
          description: The tax values applied.
        Breakdown:
          title: Tax breakdown
          allOf:
          - $ref: '#/components/schemas/TaxBreakdown'
          description: Information about individual tax amounts.
          example: string
      additionalProperties: false
      description: ''
      x-schema-id: Amount
    FinancialDocumentPdfTemplateTypeEnum:
      title: Bill PDF template type
      enum:
      - Detailed
      - Consumption
      - Reservation
      - OrderItem
      - Guest
      type: string
      description: '


        Detailed (Detailed overview. Items are grouped by the reservation, item type and price, and consumption date.)


        Consumption (Overview by date (no reservation details). Items of the same type and price are grouped by consumption date.)


        Reservation (Overview by reservation (no date). Items of the same type and price are grouped by reservation.)


        OrderItem (Consumption overview (not fiscal document). Items are grouped by the item type and price without reservation details and consumption date.)


        Guest (Overview by guest. Items are grouped by guest, reservation, consumption date, and item type.)'
      x-enumNames:
      - Detailed
      - Consumption
      - Reservation
      - OrderItem
      - Guest
      x-enumDescriptions:
      - Detailed overview. Items are grouped by the reservation, item type and price, and consumption date.
      - Overview by date (no reservation details). Items of the same type and price are grouped by consumption date.
      - Overview by reservation (no date). Items of the same type and price are grouped by reservation.
      - Consumption overview (not fiscal document). Items are grouped by the item type and price without reservation details and consumption date.
      - Overview by guest. Items are grouped by guest, reservation, consumption date, and item type.
    BillCustomerData:
      title: Bill customer data
      required:
      - Id
      - LastName
      type: object
      properties:
        Id:
          minLength: 1
          type: string
          description: ID of the `Customer` to whom the bill was assigned.
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Address:
          allOf:
          - $ref: '#/components/schemas/Address'
          description: Address of the customer.
          example: string
        LegalIdentifiers:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
          description: The set of `LegalIdentifiers` for the customer.
        BillingCode:
          type:
          - string
          - 'null'
          description: A unique code for Mews to list on invoices it sends to the customer.
          example: string
        LastName:
          minLength: 1
          type: string
          description: Last name of the customer.
          example: Example Name
        FirstName:
          type:
          - string
          - 'null'
          description: First name of the customer.
          example: Example Name
        SecondLastName:
          type:
          - string
          - 'null'
          description: Second last name of the customer.
          example: Example Name
        TitlePrefix:
          allOf:
          - $ref: '#/components/schemas/Title'
          description: 'Title prefix of the customer.


            Mister (Mr.)


            Miss (Ms.)


            Misses (Mrs.)'
          example: string
        TaxIdentifier:
          type:
          - string
          - 'null'
          description: Tax identifier of the customer.
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: BillCustomerData
    BillAccountData:
      title: Associated account bill data
      required:
      - Discriminator
      type: object
      properties:
        Discriminator:
          $ref: '#/components/schemas/BillAssigneeDataDiscriminator'
        BillCustomerData:
          title: Bill customer data
          allOf:
          - $ref: '#/components/schemas/BillCustomerData'
          description: Associated account bill data for customer.
          example: string
        BillCompanyData:
          title: Bill company data
          allOf:
          - $ref: '#/components/schemas/BillCompanyData'
          description: Associated account bill data for company.
          readOnly: true
          example: string
      additionalProperties: false
      x-schema-id: BillAccountData
    BillPdfFile:
      title: Bill PDF file
      required:
      - Base64Data
      type: object
      properties:
        Base64Data:
          minLength: 1
          type: string
          description: Base64 encoded PDF file.
          example: string
      additionalProperties: false
      x-schema-id: BillPdfFile
    BillPdfResult:
      title: BillPdfResult
      required:
      - Result
      type: object
      properties:
        BillId:
          type: string
          description: Unique identifier of the printed bill.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Result:
          title: Bill PDF result discriminator
          type: object
          properties:
            Discriminator:
              $ref: '#/components/schemas/BillPdfResultDiscriminator'
            Value:
              oneOf:
              - $ref: '#/components/schemas/BillPdfFile'
              - $ref: '#/components/schemas/BillPrintEvent'
          description: The result of operation.
          x-coproduct: true
          x-schema-id: BillPdfResultResultCoproductOfBillPdfResultDiscriminator
      additionalProperties: false
      x-schema-id: BillPdfResult
    BillCompanyData:
      title: Bill company data
      required:
      - Id
      - Name
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
          description: ID of the `Company`.
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Address:
          allOf:
          - $ref: '#/components/schemas/Address'
          description: Address of the company.
          example: string
        LegalIdentifiers:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
          description: The set of `LegalIdentifiers` for the company.
        BillingCode:
          type:
          - string
          - 'null'
          description: A unique code for Mews to list on invoices it sends to the company.
          example: string
        Name:
          minLength: 1
          type: string
          description: Name of the company.
          example: Example Name
        FiscalIdentifier:
          type:
          - string
          - 'null'
          description: Fiscal identifier of the company.
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AdditionalTaxIdentifier:
          type:
          - string
          - 'null'
          description: Additional tax identifier of the company.
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        DUNS:
          type:
          - string
          - 'null'
          description: DUNS (Data Universal Numbering System) number of the company.
          example: string
        Telephone:
          type:
          - string
          - 'null'
          description: Company telephone number.
          example: string
        TaxIdentifier:
          type:
          - string
          - 'null'
          description: Tax identifier of the company.
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        InvoicingEmail:
          type:
          - string
          - 'null'
          description: Invoicing email of the company.
          example: partner@example.com
        Department:
          type:
          - string
          - 'null'
          description: Department of the company.
          example: string
      additionalProperties: false
      description: ''
      x-schema-id: BillCompanyData
    AccountingItem:
      title: Accounting item
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AccountId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CustomerId:
          type:
          - string
          - 'null'
          format: uuid
          deprecated: true
          x-deprecatedMessage: Use `AccountId` instead.
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        OrderId:
          type:
          - string
          - 'null'
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ServiceId:
          type:
          - string
          - 'null'
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ProductId:
          type:
          - string
          - 'null'
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        BillId:
          type:
          - string
          - 'null'
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        InvoiceId:
          type:
          - string
          - 'null'
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AccountingCategoryId:
          type:
          - string
          - 'null'
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CreditCardId:
          type:
          - string
          - 'null'
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Type:
          type:
          - string
          - 'null'
          example: string
        SubType:
          type:
          - string
          - 'null'
          example: string
        Name:
          type:
          - string
          - 'null'
          example: Example Name
        Notes:
          type:
          - string
          - 'null'
          example: string
        ConsumptionUtc:
          type:
          - string
          - 'null'
          example: string
        ClosedUtc:
          type:
          - string
          - 'null'
          example: string
        State:
          type:
          - string
          - 'null'
          example: string
        SubState:
          type:
          - string
          - 'null'
          example: string
        Amount:
          title: Extended amount
          allOf:
          - $ref: '#/components/schemas/ExtendedAmount'
          description: ''
          example: string
        TaxExemptionReasonCode:
          type:
          - string
          - 'null'
          description: Code of tax exemption reason. **Restricted!** This property is currently intended for Mews' internal usage and may be subject to change.
          example: string
      additionalProperties: false
      x-schema-id: AccountingItem
    BillsAddResult:
      title: BillsAddResult
      required:
      - Bills
      type: object
      properties:
        Bills:
          type: array
          items:
            $ref: '#/components/schemas/Bill'
          description: The created bills.
      additionalProperties: false
      x-schema-id: BillsAddResult
    BillAssigneeDataDiscriminator:
      title: Bill associated account data discriminator
      enum:
      - BillCustomerData
      - BillCompanyData
      type: string
      description: Determines type of value.
    ExtendedAmount:
      title: Extended amount
      required:
      - Breakdown
      - Currency
      - GrossValue
      - NetValue
      - TaxValues
      type: object
      properties:
        Currency:
          minLength: 1
          type: string
          description: ISO-4217 code of the [Currency](https://mews-systems.gitbook.io/connector-api/operations/currencies/#currency).
          format: currency
          example: EUR
        NetValue:
          type: number
          description: Net value without taxes.
          format: double
          example: 100.0
        GrossValue:
          type: number
          description: Gross value including all taxes.
          format: double
          example: 100.0
        TaxValues:
          type: array
          items:
            $ref: '#/components/schemas/TaxValue'
          description: The tax values applied.
        Breakdown:
          title: Tax breakdown
          allOf:
          - $ref: '#/components/schemas/TaxBreakdown'
          description: Information about individual tax amounts.
          example: string
        Value:
          type:
          - number
          - 'null'
          format: double
          example: 100.0
        Net:
          type:
          - number
          - 'null'
          format: double
          example: 100.0
        Tax:
          type:
          - number
          - 'null'
          format: double
          example: 100.0
        TaxRate:
          type:
          - number
          - 'null'
          format: double
          example: 100.0
      additionalProperties: false
      description: ''
      x-schema-id: ExtendedAmount
    TimeFilterInterval:
      title: Time interval
      type: object
      properties:
        StartUtc:
          type:
          - string
          - 'null'
          format: date-time
          example: '2026-06-02T14:30:00Z'
        EndUtc:
          type:
          - string
          - 'null'
          format: date-time
          example: '2026-06-02T14:30:00Z'
      additionalProperties: false
      description: "When a time interval is used for **filtering** (for example in parameters such as `CreatedUtc.StartUtc` / `CreatedUtc.EndUtc`), the following rules apply:\n\n- **Start equals End (equality mode)**  \n  If `StartUtc` and `EndUtc` are exactly the same timestamp, the filter is treated as an equality check for that precise moment in time:\n  \n  ```\n  CreatedUtc == StartUtc\n  ```\n  \n  This does not represent an interval; only records with `CreatedUtc` equal to that exact instant are returned.\n\n- **Start differs from End (interval mode)**  \n  If `StartUtc` and `EndUtc` are different, the filter is evaluated as a half-open interval:\n  \n  ```\n  StartUtc <= CreatedUtc < EndUtc\n  ```\n  \n  In other words, the start is inclusive and the end is exclusive.\n\nMake sure your integration takes inclusive Start / exclusive End behavior of time intervals into account so that no records at the boundaries are omitted."
      x-schema-id: TimeFilterInterval
    BillCloseParameters:
      title: BillCloseParameters
      required:
      - AccessToken
      - BillId
      - Client
      - ClientToken
      - Type
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        EnterpriseId:
          type:
          - string
          - 'null'
          description: Unique identifier of the enterprise. Required when using [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property), ignored otherwise.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        BillId:
          type: string
          description: Unique identifier of the [Bill](https://mews-systems.gitbook.io/connector-api/operations/#bill) to be closed.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Type:
          $ref: '#/components/schemas/BillType'
        BillCounterId:
          type:
          - string
          - 'null'
          description: Unique identifier of the [Counter](https://mews-systems.gitbook.io/connector-api/operations/counters/#counter) to be used for closing. Default one is used when no value is provided.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        FiscalMachineId:
          type:
          - string
          - 'null'
          description: Unique identifier of the [Fiscal Machine](https://mews-systems.gitbook.io/connector-api/operations/devices/#device) to be used for closing. Default one is used when no value is provided.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Options:
          title: Bill options parameters
          allOf:
          - $ref: '#/components/schemas/BillOptionsParameters'
          description: Options of the bill. If not provided, both DisplayCustomer and DisplayTaxation are set by default.
          example: string
        TaxedDate:
          title: String update value
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          description: Date of consumption for tax purposes. Can be used only with `Type` of `Invoice`.
          example: string
        DueDate:
          title: String update value
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          description: Deadline when bill is due to be paid. Can be used only with `Type` of `Invoice`.
          example: string
        VariableSymbol:
          title: String update value
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          description: Optional unique identifier of requested payment. Can be used only with `Type` of `Invoice`.
          example: string
        TaxIdentifier:
          title: String update value
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          description: Tax identifier of account to be put on a bill.
          deprecated: true
          x-deprecatedMessage: Use `AccountTaxIdentifier` or `AssociatedAccountData` instead.
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AccountTaxIdentifier:
          title: String update value
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          description: Tax identifier of account to be put on a bill.
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CompanyTaxIdentifier:
          title: String update value
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          description: Tax identifier of company to be put on a bill.
          deprecated: true
          x-deprecatedMessage: Use `AccountTaxIdentifier` or `AssociatedAccountData` instead.
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        PurchaseOrderNumber:
          title: String update value
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          description: Unique number of the purchase order from the buyer.
          example: '1001'
        Notes:
          title: String update value
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          description: Notes to be attached to bill.
          example: string
        Address:
          title: Address parameters
          allOf:
          - $ref: '#/components/schemas/AddressParameters'
          description: Address of the account to be displayed on bill. Overrides the default one taken from account profile.
          deprecated: true
          x-deprecatedMessage: Use `AccountAddress` or `AssociatedAccountData` instead.
          example: string
        AccountAddress:
          title: Address parameters
          allOf:
          - $ref: '#/components/schemas/AddressParameters'
          description: Address of the account to be displayed on bill. Overrides the default one taken from account profile.
          example: string
        AssociatedAccountData:
          maxItems: 1
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/BillCloseAccountParameters'
          description: Account data of the associated account on a bill. Currently one object is supported and only populated when the bill is closed.
      additionalProperties: false
      x-schema-id: BillCloseParameters
    BillFilterParameters:
      title: BillFilterParameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - Limitation
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        Limitation:
          allOf:
          - $ref: '#/components/schemas/Limitation'
          description: Limitation on the quantity of data returned and optional Cursor for the starting point of data.
          example: string
        EnterpriseIds:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of the Enterprises. If not specified, the operation returns data for all enterprises within scope of the Access Token.
        Extent:
          title: Bill extent
          allOf:
          - $ref: '#/components/schemas/BillExtent'
          description: Extent of data to be returned. E.g. it is possible to specify that together with the bills, payments and revenue items should be also returned.
          deprecated: true
          x-deprecatedMessage: Use `orderItems/getAll` and `payments/getAll` with `BillIds` filter instead.
          example: string
        ClosedUtc:
          title: Time interval
          allOf:
          - $ref: '#/components/schemas/TimeFilterInterval'
          description: Interval in which the `Bill` was closed.
          deprecated: true
          x-deprecatedMessage: Use `IssuedUtc` instead.
          x-max-interval-in-months: 3
          example: string
        IssuedUtc:
          title: Time interval
          allOf:
          - $ref: '#/components/schemas/TimeFilterInterval'
          description: Interval in which the `Bill` was issued.
          x-max-interval-in-months: 3
          example: string
        PaidUtc:
          title: Time interval
          allOf:
          - $ref: '#/components/schemas/TimeFilterInterval'
          description: Interval in which the `Bill` was paid.
          x-max-interval-in-months: 3
          example: string
        DueUtc:
          title: Time interval
          allOf:
          - $ref: '#/components/schemas/TimeFilterInterval'
          description: Interval in which the `Bill` is due to be paid.
          x-max-interval-in-months: 3
          example: string
        CreatedUtc:
          title: Time interval
          allOf:
          - $ref: '#/components/schemas/TimeFilterInterval'
          description: Interval in which the `Bill` was created.
          x-max-interval-in-months: 3
          example: string
        UpdatedUtc:
          title: Time interval
          allOf:
          - $ref: '#/components/schemas/TimeFilterInterval'
          description: Interval in which the `Bill` was updated.
          x-max-interval-in-months: 3
          example: string
        BillIds:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of the `Bills`. Required if no other filter is provided.
        CustomerIds:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of the `Customers`.
        State:
          allOf:
          - $ref: '#/components/schemas/BillStateEnum'
          description: 'State the bills should be in. If not specified, `Open` and `Closed` bills are returned.


            Open


            Closed'
          example: string
        Type:
          allOf:
          - $ref: '#/components/schemas/BillTypeEnum'
          description: 'Type of the bills. If not specified, all types are returned.


            Receipt (Default; the bill has been paid in full; only applicable after the bill is closed.)


            Invoice (Bill has not been paid in full but an invoice has been issued to request payment.)'
          example: string
        CorrectionState:
          uniqueItems: true
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/BillCorrectionStateEnum'
          description: Whether to return regular bills, corrective bills, or both. If `BillIds` are specified, defaults to both, otherwise defaults to `Bill`.
      additionalProperties: false
      x-schema-id: BillFilterParameters
    MultipleBillAddParameters:
      title: MultipleBillAddParameters
      required:
      - AccessToken
      - Bills
      - Client
      - ClientToken
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        EnterpriseId:
          type:
          - string
          - 'null'
          description: Unique identifier of the enterprise. Required when using [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property), ignored otherwise.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Bills:
          maxItems: 1000
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/BillAddParameters'
          description: Information about bills to be created.
      additionalProperties: false
      x-schema-id: MultipleBillAddParameters
    Address:
      title: Address
      type: object
      properties:
        Line1:
          type:
          - string
          - 'null'
          example: string
        Line2:
          type:
          - string
          - 'null'
          example: string
        City:
          type:
          - string
          - 'null'
          example: string
        PostalCode:
          type:
          - string
          - 'null'
          example: string
        SubdivisionCode:
          type:
          - string
          - 'null'
          example: string
        CountryCode:
          type:
          - string
          - 'null'
          example: string
      additionalProperties: false
      x-schema-id: Address
    BillStateEnum:
      title: Bill state
      enum:
      - Open
      - Closed
      type: string
      description: 'Whether the bill is `Open` or `Closed`.


        Open


        Closed'
      x-enumNames:
      - Open
      - Closed
      x-enumDescriptions:
      - ''
      - ''
    TaxBreakdownItem:
      title: Tax breakdown item
      required:
      - NetValue
      - TaxValue
      type: object
      properties:
        TaxRateCode:
          type:
          - string
          - 'null'
          description: Tax rate code for the item. `null` for untaxed amounts.
          example: string
        NetValue:
          type: number
          description: The net value that the tax is calculated from.
          format: double
          example: 100.0
        TaxValue:
          type: number
          description: The value of the tax.
          format: double
          example: 100.0
      additionalProperties: false
      x-schema-id: TaxBreakdownItem
    BillCloseAccountParameters:
      title: Bill close account parameters
      required:
      - Id
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the associated account (`Customer` or `Company`) the bill is associated to.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        TaxIdentifier:
          title: String update value
          allOf:
          - $ref: '#/components/schemas/StringUpdateValue'
          description: Tax identifier of the associated account to be put on a bill.
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Address:
          title: Address parameters
          allOf:
          - $ref: '#/components/schemas/AddressParameters'
          description: Address of the associated account to be displayed on bill. Overrides the default one taken from account profile.
          example: string
      additionalProperties: false
      x-schema-id: BillCloseAccountParameters
    PaymentType:
      title: Payment item data discriminator
      enum:
      - CreditCard
      - Invoice
      - Cash
      - Unspecified
      - BadDebts
      - WireTransfer
      - ExchangeRateDifference
      - ExchangeRoundingDifference
      - BankCharges
      - Cheque
      - Other
      type: string
      x-enumDescriptions:
      - '[Credit card payment item data](https://mews-systems.gitbook.io/connector-api/operations/accountingitems#credit-card-payment-item-data)'
      - '[Invoice payment item data](https://mews-systems.gitbook.io/connector-api/operations/accountingitems#invoice-payment-item-data)'
      - No additional data.
      - No additional data.
      - No additional data.
      - No additional data.
      - No additional data.
      - No additional data.
      - No additional data.
      - No additional data.
      - No additional data.
    PaymentCardPaymentData:
      title: Credit card payment item data
      type: object
      properties:
        PaymentCardId:
          type:
          - string
          - 'null'
          description: Unique identifier of the `CreditCard`.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: PaymentCardPaymentData
    BillsResult:
      title: BillsResult
      required:
      - Bills
      type: object
      properties:
        Bills:
          type: array
          items:
            $ref: '#/components/schemas/Bill'
          description: The filtered bills.
        Cursor:
          type:
          - string
          - 'null'
          description: Unique identifier of the last and hence oldest bill returned. This can be used in `Limitation` in a subsequent request to fetch the next batch of older bills.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: BillsResult
    BillType:
      title: Bill type
      enum:
      - Receipt
      - Invoice
      type: string
      description: After a bill is closed, the Bill Type is set to `Receipt` or `Invoice`. `Receipt` indicates that the bill has been fully paid and the balance is zero. `Invoice` indicates that the bill has not yet been fully paid but an invoice has been issued. Prior to closing, Bill Type should not be used.
      x-enumDescriptions:
      - Default; the bill has been paid in full; only applicable after the bill is closed.
      - Bill has not been paid in full but an invoice has been issued to request payment.
    BillExtent:
      title: Bill extent
      type: object
      properties:
        Items:
          type: boolean
          description: Whether the response should contain payments and revenue items.
          deprecated: true
          x-deprecatedMessage: Use `orderItems/getAll` and `payments/getAll` with `BillIds` filter instead.
          example: true
      additionalProperties: false
      description: Extent of data to be returned. E.g. it is possible to specify that together with the bills, payments and revenue items should be also returned. **Deprecated!**
      x-schema-id: BillExtent
    AddressParameters:
      title: Address parameters
      type: object
      properties:
        Line1:
          type:
          - string
          - 'null'
          description: First line of the address.
          example: string
        Line2:
          type:
          - string
          - 'null'
          description: Second line of the address.
          example: string
        City:
          type:
          - string
          - 'null'
          description: The city.
          example: string
        PostalCode:
          type:
          - string
          - 'null'
          description: Postal code.
          format: postal-code
          example: string
        CountryCode:
          type:
          - string
          - 'null'
          description: ISO 3166-1 code of the Country.
          example: string
        CountrySubdivisionCode:
          type:
          - string
          - 'null'
          description: ISO 3166-2 code of the administrative division, e.g. DE-BW
          example: string
      additionalProperties: false
      description: New address details.
      x-schema-id: AddressParameters
    PaymentItemOld:
      title: Payment item
      required:
      - AccountId
      - AccountingState
      - Amount
      - ConsumedUtc
      - Data
      - Id
      - OriginalAmount
      - State
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the item.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AccountId:
          type: string
          description: Unique identifier of the account (for example `Customer`) the item belongs to.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        BillId:
          type:
          - string
          - 'null'
          description: Unique identifier of the `Bill` the item is assigned to.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AccountingCategoryId:
          type:
          - string
          - 'null'
          description: Unique identifier of the `AccountingCategory` the item belongs to.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Amount:
          title: Extended amount
          allOf:
          - $ref: '#/components/schemas/ExtendedAmount'
          description: Item's amount, negative amount represents either rebate or a payment.
          example: string
        OriginalAmount:
          title: Extended amount
          allOf:
          - $ref: '#/components/schemas/ExtendedAmount'
          description: Amount of item; note a negative amount represents a rebate or payment. Contains the earliest known value in conversion chain.
          example: string
        AmountDefault:
          title: Extended amount
          allOf:
          - $ref: '#/components/schemas/ExtendedAmount'
          description: Item's amount in property's default currency, negative amount represents either rebate or a payment.
          deprecated: true
          example: string
        Notes:
          type:
          - string
          - 'null'
          description: Additional notes.
          example: string
        SettlementId:
          type:
          - string
          - 'null'
          description: Identifier of the settled payment from the external system (ApplePay/GooglePay).
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ConsumedUtc:
          minLength: 1
          type: string
          description: Date and time of the item consumption in UTC timezone in ISO 8601 format.
          example: string
        ClosedUtc:
          type:
          - string
          - 'null'
          description: Date and time of the item bill closure in UTC timezone in ISO 8601 format.
          example: string
        AccountingState:
          minLength: 1
          type: string
          description: Accounting state of the item.
          example: string
        State:
          minLength: 1
          type: string
          description: Payment state of the item.
          example: string
        Identifier:
          type:
          - string
          - 'null'
          description: External payment identifier.
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Data:
          title: Payment item data
          type: object
          properties:
            Discriminator:
              $ref: '#/components/schemas/PaymentType'
            Value:
              oneOf:
              - $ref: '#/components/schemas/PaymentCardPaymentData'
              - $ref: '#/components/schemas/InvoicePaymentData'
              description: Based on payment item data discriminator or `null` for types without any additional data.
          description: Additional data specific to particular payment item.
          x-coproduct: true
          x-schema-id: PaymentItemOldDataCoproductOfPaymentType
      additionalProperties: false
      description: ''
      x-schema-id: PaymentItemOld
    BillsUpdateResult:
      title: BillsUpdateResult
      required:
      - Bills
      type: object
      properties:
        Bills:
          type: array
          items:
            $ref: '#/components/schemas/Bill'
          description: Updated bills.
      additionalProperties: false
      x-schema-id: BillsUpdateResult
    OrderItemOld:
      title: Order item
      required:
      - AccountId
      - AccountingState
      - Amount
      - CreatedUtc
      - CreatorProfileId
      - Data
      - Id
      - OrderId
      - OriginalAmount
      - RevenueType
      - UnitAmount
      - UpdatedUtc
      - UpdaterProfileId
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the item.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AccountId:
          type: string
          description: Unique identifier of the account (for example `Customer`) the item belongs to.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        OrderId:
          type: string
          description: Unique identifier of the order (or `Reservation` which is a special type of order) the item belongs to.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        BillId:
          type:
          - string
          - 'null'
          description: Unique identifier of the `Bill` the item is assigned to.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AccountingCategoryId:
          type:
          - string
          - 'null'
          description: Unique identifier of the `AccountingCategory` the item belongs to.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        UnitCount:
          type: integer
          description: Unit count of item, i.e. the number of sub-items or units, if applicable.
          format: int32
          example: 1
        UnitAmount:
          title: Amount
          allOf:
          - $ref: '#/components/schemas/Amount'
          description: Unit amount of item, i.e. the amount of each individual sub-item or unit, if applicable.
          example: string
        Amount:
          title: Extended amount
          allOf:
          - $ref: '#/components/schemas/ExtendedAmount'
          description: Amount of item; note a negative amount represents a rebate or payment.
          example: string
        OriginalAmount:
          title: Extended amount
          allOf:
          - $ref: '#/components/schemas/ExtendedAmount'
          description: Amount of item; note a negative amount represents a rebate or payment. Contains the earliest known value in conversion chain.
          example: string
        RevenueType:
          minLength: 1
          type: string
          description: Revenue type of the item.
          example: string
        CreatorProfileId:
          type: string
          description: Unique identifier of the user who created the item.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        UpdaterProfileId:
          type: string
          description: Unique identifier of the user who updated the item.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CreatedUtc:
          minLength: 1
          type: string
          description: Creation date and time of the item in UTC timezone in ISO 8601 format.
          format: date
          example: '2026-06-02'
        UpdatedUtc:
          minLength: 1
          type: string
          description: Last update date and time of the item in UTC timezone in ISO 8601 format.
          format: date
          example: '2026-06-02'
        ConsumedUtc:
          type:
          - string
          - 'null'
          description: Date and time of the item consumption in UTC timezone in ISO 8601 format.
          format: date
          example: '2026-06-02'
        CanceledUtc:
          type:
          - string
          - 'null'
          description: Cancellation date and time of the item in UTC timezone in ISO 8601 format.
          format: date
          example: '2026-06-02'
        ClosedUtc:
          type:
          - string
          - 'null'
          description: Date and time of the item bill closure in UTC timezone in ISO 8601 format.
          format: date
          example: '2026-06-02'
        StartUtc:
          type:
          - string
          - 'null'
          description: Start date and time of the item in UTC timezone in ISO 8601 format.
          format: date
          example: '2026-06-02'
        AccountingState:
          minLength: 1
          type: string
          description: Accounting state of the item.
          example: string
        Data:
          title: Order item data
          type: object
          properties:
            Discriminator:
              $ref: '#/components/schemas/OrderItemTypeOld'
            Value:
              oneOf:
              - $ref: '#/components/schemas/RebateOrderItemData'
              - $ref: '#/components/schemas/ProductOrderItemData'
              description: Based on order item discriminator or `null` for types without any additional data.
          description: Additional data specific to particular order item.
          x-coproduct: true
          x-schema-id: OrderItemOldDataCoproductOfOrderItemTypeOld
      additionalProperties: false
      x-schema-id: OrderItemOld
    BillCorrectionTypeEnum:
      title: Bill correction type
      enum:
      - Cancellation
      - Edit
      - CreditNote
      - Reinstatement
      - ReceivablePaymentsBalance
      type: string
      description: '


        Cancellation


        Edit


        CreditNote


        Reinstatement


        ReceivablePaymentsBalance'
      x-enumNames:
      - Cancellation
      - Edit
      - CreditNote
      - Reinstatement
      - ReceivablePaymentsBalance
      x-enumDescriptions:
      - ''
      - ''
      - ''
      - ''
      - ''
    Title:
      title: Title
      enum:
      - Mister
      - Miss
      - Misses
      type: string
      description: 'Type of the title prefix of the customer.


        Note that the value should not be used as-is, but localized. For example, the value `Misses` should be displayed as `Mrs.` in English and `Fr.` in German.


        Mister (Mr.)


        Miss (Ms.)


        Misses (Mrs.)'
      x-enumNames:
      - Mister
      - Miss
      - Misses
      x-enumDescriptions:
      - Mr.
      - Ms.
      - Mrs.
      x-schema-id: Title
      x-showDescription: true
    BillPdfParameters:
      title: BillPdfParameters
      required:
      - AccessToken
      - BillId
      - Client
      - ClientToken
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        BillId:
          type: string
          description: Unique identifier of the [Bill](https://mews-systems.gitbook.io/connector-api/operations/#bill) to be printed.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        BillPrintEventId:
          type:
          - string
          - 'null'
          description: Identifier of an existing bill print event returned by a previous call. Provide this value to retry retrieval of a pending PDF without consuming its "Property Financial Document Print Event Weekly Count" quota.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        PdfTemplate:
          allOf:
          - $ref: '#/components/schemas/FinancialDocumentPdfTemplateTypeEnum'
          description: 'Bill PDF template type. If not specified, the default template is used.


            Detailed (Detailed overview. Items are grouped by the reservation, item type and price, and consumption date.)


            Consumption (Overview by date (no reservation details). Items of the same type and price are grouped by consumption date.)


            Reservation (Overview by reservation (no date). Items of the same type and price are grouped by reservation.)


            OrderItem (Consumption overview (not fiscal document). Items are grouped by the item type and price without reservation details and consumption date.)


            Guest (Overview by guest. Items are grouped by guest, reservation, consumption date, and item type.)'
          example: string
        PrintReason:
          maxLength: 255
          type:
          - string
          - 'null'
          description: The reason for reprinting the bill with different template. Required for France LE.
          example: string
      additionalProperties: false
      x-schema-id: BillPdfParameters
    TaxBreakdown:
      title: Tax breakdown
      required:
      - Items
      type: object
      properties:
        Items:
          type: array
          items:
            $ref: '#/components/schemas/TaxBreakdownItem'
          description: Tax breakdown items per each tax rate applied.
      additionalProperties: false
      x-schema-id: TaxBreakdown
    RebateOrderItemData:
      title: Rebate order item data
      required:
      - RebatedItemId
      type: object
      properties:
        RebatedItemId:
          type: string
          description: Unique identifier of `OrderItem` which has been rebated by current item.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: RebateOrderItemData
    GuidUpdateValue:
      title: Guid update value
      type: object
      properties:
        Value:
          type: string
          description: Value which is to be updated.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: GuidUpdateValue
    Limitation:
      title: Limitation
      required:
      - Count
      type: object
      properties:
        Count:
          type: integer
          format: int32
          example: 1
        Cursor:
          type:
          - string
          - 'null'
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      description: Limitation on the quantity of data returned.
      x-schema-id: Limitation
    BillOptionsParameters:
      title: Bill options parameters
      required:
      - DisplayCustomer
      - DisplayTaxation
      type: object
      properties:
        DisplayCustomer:
          title: Boolean update value
          allOf:
          - $ref: '#/components/schemas/BooleanUpdateValue'
          description: Display customer information on a bill.
          example: string
        DisplayTaxation:
          title: Boolean update value
          allOf:
          - $ref: '#/components/schemas/BooleanUpdateValue'
          description: Display taxation detail on a bill.
          example: string
      additionalProperties: false
      description: ''
      x-schema-id: BillOptionsParameters
    BillDeleteParameters:
      title: BillDeleteParameters
      required:
      - AccessToken
      - BillIds
      - Client
      - ClientToken
      type: object
      properties:
        ClientToken:
          minLength: 1
[...]
