openapi: 3.0.4
info:
  title: Mews Booking Engine API (Distributor) Account notes Configuration API
  version: v1
  description: The Mews Booking Engine API (historically the Distributor API, served from /api/distributor/v1) lets developers build guest-facing booking engines that create reservations directly in Mews. It exposes enterprise configuration, availability, pricing, products, vouchers, payment cards, and reservation group creation for front-end client consumption.
  x-generated-from: documentation
  x-source-url: https://api.mews.com/Swagger/distributor/swagger.json
  x-last-validated: '2026-06-02'
servers:
- url: https://api.mews.com
  description: Production
- url: https://api.mews-demo.com
  description: Demo / sandbox
security:
- MewsClientToken: []
  MewsAccessToken: []
tags:
- name: Configuration
paths:
  /api/distributor/v1/configuration/get:
    post:
      tags:
      - Configuration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationParameters'
            examples:
              ConfigurationGetRequestExample:
                summary: Default configuration_get request
                x-microcks-default: true
                value:
                  Client: string
                  LanguageCode: string
                  CultureCode: string
                  FullAmounts: true
                  Session: string
                  Ids:
                  - 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                  PrimaryId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                  WebOptions: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationResult'
              examples:
                ConfigurationGet200Example:
                  summary: Default configuration_get 200 response
                  x-microcks-default: true
                  value:
                    NowUtc: '2026-06-02T14:30:00Z'
                    LanguageCode: string
                    CurrencyCode: EUR
                    IntroVideoUrl: https://api.mews.com/api/connector/v1
                    Theme: string
                    PrimaryColor: string
                    VoucherCode: string
                    DisplayVoucherCode: true
                    GtmContainerId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    StartDateOffset: 1
                    EndDateOffset: 1
                    CityId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    ImageBaseUrl: https://api.mews.com/api/connector/v1
                    Configurations:
                    - Id: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                      ServiceId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                      AdultCount: 1
                      ChildCount: 1
                      MaxAdultCount: 1
                      OccupancyData:
                      - {}
                      DisplaySpecialRequests: true
                      DisplayRateComparison: true
                      ChildSelectionEnabled: true
                      DisplayAvailability: true
                      PaymentGatewayEnabled: true
                      PaymentCardInput: string
                      PaymentCardRequirement: {}
                      BookerReservationCustomerEmailInput: {}
                      RequiredFields:
                      - {}
                      OnlineTravelAgencies:
                      - string
                      CheckoutStatement: {}
                      CompetitorRateDescription: {}
                      CompetitorPriceRelativeAdjustment: 100.0
                      Enterprise: string
                    Cities:
                    - Id: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                      Name: {}
                      ImageId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    CurrencyCodes:
                    - EUR
                    AgeCategories:
                    - Id: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                      ServiceId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                      Name: {}
                      ShortName: {}
                      MinimalAge: 1
                      MaximalAge: 1
                      Classification: {}
                      IsDefault: true
                    Services:
                    - Id: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                      EnterpriseId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                      Ordering: 1
                      CreatedUtc: '2026-06-02T14:30:00Z'
                      Names: {}
                      ShortNames: {}
                      IsActive: true
                      Data: {}
      operationId: configuration_get
      summary: Mews Get
      description: Get via the Mews Booking Engine (Distributor) API configuration resource.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/configuration/get:
    post:
      tags:
      - Configuration
      summary: Mews Get Configuration
      description: Returns the enterprise configuration. For single-enterprise Access Tokens, this is the enterprise associated with the token. For [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property), use the `EnterpriseId` parameter to specify which enterprise you want the configuration for. In the case of service scoped integrations, the operation returns the configuration associated with both the enterprise and the bookable service linked to the token.
      operationId: configuration_get
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationFilterParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              EnterpriseId: 851df8c8-90f2-4c4a-8e01-a4fc46b25178
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Configuration'
              example:
                NowUtc: '2018-01-01T14:58:02Z'
                Enterprise:
                  Currencies:
                  - Currency: GBP
                    IsDefault: true
                    IsEnabled: true
                  - Currency: USD
                    IsDefault: false
                    IsEnabled: true
                  AccountingConfiguration:
                    AdditionalTaxIdentifier: null
                    CompanyName: Connector API Hotel
                    BankAccountNumber: '1234'
                    BankName: Random bank
                    Iban: CZ7250517882393618329719
                    Bic: GIBACZPY
                    SurchargeConfiguration:
                      SurchargeFees:
                        Amex: 3.0
                        DinersClub: 4.0
                      SurchargeServiceId: 2b9b0143-3135-485b-8064-76c90d1be69e
                      SurchargeTaxCode: US-HI-KA
                    EnabledExternalPaymentTypes:
                    - Invoice
                    - Cash
                    - GiftCard
                    Options:
                    - ReceivableTrackingEnabled
                    - GroupTaxesOnBill
                  IsPortfolio: false
                  Id: 851df8c8-90f2-4c4a-8e01-a4fc46b25178
                  ExternalIdentifier: null
                  HoldingKey: CA123
                  ChainId: 8ddea57b-6a5c-4eec-8c4c-24467dce118e
                  ChainName: Connector API Chain
                  CreatedUtc: '2015-07-07T13:33:17Z'
                  UpdatedUtc: '2015-07-07T13:33:17Z'
                  Name: Connector API Hotel
                  ShortName: null
                  TimeZoneIdentifier: Europe/Budapest
                  LegalEnvironmentCode: UK
                  AccommodationEnvironmentCode: null
                  AccountingEnvironmentCode: null
                  TaxEnvironmentCode: null
                  DefaultLanguageCode: en-US
                  EditableHistoryInterval: P0M7DT0H0M0S
                  AccountingEditableHistoryInterval: P0M7DT0H0M0S
                  OperationalEditableHistoryInterval: P0M5DT0H0M0S
                  BusinessDayClosingOffset: null
                  WebsiteUrl: https://en.wikipedia.org/wiki/St._Vitus_Cathedral
                  Email: charging-api@mews.li
                  Phone: 00000 123 456 789
                  LogoImageId: null
                  CoverImageId: null
                  Pricing: Gross
                  TaxPrecision: null
                  AddressId: c556f56e-713e-4102-9de5-0e853b5a8586
                  Address:
                    Id: 8c2c4371-5d42-40a9-b551-ab0b00d75076
                    Line1: I.P. Pavlova 5
                    Line2: null
                    City: Prague
                    PostalCode: '1200'
                    CountryCode: CZ
                    CountrySubdivisionCode: null
                    Latitude: 14.429645
                    Longitude: 50.075181
                  GroupNames:
                  - Connector API Group
                  Subscription:
                    TaxIdentifier: 123456789 RC 0001
                Service:
                  Id: bd26d8db-86da-4f96-9efc-e5a4654a4a94
                  EnterpriseId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  IsActive: true
                  Name: Accommodation
                  Names:
                    en-GB: Accommodation
                  StartTime: PT14H
                  EndTime: PT12H
                  Options:
                    BillAsPackage: false
                  Promotions:
                    BeforeCheckIn: false
                    AfterCheckIn: false
                    DuringStay: false
                    BeforeCheckOut: false
                    AfterCheckOut: false
                    DuringCheckOut: false
                  Type: Reservable
                  Ordering: 0
                  Data: null
                  ExternalIdentifier: null
                  CreatedUtc: '2023-10-01T11:48:57Z'
                  UpdatedUtc: '2023-10-28T11:48:57Z'
                PaymentCardStorage: null
                IsIdentityDocumentNumberRequired: true
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ConfigurationGet400Example:
                  summary: Default configuration_get 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ConfigurationGet401Example:
                  summary: Default configuration_get 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ConfigurationGet403Example:
                  summary: Default configuration_get 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ConfigurationGet408Example:
                  summary: Default configuration_get 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ConfigurationGet204Example:
                  summary: Default configuration_get 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ConfigurationGet429Example:
                  summary: Default configuration_get 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                ConfigurationGet500Example:
                  summary: Default configuration_get 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    EnterpriseSubscription:
      title: Enterprise subscription
      type: object
      properties:
        TaxIdentifier:
          type: string
          description: Tax identifier of the `Enterprise`.
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      description: ''
      x-schema-id: EnterpriseSubscription
    PricingMode:
      enum:
      - Gross
      - Net
      type: string
    ExternalPaymentTypeEnum:
      title: External payment type
      enum:
      - Unspecified
      - BadDebts
      - Bacs
      - WireTransfer
      - Invoice
      - ExchangeRateDifference
      - Complimentary
      - Reseller
      - ExchangeRoundingDifference
      - Barter
      - Commission
      - BankCharges
      - CrossSettlement
      - Cash
      - CreditCard
      - Prepayment
      - Cheque
      - Bancontact
      - IDeal
      - PayPal
      - GiftCard
      - LoyaltyPoints
      - ChequeVacances
      - OnlinePayment
      - CardCheck
      - PaymentHubRedirection
      - Voucher
      - MasterCard
      - Visa
      - Amex
      - Discover
      - DinersClub
      - Jcb
      - UnionPay
      - Twint
      - Reka
      - LoyaltyCard
      - PosDiningAndSpaReward
      - DirectDebit
      - DepositCheck
      - DepositCash
      - DepositCreditCard
      - DepositWireTransfer
      type: string
      description: '


        Unspecified (Unspecified (unavailable in French Legal Environment))


        BadDebts (Bad debts)


        Bacs (Bacs payment)


        WireTransfer (Wire transfer)


        Invoice (Invoice)


        ExchangeRateDifference (Exchange rate difference)


        Complimentary (Complimentary)


        Reseller (Reseller)


        ExchangeRoundingDifference (Exchange rounding difference)


        Barter (Barter)


        Commission (Commission)


        BankCharges (Bank charges)


        CrossSettlement (Cross settlement)


        Cash (Cash)


        CreditCard (Credit card – deprecated, only for existing partners)


        Prepayment (Prepayment)


        Cheque (Cheque)


        Bancontact (Bancontact)


        IDeal (iDeal – deprecated, only for existing partners)


        PayPal (PayPal – deprecated, only for existing partners)


        GiftCard (Gift card)


        LoyaltyPoints (Loyalty points)


        ChequeVacances (Chèque-Vacances)


        OnlinePayment (Online payment – deprecated, only for existing partners)


        CardCheck (Card check)


        PaymentHubRedirection (Payment hub redirection)


        Voucher (Voucher)


        MasterCard (MasterCard – deprecated, only for existing partners)


        Visa (Visa – deprecated, only for existing partners)


        Amex (American Express – deprecated, only for existing partners)


        Discover (Discover – deprecated, only for existing partners)


        DinersClub (Diners Club – deprecated, only for existing partners)


        Jcb (JCB – deprecated, only for existing partners)


        UnionPay (UnionPay – deprecated, only for existing partners)


        Twint (TWINT)


        Reka (Reka)


        LoyaltyCard (Loyalty card)


        PosDiningAndSpaReward (POS Dining & Spa Reward)


        DirectDebit (Direct debit)


        DepositCheck (Deposit - check)


        DepositCash (Deposit - cash)


        DepositCreditCard (Deposit - credit card – deprecated, only for existing partners)


        DepositWireTransfer (Deposit - wire transfer)'
      x-enumNames:
      - Unspecified
      - BadDebts
      - Bacs
      - WireTransfer
      - Invoice
      - ExchangeRateDifference
      - Complimentary
      - Reseller
      - ExchangeRoundingDifference
      - Barter
      - Commission
      - BankCharges
      - CrossSettlement
      - Cash
      - CreditCard
      - Prepayment
      - Cheque
      - Bancontact
      - IDeal
      - PayPal
      - GiftCard
      - LoyaltyPoints
      - ChequeVacances
      - OnlinePayment
      - CardCheck
      - PaymentHubRedirection
      - Voucher
      - MasterCard
      - Visa
      - Amex
      - Discover
      - DinersClub
      - Jcb
      - UnionPay
      - Twint
      - Reka
      - LoyaltyCard
      - PosDiningAndSpaReward
      - DirectDebit
      - DepositCheck
      - DepositCash
      - DepositCreditCard
      - DepositWireTransfer
      x-enumDescriptions:
      - Unspecified (unavailable in French Legal Environment)
      - Bad debts
      - Bacs payment
      - Wire transfer
      - Invoice
      - Exchange rate difference
      - Complimentary
      - Reseller
      - Exchange rounding difference
      - Barter
      - Commission
      - Bank charges
      - Cross settlement
      - Cash
      - Credit card – deprecated, only for existing partners
      - Prepayment
      - Cheque
      - Bancontact
      - iDeal – deprecated, only for existing partners
      - PayPal – deprecated, only for existing partners
      - Gift card
      - Loyalty points
      - Chèque-Vacances
      - Online payment – deprecated, only for existing partners
      - Card check
      - Payment hub redirection
      - Voucher
      - MasterCard – deprecated, only for existing partners
      - Visa – deprecated, only for existing partners
      - American Express – deprecated, only for existing partners
      - Discover – deprecated, only for existing partners
      - Diners Club – deprecated, only for existing partners
      - JCB – deprecated, only for existing partners
      - UnionPay – deprecated, only for existing partners
      - TWINT
      - Reka
      - Loyalty card
      - POS Dining & Spa Reward
      - Direct debit
      - Deposit - check
      - Deposit - cash
      - Deposit - credit card – deprecated, only for existing partners
      - Deposit - wire transfer
    AmountPart:
      enum:
      - NetValue
      - TaxValue
      - GrossValue
      type: string
    Address:
      title: Address
      type: object
      properties:
        Line1:
          maxLength: 1023
          type: string
          nullable: true
          example: string
        Line2:
          maxLength: 255
          type: string
          nullable: true
          example: string
        City:
          maxLength: 255
          type: string
          nullable: true
          example: string
        PostalCode:
          maxLength: 255
          type: string
          nullable: true
          example: string
        CountryCode:
          maxLength: 8
          type: string
          nullable: true
          example: string
        Latitude:
          type: number
          format: double
          nullable: true
          example: 100.0
        Longitude:
          type: number
          format: double
          nullable: true
          example: 100.0
      additionalProperties: false
      x-schema-id: Address
    AccountingConfigurationOptionEnum:
      title: Accounting configuration option
      enum:
      - OptionalCreditCardPaymentDetails
      - ReceivableTrackingEnabled
      - SeparateDepositsOnBill
      - AllowModifyingClosedBills
      - RequireAccountingCategorySetup
      - GroupTaxesOnBill
      - DisplayEmployeeNameOnBill
      - TaxDeclarationOnDeposit
      - SplitVatByClassificationOnBill
      - EmailClosedBillsAfterCheckout
      type: string
      description: '


        OptionalCreditCardPaymentDetails (Optional credit card payment details)


        ReceivableTrackingEnabled (Receivable tracking enabled)


        SeparateDepositsOnBill (Separate deposits on bill)


        AllowModifyingClosedBills (Allow modifying closed bills)


        RequireAccountingCategorySetup (Require accounting category setup)


        GroupTaxesOnBill (Group taxes on bill)


        DisplayEmployeeNameOnBill (Display employee name on bill)


        TaxDeclarationOnDeposit (Tax declaration on deposit)


        SplitVatByClassificationOnBill (Split VAT by classification on bill)


        EmailClosedBillsAfterCheckout (Send system closed bills automatically after checkout)'
      x-enumNames:
      - OptionalCreditCardPaymentDetails
      - ReceivableTrackingEnabled
      - SeparateDepositsOnBill
      - AllowModifyingClosedBills
      - RequireAccountingCategorySetup
      - GroupTaxesOnBill
      - DisplayEmployeeNameOnBill
      - TaxDeclarationOnDeposit
      - SplitVatByClassificationOnBill
      - EmailClosedBillsAfterCheckout
      x-enumDescriptions:
      - Optional credit card payment details
      - Receivable tracking enabled
      - Separate deposits on bill
      - Allow modifying closed bills
      - Require accounting category setup
      - Group taxes on bill
      - Display employee name on bill
      - Tax declaration on deposit
      - Split VAT by classification on bill
      - Send system closed bills automatically after checkout
      x-extensible: true
    BookingEnginePaymentCardRequirement:
      enum:
      - NotRequired
      - NotRequiredForFullyPaidBookings
      - AlwaysRequired
      - NotRequiredForFullyOrPartiallyPaidBookings
      type: string
    AdditionalServiceData:
      title: Additional service data
      required:
      - Promotions
      type: object
      properties:
        Promotions:
          allOf:
          - $ref: '#/components/schemas/Promotions'
          description: Promotions of the service.
          example: string
      additionalProperties: false
      x-schema-id: AdditionalServiceData
    ProductChargingMode:
      enum:
      - Once
      - PerTimeUnit
      - PerPersonPerTimeUnit
      - PerPerson
      type: string
    ConfigurationParameters:
      title: ConfigurationParameters
      required:
      - Client
      - FullAmounts
      type: object
      properties:
        Client:
          minLength: 1
          type: string
          example: string
        LanguageCode:
          type: string
          nullable: true
          example: string
        CultureCode:
          type: string
          nullable: true
          example: string
        FullAmounts:
          type: boolean
          example: true
        Session:
          type: string
          nullable: true
          example: string
        Ids:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
        PrimaryId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        WebOptions:
          type: string
          nullable: true
          example: string
      additionalProperties: false
      x-schema-id: ConfigurationParameters
    BookingEngineBookerReservationCustomerEmailInput:
      enum:
      - Required
      - Optional
      type: string
    ConfigurationFilterParameters:
      title: ConfigurationFilterParameters
      required:
      - AccessToken
      - Client
      - ClientToken
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        EnterpriseId:
          type: string
          description: Unique identifier of the [Enterprise](https://mews-systems.gitbook.io/connector-api/operations/#enterprise), defaults to the enterprise associated with the given access token.
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: ConfigurationFilterParameters
    Rate:
      title: Rate
      required:
      - CurrencyCode
      - Description
      - Id
      - IsPrivate
      - Name
      - Ordering
      - RateGroupId
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        RateGroupId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Ordering:
          type: integer
          format: int32
          example: 1
        Name:
          type: object
          additionalProperties:
            type: string
            nullable: true
        Description:
          type: object
          additionalProperties:
            type: string
            nullable: true
        IsPrivate:
          type: boolean
          example: true
        CurrencyCode:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
          example: EUR
      additionalProperties: false
      x-schema-id: Rate
    City:
      title: City
      required:
      - Id
      - Name
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Name:
          type: object
          additionalProperties:
            type: string
        ImageId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: City
    PaymentCardStorage:
      title: Payment card storage
      required:
      - PublicKey
      type: object
      properties:
        PublicKey:
          minLength: 1
          type: string
          description: Key for accessing PCI proxy storage.
          example: string
      additionalProperties: false
      description: ''
      x-schema-id: PaymentCardStorage
    ConfigurationResult:
      title: ConfigurationResult
      required:
      - AgeCategories
      - Cities
      - Configurations
      - CurrencyCodes
      - ImageBaseUrl
      - NowUtc
      - Services
      type: object
      properties:
        NowUtc:
          minLength: 1
          type: string
          format: date-time
          example: '2026-06-02T14:30:00Z'
        LanguageCode:
          type: string
          nullable: true
          example: string
        CurrencyCode:
          maxLength: 3
          type: string
          format: currency
          nullable: true
          example: EUR
        IntroVideoUrl:
          type: string
          format: uri
          nullable: true
          example: https://api.mews.com/api/connector/v1
        Theme:
          anyOf:
          - $ref: '#/components/schemas/BookingEngineTheme'
          nullable: true
          example: string
        PrimaryColor:
          type: string
          nullable: true
          example: string
        VoucherCode:
          type: string
          nullable: true
          example: string
        DisplayVoucherCode:
          type: boolean
          nullable: true
          example: true
        GtmContainerId:
          type: string
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        StartDateOffset:
          type: integer
          format: int32
          nullable: true
          example: 1
        EndDateOffset:
          type: integer
          format: int32
          nullable: true
          example: 1
        CityId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ImageBaseUrl:
          minLength: 1
          type: string
          format: uri
          example: https://api.mews.com/api/connector/v1
        Configurations:
          type: array
          items:
            $ref: '#/components/schemas/BookingEngine'
        Cities:
          type: array
          items:
            $ref: '#/components/schemas/City'
        CurrencyCodes:
          type: array
          items:
            type: string
          format: currency
        AgeCategories:
          type: array
          items:
            $ref: '#/components/schemas/AgeCategory'
        Services:
          type: array
          items:
            $ref: '#/components/schemas/Service'
      additionalProperties: false
      x-schema-id: ConfigurationResult
    ResourceCategoryType:
      enum:
      - Room
      - Bed
      - Dorm
      - Apartment
      - Suite
      - Villa
      - Site
      - Office
      - MeetingRoom
      - ParkingSpot
      - Desk
      - TeamArea
      - Membership
      - Tent
      - CaravanOrRV
      - UnequippedCampsite
      - Bike
      - ExtraBed
      - Cot
      - Crib
      - ConferenceRoom
      - Rooftop
      - Garden
      - Restaurant
      - Amphitheater
      - PrivateSpaces
      type: string
    Configuration:
      title: Configuration
      required:
      - Enterprise
      - NowUtc
      type: object
      properties:
        NowUtc:
          minLength: 1
          type: string
          description: Current server date and time in UTC timezone in ISO 8601 format.
          format: date-time
          example: '2026-06-02T14:30:00Z'
        Enterprise:
          title: Enterprise
          allOf:
          - $ref: '#/components/schemas/Enterprise_2'
          description: The enterprise (e.g. hotel, hostel) associated with the access token.
          example: string
        Service:
          allOf:
          - $ref: '#/components/schemas/Service_2'
          description: The reservable service (e.g. accommodation, parking) associated with the access token of the service scoped integration.
          nullable: true
          example: string
        PaymentCardStorage:
          title: Payment card storage
          allOf:
          - $ref: '#/components/schemas/PaymentCardStorage'
          description: Contains information about payment card storage.
          nullable: true
          example: string
        IsIdentityDocumentNumberRequired:
          type: boolean
          description: Whether the identity documents for this enterprise include the value of identity document number as required by the legal environment. When `false`, the number is not required, and an empty string can be used in write operations. In read operations, an empty string is returned when an empty string was provided for the number.
          example: true
      additionalProperties: false
      x-schema-id: Configuration
    CurrencyAcceptance:
      title: Accepted currency
      required:
      - Currency
      - IsDefault
      - IsEnabled
      type: object
      properties:
        Currency:
          minLength: 1
          type: string
          description: ISO-4217 code of the `Currency`.
          format: currency
          example: EUR
        IsDefault:
          type: boolean
          description: Whether the currency is a default accounting currency.
          example: true
        IsEnabled:
          type: boolean
          description: Whether the currency is enabled for usage.
          example: true
      additionalProperties: false
      x-schema-id: CurrencyAcceptance
    Enterprise:
      title: Enterprise
      required:
      - AcceptedCurrencyCodes
      - Address
      - Categories
      - CategoryImageAssignments
      - CityId
      - DefaultCurrencyCode
      - DefaultLanguageCode
      - DefaultRateCurrencyCode
      - Description
      - Email
      - IanaTimeZoneIdentifier
      - Id
      - Name
      - Pricing
      - Products
      - Rates
      - TaxEnvironmentCode
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Name:
          type: object
          additionalProperties:
            type: string
        Description:
          type: object
          additionalProperties:
            type: string
        Address:
          allOf:
          - $ref: '#/components/schemas/Address'
          example: string
        CityId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ImageId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        IntroImageId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Email:
          minLength: 1
          type: string
          example: partner@example.com
        Telephone:
          type: string
          nullable: true
          example: string
        TermsAndConditionsUrl:
          type: object
          additionalProperties:
            type: string
          nullable: true
        PrivacyPolicyUrl:
          type: object
          additionalProperties:
            type: string
          nullable: true
        DefaultLanguageCode:
          maxLength: 3
          minLength: 1
          type: string
          example: string
        DefaultCurrencyCode:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
          example: EUR
        DefaultRateCurrencyCode:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
          example: EUR
        IanaTimeZoneIdentifier:
          minLength: 1
          type: string
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AcceptedCurrencyCodes:
          type: array
          items:
            type: string
          format: currency
        TaxEnvironmentCode:
          minLength: 1
          type: string
          example: string
        Pricing:
          $ref: '#/components/schemas/PricingMode'
        GrossAmountTaxPrecision:
          type: integer
          format: int32
          nullable: true
          example: 1
        Categories:
          type: array
          items:
            $ref: '#/components/schemas/Category'
        Rates:
          type: array
          items:
            $ref: '#/components/schemas/Rate'
        CategoryImageAssignments:
          type: array
          items:
            $ref: '#/components/schemas/ResourceCategoryImageAssignment'
        Products:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        AdditionalLegalStatements:
          type: array
          items:
            type: object
            additionalProperties:
              type: string
          nullable: true
          deprecated: true
      additionalProperties: false
      x-schema-id: Enterprise
    TimeUnitPeriodEnum:
      title: Time unit period
      enum:
      - Day
      - Month
      - Hour
      type: string
      description: '


        Day


        Month


        Hour'
      x-enumNames:
      - Day
      - Month
      - Hour
      x-enumDescriptions:
      - ''
      - ''
      - ''
    Enterprise_2:
      title: Enterprise
      required:
      - AccommodationEnvironmentCode
      - AccountingEditableHistoryInterval
      - AccountingEnvironmentCode
      - Address
      - AddressId
      - ChainId
      - ChainName
      - CreatedUtc
      - Currencies
      - DefaultLanguageCode
      - EditableHistoryInterval
      - GroupNames
      - Id
      - LegalEnvironmentCode
      - Name
      - OperationalEditableHistoryInterval
      - Pricing
      - Subscription
      - TaxEnvironmentCode
      - TimeZoneIdentifier
      - UpdatedUtc
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the enterprise.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ExternalIdentifier:
          maxLength: 255
          type: string
          description: Identifier of the enterprise from external system.
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        HoldingKey:
          maxLength: 255
          type: string
          description: Identifies an enterprise in the external system of a holding company. The holding company may administer multiple portfolios.
          nullable: true
          example: string
        ChainId:
          type: string
          description: Unique identifier of the chain to which the enterprise belongs.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ChainName:
          minLength: 1
          type: string
          description: Name of the `Chain` to which the enterprise belongs.
          example: Example Name
        CreatedUtc:
          minLength: 1
          type: string
          description: Creation date and time of the enterprise in UTC timezone in ISO 8601 format.
          format: date-time
          example: '2026-06-02T14:30:00Z'
        UpdatedUtc:
          minLength: 1
          type: string
          description: Last update date and time of the enterprise in UTC timezone in ISO 8601 format.
          format: date-time
          example: '2026-06-02T14:30:00Z'
        Name:
          minLength: 1
          type: string
          description: Name of the enterprise.
          example: Example Name
        ShortName:
          maxLength: 11
          type: string
          description: Short name of the enterprise used in Manager Report exports.
          nullable: true
          example: Example Name
        TimeZoneIdentifier:
          minLength: 1
          type: string
          description: IANA timezone identifier of the enterprise.
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        LegalEnvironmentCode:
          minLength: 1
          type: string
          description: Unique identifier of the legal environment where the enterprise resides.
          example: string
        AccommodationEnvironmentCode:
          minLength: 1
          type: string
          description: Unique code of the accommodation environment where the enterprise resides.
          example: string
        AccountingEnvironmentCode:
          minLength: 1
          type: string
          description: Unique code of the accounting environment where the enterprise resides.
          example: string
        TaxEnvironmentCode:
          minLength: 1
          type: string
          description: Unique code of the tax environment where the enterprise resides.
          example: string
        DefaultLanguageCode:
          minLength: 1
          type: string
          description: Language-culture codes of the enterprise default `Language`.
          example: string
        EditableHistoryInterval:
          minLength: 1
          type: string
          deprecated: true
          x-deprecatedMessage: Use `AccountingEditableHistoryInterval` and `OperationalEditableHistoryInterval` instead.
          example: string
        AccountingEditableHistoryInterval:
          minLength: 1
          type: string
          description: Editable history interval for accounting data in ISO 8601 duration format.
          example: string
        OperationalEditableHistoryInterval:
          minLength: 1
          type: string
          description: Editable history interval for operational data in ISO 8601 duration format.
          example: string
        BusinessDayClosingOffset:
          type: string
          description: The offset value for the business day closing time, in ISO 8601 duration format.
          nullable: true
          example: string
        WebsiteUrl:
          type: string
          description: URL of the enterprise website.
          format: uri
          nullable: true
          example: https://api.mews.com/api/connector/v1
        Email:
          type: string
          description: Email address of the enterprise.
          format: email
          nullable: true
          example: partner@example.com
        Phone:
          type: string
          description: Phone number of the enterprise.
          format: tel
          nullable: true
          example: string
        LogoImageId:
          type: string
          description: Unique identifier of the `Image` of the enterprise logo.
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CoverImageId:
          type: string
          description: Unique identifier of the `Image` of the enterprise cover.
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Pricing:
          title: Pricing
          allOf:
          - $ref: '#/components/schemas/PricingModeEnum'
          description: 'Pricing of the enterprise.


            Gross (The enterprise shows amount with gross prices.)


            Net (The enterprise shows amount with net prices.)'
          x-enumNames:
          - Gross
          - Net
          x-enumDescriptions:
          - The enterprise shows amount with gross prices.
          - The enterprise shows amount with net prices.
          example: string
        TaxPrecision:
          type: integer
          description: Tax precision used for financial calculations in the enterprise. If `null`, `Currency` precision is used.
          format: int32
          nullable: true
          example: 1
        AddressId:
          type: string
          description: Unique identifier of the `Address` of the enterprise.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Address:
          title: Address
          allOf:
          - $ref: '#/components/schemas/OldAddress'
          description: Address of the enterprise.
          example: string
        GroupNames:
          type: array
          items:
            type: string
          description: A list of the group names of the enterprise.
        Subscription:
          title: Enterprise subscription
          allOf:
          - $ref: '#/components/schemas/EnterpriseSubscription'
          description: Subscription information of the enterprise.
          example: string
        Currencies:
          type: array
          items:
            $ref: '#/components/schemas/CurrencyAcceptance'
          description: Currencies accepted by the enterprise.
        AccountingConfiguration:
          title: Accounting configuration
          allOf:
          - $ref: '#/components/schemas/AccountingConfiguration'
          description: Configuration information containing financial information about the property.
          nullable: true
          example: string
        IsPortfolio:
          type: boolean
          description: Whether the enterprise is a Portfolio enterprise (see [Multi-property guidelines](https://mews-systems.gitbook.io/connector-api/guidelines/multi-property)).
          example: true
      additionalProperties: false
      description: ''
      x-schema-id: Enterprise
    ResourceCategoryImageAssignment:
      title: ResourceCategoryImageAssignment
      required:
      - CategoryId
      - Id
      - ImageId
      - Ordering
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CategoryId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ImageId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Ordering:
          type: integer
          format: int32
          example: 1
      additionalProperties: false
      x-schema-id: ResourceCategoryImageAssignment
    Service_2:
      title: Service
      required:
      - CreatedUtc
      - Data
      - EnterpriseId
      - Id
      - IsActive
      - Name
      - Names
      - Options
      - Ordering
      - UpdatedUtc
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the service.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        EnterpriseId:
          type: string
          description: Unique identifier of the [Enterprise](https://mews-systems.gitbook.io/connector-api/operations/enterprises/#enterprise).
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        IsActive:
          type: boolean
          description: Whether the service is still active.
          example: true
        Name:
          minLength: 1
          type: string
          description: Name of the service.
          deprecated: true
          x-deprecatedMessage: Use `Names` instead
          example: Example Name
        Names:
          title: Localized text
          type: object
          additionalProperties:
            type: string
          description: All translations of the name.
          x-schema-id: LocalizedStrings
        StartTime:
          type: string
          nullable: true
          deprecated: true
          example: string
        EndTime:
          type: string
          nullable: true
          deprecated: true
          example: string
        Options:
          title: Service options
          allOf:
          - $ref: '#/components/schemas/ServiceOptions'
          description: Options of the service.
          example: string
        Promotions:
          allOf:
          - $ref: '#/components/schemas/Promotions'
          description: ''
          nullable: true
          deprecated: true
          x-deprecatedMessage: Use `Promotions` in `Data` instead.
          example: string
        Type:
          type: string
          nullable: true
          deprecated: true
          example: string
        Ordering:
          type: integer
          description: Order value for presentation purposes.
          format: int32
          example: 1
        Data:
          title: Service data
          type: object
          properties:
            Discriminator:
              $ref: '#/components/schemas/ServiceDataDiscriminator'
            Value:
              oneOf:
              - $ref: '#/components/schemas/BookableServiceData'
              - $ref: '#/components/schemas/AdditionalServiceData'
          description: Additional information about the specific service.
          x-coproduct: true
          x-schema-id: ServiceDataCoproductOfServiceDataDiscriminator
        ExternalIdentifier:
          maxLength: 255
          type: string
          description: Identifier of the service from external system.
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CreatedUtc:
          minLength: 1
          type: string
          description: Creation date and time of the service in UTC timezone in ISO 8601 format.
          format: date-time
          example: '2026-06-02T14:30:00Z'
        UpdatedUtc:
          minLength: 1
          type: string
          description: Last update date and time of the service in UTC timezone in ISO 8601 format.
          format: date-time
          example: '2026-06-02T14:30:00Z'
      additionalProperties: false
      description: ''
      x-schema-id: Service
    Service:
      title: Service
      required:
      - CreatedUtc
      - Data
      - EnterpriseId
      - Id
      - IsActive
      - Names
      - Ordering
      - ShortNames
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        EnterpriseId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Ordering:
          type: integer
          format: int32
          example: 1
        CreatedUtc:
          minLength: 1
          type: string
          format: date-time
          example: '2026-06-02T14:30:00Z'
        Names:
          type: object
          additionalProperties:
            type: string
        ShortNames:
          type: object
          additionalProperties:
            type: string
        IsActive:
          type: boolean
          example: true
        Data:
          title: Data
          type: object
          properties:
            discriminator:
              type: string
            value:
              oneOf:
              - $ref: '#/components/schemas/BookableService'
              - type: object
                additionalProperties: false
          x-coproduct: true
          x-schema-id: ServiceDataCoproductOfBookableServiceAdditionalService
      additionalProperties: false
      x-schema-id: Service
    OldAddress:
      title: Address
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the address.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Line1:
          type: string
          description: First line of the address.
          nullable: true
          example: string
        Line2:
          type: string
          description: Second line of the address.
          nullable: true
          example: string
        City:
          type: string
          description: The city.
          nullable: true
          example: string
        PostalCode:
          type: string
          description: Postal code.
          nullable: true
          example: string
        CountryCode:
          type: string
          description: ISO 3166-1 code of the `Country`.
          nullable: true
          example: string
        CountrySubdivisionCode:
          type: string
          description: ISO 3166-2 code of the administrative division, e.g. `DE-BW`.
          nullable: true
          example: string
        Latitude:
          type: number
          description: The latitude.
          format: double
          nullable: true
          example: 100.0
        Longitude:
          type: number
          description: The longitude.
          format: double
          nullable: true
          example: 100.0
      additionalProperties: false
      description: ''
      x-schema-id: OldAddress
    SurchargeConfiguration:
      title: Surcharging fees configuration
      required:
      - SurchargeFees
      type: object
      properties:
        SurchargeFees:
          title: CreditCardTypeDecimalIDictionary
          type: object
          properties:
            MasterCard:
              type: number
              format: double
            Visa:
              type: number
              format: double
            Amex:
              type: number
              format: double
            Discover:
              type: number
              format: double
            DinersClub:
              type: number
              format: double
            Jcb:
              type: number
              format: double
            Maestro:
              type: number
              format: double
            UnionPay:
              type: number
              format: double
            VPay:
              type: number
              format: double
            RuPay:
              type: number
              format: double
            Dankort:
              type: number
              format: double
            Mir:
              type: number
              format: double
            Verve:
              type: number
              format: double
            Troy:
              type: number
              format: double
            PostFinance:
              type: number
              format: double
            Giro:
              type: number
              format: double
            Bancomat:
              type: number
              format: double
            Bc:
              type: number
              format: double
            CarteBleue:
              type: number
              format: double
            Eftpos:
              type: number
              format: double
            Eps:
              type: number
              format: double
            Interac:
              type: number
              format: double
            Isracard:
              type: number
              format: double
            Meps:
              type: number
              format: double
            Nets:
              type: number
              format: double
            Bancontact:
              type: number
              format: double
          additionalProperties: false
          description: Dictionary keys are `CreditCardType` and values are surcharging fees as a percentage.
          x-schema-id: CreditCardTypeDecimalIDictionary
        SurchargeServiceId:
          type: string
          description: Unique identifier of the surcharging `Service`.
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        SurchargeTaxCode:
          type: string
          description: Surcharging fee `TaxCode`.
          nullable: true
          example: string
      additionalProperties: false
      x-schema-id: SurchargeConfiguration
    Category:
      title: Category
      required:
      - Description
      - ExtraBedCount
      - Id
      - Name
      - NormalBedCount
      - SpaceType
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Name:
          type: object
          additionalProperties:
            type: string
        Description:
          type: object
          additionalProperties:
            type: string
        ImageIds:
          type: array
          items:
            type: string
            format: uuid
          nullable: true
          deprecated: true
        Ordering:
          type: integer
          format: int32
          nullable: true
          example: 1
        NormalBedCount:
          type: integer
          format: int32
          example: 1
        ExtraBedCount:
          type: integer
          format: int32
          example: 1
        SpaceType:
          $ref: '#/components/schemas/ResourceCategoryType'
      additionalProperties: false
      x-schema-id: Category
    AgeCategoryClassification:
      enum:
      - Adult
      - Child
      type: string
    BookingEngineTheme:
      enum:
      - Light
      - Dark
      type: string
    BookingEngine:
      title: BookingEngine
      required:
      - BookerReservationCustomerEmailInput
      - CheckoutStatement
      - CompetitorRateDescription
      - Enterprise
      - Id
      - PaymentCardRequirement
      - RequiredFields
      - ServiceId
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ServiceId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AdultCount:
          type: integer
          format: int32
          nullable: true
          deprecated: true
          example: 1
        ChildCount:
          type: integer
          format: int32
          nullable: true
          deprecated: true
          example: 1
        MaxAdultCount:
          type: integer
          format: int32
          nullable: true
          example: 1
        OccupancyData:
          type: array
          items:
            $ref: '#/components/schemas/OccupancyData'
          nullable: true
        DisplaySpecialRequests:
          type: boolean
          nullable: true
          example: true
        DisplayRateComparison:
          type: boolean
          nullable: true
          example: true
        ChildSelectionEnabled:
          type: boolean
          nullable: true
          example: true
        DisplayAvailability:
          type: boolean
          nullable: true
          example: true
        PaymentGatewayEnabled:
          type: boolean
          deprecated: true
          example: true
        PaymentCardInput:
          type: string
          nullable: true
          deprecated: true
          example: string
        PaymentCardRequirement:
          $ref: '#/components/schemas/BookingEnginePaymentCardRequirement'
        BookerReservationCustomerEmailInput:
          $ref: '#/components/schemas/BookingEngineBookerReservationCustomerEmailInput'
        RequiredFields:
          type: array
          items:
            $ref: '#/components/schemas/BookingEngineRequiredFields'
        OnlineTravelAgencies:
          type: array
          items:
            type: string
          nullable: true
        CheckoutStatement:
          type: object
          additionalProperties:
            type: string
        CompetitorRateDescription:
          type: object
          additionalProperties:
            type: string
        CompetitorPriceRelativeAdjustment:
          type: number
          format: double
          nullable: true
          example: 100.0
        Enterprise:
          allOf:
          - $ref: '#/components/schemas/Enterprise'
          example: string
      additionalProperties: false
      x-schema-id: BookingEngine
    Promotions:
      title: Promotions
      required:
      - AfterCheckIn
      - AfterCheckOut
      - BeforeCheckIn
      - BeforeCheckOut
      - DuringCheckOut
      - DuringStay
      type: object
      properties:
        BeforeCheckIn:
          type: boolean
          description: Whether it can be promoted before check-in.
          example: true
        AfterCheckIn:
          type: boolean
          description: Whether it can be promoted after check-in.
          example: true
        DuringStay:
          type: boolean
          description: Whether it can be promoted during stay.
          example: true
        BeforeCheckOut:
          type: boolean
          description: Whether it can be promoted before check-out.
          example: true
        AfterCheckOut:
          type: boolean
          description: Whether it can be promoted after check-out.
          example: true
        DuringCheckOut:
          type: boolean
          description: Whether it can be promoted during check-out.
          example: true
      additionalProperties: false
      description: ''
      x-schema-id: Promotions
    BookableServiceData:
      title: Bookable service data
      required:
      - EndOffset
      - OccupancyEndOffset
      - OccupancyStartOffset
      - StartOffset
      - TimeUnit
      - TimeUnitPeriod
      type: object
      properties:
        StartOffset:
          minLength: 1
          type: string
          description: Offset from the start of the [time unit](https://mews-systems.gitbook.io/connector-api/concepts/time-units/) which defines the default start of the service; expressed in ISO 8601 duration format.
          example: string
        EndOffset:
          minLength: 1
          type: string
          description: Offset from the end of the [time unit](https://mews-systems.gitbook.io/connector-api/concepts/time-units/) which defines the default end of the service; expressed in ISO 8601 duration format.
          example: string
        OccupancyStartOffset:
          minLength: 1
          type: string
          description: Offset from the start of the [time unit](https://mews-systems.gitbook.io/connector-api/concepts/time-units/) which defines the occupancy start of the service; expressed in ISO 8601 duration format. 'Occupancy start' is used for availability and reporting purposes, it implies the time at which the booked resource is considered occupied.
          example: string
        OccupancyEndOffset:
          minLength: 1
          type: string
          description: Offset from the end of the [time unit](https://mews-systems.gitbook.io/connector-api/concepts/time-units/) which defines the occupancy end of the service; expressed in ISO 8601 duration format. 'Occupancy end' is used for availability and reporting purposes, it implies the time at which the booked resource is no longer considered occupied.
          example: string
        TimeUnit:
          title: Time unit period
          allOf:
          - $ref: '#/components/schemas/TimeUnitPeriodEnum'
          description: '


            Day


            Month


            Hour'
          deprecated: true
          x-enumNames:
          - Day
          - Month
          - Hour
          x-enumDescriptions:
          - ''
          - ''
          - ''
          x-deprecatedMessage: Use `TimeUnitPeriod` instead.
          example: string
        TimeUnitPeriod:
          title: Time unit period
          allOf:
          - $ref: '#/components/schemas/TimeUnitPeriodEnum'
          description: 'The length of time or period represented by a [time unit](https://mews-systems.gitbook.io/connector-api/concepts/time-units/), for which the service can be booked.


            Day


            Month


            Hour'
          x-enumNames:
          - Day
          - Month
          - Hour
          x-enumDescriptions:
          - ''
          - ''
          - ''
          example: string
      additionalProperties: false
      x-schema-id: BookableServiceData
    ProductPostingMode:
      enum:
      - Once
      - PerTimeUnit
      type: string
    TimeUnitPeriod:
      enum:
      - Day
      - Month
      - Hour
      type: string
    ConnectorApiExceptionResult:
      title: ConnectorApiExceptionResult
      type: object
      properties:
        Message:
          type: string
          nullable: true
          example: string
        RequestId:
          type: string
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Details:
          nullable: true
          example: string
      additionalProperties: false
      x-schema-id: ConnectorApiExceptionResult
    BookingEngineRequiredFields:
      enum:
      - Telephone
      type: string
    ServiceDataDiscriminator:
      title: Service data discriminator
      enum:
      - Bookable
      - Additional
      type: string
    AccountingConfiguration:
      title: Accounting configuration
      required:
      - EnabledExternalPaymentTypes
      - Options
      - SurchargeConfiguration
      type: object
      properties:
        AdditionalTaxIdentifier:
          maxLength: 50
          type: string
          description: Organization number.
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CompanyName:
          maxLength: 100
          type: string
          description: Legal name of the company.
          nullable: true
          example: Example Name
        BankAccountNumber:
          maxLength: 50
          type: string
          description: Bank account number.
          nullable: true
          example: '1001'
        BankName:
          maxLength: 100
          type: string
          description: Name of the bank.
          nullable: true
          example: Example Name
        Iban:
          maxLength: 40
          type: string
          description: International Bank Account Number.
          nullable: true
          example: string
        Bic:
          maxLength: 11
          type: string
          description: Business Identification Code.
          nullable: true
          example: string
        SurchargeConfiguration:
          title: Surcharging fees configuration
          allOf:
          - $ref: '#/components/schemas/SurchargeConfiguration'
          description: Configuration for surcharging fees.
          example: string
        EnabledExternalPaymentTypes:
          type: array
          items:
            $ref: '#/components/schemas/ExternalPaymentTypeEnum'
          description: External payment types that are enabled for the enterprise and can be used in `payments/addExternal`.
        Options:
          type: array
          items:
            $ref: '#/components/schemas/AccountingConfigurationOptionEnum'
          description: Accounting configuration options.
      additionalProperties: false
      x-schema-id: AccountingConfiguration
    BookableService:
      title: BookableService
      required:
      - EndOffset
      - StartOffset
      - TimeUnit
      type: object
      properties:
        StartOffset:
          minLength: 1
          type: string
          example: string
        EndOffset:
          minLength: 1
          type: string
          example: string
        TimeUnit:
          $ref: '#/components/schemas/TimeUnitPeriod'
      additionalProperties: false
      x-schema-id: BookableService
    PricingModeEnum:
      title: Pricing
      enum:
      - Gross
      - Net
      type: string
      description: '


        Gross (The enterprise shows amount with gross prices.)


        Net (The enterprise shows amount with net prices.)'
      x-enumNames:
      - Gross
      - Net
      x-enumDescriptions:
      - The enterprise shows amount with gross prices.
      - The enterprise shows amount with net prices.
    OccupancyData:
      title: OccupancyData
      required:
      - AgeCategoryId
      - PersonCount
      type: object
      properties:
        AgeCategoryId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        PersonCount:
          type: integer
          format: int32
          example: 1
      additionalProperties: false
      x-schema-id: OccupancyData
    AgeCategory:
      title: AgeCategory
      required:
      - Classification
      - Id
      - IsDefault
      - Name
      - ServiceId
      - ShortName
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ServiceId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Name:
          type: object
          additionalProperties:
            type: string
        ShortName:
          type: object
          additionalProperties:
            type: string
        MinimalAge:
          type: integer
          format: int32
          nullable: true
          example: 1
        MaximalAge:
          type: integer
          format: int32
          nullable: true
          example: 1
        Classification:
          $ref: '#/components/schemas/AgeCategoryClassification'
        IsDefault:
          type: boolean
          example: true
      additionalProperties: false
      x-schema-id: AgeCategory
    Product:
      title: Product
      required:
      - AlwaysIncluded
      - Amounts
      - ChargingMode
      - Description
      - Id
      - IncludedByDefault
      - Name
      - Ordering
      - PostingMode
      - Prices
      - Pricing
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Name:
          type: object
          additionalProperties:
            type: string
        Description:
          type: object
          additionalProperties:
            type: string
        CategoryId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ImageId:
          type: string
          format: uuid
          nullable: true
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        IncludedByDefault:
          type: boolean
          example: true
        AlwaysIncluded:
          type: boolean
          example: true
        Prices:
          example: string
        Pricing:
          title: Pricing
          type: object
          properties:
            discriminator:
              type: string
            value:
              oneOf:
              - $ref: '#/components/schemas/RelativeProductPrice'
          x-coproduct: true
          x-schema-id: ProductPricingCoproductOfRelativeProductPrice
        Amounts:
          example: string
        RelativePrice:
          type: number
          format: double
          nullable: true
          example: 100.0
        Charging:
          type: string
          nullable: true
          deprecated: true
          example: string
        ChargingMode:
          $ref: '#/components/schemas/ProductChargingMode'
        Posting:
          type: string
          nullable: true
          deprecated: true
          example: string
        PostingMode:
          $ref: '#/components/schemas/ProductPostingMode'
        Ordering:
          type: integer
          format: int32
          example: 1
      additionalProperties: false
      x-schema-id: Product
    ServiceOptions:
      title: Service options
      required:
      - BillAsPackage
      type: object
      properties:
        BillAsPackage:
          type: boolean
          description: Products should be displayed as a single package instead of individual items.
          example: true
      additionalProperties: false
      description: Options of the service.
      x-schema-id: ServiceOptions
    RelativeProductPrice:
      title: RelativeProductPrice
      required:
      - Multiplier
      - ProductIds
      - Target
      - TaxRateCodes
      type: object
      properties:
        ProductIds:
          type: array
          items:
            type: string
            format: uuid
        TaxRateCodes:
          type: array
          items:
            type: string
        Multiplier:
          type: number
          format: double
          example: 100.0
        Target:
          $ref: '#/components/schemas/AmountPart'
      additionalProperties: false
      x-schema-id: RelativeProductPrice
  securitySchemes:
    MewsClientToken:
      type: apiKey
      in: header
      name: ClientToken
      description: Mews authentication is performed by supplying ClientToken, AccessToken and Client as fields in the JSON request body (not as HTTP headers). This securityScheme is a tooling-compatible representation of the ClientToken credential. ClientToken is unique to your application and identifies the API client.
    MewsAccessToken:
      type: apiKey
      in: header
      name: AccessToken
      description: Tooling-compatible representation of the AccessToken credential, which is supplied in the JSON request body. AccessToken is unique to the connection with a property (enterprise) and identifies the property or properties whose data and services you can access. Portfolio Access Tokens enable multi-property access with a single token.
