openapi: 3.2.0
info:
  title: Mews Booking Engine API (Distributor) Account notes Currencies API
  version: v1
  description: The Mews Booking Engine API (historically the Distributor API, served from /api/distributor/v1) lets developers build guest-facing booking engines that create reservations directly in Mews. It exposes enterprise configuration, availability, pricing, products, vouchers, payment cards, and reservation group creation for front-end client consumption.
  x-generated-from: documentation
  x-source-url: https://api.mews.com/Swagger/distributor/swagger.json
  x-last-validated: '2026-06-02'
servers:
- url: https://api.mews.com
  description: Production
- url: https://api.mews-demo.com
  description: Demo / sandbox
security:
- MewsClientToken: []
  MewsAccessToken: []
tags:
- name: Currencies
paths:
  /api/distributor/v1/currencies/getAll:
    post:
      tags:
      - Currencies
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingEngineParameters'
            examples:
              CurrenciesGetAllRequestExample:
                summary: Default currencies_getAll request
                x-microcks-default: true
                value:
                  Client: string
                  LanguageCode: string
                  CultureCode: string
                  FullAmounts: true
                  Session: string
                  ConfigurationId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyResult'
              examples:
                CurrenciesGetAll200Example:
                  summary: Default currencies_getAll 200 response
                  x-microcks-default: true
                  value:
                    Currencies:
                    - Code: string
                      Symbol: string
                      ValueFormat: string
                      DecimalPlaces: 1
                      SymbolIsBehindValue: true
      operationId: currencies_getAll
      summary: Mews Get All
      description: Get All via the Mews Booking Engine (Distributor) API currencies resource.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/currencies/getAll:
    post:
      tags:
      - Currencies
      summary: Mews Get All Currencies
      description: Returns all currencies supported by the API.
      operationId: currencies_getAll
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Parameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyResult_2'
              example:
                Currencies:
                - Code: USD
                  Precision: 2
                - Code: GBP
                  Precision: 2
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CurrenciesGetAll400Example:
                  summary: Default currencies_getAll 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CurrenciesGetAll401Example:
                  summary: Default currencies_getAll 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CurrenciesGetAll403Example:
                  summary: Default currencies_getAll 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CurrenciesGetAll408Example:
                  summary: Default currencies_getAll 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CurrenciesGetAll204Example:
                  summary: Default currencies_getAll 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CurrenciesGetAll429Example:
                  summary: Default currencies_getAll 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CurrenciesGetAll500Example:
                  summary: Default currencies_getAll 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    BookingEngineParameters:
      title: BookingEngineParameters
      required:
      - Client
      - ConfigurationId
      - FullAmounts
      type: object
      properties:
        Client:
          minLength: 1
          type: string
          example: string
        LanguageCode:
          type:
          - string
          - 'null'
          example: string
        CultureCode:
          type:
          - string
          - 'null'
          example: string
        FullAmounts:
          type: boolean
          example: true
        Session:
          type:
          - string
          - 'null'
          example: string
        ConfigurationId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: BookingEngineParameters
    CurrencyResult:
      title: CurrencyResult
      required:
      - Currencies
      type: object
      properties:
        Currencies:
          type: array
          items:
            $ref: '#/components/schemas/Currency'
      additionalProperties: false
      x-schema-id: CurrencyResult
    Parameters:
      title: Parameters
      required:
      - AccessToken
      - Client
      - ClientToken
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
      additionalProperties: false
      x-schema-id: Parameters
    CurrencyResult_2:
      title: CurrencyResult
      required:
      - Currencies
      type: object
      properties:
        Currencies:
          type: array
          items:
            $ref: '#/components/schemas/Currency_2'
          description: The supported currencies.
      additionalProperties: false
      x-schema-id: CurrencyResult
    ConnectorApiExceptionResult:
      title: ConnectorApiExceptionResult
      type: object
      properties:
        Message:
          type:
          - string
          - 'null'
          example: string
        RequestId:
          type:
          - string
          - 'null'
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Details:
          example: string
      additionalProperties: false
      x-schema-id: ConnectorApiExceptionResult
    Currency_2:
      title: Currency
      required:
      - Code
      - Precision
      type: object
      properties:
        Code:
          minLength: 1
          type: string
          description: ISO-4217 three-letter code, e.g. USD or GBP.
          example: string
        Precision:
          type: integer
          description: Precision of the currency (count of decimal places).
          format: int32
          example: 1
      additionalProperties: false
      x-schema-id: Currency
    Currency:
      title: Currency
      required:
      - Code
      - DecimalPlaces
      - Symbol
      - SymbolIsBehindValue
      - ValueFormat
      type: object
      properties:
        Code:
          maxLength: 3
          minLength: 1
          type: string
          format: currency
          example: string
        Symbol:
          minLength: 1
          type: string
          example: string
        ValueFormat:
          minLength: 1
          type: string
          example: string
        DecimalPlaces:
          type: integer
          format: int32
          example: 1
        SymbolIsBehindValue:
          type: boolean
          example: true
      additionalProperties: false
      x-schema-id: Currency
  securitySchemes:
    MewsClientToken:
      type: apiKey
      in: header
      name: ClientToken
      description: Mews authentication is performed by supplying ClientToken, AccessToken and Client as fields in the JSON request body (not as HTTP headers). This securityScheme is a tooling-compatible representation of the ClientToken credential. ClientToken is unique to your application and identifies the API client.
    MewsAccessToken:
      type: apiKey
      in: header
      name: AccessToken
      description: Tooling-compatible representation of the AccessToken credential, which is supplied in the JSON request body. AccessToken is unique to the connection with a property (enterprise) and identifies the property or properties whose data and services you can access. Portfolio Access Tokens enable multi-property access with a single token.
