openapi: 3.2.0
info:
  title: Mews Booking Engine API (Distributor) Account notes Customers API
  version: v1
  description: The Mews Booking Engine API (historically the Distributor API, served from /api/distributor/v1) lets developers build guest-facing booking engines that create reservations directly in Mews. It exposes enterprise configuration, availability, pricing, products, vouchers, payment cards, and reservation group creation for front-end client consumption.
  x-generated-from: documentation
  x-source-url: https://api.mews.com/Swagger/distributor/swagger.json
  x-last-validated: '2026-06-02'
servers:
- url: https://api.mews.com
  description: Production
- url: https://api.mews-demo.com
  description: Demo / sandbox
security:
- MewsClientToken: []
  MewsAccessToken: []
tags:
- name: Customers
paths:
  /api/connector/v1/customers/getAll:
    post:
      tags:
      - Customers
      summary: Mews Get All Customers
      description: 'Returns all customers filtered by identifiers, emails, names and other filters.

        Note this operation uses [Pagination](https://mews-systems.gitbook.io/connector-api/guidelines/pagination/) and supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).'
      operationId: customers_getAll
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerFilterParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              ChainIds:
              - 3fa85f64-5717-4562-b3fc-2c963f66afa6
              - 5fcd1933-22f2-40b9-84da-7db04cbecec2
              CreatedUtc:
                StartUtc: '2018-01-01T00:00:00Z'
                EndUtc: '2018-01-30T00:00:00Z'
              UpdatedUtc:
                StartUtc: '2018-01-02T00:00:00Z'
                EndUtc: '2018-01-30T00:00:00Z'
              Extent:
                Customers: true
                Documents: false
                Addresses: false
              ActivityStates:
              - Active
              CustomerIds:
              - fadd5bb6-b428-45d5-94f8-fd0d89fece6d
              CompanyIds:
              - c6f5c82d-621a-4c8a-903b-1b0a9a23b71f
              Emails:
              - j.smith@example.com
              FirstNames:
              - John
              - Jane
              LastNames:
              - Doe
              - Smith
              LoyaltyCodes:
              - LL810213
              Limitation:
                Count: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResult'
              example:
                Customers:
                - Id: fadd5bb6-b428-45d5-94f8-fd0d89fece6d
                  ChainId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  Number: '12345'
                  Title: Mister
                  Sex: Male
                  FirstName: John
                  LastName: Smith
                  SecondLastName: Williams
                  NationalityCode: US
                  PreferredLanguageCode: en-GB
                  LanguageCode: en-US
                  BirthDate: '1983-12-31'
                  BirthCountryCode: null
                  BirthCountrySubdivisionCode: null
                  BirthPlace: New York City, NY
                  Occupation: Carpenter
                  Email: j.smith@example.com
                  HasOtaEmail: false
                  Phone: 00420123456789
                  TaxIdentificationNumber: '123456789'
                  LoyaltyCode: LL810213
                  AccountingCode: AC123
                  BillingCode: null
                  Notes: ''
                  CarRegistrationNumber: 1A2 3456
                  DietaryRequirements: null
                  CreatedUtc: '2018-01-01T00:00:00Z'
                  UpdatedUtc: '2018-01-02T00:00:00Z'
                  Passport: null
                  IdentityCard: null
                  Visa: null
                  DriversLicense: null
                  Address:
                    Id: f8495413-bf49-45dd-843c-44be7f365569
                    Line1: Somerford Road Hello House/135
                    Line2: null
                    City: Christchurch
                    PostalCode: BH23 3PY
                    CountryCode: GB
                    CountrySubdivisionCode: GB-ENG
                    Latitude: null
                    Longitude: null
                  AddressId: f8495413-bf49-45dd-843c-44be7f365569
                  Classifications:
                  - Returning
                  Options:
                  - SendMarketingEmails
                  ItalianDestinationCode: null
                  ItalianFiscalCode: null
                  ItalianLotteryCode: null
                  CompanyId: c6f5c82d-621a-4c8a-903b-1b0a9a23b71f
                  MergeTargetId: null
                  ActivityState: Active
                  IsActive: true
                  PreferredSpaceFeatures:
                  - OceanView
                  CreatorProfileId: 3cd637ef-4728-47f9-8fb1-afb900c9cdcf
                  UpdaterProfileId: 122fc063-ec6e-4198-b8db-6b168a59ffae
                Documents: null
                Cursor: fadd5bb6-b428-45d5-94f8-fd0d89fece6d
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersGetAll400Example:
                  summary: Default customers_getAll 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersGetAll401Example:
                  summary: Default customers_getAll 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersGetAll403Example:
                  summary: Default customers_getAll 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersGetAll408Example:
                  summary: Default customers_getAll 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersGetAll204Example:
                  summary: Default customers_getAll 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersGetAll429Example:
                  summary: Default customers_getAll 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersGetAll500Example:
                  summary: Default customers_getAll 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/customers/search:
    post:
      tags:
      - Customers
      summary: Mews Search Customers
      description: Searches for customers that are active at the moment in the enterprise (e.g. companions of checked-in reservations or paymasters).
      operationId: customers_search
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerSearchParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              Name: Smith
              ResourceId: null
              Extent:
                Customers: true
                Documents: false
                Addresses: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSearchResult'
              example:
                Customers:
                - Customer:
                    Id: fadd5bb6-b428-45d5-94f8-fd0d89fece6d
                    ChainId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    Number: '12345'
                    Title: Mister
                    Sex: Male
                    FirstName: John
                    LastName: Smith
                    SecondLastName: Williams
                    NationalityCode: US
                    PreferredLanguageCode: en-GB
                    LanguageCode: en-US
                    BirthDate: '1983-12-31'
                    BirthCountryCode: null
                    BirthCountrySubdivisionCode: null
                    BirthPlace: New York City, NY
                    Occupation: Carpenter
                    Email: j.smith@example.com
                    HasOtaEmail: false
                    Phone: 00420123456789
                    TaxIdentificationNumber: '123456789'
                    LoyaltyCode: LL810213
                    AccountingCode: AC123
                    BillingCode: null
                    Notes: ''
                    CarRegistrationNumber: 1A2 3456
                    DietaryRequirements: null
                    CreatedUtc: '2018-01-01T00:00:00Z'
                    UpdatedUtc: '2018-01-02T00:00:00Z'
                    Passport: null
                    IdentityCard: null
                    Visa: null
                    DriversLicense: null
                    Address:
                      Id: f8495413-bf49-45dd-843c-44be7f365569
                      Line1: Somerford Road Hello House/135
                      Line2: null
                      City: Christchurch
                      PostalCode: BH23 3PY
                      CountryCode: GB
                      CountrySubdivisionCode: GB-ENG
                      Latitude: null
                      Longitude: null
                    AddressId: f8495413-bf49-45dd-843c-44be7f365569
                    Classifications:
                    - Returning
                    Options:
                    - SendMarketingEmails
                    ItalianDestinationCode: null
                    ItalianFiscalCode: null
                    ItalianLotteryCode: null
                    CompanyId: c6f5c82d-621a-4c8a-903b-1b0a9a23b71f
                    MergeTargetId: null
                    ActivityState: Active
                    IsActive: true
                    PreferredSpaceFeatures:
                    - OceanView
                    CreatorProfileId: 3cd637ef-4728-47f9-8fb1-afb900c9cdcf
                    UpdaterProfileId: 122fc063-ec6e-4198-b8db-6b168a59ffae
                  Reservation: null
                Documents: null
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersSearch400Example:
                  summary: Default customers_search 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersSearch401Example:
                  summary: Default customers_search 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersSearch403Example:
                  summary: Default customers_search 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersSearch408Example:
                  summary: Default customers_search 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersSearch204Example:
                  summary: Default customers_search 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersSearch429Example:
                  summary: Default customers_search 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersSearch500Example:
                  summary: Default customers_search 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/customers/getOpenItems:
    post:
      tags:
      - Customers
      summary: Mews Get Customers Open Items
      description: Use [Get all payments](https://mews-systems.gitbook.io/connector-api/operations/payments#get-all-payments) and [Get all order items](https://mews-systems.gitbook.io/connector-api/operations/orderitems#get-all-order-items) instead.
      operationId: customers_getOpenItems
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerItemParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              CustomerIds:
              - 2a1a4315-7e6f-4131-af21-402cec59b8b9
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerItemResult'
              example:
                Customers:
                - CustomerId: 2a1a4315-7e6f-4131-af21-402cec59b8b9
                  OrderItems:
                  - Id: 35820535-b988-4d6f-80cf-ecb19cdc3e58
                    AccountId: 2a1a4315-7e6f-4131-af21-402cec59b8b9
                    OrderId: 6645113e-72cc-4f99-ab77-e4452911bf20
                    BillId: null
                    AccountingCategoryId: d250149e-a29d-4c70-b607-a1759faf7320
                    Amount:
                      Currency: GBP
                      NetValue: -5
                      GrossValue: -5
                      TaxValues:
                      - Code: UK-Z
                        Value: 0
                      Breakdown:
                        Items:
                        - TaxRateCode: UK-Z
                          NetValue: -5
                          TaxValue: 0
                    RevenueType: Additional
                    ConsumedUtc: '2017-04-04T15:13:39Z'
                    ClosedUtc: null
                    AccountingState: Open
                    Data:
                      Discriminator: Rebate
                      Value:
                        RebatedItemId: null
                  PaymentItems: []
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersGetOpenItems400Example:
                  summary: Default customers_getOpenItems 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersGetOpenItems401Example:
                  summary: Default customers_getOpenItems 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersGetOpenItems403Example:
                  summary: Default customers_getOpenItems 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersGetOpenItems408Example:
                  summary: Default customers_getOpenItems 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersGetOpenItems204Example:
                  summary: Default customers_getOpenItems 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersGetOpenItems429Example:
                  summary: Default customers_getOpenItems 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersGetOpenItems500Example:
                  summary: Default customers_getOpenItems 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      deprecated: true
      x-deprecatedMessage: Use [Get all payments](https://mews-systems.gitbook.io/connector-api/operations/payments#get-all-payments) and [Get all order items](https://mews-systems.gitbook.io/connector-api/operations/orderitems#get-all-order-items) instead.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/customers/add:
    post:
      tags:
      - Customers
      summary: Mews Add Customer
      description: Adds a new customer to the system and returns details of the added customer. If a customer with the specified email already exists, and `OverwriteExisting` is set to `true`, then the existing customer profile information is overwritten and the existing customer data returned. If `OverwriteExisting` is set to `false`, an error response is returned. Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).
      operationId: customers_add
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerAddParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              Title: Miss
              FirstName: Thea
              LastName: Carbone
              BirthDate: '1985-09-30'
              BirthPlace: Pescara (BI)
              Occupation: Giornalista
              Email: thea@quotidiano.example
              Phone: +39 06 555 5555
              Notes: Check-in notturno.
              CarRegistrationNumber: AA 111AA
              TaxIdentificationNumber: ZGNZLR17U72P554F
              Address:
                Line1: Via Antimo 474 Piano 5
                City: Liborio laziale
                PostalCode: '30228'
                CountryCode: IT
                CountrySubdivisionCode: IT-65
              Classifications:
              - Media
              - FriendOrFamily
              Options:
              - SendMarketingEmails
              ChainId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              OverwriteExisting: false
              ItalianDestinationCode: '7654321'
              ItalianFiscalCode: ZGNZLR17U72P554F
              ItalianLotteryCode: AB12345
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
              example:
                Id: 99b4f0af-9558-463b-8452-07a9bc414708
                ChainId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                Number: '390881'
                Title: Miss
                Sex: null
                FirstName: Thea
                LastName: Carbone
                SecondLastName: null
                NationalityCode: null
                PreferredLanguageCode: null
                LanguageCode: null
                BirthDate: '1985-09-30'
                BirthCountryCode: null
                BirthCountrySubdivisionCode: null
                BirthPlace: Pescara (BI)
                Occupation: Giornalista
                Email: thea@quotidiano.example
                HasOtaEmail: false
                Phone: +39 06 555 5555
                TaxIdentificationNumber: ZGNZLR17U72P554F
                LoyaltyCode: null
                AccountingCode: null
                BillingCode: null
                Notes: Check-in notturno.
                CarRegistrationNumber: AA 111AA
                DietaryRequirements: null
                CreatedUtc: '2024-09-17T12:22:33Z'
                UpdatedUtc: '2024-10-12T09:45:00Z'
                Passport: null
                IdentityCard: null
                Visa: null
                DriversLicense: null
                Address:
                  Id: 81f62f08-26d5-408f-9b0d-d030957dc799
                  Line1: Via Antimo 474 Piano 5
                  Line2: null
                  City: Liborio laziale
                  PostalCode: '30228'
                  CountryCode: IT
                  CountrySubdivisionCode: IT-65
                  Latitude: 28.56333
                  Longitude: -121.243143
                AddressId: 81f62f08-26d5-408f-9b0d-d030957dc799
                Classifications:
                - Media
                - FriendOrFamily
                Options: []
                ItalianDestinationCode: '7654321'
                ItalianFiscalCode: ZGNZLR17U72P554F
                ItalianLotteryCode: AB12345
                CompanyId: f3b4f0af-9558-463b-8452-07a9bc414708
                MergeTargetId: null
                ActivityState: null
                IsActive: true
                PreferredSpaceFeatures:
                - LowerBed
                CreatorProfileId: 3cd637ef-4728-47f9-8fb1-afb900c9cdcf
                UpdaterProfileId: 122fc063-ec6e-4198-b8db-6b168a59ffae
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersAdd400Example:
                  summary: Default customers_add 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersAdd401Example:
                  summary: Default customers_add 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersAdd403Example:
                  summary: Default customers_add 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersAdd408Example:
                  summary: Default customers_add 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersAdd204Example:
                  summary: Default customers_add 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersAdd429Example:
                  summary: Default customers_add 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersAdd500Example:
                  summary: Default customers_add 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/customers/update:
    post:
      tags:
      - Customers
      summary: Mews Update Customer
      description: Updates personal information of a customer. Note that if any of the fields is left blank, it won't clear the field in Mews. The field will be left intact. In case of email update, the email will change in Mews only if there is no other customer profile in the hotel with such email. Otherwise an error response is returned. Note this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property).
      operationId: customers_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdateParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              ChainId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              CustomerId: 99b4f0af-9558-463b-8452-07a9bc414708
              Title: Miss
              FirstName: Thea
              LastName: Carbone
              BirthDate: '1985-09-30'
              BirthPlace: Pescara (BI)
              Occupation: Giornalista
              Email: thea@quotidiano.example
              Phone: +39 06 555 5555
              Notes: Check-in notturno.
              CarRegistrationNumber: AA 111AA
              TaxIdentificationNumber: ZGNZLR17U72P554F
              CompanyId: f3b4f0af-9558-463b-8452-07a9bc414708
              Address:
                Line1: Via Antimo 474 Piano 5
                City: Liborio laziale
                PostalCode: '30228'
                CountryCode: IT
                CountrySubdivisionCode: IT-65
              Classifications:
              - Media
              - FriendOrFamily
              Options:
              - SendMarketingEmails
              ItalianDestinationCode:
                Value: '7654321'
              ItalianFiscalCode:
                Value: ZGNZLR17U72P554F
              ItalianLotteryCode:
                Value: AB12345
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
              example:
                Id: 99b4f0af-9558-463b-8452-07a9bc414708
                ChainId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                Number: '390881'
                Title: Miss
                Sex: null
                FirstName: Thea
                LastName: Carbone
                SecondLastName: null
                NationalityCode: null
                PreferredLanguageCode: null
                LanguageCode: null
                BirthDate: '1985-09-30'
                BirthCountryCode: null
                BirthCountrySubdivisionCode: null
                BirthPlace: Pescara (BI)
                Occupation: Giornalista
                Email: thea@quotidiano.example
                HasOtaEmail: false
                Phone: +39 06 555 5555
                TaxIdentificationNumber: ZGNZLR17U72P554F
                LoyaltyCode: null
                AccountingCode: null
                BillingCode: null
                Notes: Check-in notturno.
                CarRegistrationNumber: AA 111AA
                DietaryRequirements: null
                CreatedUtc: '2024-09-17T12:22:33Z'
                UpdatedUtc: '2024-10-12T09:45:00Z'
                Passport: null
                IdentityCard: null
                Visa: null
                DriversLicense: null
                Address:
                  Id: 81f62f08-26d5-408f-9b0d-d030957dc799
                  Line1: Via Antimo 474 Piano 5
                  Line2: null
                  City: Liborio laziale
                  PostalCode: '30228'
                  CountryCode: IT
                  CountrySubdivisionCode: IT-65
                  Latitude: 28.56333
                  Longitude: -121.243143
                AddressId: 81f62f08-26d5-408f-9b0d-d030957dc799
                Classifications:
                - Media
                - FriendOrFamily
                Options: []
                ItalianDestinationCode: '7654321'
                ItalianFiscalCode: ZGNZLR17U72P554F
                ItalianLotteryCode: AB12345
                CompanyId: f3b4f0af-9558-463b-8452-07a9bc414708
                MergeTargetId: null
                ActivityState: null
                IsActive: true
                PreferredSpaceFeatures:
                - LowerBed
                CreatorProfileId: 3cd637ef-4728-47f9-8fb1-afb900c9cdcf
                UpdaterProfileId: 122fc063-ec6e-4198-b8db-6b168a59ffae
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersUpdate400Example:
                  summary: Default customers_update 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersUpdate401Example:
                  summary: Default customers_update 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersUpdate403Example:
                  summary: Default customers_update 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersUpdate408Example:
                  summary: Default customers_update 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersUpdate204Example:
                  summary: Default customers_update 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersUpdate429Example:
                  summary: Default customers_update 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersUpdate500Example:
                  summary: Default customers_update 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/customers/merge:
    post:
      tags:
      - Customers
      summary: Mews Merge Customers
      description: Use [Merge accounts](https://mews-systems.gitbook.io/connector-api/operations/accounts#merge-accounts) instead.
      operationId: customers_merge
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerMergeParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              SourceCustomerId: e11801ff-4148-4010-87f3-0d111e2893e3
              TargetCustomerId: 35d4b117-4e60-44a3-9580-c582117eff98
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
              examples:
                CustomersMerge200Example:
                  summary: Default customers_merge 200 response
                  x-microcks-default: true
                  value: {}
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersMerge400Example:
                  summary: Default customers_merge 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersMerge401Example:
                  summary: Default customers_merge 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersMerge403Example:
                  summary: Default customers_merge 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersMerge408Example:
                  summary: Default customers_merge 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersMerge204Example:
                  summary: Default customers_merge 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersMerge429Example:
                  summary: Default customers_merge 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersMerge500Example:
                  summary: Default customers_merge 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      deprecated: true
      x-deprecatedMessage: Use [Merge accounts](https://mews-systems.gitbook.io/connector-api/operations/accounts#merge-accounts) instead.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/customers/addFile:
    post:
      tags:
      - Customers
      summary: Mews Add Customer File
      description: "Attaches the specified file to the customer profile. \n\nAllowed MIME types: `application/pdf`, `image/bmp`, `image/gif`, `image/jpeg`, `image/png`, `image/tiff`.\n\nNote this operation supports [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/guidelines/multi-property)."
      operationId: customers_addFile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerFileParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              CustomerId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
              Name: document.pdf
              Type: application/pdf
              Data: JVBERi0xLjAKMSAwIG9iajw8L1BhZ2VzIDIgMCBSPj5lbmRvYmogMiAwIG9iajw8L0tpZHNbMyAwIFJdL0NvdW50IDE+PmVuZG9iaiAzIDAgb2JqPDwvTWVkaWFCb3hbMCAwIDMgM10+PmVuZG9iagp0cmFpbGVyPDwvUm9vdCAxIDAgUj4+Cg==
              ChainId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerAddFileResult'
              example:
                FileId: f039f5b4-ff18-4510-9086-92b14a68ed78
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersAddFile400Example:
                  summary: Default customers_addFile 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersAddFile401Example:
                  summary: Default customers_addFile 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersAddFile403Example:
                  summary: Default customers_addFile 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersAddFile408Example:
                  summary: Default customers_addFile 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersAddFile204Example:
                  summary: Default customers_addFile 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersAddFile429Example:
                  summary: Default customers_addFile 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersAddFile500Example:
                  summary: Default customers_addFile 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/customers/getRelationships:
    post:
      tags:
      - Customers
      summary: Mews Get Customers Relationships
      description: Returns relationships between customers (e.g. Spouse, Friend) for the provided unique identifiers of customers.
      operationId: customers_getRelationships
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerRelationshipFilterParameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
              CustomerIds:
              - fadd5bb6-b428-45d5-94f8-fd0d89fece6d
              - bccdafd1-3e44-439d-861f-341526b597a9
              ChainIds:
              - 3fa85f64-5717-4562-b3fc-2c963f66afa6
              - 5fcd1933-22f2-40b9-84da-7db04cbecec2
              Limitation:
                Count: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerRelationshipResult'
              example:
                CustomerRelationships:
                - CustomerId: cbe8a32e-3eb7-4226-baf4-69455a0eeaf5
                  RelatedCustomerId: cbe8a32e-3eb7-4226-baf4-69455a0eeaf6
                  Relationship: Other
                - CustomerId: cbe8a32e-3eb7-4226-baf4-69455a0eeaf6
                  RelatedCustomerId: cbe8a32e-3eb7-4226-baf4-69455a0eeaf5
                  Relationship: Other
                Cursor: null
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersGetRelationships400Example:
                  summary: Default customers_getRelationships 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersGetRelationships401Example:
                  summary: Default customers_getRelationships 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersGetRelationships403Example:
                  summary: Default customers_getRelationships 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersGetRelationships408Example:
                  summary: Default customers_getRelationships 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersGetRelationships204Example:
                  summary: Default customers_getRelationships 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersGetRelationships429Example:
                  summary: Default customers_getRelationships 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CustomersGetRelationships500Example:
                  summary: Default customers_getRelationships 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-restricted: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    StringUpdateValue:
      title: String update value
      type: object
      properties:
        Value:
          type:
          - string
          - 'null'
          description: Value which is to be updated.
          example: string
      additionalProperties: false
      x-schema-id: StringUpdateValue
    Amount:
      title: Amount
      required:
      - Breakdown
      - Currency
      - GrossValue
      - NetValue
      - TaxValues
      type: object
      properties:
        Currency:
          minLength: 1
          type: string
          description: ISO-4217 code of the [Currency](https://mews-systems.gitbook.io/connector-api/operations/currencies/#currency).
          format: currency
          example: EUR
        NetValue:
          type: number
          description: Net value without taxes.
          format: double
          example: 100.0
        GrossValue:
          type: number
          description: Gross value including all taxes.
          format: double
          example: 100.0
        TaxValues:
          type: array
          items:
            $ref: '#/components/schemas/TaxValue'
          description: The tax values applied.
        Breakdown:
          title: Tax breakdown
          allOf:
          - $ref: '#/components/schemas/TaxBreakdown'
          description: Information about individual tax amounts.
          example: string
      additionalProperties: false
      description: ''
      x-schema-id: Amount
    SexEnum:
      title: Sex
      enum:
      - Male
      - Female
      type: string
      description: '


        Male


        Female'
      x-enumNames:
      - Male
      - Female
      x-enumDescriptions:
      - ''
      - ''
    CustomerFileParameters:
      title: CustomerFileParameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - CustomerId
      - Data
      - Name
      - Type
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        ChainId:
          type:
          - string
          - 'null'
          description: Unique identifier of the chain. Required when using [Portfolio Access Tokens](https://mews-systems.gitbook.io/connector-api/concepts/multi-property), ignored otherwise.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CustomerId:
          type: string
          description: Unique identifier of the [Customer](https://mews-systems.gitbook.io/connector-api/operations/#customer).
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Name:
          minLength: 1
          type: string
          description: Name of the file.
          example: Example Name
        Type:
          minLength: 1
          type: string
          description: MIME type of the file (e.g. `application/pdf`).
          example: string
        Data:
          minLength: 1
          type: string
          description: Base64-encoded data of the file.
          example: string
      additionalProperties: false
      x-schema-id: CustomerFileParameters
    CustomerRelationshipResult:
      title: CustomerRelationshipResult
      required:
      - CustomerRelationships
      type: object
      properties:
        CustomerRelationships:
          type: array
          items:
            $ref: '#/components/schemas/CustomerRelationship'
          description: The relationships for the customers.
        Cursor:
          type:
          - string
          - 'null'
          description: Unique identifier of the item one newer in time order than the items to be returned. If Cursor is not specified, i.e. null, then the latest or most recent items will be returned.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: CustomerRelationshipResult
    CustomerSearchResult:
      title: CustomerSearchResult
      required:
      - Customers
      type: object
      properties:
        Customers:
          type: array
          items:
            $ref: '#/components/schemas/ChargeableCustomer'
          description: The customer search results.
        Documents:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/IdentityDocument'
          description: The identity documents of customers.
          deprecated: true
          x-deprecatedMessage: Use [Get all identity documents](https://mews-systems.gitbook.io/connector-api/operations/identitydocuments#get-all-identity-documents) to fetch identity documents.
      additionalProperties: false
      x-schema-id: CustomerSearchResult
    AccountingItem:
      title: Accounting item
      type: object
      properties:
        Id:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AccountId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CustomerId:
          type:
          - string
          - 'null'
          format: uuid
          deprecated: true
          x-deprecatedMessage: Use `AccountId` instead.
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        OrderId:
          type:
          - string
          - 'null'
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ServiceId:
          type:
          - string
          - 'null'
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        ProductId:
          type:
          - string
          - 'null'
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        BillId:
          type:
          - string
          - 'null'
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        InvoiceId:
          type:
          - string
          - 'null'
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AccountingCategoryId:
          type:
          - string
          - 'null'
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        CreditCardId:
          type:
          - string
          - 'null'
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Type:
          type:
          - string
          - 'null'
          example: string
        SubType:
          type:
          - string
          - 'null'
          example: string
        Name:
          type:
          - string
          - 'null'
          example: Example Name
        Notes:
          type:
          - string
          - 'null'
          example: string
        ConsumptionUtc:
          type:
          - string
          - 'null'
          example: string
        ClosedUtc:
          type:
          - string
          - 'null'
          example: string
        State:
          type:
          - string
          - 'null'
          example: string
        SubState:
          type:
          - string
          - 'null'
          example: string
        Amount:
          title: Extended amount
          allOf:
          - $ref: '#/components/schemas/ExtendedAmount'
          description: ''
          example: string
        TaxExemptionReasonCode:
          type:
          - string
          - 'null'
          description: Code of tax exemption reason. **Restricted!** This property is currently intended for Mews' internal usage and may be subject to change.
          example: string
      additionalProperties: false
      x-schema-id: AccountingItem
    ResourceFeatureClassification:
      title: Resource feature classification
      enum:
      - SeaView
      - RiverView
      - OceanView
      - TwinBeds
      - DoubleBed
      - RollawayBed
      - UpperBed
      - LowerBed
      - Balcony
      - AccessibleBathroom
      - AccessibleRoom
      - ElevatorAccess
      - HighFloor
      - Kitchenette
      - AirConditioning
      - PrivateJacuzzi
      - PrivateSauna
      - EnsuiteRoom
      - PrivateBathroom
      - SharedBathroom
      type: string
      description: Classification of `ResourceFeature`.
    TimeFilterInterval:
      title: Time interval
      type: object
      properties:
        StartUtc:
          type:
          - string
          - 'null'
          format: date-time
          example: '2026-06-02T14:30:00Z'
        EndUtc:
          type:
          - string
          - 'null'
          format: date-time
          example: '2026-06-02T14:30:00Z'
      additionalProperties: false
      description: "When a time interval is used for **filtering** (for example in parameters such as `CreatedUtc.StartUtc` / `CreatedUtc.EndUtc`), the following rules apply:\n\n- **Start equals End (equality mode)**  \n  If `StartUtc` and `EndUtc` are exactly the same timestamp, the filter is treated as an equality check for that precise moment in time:\n  \n  ```\n  CreatedUtc == StartUtc\n  ```\n  \n  This does not represent an interval; only records with `CreatedUtc` equal to that exact instant are returned.\n\n- **Start differs from End (interval mode)**  \n  If `StartUtc` and `EndUtc` are different, the filter is evaluated as a half-open interval:\n  \n  ```\n  StartUtc <= CreatedUtc < EndUtc\n  ```\n  \n  In other words, the start is inclusive and the end is exclusive.\n\nMake sure your integration takes inclusive Start / exclusive End behavior of time intervals into account so that no records at the boundaries are omitted."
      x-schema-id: TimeFilterInterval
    ReservationPurpose:
      title: Reservation purpose
      enum:
      - Leisure
      - Business
      - Student
      type: string
    ServiceOrderStateOld:
      title: Service order state (ver 2017-04-12)
      enum:
      - Enquired
      - Confirmed
      - Started
      - Processed
      - Canceled
      - Optional
      - Requested
      type: string
    ExtendedAmount:
      title: Extended amount
      required:
      - Breakdown
      - Currency
      - GrossValue
      - NetValue
      - TaxValues
      type: object
      properties:
        Currency:
          minLength: 1
          type: string
          description: ISO-4217 code of the [Currency](https://mews-systems.gitbook.io/connector-api/operations/currencies/#currency).
          format: currency
          example: EUR
        NetValue:
          type: number
          description: Net value without taxes.
          format: double
          example: 100.0
        GrossValue:
          type: number
          description: Gross value including all taxes.
          format: double
          example: 100.0
        TaxValues:
          type: array
          items:
            $ref: '#/components/schemas/TaxValue'
          description: The tax values applied.
        Breakdown:
          title: Tax breakdown
          allOf:
          - $ref: '#/components/schemas/TaxBreakdown'
          description: Information about individual tax amounts.
          example: string
        Value:
          type:
          - number
          - 'null'
          format: double
          example: 100.0
        Net:
          type:
          - number
          - 'null'
          format: double
          example: 100.0
        Tax:
          type:
          - number
          - 'null'
          format: double
          example: 100.0
        TaxRate:
          type:
          - number
          - 'null'
          format: double
          example: 100.0
      additionalProperties: false
      description: ''
      x-schema-id: ExtendedAmount
    CustomerClassificationEnum:
      title: Customer classification
      enum:
      - PaymasterAccount
      - Blacklist
      - Media
      - LoyaltyProgram
      - PreviousComplaint
      - Returning
      - Staff
      - FriendOrFamily
      - TopManagement
      - Important
      - VeryImportant
      - Problematic
      - Cashlist
      - DisabledPerson
      - Military
      - Airline
      - HealthCompliant
      - InRoom
      - WaitingForRoom
      - Student
      - Blocklist
      type: string
      description: '


        PaymasterAccount


        Blacklist (Deprecated, use Blocklist instead.)


        Media


        LoyaltyProgram


        PreviousComplaint


        Returning


        Staff


        FriendOrFamily


        TopManagement


        Important


        VeryImportant


        Problematic


        Cashlist


        DisabledPerson


        Military


        Airline


        HealthCompliant


        InRoom


        WaitingForRoom


        Student


        Blocklist'
      x-enumNames:
      - PaymasterAccount
      - Blacklist
      - Media
      - LoyaltyProgram
      - PreviousComplaint
      - Returning
      - Staff
      - FriendOrFamily
      - TopManagement
      - Important
      - VeryImportant
      - Problematic
      - Cashlist
      - DisabledPerson
      - Military
      - Airline
      - HealthCompliant
      - InRoom
      - WaitingForRoom
      - Student
      - Blocklist
      x-enumDescriptions:
      - ''
      - Deprecated, use Blocklist instead.
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
    CustomerFilterParameters:
      title: CustomerFilterParameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - Extent
      - Limitation
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        ChainIds:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of the chains. Required when using Portfolio Access Tokens, ignored otherwise.
        CreatedUtc:
          title: Time interval
          allOf:
          - $ref: '#/components/schemas/TimeFilterInterval'
          description: Interval in which Customer was created.
          x-max-interval-in-months: 3
          example: string
        UpdatedUtc:
          title: Time interval
          allOf:
          - $ref: '#/components/schemas/TimeFilterInterval'
          description: Interval in which Customer was updated.
          x-max-interval-in-months: 3
          example: string
        Extent:
          title: Customer extent
          allOf:
          - $ref: '#/components/schemas/CustomerExtent'
          description: Extent of data to be returned.
          example: string
        DeletedUtc:
          title: Time interval
          allOf:
          - $ref: '#/components/schemas/TimeFilterInterval'
          description: Interval in which Customer was deleted. `ActivityStates` value `Deleted` should be provided with this filter to get expected results.
          x-max-interval-in-months: 3
          example: string
        ActivityStates:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ActivityStates'
          description: Whether to return only active, only deleted or both records.
        CustomerIds:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifiers of Customers. Required if no other filter is provided.
        CompanyIds:
          maxItems: 1
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
          description: Unique identifier of the Company the customer is associated with.
        Emails:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
          description: Emails of the [Customers](https://mews-systems.gitbook.io/connector-api/operations/#customer).
        FirstNames:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
          description: First names of the [Customers](https://mews-systems.gitbook.io/connector-api/operations/#customer).
        LastNames:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
          description: Last names of the [Customers](https://mews-systems.gitbook.io/connector-api/operations/#customer).
        LoyaltyCodes:
          maxItems: 1000
          minItems: 1
          type:
          - array
          - 'null'
          items:
            type: string
          description: Loyalty codes of the [Customers](https://mews-systems.gitbook.io/connector-api/operations/#customer).
        Limitation:
          allOf:
          - $ref: '#/components/schemas/Limitation'
          description: Limitation on the quantity of data returned.
          example: string
      additionalProperties: false
      x-schema-id: CustomerFilterParameters
    TaxBreakdownItem:
      title: Tax breakdown item
      required:
      - NetValue
      - TaxValue
      type: object
      properties:
        TaxRateCode:
          type:
          - string
          - 'null'
          description: Tax rate code for the item. `null` for untaxed amounts.
          example: string
        NetValue:
          type: number
          description: The net value that the tax is calculated from.
          format: double
          example: 100.0
        TaxValue:
          type: number
          description: The value of the tax.
          format: double
          example: 100.0
      additionalProperties: false
      x-schema-id: TaxBreakdownItem
    PaymentType:
      title: Payment item data discriminator
      enum:
      - CreditCard
      - Invoice
      - Cash
      - Unspecified
      - BadDebts
      - WireTransfer
      - ExchangeRateDifference
      - ExchangeRoundingDifference
      - BankCharges
      - Cheque
      - Other
      type: string
      x-enumDescriptions:
      - '[Credit card payment item data](https://mews-systems.gitbook.io/connector-api/operations/accountingitems#credit-card-payment-item-data)'
      - '[Invoice payment item data](https://mews-systems.gitbook.io/connector-api/operations/accountingitems#invoice-payment-item-data)'
      - No additional data.
      - No additional data.
      - No additional data.
      - No additional data.
      - No additional data.
      - No additional data.
      - No additional data.
      - No additional data.
      - No additional data.
    PaymentCardPaymentData:
      title: Credit card payment item data
      type: object
      properties:
        PaymentCardId:
          type:
          - string
          - 'null'
          description: Unique identifier of the `CreditCard`.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: PaymentCardPaymentData
    CustomerAddParameters:
      title: CustomerAddParameters
      required:
      - AccessToken
      - Client
      - ClientToken
      - LastName
      - OverwriteExisting
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
        Title:
          anyOf:
          - $ref: '#/components/schemas/Title'
          description: Title prefix of the customer.
          example: string
        FirstName:
          type:
          - string
          - 'null'
          description: First name of the customer.
          example: Example Name
        LastName:
          minLength: 1
          type: string
          description: Last name of the customer.
          example: Example Name
        SecondLastName:
          type:
          - string
          - 'null'
          description: Second last name of the customer.
          example: Example Name
        NationalityCode:
          type:
          - string
          - 'null'
          description: ISO 3166-1 code of the `Country`.
          example: string
        PreferredLanguageCode:
          type:
          - string
          - 'null'
          description: 'Language and culture code of the customer''s preferred language, according to their profile. For example: `en-GB`, `fr-CA`.'
          example: string
        Sex:
          anyOf:
          - $ref: '#/components/schemas/Sex'
          description: Sex of the customer.
          example: string
        BirthDate:
          type:
          - string
          - 'null'
          description: Date of birth in ISO 8601 format.
          format: date
          example: '2026-06-02'
        BirthCountryCode:
          type:
          - string
          - 'null'
          description: Country of birth.
          example: string
        BirthCountrySubdivisionCode:
          type:
          - string
          - 'null'
          description: Province of birth.
          example: string
        BirthPlace:
          type:
          - string
          - 'null'
          description: Place of birth.
          example: string
        Occupation:
          type:
          - string
          - 'null'
          description: Occupation of the customer.
          example: string
        Email:
          type:
          - string
          - 'null'
          description: Email address of the customer.
          format: email
          example: partner@example.com
        Phone:
          type:
          - string
          - 'null'
          description: Phone number of the customer (possibly mobile).
          format: tel
          example: string
        LoyaltyCode:
          type:
          - string
          - 'null'
          description: Loyalty code of the customer.
          example: string
        Notes:
          type:
          - string
          - 'null'
          description: Internal notes about the customer.
          example: string
        CarRegistrationNumber:
          maxLength: 255
          type:
          - string
          - 'null'
          description: Registration number of the customer's car.
          example: '1001'
        DietaryRequirements:
          maxLength: 255
          type:
          - string
          - 'null'
          description: Customer's dietary requirements, e.g. Vegan, Halal.
          example: string
        TaxIdentificationNumber:
          type:
          - string
          - 'null'
          description: Tax identification number of the customer.
          example: '1001'
        CompanyId:
          type:
          - string
          - 'null'
          description: Unique identifier of `Company` the customer is associated with.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Address:
          title: Address parameters
          allOf:
          - $ref: '#/components/schemas/AddressParameters'
          description: Address of the customer.
          example: string
        IdentityCard:
          title: Identity document parameters
          allOf:
          - $ref: '#/components/schemas/DocumentParameters'
          description: Identity card details of the customer.
          deprecated: true
          x-deprecatedMessage: Use [Add identity documents](https://mews-systems.gitbook.io/connector-api/operations/identitydocuments#add-identity-documents) to add document.
          example: string
        Passport:
          title: Identity document parameters
          allOf:
          - $ref: '#/components/schemas/DocumentParameters'
          description: Passport details of the customer.
          deprecated: true
          x-deprecatedMessage: Use [Add identity documents](https://mews-systems.gitbook.io/connector-api/operations/identitydocuments#add-identity-documents) to add document.
          example: string
        Visa:
          title: Identity document parameters
          allOf:
          - $ref: '#/components/schemas/DocumentParameters'
          description: Visa details of the customer.
          deprecated: true
          x-deprecatedMessage: Use [Add identity documents](https://mews-systems.gitbook.io/connector-api/operations/identitydocuments#add-identity-documents) to add document.
          example: string
        DriversLicense:
          title: Identity document parameters
          allOf:
          - $ref: '#/components/schemas/DocumentParameters'
          description: Drivers license details of the customer.
          deprecated: true
          x-deprecatedMessage: Use [Add identity documents](https://mews-systems.gitbook.io/connector-api/operations/identitydocuments#add-identity-documents) to add document.
          example: string
        Classifications:
          uniqueItems: true
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomerClassificationEnum'
          description: Classifications of the customer.
        Options:
          uniqueItems: true
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomerOptionEnum'
          description: Options of the customer.
        ChainId:
          type:
          - string
          - 'null'
          description: Unique identifier of the chain. Required when using `PortfolioAccessTokens`, ignored otherwise.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        OverwriteExisting:
          type: boolean
          description: Whether an existing customer should be overwritten in case of duplicity. This applies only to basic personal information (`Title`, `FirstName`, `LastName`, ...).
          example: true
        ItalianDestinationCode:
          type:
          - string
          - 'null'
          description: Value of Italian destination code.
          example: string
        ItalianFiscalCode:
          type:
          - string
          - 'null'
          description: Value of Italian fiscal code.
          example: string
        ItalianLotteryCode:
          maxLength: 15
          minLength: 2
          type:
          - string
          - 'null'
          description: Value of Italian lottery code.
          example: string
      additionalProperties: false
      x-schema-id: CustomerAddParameters
    CustomerExtent:
      title: Customer extent
      type: object
      properties:
        Customers:
          type:
          - boolean
          - 'null'
          description: Whether the response should contain information about customers.
          example: true
        Documents:
          type:
          - boolean
          - 'null'
          description: Whether the response should contain identity documents of customers.
          deprecated: true
          x-deprecatedMessage: Use [Get all identity documents](https://mews-systems.gitbook.io/connector-api/operations/identitydocuments#get-all-identity-documents) instead.
          example: true
        Addresses:
          type:
          - boolean
          - 'null'
          description: Whether the response should contain addresses of customers.
          example: true
      additionalProperties: false
      description: ''
      x-schema-id: CustomerExtent
    CustomerRelationship:
      title: CustomerRelationship
      required:
      - CustomerId
      - RelatedCustomerId
      - Relationship
      type: object
      properties:
        CustomerId:
          type: string
          description: Unique identifier of the customer in the relationship.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        RelatedCustomerId:
          type: string
          description: Unique identifier of the related customer.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Relationship:
          title: Customer relationship type
          allOf:
          - $ref: '#/components/schemas/CustomerRelationshipTypeEnum'
          description: 'Type of relationship between the two customers (e.g. Child = the related customer is the child of this customer).


            Spouse


            Child


            Parent


            OtherFamily (Any familial relationship that doesn''t fit for the options provided)


            Friend


            Colleague


            Other'
          x-enumNames:
          - Spouse
          - Child
          - Parent
          - OtherFamily
          - Friend
          - Colleague
          - Other
          x-enumDescriptions:
          - ''
          - ''
          - ''
          - Any familial relationship that doesn't fit for the options provided
          - ''
          - ''
          - ''
          x-extensible: true
          example: string
      additionalProperties: false
      x-schema-id: CustomerRelationship
    AddressParameters:
      title: Address parameters
      type: object
      properties:
        Line1:
          type:
          - string
          - 'null'
          description: First line of the address.
          example: string
        Line2:
          type:
          - string
          - 'null'
          description: Second line of the address.
          example: string
        City:
          type:
          - string
          - 'null'
          description: The city.
          example: string
        PostalCode:
          type:
          - string
          - 'null'
          description: Postal code.
          format: postal-code
          example: string
        CountryCode:
          type:
          - string
          - 'null'
          description: ISO 3166-1 code of the Country.
          example: string
        CountrySubdivisionCode:
          type:
          - string
          - 'null'
          description: ISO 3166-2 code of the administrative division, e.g. DE-BW
          example: string
      additionalProperties: false
      description: New address details.
      x-schema-id: AddressParameters
    PaymentItemOld:
      title: Payment item
      required:
      - AccountId
      - AccountingState
      - Amount
      - ConsumedUtc
      - Data
      - Id
      - OriginalAmount
      - State
      type: object
      properties:
        Id:
          type: string
          description: Unique identifier of the item.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AccountId:
          type: string
          description: Unique identifier of the account (for example `Customer`) the item belongs to.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        BillId:
          type:
          - string
          - 'null'
          description: Unique identifier of the `Bill` the item is assigned to.
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        AccountingCategoryId:
          type:
          - string
[...]
