openapi: 3.2.0
info:
  title: Mews Booking Engine API (Distributor) Account notes Countries API
  version: v1
  description: The Mews Booking Engine API (historically the Distributor API, served from /api/distributor/v1) lets developers build guest-facing booking engines that create reservations directly in Mews. It exposes enterprise configuration, availability, pricing, products, vouchers, payment cards, and reservation group creation for front-end client consumption.
  x-generated-from: documentation
  x-source-url: https://api.mews.com/Swagger/distributor/swagger.json
  x-last-validated: '2026-06-02'
servers:
- url: https://api.mews.com
  description: Production
- url: https://api.mews-demo.com
  description: Demo / sandbox
security:
- MewsClientToken: []
  MewsAccessToken: []
tags:
- name: Countries
paths:
  /api/distributor/v1/countries/getAll:
    post:
      tags:
      - Countries
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingEngineParameters'
            examples:
              CountriesGetAllRequestExample:
                summary: Default countries_getAll request
                x-microcks-default: true
                value:
                  Client: string
                  LanguageCode: string
                  CultureCode: string
                  FullAmounts: true
                  Session: string
                  ConfigurationId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountryResult'
              examples:
                CountriesGetAll200Example:
                  summary: Default countries_getAll 200 response
                  x-microcks-default: true
                  value:
                    Countries:
                    - Code: string
                      SovereignCountryCode: string
                      Name: Example Name
      operationId: countries_getAll
      summary: Mews Get All
      description: Get All via the Mews Booking Engine (Distributor) API countries resource.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/connector/v1/countries/getAll:
    post:
      tags:
      - Countries
      summary: Mews Get All Countries
      description: Returns all countries supported by the API.
      operationId: countries_getAll
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Parameters'
            example:
              ClientToken: E0D439EE522F44368DC78E1BFB03710C-D24FB11DBE31D4621C4817E028D9E1D
              AccessToken: C66EF7B239D24632943D115EDE9CB810-EA00F8FD8294692C940F6B5A8F9453D
              Client: Sample Client 1.0.0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountryResult_2'
              example:
                Countries:
                - Code: GB
                  EnglishName: United Kingdom of Great Britain and Northern Ireland
                - Code: US
                  EnglishName: United States of America
                CountrySubdivisions:
                - Code: AU-NSW
                  CountryCode: AU
                  EnglishName: New South Wales
                - Code: AU-QLD
                  CountryCode: AU
                  EnglishName: Queensland
                CountryAlliances:
                - Code: SCHENGEN
                  EnglishName: Schengen Area
                  CountryCodes:
                  - AT
                  - BE
                  - CZ
                  - '...'
        '400':
          description: Error caused by the client app, e.g. in case of malformed request or invalid identifier of a resource. In most cases, such an error signifies a bug in the client app (consumer of the API).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CountriesGetAll400Example:
                  summary: Default countries_getAll 400 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '401':
          description: Error caused by usage of invalid ClientToken, AccessToken, or you may not have the necessary permission to use the endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CountriesGetAll401Example:
                  summary: Default countries_getAll 401 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '403':
          description: Server error that should be reported to the end user of the client app. Happens for example when the server-side validation fails or when a business-logic check is violated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CountriesGetAll403Example:
                  summary: Default countries_getAll 403 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '408':
          description: Error caused by heavy request that takes too long to process (typically tens of seconds). To get around this, request data in smaller batches. For more information, see [Request timeouts](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-timeouts)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CountriesGetAll408Example:
                  summary: Default countries_getAll 408 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '204':
          description: Server has successfully fulfilled the request and there is no additional information to send back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CountriesGetAll204Example:
                  summary: Default countries_getAll 204 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '429':
          description: Error caused by too many requests sent in a given amount of time. Response contains `Retry-After` header indicating how long the user agent should wait before making a follow-up request. For more information, see [Request limits](https://mews-systems.gitbook.io/connector-api/guidelines/requests#request-limits).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CountriesGetAll429Example:
                  summary: Default countries_getAll 429 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
        '500':
          description: Unexpected error on the Mews side. This may be due to a software fault. If such a situation occurs, the error will be logged and the development team notified, however you can raise an issue through GitHub on our [documentation repository](https://github.com/MewsSystems/gitbook-connector-api).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorApiExceptionResult'
              examples:
                CountriesGetAll500Example:
                  summary: Default countries_getAll 500 response
                  x-microcks-default: true
                  value:
                    Message: string
                    RequestId: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
                    Details: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    CountryGroup:
      title: Country group
      required:
      - Code
      - CountryCodes
      - EnglishName
      type: object
      properties:
        Code:
          minLength: 1
          type: string
          description: Group code, e.g. `EU`, `SCHENGEN`, `NORDIC`...
          example: string
        EnglishName:
          minLength: 1
          type: string
          description: English name of the country group.
          example: Example Name
        CountryCodes:
          type: array
          items:
            type: string
          description: Codes of countries included in the group, in ISO 3166-1 alpha-2 format.
      additionalProperties: false
      x-schema-id: CountryGroup
    BookingEngineParameters:
      title: BookingEngineParameters
      required:
      - Client
      - ConfigurationId
      - FullAmounts
      type: object
      properties:
        Client:
          minLength: 1
          type: string
          example: string
        LanguageCode:
          type:
          - string
          - 'null'
          example: string
        CultureCode:
          type:
          - string
          - 'null'
          example: string
        FullAmounts:
          type: boolean
          example: true
        Session:
          type:
          - string
          - 'null'
          example: string
        ConfigurationId:
          type: string
          format: uuid
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
      additionalProperties: false
      x-schema-id: BookingEngineParameters
    CountryResult_2:
      title: CountryResult
      required:
      - Countries
      - CountryGroups
      - CountryRules
      - CountrySubdivisions
      type: object
      properties:
        Countries:
          type: array
          items:
            $ref: '#/components/schemas/Country_2'
          description: The supported countries.
        CountrySubdivisions:
          type: array
          items:
            $ref: '#/components/schemas/CountrySubdivision'
          description: The supported country subdivisions.
        CountryRules:
          type: array
          items:
            $ref: '#/components/schemas/CountryRule'
          description: Country-specific rules
        CountryGroups:
          title: Country group
          type: array
          items:
            $ref: '#/components/schemas/CountryGroup'
          description: The supported country groups.
      additionalProperties: false
      x-schema-id: CountryResult
    Parameters:
      title: Parameters
      required:
      - AccessToken
      - Client
      - ClientToken
      type: object
      properties:
        ClientToken:
          minLength: 1
          type: string
          description: Token identifying the client application.
          example: string
        AccessToken:
          minLength: 1
          type: string
          description: Access token of the client application.
          example: string
        Client:
          minLength: 1
          type: string
          description: Name and version of the client application.
          example: string
      additionalProperties: false
      x-schema-id: Parameters
    CountryResult:
      title: CountryResult
      required:
      - Countries
      type: object
      properties:
        Countries:
          type: array
          items:
            $ref: '#/components/schemas/Country'
      additionalProperties: false
      x-schema-id: CountryResult
    Country_2:
      title: Country
      required:
      - Code
      - EnglishName
      - SovereignCountryCode
      type: object
      properties:
        Code:
          minLength: 1
          type: string
          description: ISO 3166-1 alpha-2 code, e.g. `CZ` or `SK`.
          example: string
        SovereignCountryCode:
          minLength: 1
          type: string
          description: ISO 3166-1 alpha-2 code of the sovereign country. May differ from `Code` for dependent territories.
          example: string
        EnglishName:
          minLength: 1
          type: string
          description: English name of the country.
          example: Example Name
      additionalProperties: false
      x-schema-id: Country
    Country:
      title: Country
      required:
      - Code
      - Name
      type: object
      properties:
        Code:
          maxLength: 2
          minLength: 1
          type: string
          example: string
        SovereignCountryCode:
          type:
          - string
          - 'null'
          example: string
        Name:
          minLength: 1
          type: string
          example: Example Name
      additionalProperties: false
      x-schema-id: Country
    CountrySubdivision:
      title: Country subdivision
      required:
      - Code
      - CountryCode
      - EnglishName
      type: object
      properties:
        Code:
          minLength: 1
          type: string
          description: ISO 3166-2 code of the administrative division, e.g AU-QLD.
          example: string
        CountryCode:
          minLength: 1
          type: string
          description: ISO 3166-1 code of the [Country](https://mews-systems.gitbook.io/connector-api/operations/countries#country).
          example: string
        EnglishName:
          minLength: 1
          type: string
          description: English name of the country subdivision.
          example: Example Name
      additionalProperties: false
      x-schema-id: CountrySubdivision
    ConnectorApiExceptionResult:
      title: ConnectorApiExceptionResult
      type: object
      properties:
        Message:
          type:
          - string
          - 'null'
          example: string
        RequestId:
          type:
          - string
          - 'null'
          example: 3edd5f9e-7e64-4f2a-9a0e-b3f200e6c111
        Details:
          example: string
      additionalProperties: false
      x-schema-id: ConnectorApiExceptionResult
    CountryRule:
      title: Country rules
      required:
      - CountryCode
      - DriverLicenceExpirationDateNotRequired
      - IdentityCardExpirationDateNotRequired
      type: object
      properties:
        CountryCode:
          minLength: 1
          type: string
          description: ISO 3166-1 alpha-2 code, e.g. US or GB.
          example: string
        IdentityCardExpirationDateNotRequired:
          type: boolean
          description: Whether the country requires expiration date for identity card.
          example: true
        DriverLicenceExpirationDateNotRequired:
          type: boolean
          description: Whether the country requires expiration date for driver's license.
          example: true
      additionalProperties: false
      description: Country-specific rules
      x-schema-id: CountryRule
  securitySchemes:
    MewsClientToken:
      type: apiKey
      in: header
      name: ClientToken
      description: Mews authentication is performed by supplying ClientToken, AccessToken and Client as fields in the JSON request body (not as HTTP headers). This securityScheme is a tooling-compatible representation of the ClientToken credential. ClientToken is unique to your application and identifies the API client.
    MewsAccessToken:
      type: apiKey
      in: header
      name: AccessToken
      description: Tooling-compatible representation of the AccessToken credential, which is supplied in the JSON request body. AccessToken is unique to the connection with a property (enterprise) and identifies the property or properties whose data and services you can access. Portfolio Access Tokens enable multi-property access with a single token.
